@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,900);

.about_us-section .about-img:after,.banner-sub-heading span::after,.clients_say .clientsayBox:after,.footer-block h4:after,.footer_top ul.link-ft li:after,.service-help ul li:first-child:after,.slider-right::before,.workbox:after {
  content: "";
}

.form-control,.form-group,.hdrname {
  text-overflow: ellipsis;
}

.no-pad,.no-pad-l {
  padding-left: 0;
}

.form-style select,.manage-profile select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

body {
  font-family: Lato,sans-serif;
  font-size: 16px;
  color: #8f9196;
  background: #fff;
  overflow-x: hidden;
}

* {
  word-wrap: break-word;
  font-size: inherit;
  outline: 0;
}

.site-header .navbar-nav,.site-header .navbar-nav>li>a.btn {
  font-size: 15px;
  font-weight: 700;
}

.navbar-container {
  padding-top: 2px;
  padding-bottom: 2px;
}

.navbar-container.fixed-theme,.site-header .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar.navbar-fixed-top.fixed-theme {
  background-color: #fff;
}

.navbar-brand,.navbar-brand.fixed-theme,.navbar-container,.navbar-container.fixed-theme,.navbar.navbar-fixed-top.fixed-theme {
  -ms-transition: .8s;
  -webkit-transition: .8s;
  transition: .8s;
}

.site-header.fixed-theme .navbar-brand {
  top: 0;
}

.swiper-container,.swiper-container2 {
  overflow: hidden;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #d9d9d9;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #2e3192;
}

.modal-open .navbar-fixed-top {
  padding-right: 17px;
}

.no-pad,.no-pad-r {
  padding-right: 0;
}

a {
  transition: all ease-in-out .2s;
}

.border0 {
  border: 0;
}

.site-header.header_addfx .navbar {
  box-shadow: 0 -1px 4px #2989ce;
}

.site-header .navbar {
  background: #2e3192;
  border-bottom: 3px solid #2e3192;
  margin: 0;
  min-height: 104px;
}

.site-header.inner-page-header.aftersignup-header .navbar-brand {
  top: 5px;
}

.site-header .navbar-brand>img {
  max-width: 100%;
}

.site-header .navbar-nav.navbar-left {
  margin-left: 22%;
}

.site-header .navbar-nav {
  text-transform: capitalize;
}

.site-header .navbar-nav>li>a {
  background: 0 0!important;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size:16px;
}

.site-header .navbar-nav>li.active>a,.site-header .navbar-nav>li>a:hover {
  color: #f0ee39;
  font-weight: 700;
  opacity: 1;
  box-shadow: none;
}

.site-header .navbar-nav.navbar-right li {
  float: none;
  display: inline-block;
  padding: 0 2px;
}

.site-header .navbar-nav.navbar-right li a {
  border: 0;
  padding: 10px 6px;
}

.site-header .navbar-nav>li.nav-login>a.btn.btn-cta-secondary {
  border-color: #00a2e2;
  background: #fff!important;
  color: #3b3b3b;
}

.site-header .navbar-nav>li.nav-login>a.btn.btn-cta-secondary:hover {
  background: #fff!important;
  color: #00a2e2;
}

.site-header .navbar-nav>li.nav-signup>a.btn.btn-sign-secondary {
  background: #00a2e2!important;
  border-color: #00a2e2;
  color: #fff;
}

.site-header .navbar-nav>li.nav-signup>a.btn.btn-sign-secondary:hover {
  background: #fff!important;
  border-color: #00a2e2;
  color: #00a2e2;
}

.site-header .navbar-nav>li.nav-list-business a.btn {
  border-color: #00a2e2;
}

.site-header .navbar-nav>li.nav-list-business a.btn:hover {
  background-color: transparent;
}

.site-header .navbar-nav>li.nav-list-business {
  padding-right: 10px;
}

.aftersignup-header.site-header .navbar-nav.navbar-right li {
  float: none;
  vertical-align: middle;
  display: inline-block;
  padding: 0 8px;
  line-height: 20px;
}

.aftersignup-header.site-header .navbar-nav.navbar-right li a {
  border: none;
  padding: 0;
  text-decoration: none;
}

.aftersignup-header.site-header .navbar-nav.navbar-right li .profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 10px;
  margin-left: 10px;
}

.aftersignup-header.site-header .navbar-nav.navbar-right li .dropdown,.aftersignup-header.site-header .navbar-nav.navbar-right li .profile-img {
  vertical-align: middle;
  display: inline-block;
}

.aftersignup-header.site-header .navbar-nav.navbar-right li span {
  line-height: 20px;
  color: #fff;
  margin-right: 10px;
  width: auto;
  display: block;
  font-size: 12px;
}

.site-header.aftersignup-header .navbar-collapse {
  text-align: right;
}

.site-header.aftersignup-header .navbar-nav.navbar-left {
  margin-left: 0;
  float: none!important;
  display: inline-block;
  text-align: right;
}

.home-banner h2,.home-banner h3 {
  font-family: 'Open Sans',sans-serif;
  font-size: 58px;
}

.banner-heading,.banner-sub-heading,.dentist-button a {
  font-family: Roboto,sans-serif;
}

.aftersignup-header.site-header .navbar-nav.navbar-right li a i {
  color: #fff;
}

.aftersignup-header.site-header .navbar-nav.navbar-right ul.dropdown-menu {
  border: none;
  margin-top: 18px;
  left: 0;
}

.aftersignup-header.site-header .navbar-nav.navbar-right ul.dropdown-menu li {
  width: 100%;
  padding: 0;
}

.aftersignup-header.site-header .navbar-nav.navbar-right ul.dropdown-menu li a {
  color: #3b3b3b;
  font-weight: 600;
  padding: 8px 15px;
  text-transform: capitalize;
  cursor: pointer;
}

.banner-heading,.dentist-button a,.footer_top h5,.footer_top ul.link-ft li a,.form-style .btn,.how-works .workbox h4,.inr-hdline {
  text-transform: uppercase;
}

.aftersignup-header.site-header .navbar-nav.navbar-right ul.dropdown-menu li a:focus,.aftersignup-header.site-header .navbar-nav.navbar-right ul.dropdown-menu li a:hover {
  background-color: #f3f3ff;
}

.site-header .nav .open>a,.site-header .nav .open>a:focus,.site-header .nav .open>a:hover {
  background-color: transparent;
}

.home-banner {
  padding: 70px 0 40px;
  background: #fff;
  position: relative;
}

.banner-content {
  position: relative;
  float: left;
  width: 100%;
  height: 460px;
}

.slider-right,.slider-right::before {
  position: absolute;
  bottom: 0;
  right: 0;
}

.slider-right::before {
  width: 100%;
  height: 100%;
  background: url(../images/blue-sadow.png) -78px 0 no-repeat;
  background-size: cover;
  display: none;
}

.slider-right img {
  width: 100%;
  height: 512px;
  object-fit: cover;
  z-index: 20;
  position: relative;
}

.banner-left {
  float: left;
  width: 40%;
  display: table;
  height: 100%;
  position: relative;
  z-index: 100;
}

.banner-left-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.banner-heading {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: #00a2e2;
  margin-bottom: 30px;
}

.banner-sub-heading {
  font-weight: 500;
  font-size: 40px;
  line-height: 42px;
  color: #3b59a1;
  margin-bottom: 10px;
  font-style: italic;
  margin-top: 65px;
}

.banner-sub-heading span {
  float: left;
  border: 4px solid #FFF;
  position: relative;
  padding: 9px 7px;
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  margin-right: 19px;
  border-radius: 6px 6px 6px 0;
  -moz-border-radius: 6px 6px 6px 0;
  -webkit-border-radius: 6px 6px 6px 0;
}

.banner-sub-heading span::after {
  position: absolute;
  left: -4px;
  bottom: -13px;
  background: url(../images/blue-arrow.jpg) no-repeat;
  width: 13px;
  height: 13px;
}

.dentist-button {
  float: left;
  margin-top: 25px;
}

.dentist-button a {
  background: #00a2e2;
  padding: 15px 30px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 30px;
  line-height: 22px;
  color: #fff;
  border: 3px solid #00a2e2;
  display: inline-block;
}

.dentist-button a:hover {
  text-decoration: none;
  background: #fff;
  color: #00a2e2;
}

.dentist-button a:focus {
  text-decoration: none;
}

.captcha-error {
  color: red;
  font-size: 12px;
}

.home-banner h2,.home-banner p {
  color: #fff;
  padding: 0;
  text-align: center;
}

.home-banner h2 {
  line-height: 54px;
  font-weight: 300;
}

.home-banner h3 {
  font-weight: 700;
  line-height: 64px;
  color: #fff;
  margin: 0 0 25px;
}

.home-banner p {
  max-width: 814px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  margin: 0 auto 35px;
}

.getaBtn,.home-banner .getaBtn {
  margin: 0 auto;
  display: table;
}

.getaBtn a,.home-banner .getaBtn a {
  background: #fff011;
  border: 2px solid #fff011;
  font-size: 20px;
  line-height: 51px;
  color: #2e3192;
  text-align: center;
  font-weight: 700;
  padding: 0 29px;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 0 1px #438e1a;
  cursor: pointer;
  border-radius: 4px;
}

.getaBtn a:hover,.home-banner .getaBtn a:hover {
  background: 0 0;
  text-shadow: none;
  color: #fff011;
}

.home-banner .swiper-container .swiper-pagination {
  bottom: 20px;
}

.home-banner .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.home-banner .swiper-pagination-bullet-active {
  background: #fff011;
}

.home-banner .banner-inner {
  text-align: center;
  position: absolute;
  bottom: 90px;
  z-index: 3;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 814px;
}

.home-banner .swiper-pagination-white .swiper-pagination-bullet {
  background: #2e3192;
}

.home-banner .swiper-button-next,.home-banner .swiper-button-prev {
  display: none;
}

.content-sec.clients_say,.content-sec.how-works {
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}

.about-info h2,.clients_say h2,.how-works h2,.sponsor_sec h2 {
  font-size: 24px;
  line-height: 34px;
  color: #3b3b3b;
  text-align: center;
  font-weight: 400;
  padding: 0;
  margin: 0 0 20px;
}

.clients_say p,.how-works p {
  max-width: 100%;
  font-size: 18px;
  line-height: 24px;
  color: #828282;
  text-align: center;
  font-weight: 400;
  padding: 0;
  margin: 30px auto 0;
}

.workbox {
  width: 100%;
  position: relative;
  padding-bottom: 40px;
}

.workbox .work_imgbox {
  width: 170px;
  height: 160px;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  margin: 0 auto;
  display: table;
  box-shadow: none!important;
}

.workbox .work_imgbox .work_imginbox {
  height: 150px;
  display: table-cell;
  vertical-align: middle;
}

.workbox .work_imgbox .work_imginbox img {
  width: 40%;
  display: block;
  margin: 0 auto;
  transition: transform .8s ease-in-out;
}

.workbox .work_imgbox .work_imginbox:hover img {
  transform: rotate(360deg);
  webkit-transform: rotate(360deg);
  transition: transform .8s ease-in-out;
}

.how-works .workbox h4 {
  font-size: 18px;
  line-height: 24px;
  color: #494949;
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 0 0 10px;
}

.clients_say .clientsayBox p,.how-works .workbox p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #828282;
}

.how-works .workbox p {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  height: 60px;
}

.workbox:hover .work_imgbox {
  box-shadow: 0 0 2px 2px #eeeff6;
  border-color: #fff;
}

.workbox:after {
  background: 0 0;
  height: 100%;
  width: 1px;
  position: absolute;
  right: -15px;
  top: 0;
  bottom: auto;
}

.workbox-bdr:last-child .workbox:after {
  display: none;
}

.workbox-bdr {
  border-bottom: 0 solid #ccc;
}

.content-sec.clients_say {
  padding: 0;
}

.clients_say h2 {
  margin-bottom: 40px;
}

.clients_say .clientsayBox {
  position: relative;
  border: 1px solid #dedede;
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  min-height: 260px;
}

.clients_say .clientsayBox p {
  height: 96px;
  text-align: left;
  margin: 0 0 15px;
  overflow: hidden;
}

.clients_say .clientsayBox h5 {
  font-size: 18px;
  color: #8f9196;
  font-weight: 700;
  margin: 0 0 5px;
}

.clients_say .clientsayBox p.designation {
  height: auto;
  margin: 0;
  color: #828282;
  font-weight: 300;
  text-align: center;
}

.clients_say .swiper-container {
  padding-bottom: 60px;
  padding-top: 30px;
  text-align: center;
}

.clients_say .clientsayBox:hover {
  border: 1px solid #2e3192;
}

.clients_say .clientsayBox:hover h5,.clients_say .clientsayBox:hover p,.clients_say .clientsayBox:hover p.designation {
  color: #2e3192;
}

.clients_say .swiper-container .swiper-pagination {
  bottom: 0;
}

.clients_say .clientsayBox:after {
  display: block;
  background: #fff;
  width: 24px;
  height: 13px;
  border: 1px solid;
  border-color: #fff #dedede #dedede #fff;
  position: absolute;
  bottom: -7px;
  right: 20%;
  transform: skew(0deg,28deg);
  z-index: 9999;
  opacity: 1;
}

.clients_say .clientsayBox:hover:after {
  border-color: #fff #2e3192 #2e3192 #fff;
}

.service-help {
  background: url(../images/footer-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 40px 0;
  color: #3b3b3b;
}

.service-help ul {
  text-align: center;
  display: table;
  margin: 0 auto;
  padding: 0;
}

.service-help ul li {
  list-style: none;
  display: table-cell;
  padding: 0 20px;
  text-align: center;
  position: relative;
  line-height: 37px;
}

.service-help ul li:first-child a {
  font-size: 29px;
}

.service-help ul li:last-child a {
  font-size: 35px;
  font-weight: 700;
}

.service-help ul li:first-child:after {
  display: block;
  background: #3b3b3b;
  height: 85%;
  width: 2px;
  position: absolute;
  right: 0;
  top: auto;
  bottom: 0;
}

.service-help ul li a {
  color: #0f0f0f;
  text-decoration: none;
}

.footer_top {
  width: 100%;
  height: auto;
  background-color: #2e3192;
  padding: 28px 0;
  margin: 0;
  overflow: hidden;
  border-top: #e5e5e5;
  border-bottom: 1px solid #2e3192;
}

.footer_top h5 {
  font-size: 15px;
  line-height: 28px;
  color: silver;
  text-align: left;
  font-weight: 900;
  padding: 0;
  margin: 0 0 10px;
}

.footer-block h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #fff;
}

.footer-block h4:after {
  display: block;
  width: 55px;
  height: 2px;
  background: #fff;
  margin: 12px 0 0;
}

.footer_top ul {
  padding: 0;
  margin: 0 0 20px;
  display: block;
  text-align: center;
  text-align: left;
}

.footer_top ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: block;
  position: relative;
}

.footer_top ul.link-ft li a {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-align: left;
  font-weight: 500;
  padding: 5px 0;
  margin: 0;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  font-style: italic;
}

.footer_top ul.link-ft li:first-child a {
  padding: 0 0 5px;
}

.footer_top ul.link-ft li a:hover {
  color: rgba(255,240,17,.4);
}

.footer_top ul.link-ft li:after {
  background: rgba(167,174,255,.4);
  height: 20px;
  width: 2px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
}

.footer_top ul.link-ft li:last-child:after {
  display: none;
}

.footer_top .footer_socialBox {
  width: auto;
  padding: 0;
  margin: 0;
}

.footer_top .footer_socialBox ul {
  padding: 0;
  margin: 0;
  text-align: center;
  display: block;
}

.footer_top .footer_socialBox ul li {
  padding: 0;
  margin: 0 13px;
  display: inline-block;
  list-style-type: none;
}

.footer_top .footer_socialBox ul li:first-child {
  margin-left: 0;
}

.footer_top .footer_socialBox ul li a {
  font-size: 22px;
  line-height: 36px;
  color: rgba(167,174,255,.4);
  text-align: left;
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.footer_top .footer_socialBox ul li:first-child a:hover {
  color: #3256be;
}

.footer_top .footer_socialBox ul li:nth-child(2) a:hover {
  color: #22bbf4;
}

.footer_top .footer_socialBox ul li:last-child a:hover,.footer_top .footer_socialBox ul li:nth-child(3) a:hover {
  color: #d82924;
}

.footer-block-cnt {
  margin-bottom: 0;
}

.footer-block-cnt .ft-btn {
  padding: 6px 10px;
  color: #f2f018;
  font-weight: 400;
  border: 2px solid #f2f018;
  margin-bottom: 20px;
  display: inline-block;
  min-width: 162px;
  text-align: center;
  font-style: italic;
}

.footer-block-cnt .ft-btn:hover {
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
}

.footer_bottom {
  width: 100%;
  background-color: #090b5e;
  padding: 15px 0;
  margin: 0;
  overflow: hidden;
}

.footer_bottom ul {
  padding: 0;
  margin: 0;
  display: table;
}

.footer_bottom ul li {
  padding: 0;
  margin: 0 6px;
  list-style-type: none;
  float: left;
}

.footer_bottom p,.footer_bottom ul li a {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.footer_bottom ul li a {
  color: #fff;
  text-decoration: none;
}

.footer_bottom ul li a:hover {
  color: #fff;
}

.footer_bottom p {
  color: #fff;
  line-height: 23px;
  margin-left: 10px;
}

.footer_bottom .footer_socialBox {
  float: right;
}

.footer_bottom .footer_socialBox li {
  margin: 0 8px;
}

.footer_bottom .footer_socialBox li a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 100;
}

.sponsor_sec .swiper-container .swiper-button-next {
  background: url(../images/nextbtn.png) right center no-repeat;
}

.sponsor_sec .swiper-container .swiper-button-next:hover {
  background: url(../images/nextbtn_hover.png) right center no-repeat;
}

.sponsor_sec .swiper-container .swiper-button-prev {
  background: url(../images/prevbtn.png) left center no-repeat;
}

.sponsor_sec .swiper-container .swiper-button-prev:hover {
  background: url(../images/prevbtn_hover.png) left center no-repeat;
}

.innerpage {
  padding-bottom: 40px;
  min-height: 600px;
  padding-top: 19px;
}

.inner-page-header-blank {
  width: 100%;
  position: relative;
  height: 100px;
  margin-bottom: 0px;
}

.site-header.inner-page-header .navbar-brand {
  top: 0;
}

.site-header .navbar-nav {
  padding: 12px 0;
}

h2.inner-head-line {
  font-size: 34px;
  font-weight: 700;
  color: #333;
  padding-bottom: 25px;
  margin-bottom: 35px;
}

.form-style .form-group {
  margin-bottom: 30px;
}

.form-style .form-control {
  box-shadow: none;
  border: 1px solid #cfd9e6;
  height: 45px;
  background-color: #fff;
  font-size: 16px;
  color: #777;
  padding: 6px 15px;
  border-radius: 2px;
}

.form-style select {
  background: url(../images/arrow-down.png) 95% center no-repeat;
  appearance: none;
}

.form-style .form-control::-moz-placeholder {
  color: #cacaca;
}

.form-style .form-control::-webkit-input-placeholder {
  color: #cacaca!important;
}

.form-style .btn {
  line-height: 70px;
  width: 100%;
  padding: 0 15px;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.form-style .btn-yellow {
  background: #f7f808;
  color: #000;
  margin-top: 40px;
}

.form-style .btn-blue {
  background: #2e3192;
  margin-top: 0;
  color: #fff;
}

.signin-section h3,.signin-section h4 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.signup-details-section h2.inner-head-line {
  border-bottom: 1px solid #cfd9e6;
}

.signup-details-section .form-style .btn-yellow {
  margin-top: 10px;
}

.signin-section h3 {
  margin-top: 0;
}

.signin-section a.forgot-pass {
  color: #2e3192;
  font-size: 18px;
}

ul.signin-social {
  padding: 0;
  margin: 0 auto 150px;
  text-align: center;
  width: 100%;
}

ul.signin-social li {
  width: 49%;
  float: left;
  list-style: none;
  margin-left: 2%;
}

ul.signin-social li:first-child {
  margin-left: 0;
}

ul.signin-social li a {
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  width: 100%;
  line-height: 22px;
  height: auto;
  display: block;
  border-radius: 2px;
  padding: 10px 3px;
  text-align: center;
}

ul.signin-social li:first-child a {
  background: #3b5999;
  color: #fff;
}

ul.signin-social li:nth-child(2) a {
  background: #de4b39;
}

ul.signin-social li:nth-child(3) a {
  background: #00acee;
}

ul.signin-social li a i {
  font-size: 18px;
  margin-right: 6px;
  font-weight: 700;
  line-height: 22px;
}

.about_us-section .about-img {
  padding: 12px;
  background: #fff;
  width: 32%;
  float: left;
  position: relative;
  margin-right: 50px;
  margin-bottom: 25px;
}

.about_us-section .about-img:after {
  display: block;
  width: 1px;
  height: 1px;
  border: 15px solid;
  border-color: #fff transparent transparent #fff;
  position: absolute;
  top: 0;
  right: -30px;
  z-index: 9999;
  opacity: 1;
}

.about_us-section .about-text {
  padding-top: 25px;
}

.about_us-section .about-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.about_us-section .about-text p strong {
  color: #3b3b3b;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

.inr-hdline {
  margin-bottom: 30px;
}

.form-style .checkbox a {
  color: #2e3192;
}

.form-style .checkbox {
  padding: 0;
}

.form-style .checkbox,.form-style .radio {
  display: block;
  min-height: 20px;
  margin-top: 1px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #8f9196;
}

.form-style input[type=checkbox]:not(old),.form-style input[type=radio]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  opacity: 0;
  display: none;
}

.form-style input[type=checkbox]:not(old)+label:not(.control-label),.form-style input[type=checkbox]:not(old)~label.checkbox-stylecustomlater,.form-style input[type=radio]:not(old)+label:not(.control-label),.form-style input[type=radio]:not(old)~label.checkbox-stylecustomlater {
  display: inline-block;
  margin-left: 0;
  line-height: 20px;
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  width: 20px;
  height: 20px;
  border: 1px solid #cfd9e6;
  min-height: 22px;
  position: relative;
  margin-right: 15px;
  background-color: #fff;
}

.form-style input[type=checkbox]:not(old)~label.checkbox-stylecustomlater,.form-style input[type=radio]:not(old)~label.checkbox-stylecustomlater {
  top: 5px;
}

.form-style input[type=checkbox]:not(old)+label.has-error {
  bottom: -24px;
}

.form-style .checkbox input[type=checkbox]:checked:not(old)+label>span::before {
  line-height: 22px;
}

.form-style input[type=checkbox]:checked:not(old)+label>span::before {
  content: '✓';
  display: block;
  width: 1em;
  color: #2e3192;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  text-shadow: 0 0 .0714em #73994d;
  font-weight: 700;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: -1px;
  margin: auto;
}

.a-signin {
  text-align: center;
  font-size: 18px;
}

.a-signin a {
  color: #2e3192;
}

.message-left-panel {
  background: #fff;
  width: 100%;
  float: left;
  padding: 10px;
}

.message-left-panel ul {
  margin: 0;
  padding: 0;
}

.message-left-panel ul li {
  list-style: none;
}

.message-text-div {
  float: left;
  width: 58%;
  padding-left: 10px;
}

.messages-img-div {
  float: left;
  width: 20%;
  text-align: center;
}

.message-left-panel .message-text-div img {
  margin: 0 auto;
  text-align: center;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.message-left-panel .tab-content ul li {
  padding: 20px 10px;
  width: 100%;
  float: left;
}

.message-left-panel h4 {
  color: #3e3e3e;
  font-size: 17px;
  font-weight: 600px;
  margin-bottom: 6px;
}

.message-left-panel h4 span {
  background: #ffe9e9;
  color: red;
  text-transform: capitalize;
  width: 39px;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
}

.message-left-panel p {
  color: #a4a4a4;
  font-size: 15px;
  margin-bottom: 0;
}

.message-left-panel h3 {
  font-size: 15px;
  color: #3e3e3e;
  margin-top: 8px;
}

.message-left-panel .form-control {
  border-radius: 30px;
  border: none;
  background: #eef3fa;
  height: 40px;
  width: 95%;
  margin: 15px auto 10px;
}

.message-left-panel ul.nav.nav-tabs li a {
  position: relative;
  background: 0 0;
  border: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #2e3192;
  padding: 0;
}

.message-left-panel ul.nav.nav-tabs li a span.number {
  text-align: center;
  background: #ede70c;
  color: #2e3192;
  border-radius: 50%;
  line-height: 23px;
  font-weight: 800;
  font-size: 12px;
  width: 28px;
  height: 28px;
  display: block;
  border: 3px solid transparent;
  position: absolute;
  right: -30px;
  top: -7px;
}

.message-left-panel ul.nav.nav-tabs li a:hover {
  background: 0 0;
  border: none;
}

.message-left-panel ul.nav.nav-tabs {
  text-align: center;
  display: block;
  border-top: 1px solid #e4e9f1;
}

.message-left-panel ul.nav.nav-tabs li {
  display: inline-block;
  float: none;
  padding: 20px;
}

.message-left-panel ul.nav.nav-tabs>li.active>a {
  border: none;
}

.message-left-panel ul.nav.nav-tabs>li.active>a:after {
  content: "";
  width: 100%;
  background: #2e3192;
  height: 4px;
  display: block;
  position: absolute;
  top: auto;
  bottom: -22px;
  left: 0;
  right: 0;
}

.message-left-panel ul.nav.nav-tabs>li:first-child a {
  color: #3b3b3b;
}

.message-left-panel .messages-icon {
  float: left;
  padding-right: 0;
  text-align: right;
  width: 22%;
}

.message-left-panel .messages-icon .span-noti {
    background: #FF6F28;
    float: right;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    line-height: 23px;
    font-size: 13px;
    display: block;
    border: 3px solid transparent;
    width: 30px;
    height: 30px;
}

.message-left-panel .messages-icon .span-time {
  display: inline-block;
  margin-bottom: 20px;
  padding-top: 10px;
}

.message-left-panel .tab-pane ul li {
  border-left: 5px solid transition;
}

.message-left-panel .tab-pane ul li.active {
  border-left: 5px solid #2e3192;
}

.manage-profile-section ul.step {
  text-align: center;
  display: block;
  padding: 0;
  margin: 0 auto 30px;
}

.manage-profile-section ul.step li {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  background: #cecece;
  border-radius: 50%;
  font-weight: 800;
  color: #fff;
}

.manage-profile-section ul.step li.active {
  background: #2e3192;
}

.manage-profile-section ul.step li.done {
  background: #49b660;
  color: #f7f808;
}

.manage-form-style,.manage-profile {
  background: #fff;
}

.manage-profile {
  width: 100%;
  float: left;
  border-radius: 4px;
}

.manage-profile h3,.manage-profile h4 {
  margin-top: 30px;
  color: #3b3b3b;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 500;
}

.manage-profile-headline p {
  border-bottom: 1px solid #ddd;
  padding-bottom: 25px;
  margin-bottom: 0;
}

.manage-profile .form-group,.manage-profile h3 {
  margin-bottom: 30px;
}

.manage-profile .form-control {
  border: 0;
  border-bottom: 1px solid #dedede;
  box-shadow: none;
  height: 60px;
  background-color: #fff;
  font-size: 16px;
  color: #585858;
  padding: 6px 5px;
  border-radius: 2px;
}

.manage-profile select {
  background: url(../images/arrow-down.png) 95% center no-repeat;
  appearance: none;
}

.edit-profile-tab .form-control::-moz-placeholder,.manage-profile .form-control::-moz-placeholder {
  color: #4a4a4a;
}

.edit-profile-tab .form-control::-webkit-input-placeholder,.manage-profile .form-control::-webkit-input-placeholder {
  color: #4a4a4a!important;
}

.manage-profile textarea.form-control {
  resize: none;
  height: auto;
  max-height: 100px;
}

.edit-profile-tab .form-group label,.manage-profile h5,.manage-profile label {
  color: #3b3b3b;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.edit-profile-tab .pCreateForm .form-group label {
  text-transform: capitalize;
}

.edit-profile-tab .form-group label span,.manage-profile label span {
  float: right;
  font-size: 12px;
  line-height: 18px;
  padding-left: 2px;
  text-transform: capitalize;
}

.upload-border {
  border-bottom: 1px solid #dedede;
}

.manage-profile .imageupload {
  padding-bottom: 30px;
}

.add-more-btn,.manage-profile .imageupload .btn-default {
  border: none;
  padding: 8px 20px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.manage-profile .imageupload .btn-default.btn-file {
  background-color: #49b660;
  margin-top: 15px;
}

.manage-profile .imageupload .btn-default.btn-file:hover {
  background: #2e3192;
}

.imageupload .btn-file {
  overflow: hidden;
  position: relative;
}

.file-tab {
  position: relative;
}

.imageupload .btn-file input[type=file] {
  cursor: inherit;
  display: block;
  font-size: 100px;
  left: 0;
  min-height: inherit;
  min-width: inherit;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 0;
  width: 100%;
  height: auto;
}

.manage-profile .imageupload h5 {
  font-size: 14px;
  color: #7E7E7E;
  text-transform: uppercase;
  margin-bottom: 0;
}

.manage-profile .imageupload p {
  font-size: 16px;
  margin-bottom: 0;
}

.manage-profile .imageupload .file-tab {
  width: 100%;
  display: inline-block;
}

.upload-btn,.uploadimg-outer {
  display: inline-block;
  vertical-align: middle;
}

.manage-profile .imageupload .delete-button {
  background: #fff;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  padding: 0;
  color: #e81111;
  text-align: center;
}

.uploadimg-outer {
  margin-right: 15px;
  position: relative;
  text-align: center;
}

.uploadimg-outer .uploadimg {
  background: center no-repeat #f1f1f1;
  background-size: cover;
  min-width: 128px;
  border-radius: 3px;
  height: 120px;
}

.innerpage .next-btn {
  text-align: center;
  padding: 70px 0 20px;
}

.btn-back,.btn-pre,.innerpage .btn-next {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 25px;
  display: inline-block;
  margin: 0 10px;
}

.innerpage .btn-next {
  background: #2e3192;
}

.innerpage .btn-back {
  background: #a6a6a6;
}

.innerpage .btn-pre {
  background: #f7f808;
  color: #333;
}

.innerpage .btn-next:hover {
  background: #fff011;
  color: #2e3192;
}

.innerpage .btn-back:hover {
  background: #2e3192;
  color: #fff;
}

.datepick-div .datepicker-ul {
  padding: 0;
  margin: 0;
  width: 80%;
}

.datepick-div .datepicker-ul li {
  list-style: none;
  float: left;
  width: 50%;
  padding-right: 30px;
  position: relative;
}

.date .input-group-addon,.datepick-div .input-group-addon {
  border: none;
  background: 0 0;
  padding: 6px 8px;
}

.manage-profile .date .form-control {
  border: none;
}

.manage-profile .date {
  border-bottom: 1px solid #dedede;
}

.datepick-div .datepicker-ul li .form-control {
  height: 40px;
  padding-bottom: 20px;
  border: none;
  background: 0 0;
  box-shadow: none;
}

.datepick-div .date .form-control {
  border-bottom: none;
}

.datepick-div .datepicker-ul li .form-group {
  margin-bottom: 0;
}

.datepick-div .datepicker-ul li:after {
  width: 6px;
  background: #8f9196;
  content: "";
  height: 1px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 14px;
  z-index: 1;
}

.datepick-div .datepicker-ul li:last-child:after {
  display: none;
}

.datepick-div .date {
  border-bottom: 1px solid #dedede;
}

.datepick-div span.input-group-addon i {
  font-size: 20px;
  color: #8f9196;
}

.datepick-div {
  width: 100%;
  position: relative;
  display: inline-block;
}

.datepick-div h5 {
  margin-top: 20px;
  color: #3b3b3b;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.manage-profile .imageupload .btn-default.add-more-btn {
  margin-top: 47px;
}

.manage-profile .btn-default.add-more-btn {
  background: #2e3192;
}

.manage-profile .btn-default.add-more-btn i {
  font-size: 20px;
}

.manage-profile .btn-default.add-more-btn:hover {
  background: #fff011;
  color: #2e3192;
}

.add-more-btn i {
  margin-right: 10px;
}

.mar-pad-bdr {
  padding-top: 60px;
  margin-top: 40px;
  border-top: 1px solid #dedede;
  margin-left: 15px;
  margin-right: 15px;
}

.manage-profile .btn-default.add-more-btn {
  color: #fff;
  border: none;
}

.manage-profile .form-main,.mar-pad-bdr label {
  width: 100%;
}

.manage-profile .form-left,.manage-profile .form-right {
  display: inline-block;
  vertical-align: bottom;
}

.manage-profile .form-left {
  width: 70%;
  padding-right: 25px;
}

.manage-profile .form-right {
  width: 29%;
  text-align: right;
}

.manage-profile .form-right .btn-default.add-more-btn {
  float: right;
}

.manage-profile .cross-btn {
  border: none;
  background: 0 0;
  float: left;
}

.manage-profile .cross-btn:hover {
  background: 0 0;
}

.manage-profile .cross-btn i {
  color: #e81111;
  font-size: 20px;
}

.check-box {
  margin-top: 45px;
}

.manage-profile.manage-form6 .form-left {
  width: 83%;
}

.manage-profile.manage-form6 .form-right {
  width: 16%;
}

.manage-profile.manage-form6 .form-right .cross-btn {
  float: right;
}

.manage-profile .bootstrap-tagsinput .tag {
  background: #eef3fa;
  color: #6f94c8;
  border-radius: 30px;
  padding: 13px 18px;
  border: none;
  display: inline-block;
  margin-bottom: 5px;
}

.manage-profile .bootstrap-tagsinput .tag [data-role=remove]::after {
  color: #6f94c8;
}

.manage-profile .tagsinput-outer {
  margin-top: 10px;
  margin-bottom: 40px;
  width: 100%;
  float: left;
}

.manage-profile .tagsinput-outer .bootstrap-tagsinput {
  height: auto;
  margin-top: 10px;
  border: none;
}

.headline-change {
  border-bottom: 1px solid #dedede;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.manage-profile .next-btn.update-btn {
  text-align: left;
  padding: 0;
}

.manage-profile .btn-default {
  width: auto;
}

.edit-profile-tab .form-control.form-control-yellow {
  background: #f5f5d5;
}

.edit-profile-tab .save-button {
  text-align: center;
}

.edit-profile-tab {
  float: left;
  width: 100%;
  margin: 0px 0 0 0;
}

.edit-profile-tab .nav-tabs {
  border-bottom: 0;
}

.edit-profile-tab .nav-tabs>li {
  float: left;
  margin-bottom: 0;
  outline: 0;
  border: none;
  margin-left: 0;
  position: relative;
}

.edit-profile-tab .nav-tabs>li:first-child {
  margin-left: 0;
}

.edit-profile-tab .nav-tabs>li a {
  outline: 0;
  border: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  color: #3b3b3b;
  text-transform: uppercase;
  padding: 0 5px 12px;
}

.edit-profile-tab .nav-tabs>li:hover a {
  outline: 0;
  border: none;
  background: 0 0;
  color: #2e3192;
}

.edit-profile-tab .nav-tabs>li.active>a,.edit-profile-tab .nav-tabs>li.active>a:focus,.edit-profile-tab .nav-tabs>li.active>a:hover {
  border-radius: 0;
  border: none;
  outline: 0;
  background: 0 0;
  color: #2e3192;
}

.edit-profile-tab .nav-tabs>li.active a::after,.edit-profile-tab .nav-tabs>li:hover a::after {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  margin-left: 0;
  bottom: 0;
  background: #2e3192;
  content: "";
}

.edit-profile-tab .message-left-panel .nav-tabs>li:hover a::after {
  content: "";
  width: 100%;
  background: #2e3192;
  height: 4px;
  display: block;
  position: absolute;
  top: auto;
  bottom: -22px;
  left: 0;
  right: 0;
}

.edit-profile-tab .tab-content {
  background: 0 0;
  padding: 0px 15px 15px 15px !important;
  position: relative;
  margin-bottom: 80px;
  width: 100%;
  float: left;
}

.edit-profile-tab .tab-content .tab-headingBase {
  border-bottom: 1px solid #e1e1e1;
  padding: 0 0 15px;
}

.edit-profile-tab .tab-content .tab-heading {
  font-weight: 400;
  font-size: 24px;
  color: #3b3b3b;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.edit-profile-tab .form-row {
  margin-top: 38px;
}

.edit-profile-tab select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/arrow-down.png) 98% center no-repeat;
}

.edit-profile-tab .form-control {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #dedede;
  box-shadow: none;
  padding: 0 5px 10px;
  font-size: 16px;
  color: #585858;
  font-weight: 400;
  height: 40px;
}

.customTabPl.edit-profile-tab {
  margin-top: 15px;
}

.customTabPl.edit-profile-tab .tab-content {
  background: 0 0;
  box-shadow: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.customTabPl.edit-profile-tab ul.nav.nav-tabs {
  margin-bottom: 40px;
}

.edit-profile-tab .nav-tabs>li a.tabTxt {
  float: left;
}

.mcounter_base {
  margin: -6px 0 0;
  float: left;
}

.edit-profile-tab .nav-tabs>li a.mcounter,.mcounter {
  width: 28px;
  height: 28px;
  background-color: #ede70c;
  color: #2e3192;
  padding: 8px;
  margin: 0;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.edit-profile-tab .nav-tabs>li a.mcounter:after,.mcounter:after {
  background: 0 0;
}

.edit-profile-tab .nav-tabs>li a.mcounter:hover,.mcounter:hover {
  background-color: #fff921;
  color: #000;
}

.attOption {
  font-size: 14px;
  color: #a1a2a6;
  text-transform: none;
  margin-left: 4px;
}

.attached_Box,.browse_Box {
  padding: 8px 15px;
  color: #8f9196;
  font-size: 16px;
  float: left;
}

.attachbox {
  width: 100%;
  margin: 15px 0 40px;
  display: table;
}

.browse_Box {
  width: 140px;
  height: 40px;
  border: 2px dashed #d2d2d2;
  margin: 0 15px 0 0;
  border-radius: 20px;
  position: relative;
}

.browse_Box span {
  display: inline-block;
  margin: 0 5px;
}

.browse_Box input {
  width: 100%;
  height: 36px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.attached_Box {
  width: auto;
  height: 40px;
  background-color: #f8f6f6;
  margin: 0;
  border-radius: 20px;
}

.attached_Box span {
  display: inline-block;
  margin: 0 5px;
}

.attached_Box .close {
  opacity: 1;
}

.attached_Box .close a {
  color: #f57a7a;
  font-weight: 400;
  padding: 0;
  margin: 0;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.attached_Box .close a:hover {
  color: red;
}

.addMore {
  margin: 0 0 40px;
  display: inline-block;
}

.addMore a {
  font-size: 16px;
  line-height: 24px;
  color: #2e3192;
  padding: 0;
  margin: 0;
  display: block;
  text-decoration: none;
}

.addMore a .fa {
  margin: 0 10px 0 0;
}

.edit-profile-tab .select_radioBox .custom-radio,.select_radioBox .custom-radio {
  margin: 0 20px 0 0;
  position: relative;
  float: left;
}

.edit-profile-tab .select_radioBox .custom-radio:last-child,.select_radioBox .custom-radio:last-child {
  margin-right: 0;
}

.edit-profile-tab .select_radioBox .custom-radio input[type=radio],.select_radioBox .custom-radio input[type=radio] {
  opacity: 0;
  position: absolute;
  filter: alpha(opacity=0);
  margin: 15px 0 0 15px;
}

.edit-profile-tab .select_radioBox .custom-radio input[type=radio]:focus+label,.select_radioBox .custom-radio input[type=radio]:focus+label {
  color: #51ac20;
}

.edit-profile-tab .select_radioBox .custom-radio input[type=radio]+label,.select_radioBox .custom-radio input[type=radio]+label {
  background: url(../images/custom-checkbox-radio.png) 0 -208px no-repeat;
  position: relative;
  margin: 0;
  padding: 0 0 0 40px;
  cursor: pointer;
  line-height: 26px;
  min-height: 26px;
  display: inline-block;
  z-index: 0;
  font-size: 15px;
  font-weight: 700;
}

.edit-profile-tab .select_radioBox .custom-radio input[type=radio]:checked+label,.select_radioBox .custom-radio input[type=radio]:checked+label {
  background-position: 0 -308px;
  color: #2e3192;
}

.edit-profile-tab .select_radioBox .custom-radio input[type=radio]:disabled+label,.select_radioBox .custom-radio input[type=radio]:disabled+label {
  background-position: 0 -600px;
  color: #8f9196;
}

.edit-profile-tab .select_radioBox .custom-radio input[type=radio]:disabled:checked+label,.select_radioBox .custom-radio input[type=radio]:disabled:checked+label {
  background-position: 0 -700px;
  color: #8f9196;
}

.save-button .btn-success {
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  background: #2e3192;
  color: #fff;
  border: none;
}

.left-btn-row a,.left-panel p,.postDetails-btn {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.signup-details-section .edit-profile-tab-listing .tab-content {
  background-color: transparent;
}

.mypost-listing-block .panel-default {
  border-color: transparent;
}

.left-btn-row a {
  color: #4d4e4f;
  line-height: 39px;
  margin-left: 10px;
  text-decoration: underline;
}

.left-btn-row a:hover {
  color: #2e3192;
}

.postDetails-btn-div {
  text-align: right;
}

.postDetails-btn {
  border: 2px solid #2e3192;
  border-radius: 4px;
  color: #2e3192;
  display: inline-block;
  padding: 9px 10px;
  text-align: center;
}

.postDetails-btn:hover {
  border: 2px solid #2e3192;
  color: #fff;
  background: #2e3192;
  text-decoration: none;
}

.panel-custome {
  background: #f4f4f4;
  padding: 8px 15px;
  border-radius: 4px;
  margin-top: 7px;
}

.info-content-row {
  margin-top: 15px;
}

.left-panel {
  float: left;
  width: 23%;
}

.right-panel {
  float: left;
  padding-left: 17px;
  width: 77%;
}

.left-panel p {
  text-align: left;
  color: #3b3b3b;
  margin: 0;
  line-height: 24px;
}

.right-panel p {
  font-size: 16px;
  color: #8f9196;
  margin: 0;
}

.dark-text {
  color: #3b3b3b!important;
}

.edit-profile-tab ul.nav.nav-tabs {
  padding-left: 90px;
}

.blue-bg {
  background: #eef3fa!important;
}

.clip-img {
  margin-top: 14px;
  padding-left: 30px;
}

.left-panel p.attach-text {
  margin: 16px 0 0;
}

.white-bg-img>img {
  background: #fff;
  border-radius: 4px;
  padding: 6px;
}

.mypost-listing-section .tab-content {
  margin-bottom: 0;
}

.pagination>li>a {
  background: -webkit-linear-gradient(#fff,#efefef);
  background: -o-linear-gradient(#fff,#efefef);
  background: -moz-linear-gradient(#fff,#efefef);
  background: linear-gradient(#fff,#efefef);
}

.pagination>li>a,.pagination>li>span {
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #717171;
  font-size: 14px;
  font-weight: 700;
  margin: 0 1px;
  padding: 5px 11px;
  box-shadow: 1px 1px 0 0 rgba(0,0,0,.1);
}

.heading-text,.select-box label {
  color: #3b3b3b;
}

.pagination>li>a .fa,.pagination>li>span .fa {
  font-weight: 700;
}

.pagination {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 45px;
}

.message_update h6 a,.pagination>li {
  display: inline-block;
}

.heading-text {
  font-size: 24px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 15px;
}

.head-row {
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 15px;
}

.form-select {
  border-bottom: 1px solid #dedede!important;
  box-shadow: none;
  padding-bottom: 10px;
  width: 100px;
  border: none;
  margin-left: 20px;
}

.select-box {
  text-align: right;
}

.message-left-panel .tab-pane ul li {
  border-top: 1px solid #e4e9f1;
}

.message-left-panel .tab-pane ul li:first-child {
  border-top: 0;
}

.message-left-panel h4 span.noTxt {
  background: #d2f7da;
  color: #43a758;
}

.message-right-panel {
  position: relative;
}

.whiteBox {
  background-color: #fff;
  padding: 25px 10px;
  margin: 0 0 10px;
  overflow: hidden;
  box-shadow: 0 1px 2px #dce1e7;
}

.message_update {
  width: 100%;
}

.message_update p {
  font-size: 16px;
  line-height: 20px;
  color: #a4a4a4;
  text-align: left;
  padding: 0;
  margin: 0 0 5px;
  font-weight: 400;
}

.message_update h6 {
  font-size: 19px;
  line-height: 24px;
  color: #2e3192;
  text-align: left;
  font-style: italic;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.message_update h6 a {
  font-size: 16px;
  color: #a4a4a4;
  text-decoration: underline;
  font-weight: 400;
  padding: 0;
  margin: 0 0 0 10px;
}

.postUserName a,.sendBox a.go {
  text-decoration: none;
}

.message_update h6 a:hover {
  color: #2e3192;
  text-decoration: none;
}

.message_user {
  width: 100%;
  margin: 0;
  overflow: hidden;
  display: table;
}

.user_profileImg>a {
  display: table-cell;
  vertical-align: middle;
}

.message_user .user_profileImg,.user_profileImg {
  width: 50px;
  height: 50px;
  background-color: #272425;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin: 0 20px 0 0;
  display: table!important;
}

.user_profileImg img {
  width: 100%;
  display: block;
  height: 50px;
  object-fit: cover;
}

.message_user .user_profileInfo {
  width: auto;
  margin: 0;
  display: inline-block;
}

.message_user .user_profileInfo p {
  font-size: 17px;
  line-height: 24px;
  color: #3e3e3e;
  text-align: left;
  padding: 0;
  margin: 0 0 10px;
}

.message_user .user_profileInfo p span {
  margin: 0 0 0 5px;
  display: inline-block;
}

.favoriteBox {
  margin: 0 0 0 15px;
  float: right;
}

.favoriteBox img {
  max-width: 100%;
  display: block;
}

.EmergencyRed {
  background: #ffe9e9;
  color: red;
  text-transform: capitalize;
  width: 39px;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
}

.message_user .user_profileInfo .certificate,.message_user .user_profileInfo .location {
  font-size: 16px;
  line-height: 20px;
  color: #a4a4a4;
  text-align: left;
  margin: 0 15px 0 0;
  display: inline-block;
}

.todayBox,.todayBox p {
  line-height: 24px;
  margin: 0;
  font-size: 15px;
  color: #b6c4d9;
  text-align: left;
}

.message_user .user_profileInfo .certificate .ic,.message_user .user_profileInfo .location .ic {
  margin: 0 8px 0 0;
  display: inline-block;
}

.todayBox {
  width: 100%;
  background: rgba(255,255,255,.64);
  padding: 10px 0;
  border-top: 1px solid #e4e9f1;
  border-bottom: 1px solid #e4e9f1;
  position: absolute;
}

.todayBox:after,.todayBox:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 36px;
  z-index: 5;
}

.todayBox:before {
  border-top: 10px solid #e4e9f1;
  bottom: -10px;
}

.todayBox:after {
  border-top: 10px solid #fff;
  bottom: -9px;
}

.todayBox p {
  padding: 5px 25px;
}

.mTypeBox {
  float: left;
  padding: 0;
  position: relative;
  width: 93%;
  overflow: hidden;
}

.textareaBox {
  background-color: #f3f7fc;
}

.textareaBox textarea {
  width: 100%;
  background: 0 0;
  border: 0;
  resize: none;
  padding: 20px 60px 20px 20px;
  max-height: 60px;
  margin: 0;
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #9596a4;
}

.attech_icBox {
  width: 40px;
  height: auto;
  background: url(../images/attech-ic.png) center center no-repeat;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 5;
}

.post_leftPt,.post_rightPt {
  position: relative;
  float: left;
}

.attech_icBox input {
  width: 100%;
  height: auto;
  opacity: 0;
}

.sendBox {
  float: right;
  padding: 0;
  width: auto;
}

.sendBox a.go {
  width: 62px;
  height: auto;
  background: #2e3192;
  color: #FFF;
  margin: 12px 0 0;
  display: block;
  border-radius: 50px;
  padding: 7px 5px;
  text-align: center;
}

.mPostBox,.scrollBox {
  width: 100%;
  overflow: hidden;
}

.sendBox a.go:hover {
  background: #49b660;
}

.mPostBox {
  margin: 0;
}

.scrollBox {
  height: auto;
  max-height: 540px;
}

.postUser {
  width: 660px;
  height: auto;
  float: left;
}

.post_leftPt {
  /*width: 75px;*/
  margin: 0 20px 0 0;
}

.postUserImgBox {
  width: 58px;
  height: 58px;
  background-color: #eee;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  margin: 0 0 10px;
}

.post_leftPt p.postTime {
  font-size: 14px;
  line-height: 20px;
  color: #c0bfbf;
  padding: 0;
  margin: 0;
}

.postUserName,.postUserName a {
  font-size: 16px;
  line-height: 20px;
  color: #3e3e3e;
  font-weight: 600;
  padding: 0;
}

.post_rightPt {
  /*width: 85%;*/
  width: auto;
  margin: 0;
}

.otherUser,.otherUser .post_rightPt {
  float: right;
  /*display: inline-grid;*/
}

.postUserName {
  text-align: left;
  margin: 0 0 10px;
}

.postUserName a,.postedBox {
  margin: 0;
  display: inline-block;
  text-align: left;
  width: auto !important;
}

.postUserName a:hover {
  color: #2e3192;
}

.postedBox {
  width: 550px;
  height: auto;
  background-color: #8097d9;
  padding: 6px 20px;
  position: relative;
  border-radius: 5px;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  font-weight: 400;
}

.otherUser .postedBox:before,.postedBox:before {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  position: absolute;
  top: 8px;
  z-index: 5;
  content: "";
}

.postedBox:before {
  border-right: 8px solid #8097d9;
  width: 0;
  height: 0;
  left: -7px;
}

.postedBox p {
  width: 100%;
  padding: 0;
  margin: 15px 0 0;
  display: inline-block;
}

.postedBox p:first-child {
  padding: 0;
  margin: 0;
}

.otherUser {
  width: 640px;
  height: auto;
}

.otherUser .post_leftPt {
  margin: 0 0 0 20px;
  float: right;
}

.otherUser .postedBox {
  background-color: #f7c244;
  color: #4b4747;
  width: auto;
  display: inline-table;
    float: right;
}

.otherUser .postedBox:before {
  border-left: 8px solid #f7c244;
  border-right: 0;
  width: 0;
  height: 0;
  left: auto;
  right: -7px;
}

.otherUser .postUserName,.otherUser .postUserName a {
  text-align: right;
}

.postImgBox {
  width: 206px;
  padding: 10px;
  background-color: #fff;
  margin: 0px 0 18px 0;
  display: table;
  border-radius: 4px;
  overflow: hidden;
  float: left;
}

.otherUser,.postUser {
  margin-top: 25px;
}

.otherUser .attechIcon,.postUser .attechIcon {
  margin: 15px;
  display: inline-block;
}

.scrollBox_left {
  padding: 15px 0;
}

.resetPad {
  padding: 10px;
}

.marBot0 {
  margin-bottom: 0;
}

.message_update .small {
  width: 510px;
  height: 24px;
  overflow: hidden;
  float: left;
}

.message_update .big {
  width: 100%;
  height: auto;
}

.message_update a.moreTxt {
  font-size: 16px;
  color: #a4a4a4;
  text-decoration: underline;
  font-weight: 400;
  padding: 0;
  margin: 0 0 0 10px;
  display: inline-block;
  cursor: pointer;
}

.message_update a:hover {
  color: #2e3192;
  text-decoration: none;
}

.message_update a.moreTxt.big_left {
  margin-left: 0;
}

.favoriteIc {
  width: 64px;
  height: 64px;
  background: url(../images/favorite_ic.png) center center no-repeat #ffe9e9;
  border: 2px solid #e81111;
  display: table;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.favoriteIc:hover {
  background: url(../images/favorite_ic_hover.png) center center no-repeat #74dd8a;
  border: 2px solid #49b660;
}

.favoriteIc.active {
  border: 2px solid #49b660!important;
  background: url(../images/favorite_ic_hover.png) center center no-repeat #fff!important;
}

.signup-details-section .tab-content.tebstyle01,.tebstyle01 {
  height: auto;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.message-left-panel .tab-content {
  padding: 0;
  margin: 0;
}

.edit-profile-tab .message-left-panel ul.nav.nav-tabs {
  padding: 0;
  border-bottom: 1px solid #e4e9f1;
  display: block;
  text-align: center;
}

.edit-profile-tab .message-left-panel ul.nav.nav-tabs li {
  margin-bottom: -1px;
}

.edit-profile-tab .message-left-panel ul.nav.nav-tabs li a {
  line-height: 1.42857;
}

.message-left-panel ul.nav.nav-tabs>li a {
  color: #000;
}

.message-left-panel ul.nav.nav-tabs>li.active a {
  color: #2e3192;
}

.ratebaseBox {
  width: 100%;
  margin: 0 0 10px;
  overflow: hidden;
}

.starrateBox {
  width: auto;
  height: 30px;
  background: #fff;
  border: 1px solid #ebebeb;
  padding: 3px 15px;
  margin: 0 10px 0 0;
  float: left;
  border-radius: 15px;
}

.starrateBox img {
  display: block;
  vertical-align: top;
  border: 0;
}

.rating_reviews,.rating_reviews a {
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  font-weight: 400;
  display: inline-block;
}

.rating_reviews {
  color: #555;
  padding: 0 3px;
}

.rating_reviews a {
  color: #2e3192;
  padding: 0;
  cursor: pointer;
}

.rating_reviews a:hover {
  color: #2e3192;
  text-decoration: underline;
}

.message-left-panel .tab-pane ul li {
  margin-bottom: 15px;
}

.message-left-panel .tab-pane ul li.active,.message-left-panel .tab-pane ul li:hover {
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
}

.searchBox {
  height: 40px;
  background: #eef3fa;
  border: 0;
  border-radius: 40px;
  padding: 0 10px;
  margin: 15px 0 10px;
  overflow: hidden;
  position: relative;
}

.searchbtn {
  width: 35px;
  height: 40px;
  background: url(../images/search_ic.png) center center no-repeat;
    border: 0;
    padding: 0;
    margin: 0 0 0 0;
    float: left;
    position: absolute;
    right: 6px;
    border-left: 1px solid #e6e6e7;
}

.message-left-panel .searchBox input.form-control {
    padding: 6px 73px 6px 5px;
}

.message-left-panel .searchBox {
    padding: 0 0px;
}

.message-left-panel span.resetSearch {
    position: absolute;
    top: 9px;
    right: 45px;
    width: 15px;
    height: 16px;
    font-size: 15px;
}

.searchBox input.form-control {
  width: 98%;
  border: 0;
  box-shadow: none;
  margin: 0 -20px 0 0;
  padding: 6px 5px;
  float: right;
  border-radius: 0 20px 20px 0;
  font-size: 12px;
  color: #000;
  font-style: italic;
  font-weight: 700;
}

.searchBox input.form-control:focus {
  box-shadow: 0 1px 1px rgba(0,0,0,.075) inset,0 0 8px rgba(102,175,233,.6);
}

.searchBox .form-control {
  box-shadow: none;
}

p.p-previous {
  font-size: 14px;
  color: #585858;
  line-height: 27px;
}

.manage-form-previous label {
  border-bottom: 1px solid #dedede;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.contain-group-div {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.contain-group-div:after {
  height: 1px;
  background: #dedede;
  content: "";
  width: auto;
  position: absolute;
  left: 15px;
  right: 15px;
  top: auto;
  bottom: 0;
  display: block;
  margin: auto;
}

.contain-group-div:last-child:after {
  display: none;
}

.contact-edit,.datepick-div h6,.ifsucc_mess,.rating ul li {
  display: inline-block;
}

.contain-group-div:last-child {
  margin-bottom: 0;
}

.doctor-profile-section h2 {
  font-size: 40px;
  font-weight: 900;
  margin-top: 0;
  color: #2e3192;
}

.doctor-profile-section h4 {
  font-size: 20px;
  color: #2e3192;
}

.dr-profile-img {
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 100%;
  overflow: none;
}

.rating ul {
  margin: 0;
  padding: 0;
}

.rating ul li i {
  color: #dbb503;
  font-size: 16px;
}

a.read-patient {
  margin-top: 15px;
  font-weight: 600;
}

.doctor-profile-header {
  width: 100%;
  position: relative;
}

.doctor-profile-header .add-fav {
  position: absolute;
  right: 0;
  top: 0;
}

.doctor-profile-header .add-fav i {
  font-size: 30px;
  color: red;
}

.doctor-map {
  margin-top: 20px;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.doctor-map iframe {
  filter: grayscale(100%);
  height: 150px;
}

.doctor-profile {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #3d3d3d;
}

.doctor-profile h3 {
  font-weight: 600;
  color: #2e3192;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 15px;
}

.doctor-profile h4 {
  color: #222;
  font-size: 18px;
  margin-top: 0;
}

.doctor-profile.manage-profile .datepicker-ul {
  width: 100%;
}

.doctor-profile .border-line {
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid #dedede;
}

.datepick-div h6 {
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 8px;
}

.datepick-div h6:first-child {
  font-weight: 600;
  width: 60px;
}

.doctor-profile p.verified-patient {
  color: #222;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0;
}

.tooltip i {
  font-size: 40px;
  color: #dbb503;
}

.doctor-profile .tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  margin-right: 10px;
  padding: 10px;
}

.doctor-profile .tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #fff;
  color: #2b2b2b;
  text-align: left;
  border-radius: 3px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  font-size: 14px;
  text-transform: capitalize;
  border: 1px solid #dedede;
  left: 0;
  outline: 0;
  font-weight: 300;
}

.doctor-profile .tooltip .tooltiptext:after {
  content: "";
  position: absolute;
  background: #fff;
  transform: rotate(45deg);
  top: -10px;
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-color: #dedede #fff #fff #dedede;
  left: 17px;
}

.doctor-profile .tooltip .tooltiptext h5 {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 0;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
}

.doctor-profile .tooltip .tooltiptext p {
  padding-right: 10px;
  padding-left: 10px;
}

.doctor-profile .tooltip:hover .tooltiptext {
  visibility: visible;
}

.promo-custom .promo-left p ul li strong>span:after,.specialpromo-custom .promo-left p ul li>span:after,.squaredFour input[type=checkbox],p.last_point:before,span.btn.btn-sign-secondary a:after {
  visibility: hidden;
}

.body-overay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  left: 0;
  top: 0;
  z-index: 999999;
}

.contact-edit {
  width: 100%;
  background: #fff;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.contact-edit .map-contaner {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  float: left;
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.contact-edit h2 {
    text-align: center;
    font-weight: 400;
    font-size: 33px;
    color: #2e3192;
    line-height: 22px;
    text-transform: capitalize;
    margin: 0 auto 30px;
    padding: 0;
}

.contact-edit p {
  font-weight: 500;
  font-size: 16px;
  color: #7f7f7f;
  margin: 0 auto;
}

.contact-edit .btn-success {
  font-weight: 700;
  font-size: 20px;
  color: #FFF;
  text-transform: uppercase;
  text-shadow: 0 0 1px #333;
  background: #51ac20;
  border-color: #51ac20;
  padding: 10px 40px;
  margin-top: 20px;
}

.contact-edit h3 {
  font-weight: 400;
  font-size: 16px;
  color: #3b3b3b;
  line-height: 22px;
  text-transform: uppercase;
  margin: 15px auto 2px;
  padding: 0;
}

.contact-edit .form-group label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #2e3192;
  text-transform: uppercase;
}

.contact-edit .form-control {
  border-radius: 0;
  border: 1px solid #e7e7e7;
  border-bottom: 1px solid #dedede;
  box-shadow: none;
  padding-right: 0;
  resize: none;
}

.form-control,.form-style .form-control,.manage-profile .form-control {
  text-transform: none;
}

.has-error label.password-error.ng-binding {
  font-size: 15px;
  color: red;
  font-weight: 400;
  text-transform: none;
}

.form-group.has-error label.has-error,.has-error label.has-error {
  padding: 0;
  line-height: 14px;
  margin-top: 2px;
  font-size: 12px;
  color: red;
  position: absolute;
  text-align: left;
  font-weight: 400;
  text-transform: none;
}

.iferror_mess,.ifsucc_mess {
  width: 100%;
  border: 0;
  font-size: 16px;
  text-align: left;
  padding: 8px 20px;
}

.iferror_mess {
  background: #ffc2da;
  color: red;
  margin: 0 0 10px;
  border-radius: 0;
}

.form-group.marBot0,.form-style .form-group.marBot0 {
  margin-bottom: 0;
}

.has-error .form-control:focus {
  border-color: red;
  box-shadow: none;
}

.ifsucc_mess {
  background: #d2ffc8;
  color: #22a903;
  margin: 0 0 10px;
  border-radius: 0;
}

.denPImg,.denPImg img {
  width: 150px;
  height: 150px;
}

.ifsucc_mess.alert.alert-success {
  margin: 0 0 20px;
}

.denPImg {
  background: #eee;
  border: 0;
  border-radius: 50%;
  overflow: hidden;
}

.denPImg img {
  display: block;
  object-fit: cover;
}

.educationView .addicon {
  background: url(../images/education_icon.png) no-repeat;
  padding: 2px 0 2px 30px;
}

.specialtiesView .addicon {
  background: url(../images/specialties_icon.png) no-repeat;
  padding: 2px 0 2px 30px;
}

.statementView .addicon {
  background: url(../images/statement_icon.png) no-repeat;
  padding: 2px 0 2px 30px;
}

.insuranceView .addicon {
  background: url(../images/insurance_icon.png) 0 5px no-repeat;
  padding: 2px 0 2px 30px;
}

.boardView .addicon {
  background: url(../images/cer_icon.png) no-repeat;
  padding: 2px 0 2px 30px;
}

.doctor-profile .border-line .rating {
  display: table;
  margin: 10px 0 0;
}

.doctor-profile .border-line .tooltip {
  z-index: 2;
}

ul.recent-unread,ul.ul-details {
  margin: 0;
  padding: 0;
}

ul.recent-unread li,ul.ul-details li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

ul.recent-unread li .number a {
  text-decoration: none;
  margin: 0 auto;
  display: block;
}

ul.ul-details li {
  margin: 0 2px;
}

ul.ul-details li .trash-btn {
  width: 42px;
  height: 42px;
  text-align: center;
  border-radius: 4px;
  display: block;
  background: #2e3192;
}

ul.ul-details li .trash-btn i {
  font-size: 20px;
  color: #fff;
  line-height: 42px;
}

.postDetails-btn {
  height: 42px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  border: 1px solid #f1f1f1;
  height: 44px;
  margin-bottom: 0;
  line-height: 23px;
  margin-top: 2px;
  float: left;
}

.switch .slider:after,.switch .slider:before,input:checked+.slider:after {
  position: absolute;
  text-transform: capitalize;
  width: 50%;
  font-size: 11px;
  text-align: center;
}

.switch input {
  display: none;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  content: "active";
  background: #fff;
  height: 100%;
  left: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  line-height: 41px;
}

.switch .slider:after,input:checked+.slider:after {
  color: #fff;
  top: 10px;
  height: 20px;
}

input:checked+.slider {
  background-color: #5da60d;
}

input:focus+.slider {
  box-shadow: 0 0 0 #5da60d;
}

input:checked+.slider:after {
  content: "active";
  left: 0;
}

.switch .slider:after,input:checked+.slider:before {
  right: 0;
  content: "Inactive";
  text-align: center;
}

.certificate-btn,.remove-btn {
  text-transform: uppercase;
  font-size: 16px;
}

input:checked+.slider:before {
  -webkit-transform: translateX(49px);
  -ms-transform: translateX(49px);
  transform: translateX(49px);
  font-size: 11px;
  line-height: 41px;
  text-transform: capitalize;
}

.mypost-listing-block .panel-default.panel-default-inactive {
  background: #f4f4f4;
}

.border-line .rating ul {
  margin: 3px 0;
}

.edit-profile-tab ul.nav.nav-tabs {
  padding: 0;
  text-align: center;
}

.edit-profile-tab ul.nav.nav-tabs li {
  display: inline-block;
  float: none;
  vertical-align: top;
  cursor: pointer;
},._co-no,.country-coad,._co-no,.country-coad {
  float: left;
}

.manage-form6 ul.dropdown-menu.dropdown-menu-form {
  max-height: 200px!important;
  width: 100%;
  overflow: auto!important;
  min-width: 200px;
}

.manage-form6 .multiselect-parent .btn.btn-default {
  box-shadow: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #dedede;
  padding: 12px 5px;
  font-size: 16px;
  color: #585858;
  text-align: left;
  min-width: 200px;
  width: 100%;
  background: url(../images/arrow-down.png) 95% center no-repeat;
  white-space: normal;
}

.manage-form6 .multiselect-parent .btn.btn-default span.caret {
  display: none;
}

.manage-form6 .multiselect-parent {
  width: 100%;
}

.left-icon i {
  margin-right: 5px;
}

.uploadimg-outer .uploadimg img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.manage-profile .form-group {
  width: 100%;
  float: left;
}

.btn,.btn-back,.btn-pre,.innerpage .btn-next {
  width: auto;
}

.remove-btn {
  margin-top: 30px;
  border: none;
  padding: 8px 20px;
  font-weight: 400;
  color: #fff;
}

.remove-btn i {
  margin-right: 10px;
}

.btn-group .dropdown-toggle:active,.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.certificate-btn {
  color: #49b660;
  margin-top: 10px;
  text-align: center;
}

.btn.left-icon {
  display: inline-block;
}

.country-coad .control-label.has-error,.only-yearpicker ._720kb-datepicker-calendar-body,.only-yearpicker ._720kb-datepicker-calendar-days-header {
  display: none;
}

.profile-img a img {
  width: 40px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 6px;
  background-position: center bottom;
}

.navbar-nav .profile-img a img {
  height: 40px;
}

.aftersignup-header.site-header .navbar-nav.navbar-right li .dropdown {
  color: #2e3192;
}

.check-box .squaredFour {
  width: 20px;
  position: relative;
}

.check-box .squaredFour label {
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 0;
  border: 1px solid #959595;
}

.check-box .squaredFour label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 2px solid #959595;
  border-top: none;
  border-right: none;
  background: 0 0;
  opacity: 0;
  transform: rotate(-45deg);
}

.squaredFour label:after {
  opacity: 0;
}

.squaredFour input[type=checkbox]:checked+label:after {
  opacity: 1;
}

.check-box span {
  margin-left: 10px;
}

.country-coad {
  width: 50px;
}

._co-no {
  padding: 20px 3px 0;
}

.contact-no {
  float: right;
  width: 78%;
}

.country-coad-no {
  position: relative;
  width: 100%;
  float: left;
  display:inline-flex;
}

.manage-profile input#contact_number {
    width: 100% !important;
    padding: 0 10px;
}

.only-yearpicker ._720kb-datepicker-calendar {
  padding-bottom: 0;
}

.site-header.fixed-theme.inner-page-header .navbar {
  box-shadow: 0 0 8px #ccc;
}

.signin-section h2.inner-head-line {
  text-align: left;
  margin-top: 0;
  border-bottom: 1px solid #cfd9e6;
}

.country-coad.code-error-check .form-control {
  border-bottom: solid red 1px;
}

.manage-profile datepicker select {
  background-image: none!important;
  padding: 0!important;
  box-shadow: none!important;
}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}

.star-rating .star.filled {
  color: #fd0;
}

.star-rating.readonly .star.filled {
  color: #666;
}

.message-right-panel .favoriteIc {
  width: 50px;
  height: 50px;
  background: url(../images/favorite_ic.png) center center no-repeat #ffe9e9;
  border: 2px solid #e81111;
  display: table;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  background-size: 23px;
  margin-top: 0;
}

.message-right-panel .close-chat {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: #ffe9e9;
  border: 2px solid #e81111;
  border-radius: 100%;
  color: #e81111;
  font-size: 23px;
  text-align: center;
  line-height: 44px;
}

.form-select {
  padding: 8px 0 0;
  height: 30px;
}

.form-select:focus,.form-select:hover {
  width: 100px;
}

.contact-edit .form-control {
  height: 45px;
  padding: 10px 11px;
  border-radius: 4px;
}
.contact-edit form > .row.form-row {
    margin-bottom: 10px;
}

ul.recent-unread li .number a {
  position: absolute;
  top: 0;
  right: -29px;
  line-height: 28px;
  border-radius: 50%;
  text-align: center;
  background-color: #ede70c;
  width: 28px;
  height: 28px;
}

ul.recent-unread li>a {
  padding-left: 0;
  padding-right: 0;
}

.right-panel .white-bg-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}

.info-content-row .panel-custome.blue-bg {
  min-height: 170px;
}

.edit-profile-tab>ul.nav.nav-tabs>li {
  padding: 0 25px;
}

.edit-profile-tab .message-left-panel>ul.nav.nav-tabs {
  display: inline-block;
  width: 100%;
}

.post-list-row .col-sm-6:nth-child(2n+1) {
  clear: left;
}

.mar-btm-30 {
  margin-bottom: 30px;
}

.aftersignup-header.site-header .navbar-nav.navbar-right li .dropdown a {
  color: #fff;
}

.signup-details-section .form-style .form-group label.email-error {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
}

.hdrname {
  overflow: hidden;
  white-space: nowrap;
  width: 50px;
}

.site-header .navbar-nav.navbar-right>li .message-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 10px;
}

#myDiv,.message-right-panel .todayBox {
  display: none;
}

.body-loder {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 16px solid #fff;
  border-radius: 50%;
  border-top: 16px solid #2e3192;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.animate-bottom,.promo-bg .container {
  position: relative;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

#myDiv {
  text-align: center;
}

.animate-bottom {
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

.scrollBox_left ul.ul_height {
  max-height: 700px;
}

.height-max {
  height: auto;
  max-height: 410px!important;
}

.attachbox-modal {
  list-style: none;
  padding: 0;
}

.attachbox-modal li img {
  width: 100%;
}

.message-right-panel .whiteBox {
  padding-top: 10px;
  padding-bottom: 10px;
}

.edit-profile-tab .tab-content {
  margin-top: 10px;
  padding-top: 15px;
}

.height-max.scrollBox {
  max-height: 230px!important;
  height: 230px;
}

.scrollBox_left.mCustomScrollbar {
  max-height: 65vh !important;
}

#post_details_cont textarea,#post_details_cont textarea:focus,#post_details_cont textarea:hover {
  padding: 6px 12px;
  font-size: 14px;
  box-shadow: 0 1px 1px rgba(0,0,0,.075) inset;
  border: none;
}

.form-style .message-left-panel .form-group {
  margin-bottom: 10px;
}

.message-left-panel {
  padding-top: 0;
}

.message-left-panel .tab-content ul li {
  padding-top: 8px;
  padding-bottom: 8px;
}

.message-right-panel {
  padding-top: 10px;
  background-color: #fff;
}

.promo-bg {
  padding-top: 25px;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.promo-bg .form-style {
  background: #fff;
  width: 100%;
  float: left;
  padding-top: 15px;
}

.promo-bg .form-style .btn-yellow {
  margin-top: 0;
}

.promo-bg p {
  color: #3b3b3b;
  font-size: 18px;
  text-align: justify;
  margin-top: 8px;
  padding-bottom: 0;
}

.promo-left p ul {
  padding: 0;
  margin: 40px 0 20px;
}

.promo-left p ul li {
  color: #3b3b3b;
  width: 100%;
  list-style: none;
  display: inline-block;
}

.promo-left p ul li span {
  display: inline-block;
  background: 0 0;
  padding: 5px 40px;
  margin-top: 8px;
  border-radius: 4px;
  position: relative;
  font-size: 18px!important;
}

.promo-left p ul li span:after {
  position: absolute;
  left: 20px;
  top: 14px;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  background: #333;
}

.promo-bg .form-style h4 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
  color: #000;
}

.promo-bg .form-style .form-control {
  height: 45px;
}

.promo-bg .form-style {
  border-radius: 2px;
}

.promo-bg .form-style h4 span {
  color: #00234b;
}

.form-style-outer {
  top: 90px;
  right: 0;
  /*position: absolute;*/
  width: 33.33333333%;
  padding: 0 15px;
  float: right;
}

.promp-footer .footer_bottom {
  background: #2e3192;
  height: auto;
}

.promp-footer .footer_bottom p {
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.promp-footer ul {
  padding: 0;
  margin: 0;
}

.promp-footer ul li {
  list-style: none;
  float: left;
  padding: 20px 15px;
}

.promp-footer ul li:nth-child(2) {
  border-left: 1px solid rgba(255,255,255,.2);
  border-right: 1px solid rgba(255,255,255,.2);
}

.footer_up {
  background: #00234b;
}

.div-table {
  display: table;
}

.div-table .div-tbl-cell {
  display: table-cell;
  padding: 5px;
}

.div-table .div-tbl-cell h4 {
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}

.manage-profile-section ul.step li {
  line-height: 40px;
}

.edit-profile-tab ul.nav.nav-tabs {
  margin-top: 0;
}

.about-text ul {
  padding: 0;
  list-style: none;
}

.about-text ul li {
  position: relative;
  padding: 0 0 0 17px;
}

.about-text ul li::before {
  font-family: FontAwesome;
  content: "\f0da";
  position: absolute;
  left: 0;
  top: 0;
  color: #00267b;
}

.about-text ul li span {
  color: #00267b!important;
  font-family: 'Open Sans',sans-serif!important;
  font-size: 20px!important;
  line-height: 20px!important;
}

.inr-hdline {
  border-bottom: 1px solid #cccdce;
  color: #3b3b3b;
  font-size: 25px;
  margin: 0 0 15px;
  padding: 0 0 12px;
}

.about-text h1,.about_us-section .about-text p {
  margin-left: 0!important;
}

.white-bg-img.ng-scope {
  padding-top: 16px;
}

#massagetab .col-sm-8 {
  border-left: 1px solid #eef3fa;
}

.postUserImgBox img {
  width: 100%;
  height: 100%;
}

.nav>li>a {
  padding-left: 12px;
  padding-right: 12px;
}

.email-error {
  color: red!important;
}

.aftersignup-header .navbar-nav>li>a {
  padding-top: 15px;
}

.form-group {
  padding: 0;
}

#post_details_cont span,.select_radioBox label {
  color: #00267b!important;
}

.favoriteBox a.close-chat {
  margin-bottom: 5px;
}

.toggle_area {
  position: relative;
  clear: both;
}

.click_hide {
  position: absolute;
  right: 4px;
  top: -41px;
}

.click_hide button {
  background: #edf2f8;
  color: #2e3192;
  padding: 8px 20px;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  text-transform: uppercase;
}

.hide_panel .hide_div {
  display: none;
}

.hide_panel .click_hide {
  top: -41px;
}

.hide_panel .height-max.scrollBox {
  max-height: 400px!important;
}

.Successful-registration {
  height: 200px;
  border: 1px solid #FFF;
  padding: 20px;
}

.Successful-registration h2 {
  margin-bottom: 0!important;
}

.table-row {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

form#dentistStep5Form .col-sm-4 span.has-error {
  padding: 0;
  line-height: 14px;
  margin-top: 5px;
  font-size: 13px;
  color: red;
  position: absolute;
  text-align: left;
  font-weight: 400;
  text-transform: none;
}

.download-button {
  margin-top: 15px;
}

.banner-logo-holder {
  width: 155px;
  height: 155px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
  display: table;
  float: left;
}

.banner-logo-holder span {
  display: table-cell;
  vertical-align: middle;
}

.banner-logo-holder img {
  max-width: 100%;
}

.banner-right {
  float: left;
  width: 60%;
  display: block;
  height: 100%;
  position: relative;
  z-index: 100;
  padding-top: 45px;
}

.banner-right-cell {
  height: 100%;
}

.banner-right .banner-logo-holder {
  margin-right: 20px;
}

.banner-right .banner-heading {
  padding-top: 26px;
}

.signin-right-holder {
  padding-left: 30px;
}

.signin-left-holder {
  position: relative;
  padding-right: 30px;
}

.signin-left-holder:before {
  content: '';
  height: 70%;
  width: 1px;
  background-color: #cfd9e6;
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

.signin-right-holder p {
  font-size: 18px;
  font-weight: 400;
  color: #2e3192;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.manage-profile .upload-btn label span {
  float: none;
  line-height: 20px;
}

.noTopic-text {
  font-size: 20px!important;
  text-align: center!important;
}

.postDetails-holder {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 3px;
}

.edit-profile-tab .postDetails-holder .form-row {
  margin-top: 15px;
}

.alert-success {
  color: #3c763d!important;
  background-color: #dff0d8!important;
  border-color: #d6e9c6!important;
}

.site-header .navbar-nav.navbar-right li.nav-dbl a {
  border: none;
  padding: 4px 0 8px;
  display: inline-block;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
}

.site-header .navbar-nav.navbar-right li.nav-dbl span {
  border: 0 solid #00a2e2;
  display: inline-block;
  padding: 0 10px;
  color: #fff;
}

.site-header .navbar-nav.navbar-right li.nav-dbl a:hover {
  color: #f0ee39;
  text-decoration: none;
  opacity: 1!important;
}

.form-style input[type=checkbox]:not(old)+label,.form-style input[type=radio]:not(old)+label .col-lg-12.logo {
  position: relative;
  height: 80px;
  width: 100%;
}

#navbar {
  padding: 14px 0;
}

ul.nav.navbar-nav li>a:after {
  content: "";
  border-right: 1px solid #fff;
  position: relative;
  left: 12px;
  top: 1px;
}

.title:after,.title:before {
  display: block;
  width: 38%;
  height: 9px;
  position: relative;
  top: 20px;
  content: "";
}

.title {
  color: #2e3192;
  font-size: 33px;
}

.title:before {
  background: url(../images/title-before.png) right center no-repeat;
  float: left;
}

.title:after {
  background: url(../images/title-after.png) left center no-repeat;
  float: right;
}

.pGetCreateForm .form-group input,.pGetCreateForm .form-group textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #2e3192;
  box-shadow: none;
  font-size: 14px!important;
  padding: 6px 10px!important;
}

form.pGetCreateForm .form-group label {
  color: #2e3192;
  font-weight: 400;
  font-size: 21px;
}

.button>input[type=submit] {
    background: #2e3192;
    border-radius: 0;
    border: 0;
    font-size: 18px;
    padding: 7px 50px 8px 50px;
    margin: 40px auto 0;
    font-weight: 400;
    letter-spacing: 2px;
}

form.pGetCreateForm .form-group {
  margin-top: 30px;
}

.clients_say .title:after,.clients_say .title:before {
  width: 30%;
}

.swiper-pagination-bullet {
  border-radius: 0;
}

section.content-sec.dentist_section {
  background: url(../images/dental-bg.png) center no-repeat fixed;
  padding: 110px 0;
  width: 100%;
  background-size: cover;
  margin: 60px 0;
}

section.content-sec.dentist_section a {
  color: #fff;
  font-size: 41px;
  font-weight: 100;
  text-decoration: none;
}

.button.btn-white a {
  background: #fff;
  color: #2e3192!important;
  font-size: 29px!important;
  width: 20%;
  border-radius: 0;
  margin: 20px auto 0!important;
  padding: 0 0 7px;
  font-weight: 300!important;
}

.blogs button,.blogs p {
  font-size: 16px;
}

.blogs-text {
  background-color: #2e3192;
  color: #fff;
  padding: 82px 39px;
  height: auto;
  font-weight: 100;
}

.blogs button {
  background: #fff;
  color: #2e3192;
  border-radius: 0;
  padding: 10px 30px;
  box-shadow: none;
  text-transform: uppercase;
  margin: 7px 0;
  font-weight: 600;
}

.blogs-text:before {
  border: 2px solid #2e3192;
  bottom: -20px;
  content: "";
  left: -24px;
  position: absolute;
  right: 0;
  top: -20px;
  z-index: -1;
}

.blogs-image {
  position: relative;
  left: 0;
  height: 302px;
  overflow: hidden;
}

.blogs {
  margin: 30px auto;
  width: 90%;
  clear: both;
  min-height: 320px;
}

#carousel-example-generic1 {
  margin: 20px 0;
}

.custom-indicators {
  position: static;
  margin: 9px auto;
}

.carousel-indicators.custom-indicators .active {
  width: 15px;
  height: 15px;
  margin: 0;
  background-color: #2e3192;
}

.carousel-indicators.custom-indicators li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 4px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 0;
}

.blogs-image img {
  display: inline-block;
  border: 0;
  position: relative;
  -webkit-transition: all .2s ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all .2s ease-in;
  -ms-transform: scale(1);
  -moz-transition: all .2s ease-in;
  -moz-transform: scale(1);
  transition: all .2s ease-in;
  transform: scale(1);
  left: -15px;
  width: 100%;
}

.blogs-image>img:hover {
  z-index: 2;
  -webkit-transition: all .2s ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all .2s ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all .2s ease-in;
  -moz-transform: scale(1.5);
  transition: all .2s ease-in;
  transform: scale(1.1);
}

.footer_mid {
  background: #090b5e;
  color: #fff;
  padding: 14px 0;
}

.footer_mid .container h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #fff;
}

.footer_mid .container h4:after {
  content: "";
  display: block;
  width: 55px;
  height: 2px;
  background: #fff;
  margin: 12px 0 0;
}

.footer_mid ul.link-ft {
  padding: 0;
}

.footer_mid ul.link-ft li {
  list-style: none;
  float: left;
  width: 33.33%;
}

.footer_mid ul.link-ft li a {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-align: left;
  font-weight: 500;
  padding: 5px 0;
  margin: 0;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  font-style: italic;
}

.main-slider,.subtext,.teletype-cursor,.teletype-prefix {
  color: #2e3192;
}

.button,p.last_point {
  text-align: center;
}

.footer_bottom>.container {
  border-top: 1px solid #bfbfbf;
  padding-top: 13px;
}

.subtext {
  font-size: 33px;
}

.main-slider {
  font-size: 40px;
  background-image: url(../images/slider-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 100px 0 50px;
  padding: 0;
}

#customeslider {
  padding: 90px 0 0;
}

#pc-img {
  position: relative;
  top: 40px;
}

.main-slider .button>a {
  background: #2e3192;
  border-radius: 0;
  border: 0;
  color: #fff;
  padding: 6px 44px 10px;
  font-size: 19px;
  margin: 12px 0 0 3px;
  max-width: 193px;
}

section.content-sec.dentist_section h3 {
  font-size: 41px;
  font-weight: 100;
  color: #fff;
}

.dentalchat_content h2,.patient_contaent h2 {
  color: #333;
  padding-bottom: 25px;
  border-bottom: 1px solid #cfd9e6;
  font-weight: 700;
}

@media (min-width:768px) {
  .navbar-right {
    float: left!important;
  }
}

.patient_contaent h2 {
  font-size: 34px;
  margin-bottom: 25px;
}

.patient_contaent p {
  font-size: 28px;
}

.patient_contaent ul>li {
  line-height: 49px;
  font-size: 20px;
  list-style: none;
  position: relative;
}

.patient_contaent ul>li:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #000;
  position: absolute;
  top: 24px;
  left: -19px;
}

#patient_reg_form .first-name,#patient_reg_form .last-name {
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.dentalchat_content h2 {
  font-size: 34px;
  margin-bottom: 35px;
}

.dentalchat_content p {
  font-size: 20px;
  color: #000;
  position: relative;
}

input#country_code {
  width: 22%;
  float: left;
}

input#contact_number {
  width: 73%;
  float: right;
}

.promo-bg input#contact_number {
    width: 158%;
    float: right;
}
.promo-bg input#country_code {
    width: 40%;
    float: left;
}

.signup-details-section #regForm .first-name,.signup-details-section #regForm .last-name {
  float: left;
  width: 100%!important;
  margin-bottom: 9px!important;
}

input#password,input#zipcode {
  margin-top: 9px;
}

.signup-details-section .form-style #regForm .btn-yellow {
  margin-top: 0;
  margin-bottom: 50px;
}

.signin_dental {
  padding: 26px 0;
}

.patient_contaent {
  color: #000;
}

p.last_point {
  background: 0 0;
  padding: 10px 0 12px;
  margin: 20px 0;
}

.blogs-text a.btn {
  background: #fff;
  border-radius: 0;
  width: 170px;
  color: #000;
}

.navbar-right .nav-dbl .btn-sign-secondary a:first-child {
  position: relative;
  margin-right: 10px;
}

.navbar-right .nav-dbl .btn-sign-secondary a:first-child:before {
  content: "";
  display: block;
  background: #fff;
  width: 1px;
  height: 19px;
  position: absolute;
  top: 6px;
  z-index: 10;
  right: -7px;
}

header.aftersignup-header ul.nav.navbar-nav.navbar-right.ng-scope {
  float: right!important;
}

.aftersignup-header.site-header .navbar-nav.navbar-right li .message-icon a {
  padding: 8px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.aftersignup-header.site-header .navbar-nav.navbar-right li .message-icon a img {
  width: 60%;
}

.teletype {
  margin: 80px 0 0;
}

.dentalchat_content p:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #000;
  position: absolute;
  top: 13px;
  left: -19px;
}

.dentalchat_content p:after,.patient_contaent ul>li:after {
  left: -30px;
  content: "";
  display: block;
}

.dentalchat_content .row>.col-md-12 {
  padding-left: 40px;
}

.patient_contaent ul>li:after {
  width: 100%;
  height: 1px;
  background: #dadada;
  position: relative;
}

.newdropdown input[type=text],select#sel1 {
  padding: 0 12px!important;
  height: 39px;
}

.patient_contaent ul>li:last-child:after {
  background: 0 0;
}

.info-text {
  margin-bottom: 30px;
}

.newdropdown>p {
  float: left;
}

.newdropdown>select {
  float: left;
  width: 60%;
  margin: 0 10px;
}

.newdropdown {
  font-size: 31px;
  font-weight: 100;
  color: #000;
  margin-bottom: 28px;
}

select#sel1 {
  border: 0;
  border-bottom: 1px solid #2e3192;
  box-shadow: none;
  border-radius: 0;
  font-size: 18px;
  background-color: #efefef;
}

.pGetCreateForm .form-group input,.pGetCreateForm .form-group textarea {
  border-radius: 0;
}

.btn:hover {
  opacity: 1!important;
}

.newdropdown .col-md-10 input[type=text] {
  font-size: 31px!important;
  background-color: #efefef;
}

p.last_point>span {
  background: url(../images/bg-arrow.png) 100% no-repeat;
  color: #fff;
  padding: 7px 30px 10px 15px;
  margin: 0 9px 20px 9px;
  float: left;
}

.dentalchat_content p:after {
  width: 100%;
  height: 1px;
  background: #dadada;
  position: relative;
  margin-top: 11px;
}

.col-lg-12.logo,.logo {
  position: relative;
  height: 80px;
}

.promo-left>p>ul,.promp-footer {
  margin-top: 0;
}

.dentalchat_content .last_point:after {
  content: "";
  visibility: hidden;
}

::placeholder {
  font-size: 18px!important;
}

form.pCreateForm input,form.pCreateForm select.form-control {
  background: #f5f5d5;
}

span.red {
  font-size: 18px!important;
  color: red;
}

.col-lg-12.logo {
  width: 100%;
}

.checkbox.has-error label.control-label.has-error.validationMessage,.logo>a {
  position: absolute;
}

.logo>a {
  width: 72px;
  height: 72px;
  padding: 15px 5px;
  top: 0;
  border-radius: 100%;
  background-color: #3b59a1;
}

.logo img {
  max-width: 100%;
}

.form-group.email {
  margin-bottom: 10px;
}

.promo-custom .promo-left p ul li strong>span,.specialpromo-custom .promo-left p ul li>span {
  background: 0 0;
  padding: 0;
  margin: 0;
}

.menu {
  text-align: right;
  padding: 22px 0;
}

.menu>a {
  color: #3b3b3b;
  font-weight: 700;
}

.info-text h4 {
  font-size: 16px;
  font-weight: 600;
}

.info-text p {
  text-align: center!important;
  font-size: 14px;
}

.promo-bg header {
  border-bottom: 3px solid #00a2e2;
}

.col-lg-8.promo-left {
  padding-top: 17px;
}

.info-text .col-md-3:after {
  content: "";
  display: block;
  height: 130px;
  width: 1px;
  background: #e0e0e0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.info-text .col-md-3:last-child:after {
  display: none;
}

.info-text {
  padding: 20px 7px;
  background: #2e3192;
}

.headtitle {
  padding: 20px 0;
  font-size: 20px;
  color: #3b59a1;
  text-transform: uppercase;
}

.info-text h4,.info-text p {
  color: #fff;
}

.first-name {
  margin-right: 2%!important;
}

.first-name,.last-name {
  float: left!important;
  width: 49%!important;
  margin-bottom: 30px!important;
}

.country {
  width: 20%!important;
}

.phone {
  width: 78%!important;
}

.country input#country_code,.phone input#contact_number {
  width: 100%;
}

.promp-footer>.footer_up {
  display: none;
  margin: 0;
}

.col-lg-8.promo-left span {
  color: #000;
  font-weight: 400;
  font-style: normal;
}

form#patient_reg_form .first-name,form#patient_reg_form .last-name {
  width: 100%!important;
  margin-bottom: 0!important;
}

.margin-bottom-0 {
  margin-bottom: 0!important;
}

.blogs-text>h3 {
  font-size: 21px;
}

.blogs-image img {
  height: 100%;
}

section.notfound {
  background-image: url("../images/erroe_bg.jpg");
  text-align: center;
  color: #000000;
  min-height: 630px;
  padding: 260px 0;
  margin: 0;
}

section.notfound p {
  font-size: 23px;
  margin: 20px 0;
}

.notfound a.navbar-brand {
  background: #2e3192;
  border-radius: 50%;
  left: 40px;
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 121px;
}

.notfound a.navbar-brand i {
  color: #fff;
}


/*Dentail Dashboard*/
.statistics_graph .progress{
    height: 40px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 4px;
}
.dashboard_title h3 {
    color: #2E3192;
    border-bottom: 1px solid #e7e7e7;
    line-height: 46px;
    margin-bottom: 30px;
}
.progress-bar{
    box-shadow:none;
}
#doughnut {
    max-width: 550px !important;
    max-height: 276px !important;
    margin: 0 auto;
}
#dashboardtab select.form-control {
    font-size: 19px;
    font-weight: 400;
}
.message-text-div > h4 {
    margin-top: 0;
}
.whiteBox::after {
    content: "";
    display: block;
    clear: both;
}
.toggle_area .click_hide .close_button {
    background-color: #2E3192;
    color: #fff;
}
.mTypeBox .textareaBox textarea{
    padding: 15px 60px 0px 20px;
    max-height: 54px;
}
.mTypeBox .attech_icBox input[type="file"] {
    cursor: pointer;
}
.appointmentBox.ng-scope > i {
    font-size: 15px;
    color: #2e3192 !important;
}
.appointmentBox.ng-scope > i > b {
    color: #2e3192;
}
span.span-appointment.ng-scope i.fa.fa-bookmark {
    color: #272425;
}
.otherUser p.postTime.ng-binding {
    width: 100%;
    text-align: right;
    float: right;
}
.statistics_graph .col-lg-3.text-center {
    margin-top: 23px;
}
.signup-details-section {
    margin-bottom: -70px;
}
/*27-9-2017*/
.statistics_graph > .col-lg-6 {
    border: 2px solid #b1b1b1;
    width: 45%;
    margin: 0 30px;
    min-height: 408px;
}

/*29-8-2017*/
.form-group label.email-error.ng-binding {
  right: 14px;
}

.checkbox.has-error label.control-label.has-error.validationMessage {
  width: 100%;
  top: 25px;
  left: 0;
}

input#contact_number + label.control-label.has-error.validationMessage {
  bottom: -20px;
  left: 15px;
}

/*28-9-2017*/
.statistics_graph > .col-lg-6 {
    border: 2px solid #b1b1b1;
    width: 45%;
    margin: 0 30px;
    min-height: 408px;
}

/*13-10-2017*/
form#patient_reg_form {
    padding-bottom: 60px;
    display: inline-block;
}

/*9-Nov-2017*/
.mCSB_scrollTools .mCSB_draggerRail{
    width: 7px !important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    width: 7px !important;
}

#massagetab .span-appointment {
    float: left;
    margin: -9px 0 0 18px;
}

/*15-jan-2018*/
.contact-edit h2:before, .contact-edit h2:after {
    width: 29%;
    top: 10px;
}
.contact-edit textarea {
    min-height: 200px !important;
}
.contact-edit .form-control::placeholder {
    font-size: 15px !important;
}

/*22 Feb 2018*/
.offer_mainwrapper input#country_code {
    width: 22%;
    float: left;
}
.offer_mainwrapper input#contact_number {
    width: 75%;
    margin-bottom: 7%;
}

/*Pricing*/
.pricing_wrapper {
    background-color: #dbdbdb;
    padding: 0 0 30px 0;
    margin-top: 76px;
}
.pricing_banner {
    background-color: #2e3192;
    text-align: center;
    color: #fff !important;
    padding: 20px 0 51px 0;
    line-height: 70px;
	margin-bottom: 30px;
}
.pricing_banner h1 {
    font-size: 82px;
    font-weight: bold;
    text-transform: uppercase;
}
.pricing_banner p {
    font-size: 42px;
    font-weight: 100;
}
.plain_trial {
    background-color: #f0ee39;
    border-radius: 3px;
    max-width: 27%;
    padding: 6px 0;
    margin: 0 auto;
}
.plain_trial > a {
    color: #0f0f0f;
    font-size: 27px;
    font-weight: bold;
	text-transform: uppercase;
}
.plan_box {
    background: #fff;
    color: #000;
    padding: 22px 0 29px 0;
    border-radius: 4px;
    margin-top: 25px;
    position: relative;
	transition: all 0.8s ease;
}
.plan_box:hover {
    background: #2e3192;
    color: #fff;
	position: relative;
    top: -3px;
}
.plan_box:hover span, .plan_box:hover p {
	color: #fff;
}
.plan_box:hover .pricing_button > input{
	border: 2px solid #fff !important;
    color: #fff !important;
}
.plan_box > h2 {
    font-weight: bold;
    margin-bottom: -4px;
}
.amount > p {
    font-size: 130px;
    font-weight: bolder;
}
.amount > p > span {
    color: #7e7e7e;
    font-size: 30px;
    font-weight: 400;
    vertical-align: super;
    top: -19px;
    position: relative;
}
.plan_box > p {
    color: #7e7e7e;
    font-size: 22px;
    margin-top: -20px;
}
.pricing_button > input {
    background: transparent !important;
    border: 2px solid #000 !important;
    color: #000;
    font-size: 20px !important;
    text-transform: uppercase;
    margin-top: 29px !important;
}
.most-popular {
    background-color: #2e3192;
    color: #fff;
    max-width: 94%;
    margin: 0 auto;
    padding: 8px 0;
    border-radius: 4px;
    position: absolute;
    top: -27px;
    width: 100%;
    left: 0;
    right: 0;
    font-size: 25px;
    text-transform: uppercase;
}
section.both_plan {
    background-color: #fff;
    margin: 30px 0 0 0;
	padding-bottom: 13px;
}
section.both_plan h1 {
    color: #000;
    margin-top: 35px;
    margin-bottom: 20px;
}
/*section.both_plan ul {
    padding-left: 0;
}*/
section.both_plan ul li {
    color: #0f0f0f;
    font-size: 22px;
    display: inline-block;
    margin: 11px 0;
    width: 33%;
    position: relative;
    padding-left: 30px;
}
section.both_plan ul li:before {
    content: "";
    display: block;
    font-family: "fontawesome";
    font-weight: 100;
    color: #2e3192;
    position: absolute;
    left: 0;
}
.SpecialBonus {
    font-size: 18px;
    color: #000;
}
section.both_plan hr {
    border-top: 1px solid #dbdbdb !important;
}
header.site-header.inner-page-header {
    display: inline-block;
    width:100%;
}

/*5March2018*/
.pricing_click img {
    transition: transform .5s;
    transform: scale(0.9);
}
.pricing_click img:hover {
    transform: scale(1);
}
.button.pricing_button {
    margin-top: 29px !important;
}
.pricing_button a {
    background: transparent !important;
    border: 2px solid #000 !important;
    color: #000;
    font-size: 20px !important;
    text-transform: uppercase;
    padding: 7px 50px 8px 50px;
    margin: 40px auto 0;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
}
.plan_box:hover .button.pricing_button, .plan_box:hover .button.pricing_button a {
    color: #fff;
    border-color: #fff !important;
}

.footer_1, .footer_2, .footer_new {
    padding: 10px 0;
}
.service-help.footer_2 ul li:first-child a, .service-help.footer_1 ul li:first-child a, .service-help.footer_new ul li:first-child a {
    font-size: 23px;
}
.service-help.footer_2 ul li:last-child a, .service-help.footer_1 ul li:last-child a, .service-help.footer_new ul li:last-child a{
    font-size: 23px;
}

.edit-profile-tab.mar-btm-30 .tab-content.tebstyle01 {
    padding-bottom: 0 !important;
}

.mCSB_container button {
    background-color: #2e3192;
    color: #fff;
    padding: 2px 10px 6px 10px;
}

.message-right-panel .height-max.scrollBox {
    max-height: 47vh !important;
}

.edit-profile-tab .tab-content > ul.newtabs {
    margin: 13px 0 21px 0;
}
.edit-profile-tab .tab-content > ul.newtabs > li {
    margin: 0 10px;
    padding: 10px 10px 0 10px;
}
.edit-profile-tab .tab-content > ul.newtabs > li.active {
    background-color: #2e3192;
}
.edit-profile-tab .tab-content > ul.newtabs > li.active > a {
    color: #fff;
}

section.subscribe_wrapper .form-style-outer {
    position: static;
    float: right;
    margin-top: 29px;
}
section.subscribe_now_wrapper .col-lg-8.promo-left {
    margin-top: 0 !important;
}
section.subscribe_wrapper .col-lg-8.promo-left {
    margin-top: 18px;
}
section.subscribe_wrapper .logo {
    margin-top: -20px;
}
.searchBox input::placeholder {
    font-size: 15px !important;
}

.message-left-panel span.resetSearch {
    display: none;
}
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
  .message-left-panel span.resetSearch {
    display: block;
    }
}
@-moz-document url-prefix() {
  .message-left-panel span.resetSearch {
    display: block;
    }
}

.promo-left .LpCopy h4{
	animation: 4s ease-in bgFadeIn forwards;
	text-align: center; 
	color: #fff;
	padding: 1em;
}

/*Media Query For Responsive*/
@media only screen and (max-width:991px) {
	.plain_trial{
		max-width: 60%;
	}
	.pricing_banner h1 {
    	font-size: 50px;
	}
	.pricing_wrapper .col-md-6.col-sm-12.pull-right {
		margin-top: 50px;
		margin-bottom: 19px;
		width: 100%;
	}
	section.both_plan ul li{
		width: 100%;
	}
}

@media only screen and (max-width:767px){
	.plain_trial {
		max-width: 100%;
	}
	.amount > p {
    	font-size: 90px;
	}
	.amount > p > span{
		font-size: 24px;
	}
	section.both_plan ul {
		padding-left: 28px;
	}
	.pricing_wrapper{
	   margin-top: 0;
	}
	section.subscribe_wrapper .col-lg-8.promo-left{
	   padding: 0 30px;
	}
	section.subscribe_wrapper .col-lg-8.promo-left h1 {
        font-size: 22px;
    }
    section.subscribe_wrapper h2, section.subscribe_wrapper h1 {
        text-align: center;
        line-height: 42px;
        margin-bottom: 0;
    }
    section.subscribe_wrapper .logo {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 568px){
	section.both_plan h1{
		font-size: 24px;
	}
	.pricing_banner p {
		font-size: 28px;
		font-weight: 100;
		line-height: 39px;
	}
	.plain_trial > a{
		font-size: 18px;
	}
	section.both_plan ul li {
        font-size: 18px;
	}
	.SpecialBonus {
        font-size: 16px;
        text-align: center;
    }
}



