extends layout
block append head
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script.
		var uname='#{user}';
		var chatbuddy='#{receiver}';
		var room = '#{room}';
	script(type='text/javascript', src='/javascripts/chat.js')
	
block content
	section#chatroom
		div#welcome
		div#messages
			if (chat == 'null')
				div#messageAlert
					|	no messages found
			else
				each item in chat
					|  #{item.from} : #{item.message}
					br
		input#message(type='text', placeholder='Enter your message here')
		input#send(type='button', value='Send')
