extends layout
block content
  div
    h1 contact list
    a(href='/chat?buddy=ayan')
      h3 ayan
    br
    a(href='/chat?buddy=satyajit')
      h3 satyajit
    br
    a(href='/chat?buddy=other')
      h3 other
    br
    a(href='/room?room=room-a')
      h3 Chat in Rooms-A
    br
    a(href='/room?room=room-b')
      h3 Chat in Rooms-B      
  