<div class="inner-page-header-blank"></div>
<!--inner-page-header-blank for every inner page --- header hight mentant-->

<section class="innerpage">
  <div class="signup-details-section">
<div class="container">
  <div class="row">
<div class="col-md-6 col-sm-12 dentalchat_content">
    <h2>Join DentalChat</h2>
    <div class="row">
        <div class="col-md-12">
            <p>Dentists and dental practices are joining Dentalchat.</p>
            <p>DentalChat.com - modern dental communication between new patients and dentists.</p>
            <p>We have consumers who are seeking dental care via our DentalChat platform in your area.</p>
            <p class="last_point"><span>Help Patients</span><span>Build Trust</span><span>Gain Patients</span></p>
            <div class="pricing_click">
                <a href="https://dentalchat.com/pricing">
            	    <img src="https://test.dentalchat.com/images/click_pricing.png" class="img-responsive">    
                </a>
            </div>
        </div>
    </div>
</div>      
<div class="col-md-6 col-sm-12">      
   <div class="form-style">
       <div class="col-sm-12">
        <h2 class="inner-head-line"> Get started with DentalChat</h2>
       </div> 
       <form  novalidate angular-validator angular-validator-submit = "registerDentist(user);" name="regForm" id="regForm" action="" method="POST" autocomplete="Off">
           <input type="hidden" name="plan" value="{{plan}}">
       <div class="col-sm-12">
        <div class="form-group">
        <div class="row">
            <div class="col-md-6 col-sm-12">
               <div class="first-name">
                <input class="form-control" placeholder="Dentist First Name" type="text" id="first_name" ng-pattern="/^([^0-9]*)$/" invalid-message="'Invalid first name.'" name="first_name" ng-model="user.first_name" maxlength="30" required-message="'This field is required..'" required>
               </div> 
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="last-name">
                 <input class="form-control" placeholder="Dentist Last Name Initial" type="text" id="last_name" ng-pattern="/^([^0-9]*)$/" invalid-message="'Invalid last name.'" name="last_name"  ng-model="user.last_name" maxlength="30" required-message="'This field is required..'" required>
               </div>
            </div>
        </div>    
        </div>
       </div>
       
       <div class="col-sm-12">
         <div class="form-group">
          <div class="row">
              <div class="col-sm-6">
                 <div class="form-group">
                   <input class="form-control" placeholder="Business Name" type="text" id="business_name"  name="business_name" ng-model="user.business_name" maxlength="30" required-message="'This field is required..'" required>
                  </div>
               </div>
              <div class="col-md-6 col-sm-12">
                   <input class="form-control" placeholder="Country Code" type="text" id="country_code" ng-init="user.country_code='+1'" name="country_code" ng-model="user.country_code" maxlength='4' ng-pattern ='/^\+?([\d]+)$/' invalid-message ="'Invalid counry code'" required-message="'This field is required..'" required>
                   <input class="form-control" placeholder="Business Phone Number" type="text" id="contact_number" name="contact_number" ng-model="user.contact_number" ng-pattern ='/^\+?(\d[\d-. ]+)?(\([\d-. ]+\))?[\d-. ]+\d$/' invalid-message ="'Invalid phone number'" required-message="'This field is required..'" required>
              </div>
          </div> 
          
         </div> 
       </div>
       <div class="col-sm-12">
        <div class="form-group">
           <input class="form-control" placeholder="Your Email" type="email" id="email" name="email"  ng-model="user.email" invalid-message="'Invalid email id..'" validator="checkEmail(user.email) == 1" ng-model-options="{ updateOn: 'blur' }" required-message="'This field is required..'" validate-on="dirty" required>
			     <label class="email-error" ng-show="show_message_email!=''">{{show_message_email}}</label>
          </div>
       </div>
      <div class="col-sm-12">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                     <input class="form-control" placeholder="Password" type="password" id="password" name="password" ng-model="user.password" required-message="'This field is required..'" invalid-message="'Password Should have 7 characters consists of atleast one uppercase letter'"  ng-pattern="/^$|^(?=.*?[A-Z]).{7,}$/" required>
                </div>
                <div class="col-md-6 col-sm-12">
                    <input class="form-control" placeholder="Zip Code" type="text"  id="zipcode" name="zipcode" ng-model="user.zipcode" maxlength="30" required-message="'This field is required..'" required>                
                </div>
            </div>
           
          </div>
      </div>
      
      <div class="col-sm-12">
       <div class="checkbox">
          <input id="patient_checkbox1" name="patient_checkbox" value="1" ng-model="patient_checkbox" type="checkbox" required-message="'This field is required..'" validate-on="dirty" required><label class="checkbox-stylecustomlater" for="patient_checkbox1"><span></span> </label>
          I agree <a ui-sref="terms"> terms </a> of use and <a ui-sref="privacypolicy">  privacy policy. </a> 
      </div>
      </div>
      <div class="col-sm-12">
      <div class="checkbox">
          <input id="patient_checkbox2" name="patient_checkbox2" value="1" ng-model="patient_checkbox2" type="checkbox"  required-message="'This field is required..'" validate-on="dirty" required><label for="patient_checkbox2" class="checkbox-stylecustomlater"><span></span></label>
         Read and accept <a ui-sref="hipaa-authorization">Dentalchat HIPAA Authorization</a>
      </div>
      </div>
       
       <div class="col-sm-6">
        <div class="form-group">
           
           </div>
       </div>
      <div class="clearfix"></div>
      <div class="col-sm-6">
        <div class="form-group">
         <!--  <input value="get started" name="get_started" class="btn btn-yellow" type="submit">-->
         <button type="submit" class="btn btn-yellow" ng-click="helloW()">get started</button>
          </div>
      </div>
    </form>
    </div>
</div>    
    
    
   </div>
 </div>
 </div>
</section>