<div class="inner-page-header-blank"></div>
<!--inner-page-header-blank for every inner page becouse fixed header hight mentant-->

<section class="innerpage">

<div class="signin-section">
 <div class="container">
  <div class="row clearfix">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 clearfix">
   <div class="form-style">
     <div class="col-sm-12 clearfix">
      <h2 class="inner-head-line"> Forgot Password </h2>
      <div class="form-group marBot0" ng-show="showErrMsg">
        <div class="{{show_class}}">
        	{{show_message}}
        </div>
     </div>
     </div> 
     <form  autocomplete="Off" novalidate angular-validator angular-validator-submit = "ForgotPassword(user);"  name="forgotForm" id="forgotForm" action="" method="POST">
      <div class="row clearfix">
            <div class="col-sm-12 clearfix">
                <div class="form-group">
                    <h3>Need help with your Password? </h3>
                    <i>Enter your login email id for DentalChat, and click Continue, a password reset link will be sent to your email id.</i>
                </div>
            </div>
     <div class="col-sm-12 clearfix">
      <div class="form-group">
         <input class="form-control" placeholder="Your Email" type="email" id="email" name="email" ng-model-options="{ updateOn: 'blur' }" validator ='checkEmail(user.email) == 1' invalid-message="'Invalid email id..'" ng-model="user.email" required-message="'This field is required..'" tabindex="1" validate-on="dirty" required>
        </div>
     </div>
     <div class="clearfix"></div>
     <div class="col-sm-12 clearfix">
      <div class="form-group">
         <input value="Continue" name="Continue" class="btn btn-yellow" type="submit">
        </div>
     </div>
     </div>
    </form>
     </div>
     
     </div>
    </div>
   </div>
 </div>

</section>
