<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '178088319475835'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=178088319475835&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<script>fbq('track', 'CompleteRegistration', {value: '100.00', currency: 'USD'})</script>

<div class="inner-page-header-blank"></div>
<!--inner-page-header-blank for every inner page becouse fixed header hight mentant-->
<section class="innerpage">

<div class="signin-section">
 <div class="container">
  <div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
   <div class="form-style">
      <div class="col-sm-12 Successful-registration">
      <div class="table-row">
        <div class="table-cell">
          <h2 class="inner-head-line"> Successful Registration </h2>
          <h4><p>{{reg_success_msg1}}</p><p>{{reg_success_msg2}}</p></h4>
          <!--<h4>{{reg_success_msg[1]}}</h4>-->
        </div>
      </div>
      </div> 
    </div>
   </div>
   </div>
   </div>
 </div>
</section>   
<script type="text/javascript">
_linkedin_data_partner_id = "264586";
</script><script type="text/javascript">
(function(){var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=264586&fmt=gif" />
</noscript>