<div class="inner-page-header-blank"></div>
<link rel="stylesheet" type="text/css" href="css/css.css">
<style>
#navbar {
    display: none ! important;
}
.footer_top {  display: none ! important; }
footer, .service-help{  display: none ! important; }
</style>
<!--inner-page-header-blank for every inner page - header hight mentant-->
<section class="promo-bg ng-scope offer_mainwrapper">
        <div class="container">
        
        <div class="row">
           <div class="col-lg-8 promo-left" ng-init="allCms(18)">
              <div class="LpCopy">

<h1 style="text-align: center;">More leads than you can chew.</h1>
<h4 class="emphasisBoxPre FIBG_one">Ever wanted more clients?</h4>
<p>DentalChat.com has <strong>thousands of people looking for a dentist</strong>, right now. You can sign up, answer their questions, and get them into your office with a few keystrokes.</p>
<p>When one of your future patients finds their way to our site, they ask a question. In addition to their question, they inform you of whether or not their situation is urgent and provide their location.</p>
<p>When you log into our site, you can <strong>find all of the patients-in-waiting near you</strong>. If you choose to, you can answer their question and begin your relationship. Simply by providing the information you know so well, you build powerful credibility and rapport.</p>
<p>That’s why <strong>DentalChat is the best way to grow your practice</strong>. Our leads come to us looking for help; you give them what they need, when they need it most. </p>
<p class="emphasisBoxPre FIBG_one">This deal is so sweet, you’ll need to brush.</p>
<p>Go ahead. In just five minutes you can be chatting with your first new patient, giving everyone a good reason to smile.</p>


                                   </div>
           </div>

            <div class="form-style-outer">
               <!-- <div class="form-group massage-box" ng-if="showalert==0">
                    <div class="alert alert-success">{{showquestionmsg}}</div>                        
                 </div>-->
            <form novalidate="" angular-validator="" angular-validator-submit="addContact(user);" name="contactForm" id="contactForm" action="" method="POST" autocomplete="Off"  class="ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-pattern ng-valid-email ng-valid-angular-validator">
              <div class="form-style">
                 <div class="col-sm-12">
                    <!-- <h4> This is a <span>special offer for 3 months</span> to <span>sign up free</span> with us at Dentalchat</h4> -->
                    <h3 style="text-align: center;"><strong style="text-shadow: #ada 0 0 1px;">Two Months FREE!</strong></h3>
                    <h6 style="float: right;">*Next 100 sign-ups only.</h6>
                 </div>
                 <input type="hidden" value="pro" ng-model="user.src_sys" name="user.src_sys" class="ng-pristine ng-untouched ng-valid ng-not-empty" aria-invalid="false">
                 <div class="col-sm-12">
                    <div class="form-group">
                       <div class="first-name">
                          <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" id="first_name" name="first_name" ng-model="user.first_name" maxlength="30" required-message="'This field is required..'" required="" placeholder="Dentist First Name*" type="text" aria-invalid="true">
                       </div>
                       <div class="last-name">
                          <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="Dentist Last Name*" type="text" id="last_name" name="last_name" ng-model="user.last_name" maxlength="30" required-message="'This field is required..'" required="" aria-invalid="true">
                       </div>
                    </div>
                 </div>
                 <div class="col-sm-12">
                    <div class="form-group">
                       <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="Business Name*" type="text" id="business_name" name="business_name" ng-model="user.business_name" maxlength="30" required-message="'This field is required..'" required="" aria-invalid="true">
                    </div>
                 </div>

                 <div class="col-sm-12">
                    <div class="form-group">
                      
                         <input class="form-control ng-pristine ng-valid ng-not-empty ng-valid-required ng-valid-pattern ng-valid-maxlength ng-touched" placeholder="Country Code" type="text" id="country_code" ng-init="user.country_code='+1'" name="country_code" ng-model="user.country_code" maxlength="4" ng-pattern="/^\+?([\d]+)$/" invalid-message="'Invalid counry code'" required-message="'This field is required..'" required="" aria-invalid="false" style="">
                         <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" placeholder="Business Phone Number*" type="text" id="contact_number" name="contact_number" ng-model="user.contact_number" ng-pattern="/^\+?(\d[\d-. ]+)?(\([\d-. ]+\))?[\d-. ]+\d$/" invalid-message="'Invalid phone number'" required-message="'This field is required..'" required="" aria-invalid="true">
                    </div>
                 </div>
                  <div class="col-sm-12">
                                 <div class="form-group">
                                    <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="Street Address*" type="text" id="streetaddress" name="streetaddress" ng-model="user.streetaddress" required-message="'This field is required..'" required="" aria-invalid="true">
                                 </div>
                              </div>
                              <div class="col-sm-12">
                                 <div class="form-group">
                                    <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="City*" type="text" id="city" name="city" ng-model="user.city" required-message="'This field is required..'" required="" aria-invalid="true">
                                 </div>
                              </div>
                               <div class="col-sm-12">
                                 <div class="form-group">
                                    <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="State*" type="text" id="state" name="state" ng-model="user.state" required-message="'This field is required..'" required="" aria-invalid="true">
                                 </div>
                              </div>
                 <div class="col-sm-12">
                    <div class="form-group">
                       <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="Zip Code*" type="text" id="zipcode" name="zipcode" ng-model="user.zipcode" maxlength="30" required-message="'This field is required..'" required="" aria-invalid="true">
                    </div>
                 </div>
                 <div class="col-sm-12">
                    <div class="form-group email">
                       <!--<input class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required ng-valid-angular-validator" placeholder="Your Email*" type="email" d="email" name="email" ng-model="user.email" invalid-message="'Invalid email id..'" validator="checkEmail(user.email) == 1" ng-model-options="{ updateOn: 'blur' }" required-message="'This field is required..'" validate-on="dirty" required="" aria-invalid="true">-->
                       <input class="form-control ng-valid-email ng-valid-angular-validator ng-touched ng-not-empty ng-dirty ng-valid ng-valid-required" placeholder="Your Email" type="email" id="email" name="email" ng-model="user.email" invalid-message="'Invalid email id..'" validator="checkEmail(user.email) == 1" ng-model-options="{ updateOn: 'blur' }" required-message="'This field is required..'" validate-on="dirty" required="" aria-invalid="false" style="">
                    </div>
                    <label class="email-error ng-binding" ng-show="show_message_email!=''" aria-hidden="false"></label>
                    
                    <label class="email-error"  ng-if="showalert==0">{{emailexitmsg}}</label>                        
                 
                     
                 </div>
                 <div class="col-sm-12">
                    <div class="form-group">
                       <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" placeholder="Password*" type="password" id="password" name="password" ng-model="user.password" required-message="'This field is required..'" invalid-message="'Password should have at least 7 characters and at least one uppercase letter. example: Passport34'" ng-pattern="/^$|^(?=.*?[A-Z]).{7,}$/" required="" aria-invalid="true">
                    </div>
                 </div>
                  <div class="col-sm-12">
                                 <div class="form-group">
                                    <input class="form-control" placeholder="Referral code (optional)" type="text" id="referral_code" name="referral_code" ng-model="user.referral_code">
                                 </div>
                              </div>
                 <div class="col-sm-12">
                    <div class="form-group">
                       <input value="New Leads, Now!" name="Save" class="btn btn-yellow" type="submit" ng-click="helloW()">
                    </div>
                 </div>
           </div>
           </form>
           </div>
        </div>
        </div>
</section>
