<div class="inner-page-header-blank"></div>
<link rel="stylesheet" type="text/css" href="css/css1.css">
<style>
#navbar {
    display: none ! important;
}
.footer_top {  display: none ! important; }
footer, .service-help{  display: none ! important; }
</style>
<!--inner-page-header-blank for every inner page - header hight mentant-->
<section class="promo-bg ng-scope offer_mainwrapper">
        <div class="container">
        
                <div class="row">
                        <div class="col-lg-8 promo-left" ng-init="allCms(18)">
                           <div class="LpCopy">
      
      <h1 style="text-align: center;">The Future of Dentistry</h1>
      <h4 class="emphasisBoxPre FIBG_one">We’re here to connect dentists to people who need dental care - Gain New Patients.</h4>
       <p>  We have built the ultimate dental platform to connect patients and dentists in a innovative way. On DentalChat.com, patients ask questions & need dental services. We match the closest patients to you, giving you a chance to gain the trust of our thousands of prospects. You can select among the best, selecting the ideal patients for your practice to reply to.</p>

     <p>This is an opportunity to be part of something that will provide great benefits to the patients and to your dental practice.  We have spent several years developing this technology and market testing our services. We believe this will be something every dentist should be a part of.  Take advantage to improve your position and be part of DentalChat now.  Best yet, we are offering a completely FREE TWO MONTHS OFFER - no credit cards and easy sign up.  Use our services as you like.  You control whether you like to respond to patients in your area or not.</p>  
      <h4 class="emphasisBoxPre FIBG_two">We’re ready to put a smile on your face with this limited-time offer: <strong>two months of free use</strong>.</h4> 
      <p>No credit cards, no subscriptions, no funny business. Sign up in a few minutes and start answering questions today!</p>
      
      
                                                                                          </div>
                        </div>
      
                         <div class="form-style-outer">
                            <!-- <div class="form-group massage-box" ng-if="showalert==0">
                    <div class="alert alert-success">{{showquestionmsg}}</div>                        
                 </div>-->
                         <form novalidate="" angular-validator="" angular-validator-submit="registerexclusive(user);" name="regForm" id="regForm" action="" method="POST" autocomplete="Off" ng-init="user.src_sys='pro'" class="ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-pattern ng-valid-email ng-valid-angular-validator">
                           <div class="form-style">
                              <div class="col-sm-12">
                                 <!-- <h4> This is a <span>special offer for 3 months</span> to <span>sign up free</span> with us at Dentalchat</h4> -->
                                 <h3 style="text-align: center;"><strong style="text-shadow: #ada 0 0 1px;">Two Months FREE!</strong></h3>
                                 <h6 style="float: right;">*Next 100 sign-ups only.</h6>
                              </div>
                              <input type="hidden" value="pro" ng-model="user.src_sys" name="user.src_sys" class="ng-pristine ng-untouched ng-valid ng-not-empty" aria-invalid="false">
                              <div class="col-sm-12">
                                 <div class="form-group">
                                    <div class="first-name">
                                       <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" id="first_name" name="first_name" ng-model="user.first_name" maxlength="30" required-message="'This field is required..'" required="" placeholder="Dentist First Name*" type="text" aria-invalid="true">
                                    </div>
                                    <div class="last-name">
                                       <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="Dentist Last Name*" type="text" id="last_name" name="last_name" ng-model="user.last_name" maxlength="30" required-message="'This field is required..'" required="" aria-invalid="true">
                                    </div>
                                 </div>
                              </div>
                              <div class="col-sm-12">
                                 <div class="form-group">
                                    <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="Business Name*" type="text" id="business_name" name="business_name" ng-model="user.business_name" maxlength="30" required-message="'This field is required..'" required="" aria-invalid="true">
                                 </div>
                              </div>
      
                              <div class="col-sm-12">
                                 <div class="form-group">
                                        <input class="form-control ng-pristine ng-valid ng-not-empty ng-valid-required ng-valid-pattern ng-valid-maxlength ng-touched" placeholder="Country Code" type="text" id="country_code" ng-init="user.country_code='+1'" name="country_code" ng-model="user.country_code" maxlength="4" ng-pattern="/^\+?([\d]+)$/" invalid-message="'Invalid counry code'" required-message="'This field is required..'" required="" aria-invalid="false" style="">
                                       <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" placeholder="Business Phone Number*" type="text" id="contact_number" name="contact_number" ng-model="user.contact_number" ng-pattern="/^\+?(\d[\d-. ]+)?(\([\d-. ]+\))?[\d-. ]+\d$/" invalid-message="'Invalid phone number'" required-message="'This field is required..'" required="" aria-invalid="true">
                                 </div>
                              </div>
                               <div class="col-sm-12">
                                 <div class="form-group">
                                    <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="Street Address*" type="text" id="streetaddress" name="streetaddress" ng-model="user.streetaddress" required-message="'This field is required..'" required="" aria-invalid="true">
                                 </div>
                              </div>
                              <div class="col-sm-12">
                                 <div class="form-group">
                                    <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="City*" type="text" id="city" name="city" ng-model="user.city" required-message="'This field is required..'" required="" aria-invalid="true">
                                 </div>
                              </div>
                               <div class="col-sm-12">
                                 <div class="form-group">
                                    <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="State*" type="text" id="state" name="state" ng-model="user.state" required-message="'This field is required..'" required="" aria-invalid="true">
                                 </div>
                              </div>
                              <div class="col-sm-12">
                                 <div class="form-group">
                                    <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="Zip Code*" type="text" id="zipcode" name="zipcode" ng-model="user.zipcode" maxlength="30" required-message="'This field is required..'" required="" aria-invalid="true">
                                 </div>
                              </div>
                              <div class="col-sm-12">
                                 <div class="form-group email">
                                    <input class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required ng-valid-angular-validator" placeholder="Your Email*" type="email" d="email" name="email" ng-model="user.email" invalid-message="'Invalid email id..'" validator="checkEmail(user.email) == 1" ng-model-options="{ updateOn: 'blur' }" required-message="'This field is required..'" validate-on="dirty" required="" aria-invalid="true">
                                 </div>
                                   <label class="email-error ng-binding" ng-show="show_message_email!=''" aria-hidden="false"></label>
                    
                    <label class="email-error"  ng-if="showalert==0">{{emailexitmsg}}</label>                        
                 
                              </div>
                              <div class="col-sm-12">
                                 <div class="form-group">
                                    <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" placeholder="Password*" type="password" id="password" name="password" ng-model="user.password" required-message="'This field is required..'" invalid-message="'Password should have at least 7 characters and at least one uppercase letter. example: Passport34'" ng-pattern="/^$|^(?=.*?[A-Z]).{7,}$/" required="" aria-invalid="true">
                                 </div>
                              </div>
                                <div class="col-sm-12">
                                 <div class="form-group">
                                    <input class="form-control" placeholder="Referral code (optional)" type="text" id="referral_code" name="referral_code" ng-model="user.referral_code">
                                 </div>
                              </div>
                              <div class="col-sm-12">
                                 <div class="form-group">
                                    <input value="Chat with Patients" name="Save" class="btn btn-yellow" type="submit" ng-click="helloW()">
                                 </div>
                              </div>
                        </div>
                        </form>
                        </div>
                     </div>
        </div>
</section>
