<div class="inner-page-header-blank"></div>
<!--inner-page-header-blank for every inner page becouse fixed header hight mentant-->

<section class="innerpage">

<div class="manage-profile-section">
 <div class="container">
  <div class="row clearfix">
  <div class="col-lg-12 clearfix">
   <div class="manage-profile manage-form-style">
   <div class="col-sm-12 manage-profile-headline clearfix">
    <h4 class="headline-change text-center">Change Password</h4>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-6 col-md-offset-3 clearfix">
  <div class="form-group marBot0 clearfix" ng-show="showSuccMsg">
    <div class="{{change_class}} ifsucc_mess">
        {{show_message}}
    </div>
   </div>
   </div>
   <form class="" autocomplete="Off" novalidate angular-validator angular-validator-submit ="changePatientPassword(dentist)"   name="changePassForm" id="changePassForm" action="" method="POST">
     <div class="col-md-6 col-sm-6 col-md-offset-3  col-sm-offset-3 ">
             <div class="col-sm-12 no-pad">
              <div class="form-group">
                  <label>old password</label>
                 
                  <div class=" {{old_password_class}}">
                  <input type="password" class="form-control" placeholder="Enter Old Password"  id="old_password" name="old_password" ng-model="dentist.old_password" required-message="'This field is required..'" required>
                  <label class="password-error" ng-show="show_message_old_password!=''">{{show_message_old_password}}</label>
                    </div>                  
               </div>
             </div> 
           <div class="col-sm-12 no-pad">
              <div class="form-group">
                  <label>new password</label>
                 <input type="password" class="form-control" placeholder="Enter New Password"  id="password" name="password"  ng-model="dentist.password" invalid-message="'Password should have at least 7 characters and at least one uppercase letter. example: Passport34'"  ng-pattern="/^$|^(?=.*?[A-Z]).{7,}$/" required-message="'This field is required..'" required>
               </div>
             </div> 
           <div class="col-sm-12 no-pad">
              <div class="form-group">
                  <label>confirm new password</label>
                 <input type="password" class="form-control" placeholder="Enter Confirm Password"  id="confirm_password" name="confirm_password" ng-model="dentist.confirm_password" invalid-message="'Confirm password doesnot matched..'" required-message="'This field is required..'" ng-required pw-check='password'>
               </div>
             </div> 
        
             <div class="col-sm-12 no-pad">
             <div class="next-btn update-btn">
               <div class="form-group">
               <input name="Next" class="btn btn-next" type="submit">
                 
               </div>
               </div>
             </div> 
          </div>    
     
     </form>
     </div>
    </div>
   </div>
 </div>
</div>
</section>

 