<div class="inner-page-header-blank"></div>
<section class="innerpage">
  <div class="signup-details-section">
<div class="container">
  <div class="row">
   <div class="col-lg-12 no-pad">

<div class="col-md-6 col-sm-12 patient_contaent">
    <h2>Why patients join Dentalchat?</h2>
    <div class="row">
        <div class="col-md-12">
            <p>Start discussing your dental problem(s).</p>
            <ul>
                <li>Free Online Consultation</li>
                <li>Free Online Second Opinion</li>
                <li>Connect with dentists in your community</li>
                <li>Secure, real-time and private messaging</li>
                <li>Receive notifications</li>
                <li><span style="font-style: italic;">My Story</span> - write your dental story with us</li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-12">    
   <div class="form-style">
   <form novalidate angular-validator angular-validator-submit = "patientSignup(patient);"  name="patient_reg_form" id="patient_reg_form" action="" method="POST" autocomplete="Off">
         
         <!--hidden field for POST ID-->
         <input type="hidden" id="patient_id" name="patient_id" ng-model="patient.patient_id" ng-init="patient.patient_id=post_id">
         
         
       <div class="col-sm-12">
        <h2 class="inner-head-line"> Patient Sign Up</h2> 
        <!-- <input id="tst" name="tst" ng-model="tst"  type="checkbox" required-message="'This field is required..'" validate-on="dirty" required> -->
       </div>
       <div class="col-sm-12" ng-show="post_id"><label class="alert alert-danger">Don't refresh the page otherwise you will lose your data</label></div>
       <div class="col-sm-12">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="first-name">
                      <input class="form-control" placeholder="First Name" type="text" id="patient_first_name" name="patient_first_name" invalid-message="'Invalid Name.'" ng-model="patient.first_name" ng-pattern="/^([^0-9]*)$/" invalid-message="'Invalid first name.'" required-message="'This field is required..'" tabindex="1" validate-on="dirty" required>
                    </div>   
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="last-name">
                    <input class="form-control" placeholder="Last Name Initial" type="text" id="patient_last_name" name="patient_last_name" invalid-message="'Invalid Name.'" ng-model="patient.last_name" ng-pattern="/^([^0-9]*)$/" invalid-message="'Invalid last name.'" required-message="'This field is required..'" tabindex="1" validate-on="dirty" required>
                   </div>
                </div>
            </div>
          </div>
       </div>
       <div class="col-sm-12">
        <div class="form-group">
            <input class="form-control" placeholder="Your Email" type="email" id="patient_email" name="patient_email"  ng-model="patient.email" ng-blur="patientEmailCheck('test')" invalid-message="'Invalid email id.'" validator="checkEmail(user.email) == 1"  ng-model-options="{ updateOn: 'blur' }" required-message="'This field is required..'" tabindex="1" validate-on="dirty" required >
            <label class="email-error" style="color:#ff0000;font-weight:bold;" ng-show="show_message_email != ''">{{show_message_email}}</label>
          </div>
       </div>
       <div class="col-sm-12">
        <!--<div class="form-group">-->
         <!--  <div class="first-name">
        <!--     <span class="date-pic">-->
        <!--  <datepicker date-max-limit="{{currentDate}}" date-format="dd-MMM-yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">-->
        <!--    <input class="form-control" ng-model="patient.date_of_birth" name="patient_dob" type="text" placeholder="Date of Birth" readonly="" />-->
        <!--  </datepicker>  -->
        <!--  </span>-->
        <!--   </div> -->
          
             
          
        <!--  </div>   -->
        <div class="form-group">
            <div class="row">
            <div class="col-md-6 col-sm-12">
                  <input type="password" class="form-control" placeholder="Password"  id="patient_password" name="patient_password" ng-model="patient.cpassword" required-message="'This field is required..'" invalid-message="'Password should have at least 7 characters and at least one uppercase letter.'"  ng-pattern="/^$|^(?=.*?[A-Z]).{7,}$/" required  tabindex="2">
              </div>    
             <div class="col-md-6 col-sm-12">
             <select class="form-control" name="patient_gender" ng-model="patient.gender" placeholder="Choose gender">
                  <option value="">Choose gender</option>
                  <option value="1">Male</option>
                  <option value="2">Female</option>
                  <option value="3">Rather not say</option>
              </select>
              </div>
          </div>
          </div>
       </div> 
     <!--  <div class="col-sm-6">
        <div class="form-group">
           <input class="form-control" placeholder="Type of Insurance(optional)" type="text" name="patient_insurance"  ng-model="patient.insurance">
          </div>
       </div>  -->

       <div class="col-sm-6">
        <div class="form-group">
        <!-- 192.168.1.87 -->
           <div vc-recaptcha key="patient.key" name="captcha" ng-model="patient.myRecaptchaResponse" ng-init="patient.key='6LehIR8UAAAAAB2hZ70XwebOQz8ovMq56QvBPU88'" required="true"></div> 
         
       <!--   <div vc-recaptcha key="patient.key" name="captcha" ng-model="patient.myRecaptchaResponse" ng-init="patient.key='6LehIR8UAAAAAB2hZ70XwebOQz8ovMq56QvBPU88'" required="true"></div>  -->
         

            <div class="captcha-error" data-ng-show="patient_reg_form.captcha.$invalid && cappatient.captchavar==1">This field is required.</div> 
        </div>
       </div> 

       
       <div class="col-sm-12">
       <div class="checkbox">
          <input id="patient_checkbox1" name="patient_checkbox" value="1" ng-model="patient_checkbox" type="checkbox" required-message="'This field is required..'" validate-on="dirty" required><label class="checkbox-stylecustomlater" for="patient_checkbox1"><span></span> </label>
          I agree <a ui-sref="terms"> terms </a> of use and <a ui-sref="privacypolicy">  privacy policy. </a> 
      </div>
      </div>
      <div class="col-sm-12">
      <div class="checkbox">
          <input id="patient_checkbox2" name="patient_checkbox2" value="1" ng-model="patient_checkbox2" type="checkbox"  required-message="'This field is required..'" validate-on="dirty" required><label for="patient_checkbox2" class="checkbox-stylecustomlater"><span></span></label>
         Read and accept <a ui-sref="hipaa-authorization">Dentalchat HIPAA Authorization</a>
      </div>
      </div>


      <div class="clearfix"></div>
       <div class="col-md-6 col-sm-12">
        <div class="form-group">
        
           <input value="save & continue" data-ng-disabled="show_email_validation == 1"  name="get started" class="btn btn-yellow" type="submit" ng-click="helloW()">
           <!-- <button type="submit" class="btn btn-yellow" ng-click="helloW()">save & continue</button> -->
          </div>
         
      </div>
      <div class="col-md-6 col-sm-12 signin_dental"  ng-if="!post_id">
          <h4 class="a-signin">Already have an account? <a  ui-sref="patient-login"> Sign In. </a></h4> 
      </div>
      <div class="col-md-6 col-sm-12 signin_dental" ng-if="post_id">
          <h4 class="a-signin">Already have an account? <a href="#" data-toggle="modal" data-target="#myModal"> Sign In. </a></h4> 
      </div>
      </form>
      </div>
    </div>
      
      
    </div>
   </div>
 </div>
 </div>
</section>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sign in Patient Account</h4>
        </div>
        <div class="modal-body">
          <div class="form-style">
    <form class="" autocomplete="Off" novalidate angular-validator angular-validator-submit ="patientLogin(patient);"  name="patient_form" id="patient_form" action="" method="POST">
	    <div class="no-pad">
	      <div ng-show="showErrMsg" class="{{show_class}} iferror_mess">{{show_message}}</div>
	      <div ng-show="showErrMsgVar" class="{{show_class}} iferror_mess">{{show_messagevar}}</div>
	    </div> 
	    <div class="no-pad">
	      <div class="form-group">
	         <!--hidden field for POST ID-->
            <input type="hidden" id="patient_id" name="patient_id" ng-model="patient.patient_id" ng-init="patient.patient_id=post_id">            
	         <input class="form-control" placeholder="Your Email" type="email" id="email" name="email" ng-model-options="{ updateOn: 'blur' }" invalid-message="'Invalid email id..'" ng-model="patient.email" required-message="'This field is required..'" tabindex="1" validate-on="dirty" required>
	        </div>
        </div>
	    <div class="no-pad">
	      <div class="form-group">
	            <input type="password" class="form-control" placeholder="Password"  id="password" name="password" ng-model="patient.password" required-message="'This field is required..'" required  tabindex="2">
	        </div>
	    </div>
	    
	    <div class="clearfix"></div>
	    <div class="no-pad">
	        <div class="form-group">
	           <input value="Sign in" name="Sign in" class="btn btn-yellow" type="submit">
	        </div>
	    </div>
	</form>
	    
     </div>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
      
    </div>
  </div>