<div class="inner-page-header-blank"></div>

<section class="innerpage">
<div class="manage-profile-section">
 <div class="container">
  <div class="row">
  <div class="col-lg-12">
  <div class="edit-profile-tab mar-btm-30">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" >
      <a ui-sref="create-post({})">Create post</a>
      </li>
      <li role="presentation">
      <a ui-sref="my-post({})">My Post</a>
      </li>
      <li role="presentation">
      <a ui-sref="my-message({postId:'all',act:'recent'})" class="tabTxt">Message</a>
      <span class="mcounter_base" ng-if="unreadpostCount &&  unreadpostCount!=0"><a href="javascriptLvoid(0);" class="mcounter">{{unreadChatCounter}} </a></span>
      </li>
    </ul>
  </div>
  <div ng-show="showErrMsg" class="{{show_class}} ifsucc_mess">{{show_message}}</div>
  <form class="" novalidate angular-validator angular-validator-submit = "updatePatientProfile(patient);" name="editPatientProfile" id="editPatientProfile" action="" method="POST" enctype="multipart/form-data">
  
   <div class="manage-profile manage-form-style">
  
   <div class="col-sm-12 manage-profile-headline">
    <h4>manage profile</h4>
    <p>Your profile is the information you’d like to be shown along with your name when you Communicate on DentalChat.com</p>
    <h3>Basic Profile</h3>
  </div>

     <div class="col-sm-6 col-md-4">
      <div class="form-group">
          <label>First Name</label>
         <input class="form-control" type="text" placeholder="Patient First Name" ng-model="patient.name" ng-pattern="/^([^0-9]*)$/" invalid-message="'Invalid first name.'" name="update_first_name" id="update_first_name" validate-on="dirty" required-message="'This field is required..'" required>
          
       </div>
     </div> 

     <div class="col-sm-6 col-md-4">
       <div class="form-group">
          <label>Last Name</label>
         <input class="form-control" type="text" placeholder="Patient Last Name" ng-model="patient.last_name" ng-pattern="/^([^0-9]*)$/" invalid-message="'Invalid last name.'" name="update_last_name" id="update_last_name" validate-on="dirty" required-message="'This field is required..'" required>
       </div>
     </div>

     <!-- <div class="col-sm-6 col-md-4">
       <div class="form-group">
          <label>Date of birth (optional)</label>
          <span class="date-pic">
          <datepicker date-max-limit="{{currentDate}}" date-format="dd-MMM-yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
            <input class="form-control" ng-model="patient.dob" type="text" placeholder="Date of Birth" />
          </datepicker>  
          </span>       
         
       </div>
     </div>   -->
     <div class="col-sm-6 col-md-4">
       <div class="form-group">
          <label>Gender</label>
             <select class="form-control" ng-model="patient.gender" id="gender">
                <option name="" value="0">Please select gender</option>
                <option name="update_male"  ng-selected="patient.gender==1"  value="1">Male</option>
                <option name="update_female" ng-selected="patient.gender==2" value="2">Female</option>
                <option name="update_female" ng-selected="patient.gender==3" value="3">Rather not say</option>
            </select>
       </div>
     </div>
     <div class="col-sm-6 col-md-4">
       <div class="form-group">
          <label>Email Address</label>
         <input class="form-control" type="email" placeholder="Email"  ng-disabled='true' ng-model="patient.email" name="update_email" id="update_email" validator="checkEmail(user.email) == 1" ng-model-options="{ updateOn: 'blur' }" invalid-message="'Invalid email id..'" required-message="'This field is required..'" validate-on="dirty" required>
       </div>
     </div>   


       <div class="col-sm-6 col-md-4">
       <div class="form-group">
          <label>Contact Number</label>
          <div class="country-coad-no"> 
         <div class="country-coad">
          <input class="form-control" type="text" placeholder="+123"  ng-model="patient.country_code" maxlength="4" name="update_conuntry_code" id="update_conuntry_code" ng-pattern ='/^\+?([\d]+)$/' invalid-message ="'Invalid'" required-message="'required.'" ng-model-options="{ updateOn: 'blur' }" validate-on="dirty">
          </div>
          <div class="_co-no"> <span> - </span> </div>
          <div class="contact-no">     
          <input class="form-control" type="text" placeholder="Contact Number"  ng-model="patient.contact" name="update_contact_number" id="update_contact_number" ng-pattern ='/^\+?(\d[\d-. ]+)?(\([\d-. ]+\))?[\d-. ]+\d$/' invalid-message ="'Invalid phone number'"  ng-model-options="{ updateOn: 'blur' }" ng-maxlength="10" validate-on="dirty">
     
        </div>
        </div>
     </div>
     </div>   
             <div class="clearfix"></div>
                 <div class="col-sm-12 ">  
                  <div class="imageupload">
                            <div class="file-tab">
                          <div class="uploadimg-outer">  
                            <div ng-class="patient.image!=''? '':'uploadimg'"><img id="patient_profile_image" src="{{base_url}}uploads/patient_profile_image/{{patient.image}}" alt=""  width="100px"/></div>
                            <button type="button" class="btn delete-button" ng-show="showimgprev" ng-click="delete_image()">
                                 <i class="fa fa-trash-o" aria-hidden="true"></i>
                             </button> 
                          </div>
                          <div class="upload-btn">   
                            <h5>Upload your photo</h5>
                            <p>Image should be at least 300px 300px</p>
                            <p> Upload .png, .jpg, .jpeg type files</p>
                                <label class="btn btn-default btn-file">
                                    <span>Upload Photo</span>
                                    <input name="patient_profile_pics" type="file" id="patient_profile_pics"  file-model="patient.profile_pics"  invalid-message="'Not a valid imamge..'"  validate-on="dirty" >
                                </label>
                          </div>      
                            </div>
                            </div>
                     </div>
          <div class="col-sm-12 next-btn">
           <div class="form-group">
           <input value=" Update" name="Update" class="btn btn-next" type="submit" id="updateProfile">
       </div>
     </div> 
   </div>  
</form>
     
     </div>
    </div>
   </div>
 </div>

</section>
<script>
  document.getElementById("patient_profile_pics").onchange = function () {
    $(':input[type="submit"]').prop('disabled', false);
    if(this.disabled) return alert('File upload not supported!');
    var F = this.files;
    angular.element('#patient_profile_pics').scope().imageUploadPatient(this.files); // For Angular File Upload
    var getimage_id = $(this).attr('id'); 
    if(F && F[0]) for(var i=0; i<F.length; i++) readImage( F[i],getimage_id );

     var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("patient_profile_image").src = e.target.result;        
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
    
  };



  document.getElementById("gender").onchange = function () {
    $(':input[type="submit"]').prop('disabled', false);
  }


  $(document).ready(function() {
     $(':input[type="submit"]').prop('disabled', true);
     $('input[type="text"]').keyup(function() {
        if($(this).val() != '') {
           $(':input[type="submit"]').prop('disabled', false);
        }
     });
 });
</script>
