<div class="inner-page-header-blank"></div>
<!--inner-page-header-blank for every inner page becouse fixed header hight mentant-->

<section class="innerpage">

<div class="signin-section"  ng-init="checkPatientValidUrl();">
 <div class="container">
  <div class="row clearfix">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 clearfix">
   <div class="form-style">
     <div class="col-sm-12 clearfix">
      <h2 class="inner-head-line"> Reset Password </h2>
      <div class="row" ng-show="expiredlink==1">
        <div class="form-group marBot0" ng-show="showErrMsg">
          <div class="{{show_class}}">
          	{{show_message}}
          </div>
        </div> 
      </div>
      <div class="row clearfix" ng-hide="expiredlink==1">
        <div class="form-group marBot0"  ng-show="showErrMsg">
          <div class="{{show_class}} iferror_mess">
            {{show_message}}
          </div>
        </div> 
      </div>
      <div ng-hide="expiredlink==1">
    <form class="form-horizontal" autocomplete="Off" novalidate angular-validator angular-validator-submit = "PatientResetPassword(patient);"  name="forgotForm" id="forgotForm" action="" method="POST">
     <div class="col-sm-12 clearfix">
      <div class="form-group clearfix">       
         <input type="password" class="form-control" placeholder="Password" id="ft_password" name="ft_password" ng-model="patient.password" invalid-message="'Password should have at least 7 characters and at least one uppercase letter. example: Passport34'"  ng-pattern="/^$|^(?=.*?[A-Z]).{7,}$/" required-message="'This field is required..'" required>
      </div>
      <div class="form-group clearfix">         
         <input type="password" class="form-control textfield" placeholder="Confirm Password" id="ft_confirm_password" name="ft_confirm_password" ng-model="patient.confirm_password" required-message="'This field is required..'"  invalid-message="'Confirm password doesnot matched..'" required pw-check='ft_password'>
      </div>
     </div>
     <div class="clearfix"></div>
     <div class="col-sm-12 clearfix">
      <div class="form-group clearfix">
         <input value="Reset" name="Reset" class="btn btn-yellow" type="submit">
        </div>
     </div>
    </form>
    </div>
     </div>
     
     </div>
    </div>
   </div>
 </div>

</section>

 