<div class="inner-page-header-blank"></div>
<!--inner-page-header-blank for every inner page --- header hight mentant-->

<section class="innerpage">
  <div class="signup-details-section" ng-class="postList==1 ? 'mypost-listing-section':''">
<div class="container-fluid">
  <div class="row">
   <div class="col-lg-12">
   <div class="">
       <div class="edit-profile-tab mar-btm-30" ng-class="postList==1 ? 'edit-profile-tab-listing':''">
                <!-- edit profile Nav tabs -->
                
                <!-- edit profile Tab panes -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" >
                    <a ui-sref="create-post({})">Create post</a>
                  </li>
                  <!--<li role="presentation">
                    <a data-target="#createappointment" role="tab" data-toggle="tab" >Request Appointment </a>
                  </li>-->
                  <li role="presentation">
                    <a ui-sref="my-post({})" class="active">My Post</a>
                  </li>
                  <li role="presentation">
                    <a ui-sref="my-message({})">Message </a><span class="mcounter_base"></span>
                  </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="createappointment">
                    <div class="tab-headingBase">
                      <h2 class="tab-heading text-center">Request Appointment</h2>
                    </div> 
                </div>
                  <div role="tabpanel" class="tab-pane active" id="createposttab">
                    <div class="tab-headingBase">
                      <h2 class="tab-heading text-center">Post Details</h2>
                    </div>
                     
                    <div class="container">
                    <div class="col-lg-10 col-md-12 col-sm-12 col-lg-offset-1">  
                       
                       <div class="formSections">
                        <h2>Post date : <span>{{postDetails.posted_date}}</h2>
                        
                         <div class="row form-row">
                          <div class="col-sm-6">
                             <div class="form-group">
              				  <label for="exampleInputEmail1">Emergency</label>
              				  <p class="form-control-static"><span ng-if="postDetails.emergency==1">Yes</span> <span ng-if="postDetails.emergency==0">No</span></p>
              				</div>
                          </div>
                          <div class="col-sm-6">
                           <div class="form-group">
                              <label for="exampleInputEmail1">Pain level</label>
                              <p class="form-control-static">{{postDetails.pain_level}}
                                <span ng-show="postDetails.pain_level==1">(Low)</span>
                                <span ng-show="postDetails.pain_level==5">(Medium)</span>
                                <span ng-show="postDetails.pain_level==10">(High)</span></p>
                            </div> 
                           </div>
                          </div>
                        
                        <div class="row form-row">
                          <div class="col-sm-12">
                            <div class="form-group">
                              <label>Post title</label>
                              <input type="text" class="form-control form-control-yellow" ng-model="postDetails.post_title" name="postTitle" placeholder="Teeth Pain" readonly="true">
                              
                            </div>
                          </div>
                        </div>   
                      <div class="row form-row">
                          <div class="col-sm-12">
                            <div class="form-group">
                              <label>Description</label>  
                              <textarea class="form-control form-control-yellow" style="height:115px;" placeholder="I have pain in my teeth and bleeding from past 2 days" ng-model="postDetails.description" name="description" readonly="true"></textarea>
                             
                            </div>
                          </div>   
                      </div>
                      </div>
                      
                      <div class="formSections">
                        <h2>Location</h2>

                      <div class="row form-row">

                          <div class="col-sm-12">
                            <div class="form-group">
                              <label>Current location</label>
                              <input type="text" class="form-control"  placeholder="465 Andover Court Gurnee, IL 60031" name="currentLocation" ng-model="postDetails.current_location" readonly="true">
                             </div>
                          </div>
                          </div>

                     </div>
                       
                       
                       <div class="formSections">
                        <h2>Appointment</h2> 
                      <div class="row form-row">
                          <div class="col-sm-6">
                             <div class="form-group">
              				  <label for="exampleInputEmail1">Appt. Request</label>
              				  <p class="form-control-static"><span ng-if="postDetails.appointment==1">Yes</span>
                         			 <span ng-if="postDetails.appointment==0">No</span></p>
              				</div>
                          </div>
                         <div class="col-sm-6">
                           <div class="form-group appoint_datetime">
                              <label for="exampleInputEmail1">Appt. Preferred Date & Time</label>
                              <div class="form-control-static"><div ng-if="postDetails.appointment==1">{{postDetails.appointment_datetime}} <span ng-if="postDetails.appointment_time==1">8am - 4pm</span>
                              <span ng-if="postDetails.appointment_time==2">4pm - 12am</span>
                              <span ng-if="postDetails.appointment_time==3">12am - 8am</span>
                              
                              </div>
                              <div ng-if="postDetails.appointment==0">NA</div></div>
                              
                               
                            </div> 
                          </div>
                          </div> 
                          </div>
                        
                        <div class="formSections" ng-show="postDetails.get_attachments.length != 0">
                        <h2>Additional information</h2> 
                           <div class="row form-row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label>Do you have dental insurance ?</label>
                                  <p class="form-control-static"><span ng-if="postDetails.insurance==1">Yes</span><span ng-if="postDetails.insurance==0">No</span></p>
                                </div>
                              </div>
                              <div class="col-sm-6" ng-if="postDetails.insurance==1">
                                <div class="form-group">
                                  <label>insurance Details</label>
                                  <p class="form-control-static">{{postDetails.insurance_information}}</p>
                                </div>
                              </div>
                          </div>
                          
                          <div class="row form-row" ng-if="postDetails.last_cleaning">
                              <div class="col-sm-12">
                                <div class="form-group">
                                  <label>When was the last time you had a Dental prophy / cleaning at a dentist?</label>
                                  <p class="form-control-static">{{postDetails.last_cleaning}}</p>
                                </div>
                              </div>
                          </div>
                          
                           <div class="row form-row">
                              <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Attachment</label>
                                    <div class="row">
                                  <div class="attachbox inline" ng-repeat="items in postDetails.get_attachments">
                                    <div class="">
                                     <img width="200" class="img-responsive" ng-src="{{postAttachmentPath}}uploads/patient_post_attachments/{{items.file_name}}">
                                    </div>
                                  </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                      
                      
                       </div>
                       </div>
                    
                   
                  </div>
                 
                 
                </div>
            </div>

      </div>



    </div>
   </div>
 </div>
 </div>



</section>
<script type="text/javascript">


  

  function readURL(input,id){
      if (input.files && input.files[0]){
          var reader = new FileReader();
          reader.onload = function (e){
              $('#'+id).attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
      }
  }
</script>

<script>

$(function() {
$('.message_update a.moreTxt').click(function() {
  $('.message_update .small').toggleClass('big');
  $('.message_update a.moreTxt').toggleClass('big_left');
  e.preventDefault();

});
});
</script>
