 <section class="promo-bg specialpromo-custom">
            <div class="container">
                <div class="row">
                   <div class="col-lg-12 logo"><a ui-sref="home"><img src="images/logo.png" alt="" ></a></div>
               </div>
               <div class="row">
                  <div class="col-lg-8 promo-left" ng-init="allCms(16)">
                    <p ng-bind-html="cms_details.description | renderhtml"></p>
                  </div>
 
                   <div class="col-lg-4"><!-- old class form-style-outer -->
                   <form  novalidate angular-validator angular-validator-submit = "registerDentist(user);" name="regForm" id="regForm" action="" method="POST" autocomplete="Off" ng-init="user.src_sys='special-promo'">
                     <div class="form-style">
                        <div class="col-sm-12">
                           <!-- <h4> This is a <span>special offer for 3 months</span> to <span>sign up free</span> with us at Dentalchat</h4> -->
                           <h4> 2 months free <span>only the next 100 </span> sign ups <span> get this free listing</span></h4>
                        </div>
                        <div class="col-sm-12">
                           <div class="form-group">
                              <div class="first-name">
                                 <input class="form-control" id="first_name" name="first_name" ng-model="user.first_name" maxlength="30" required-message="'This field is required..'" required placeholder="Dentist First Name*" type="text">
                              </div>
                              <div class="last-name">
                                 <input class="form-control" placeholder="Dentist Last Name*" type="text" id="last_name" name="last_name"  ng-model="user.last_name" maxlength="30" required-message="'This field is required..'" required>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="form-group">
                              <input class="form-control" placeholder="Business Name*" type="text" id="business_name"  name="business_name" ng-model="user.business_name" maxlength="30" required-message="'This field is required..'" required>
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="form-group">
                             <input type="hidden" name="lat" id="place_lat" ng-model="user.lat">
                             <input type="hidden" name="lang" id="place_lng" ng-model="user.lang">
            
                             <input promo-google-autocomplete required
                                         ng-model="user.business_address"
                                         promo-latitude="user.lat" 
                                         promo-longitude="user.lang" 
                                         promo-post-code="user.zip_code" 
                                         promo-city="user.city" 
                                         promo-state="user.state" 
                                         promo-country="user.country"
                                         
                                         type="text" 
                                         name="business_address"
                                         id="business_address"
                                         class="form-control" 
                                         placeholder="Business Address"
                                         aria-describedby="basic-addon1" 
                                         required-message="'This field is required..'">
                          </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="form-group">
                             
                              <div class="first-name">
                                  <input class="form-control" placeholder="Country Code*" type="text" id="country_code" ng-init="user.country_code='+1'" name="country_code" ng-model="user.country_code" maxlength='4' ng-pattern ='/^\+?([\d]+)$/' invalid-message ="'Invalid counry code'" required-message="'This field is required..'" required>
                              </div>
                              <div class="last-name">
                                 <input class="form-control" placeholder="Your Direct Phone Number*" type="text" id="contact_number" name="contact_number" ng-model="user.contact_number" ng-pattern ='/^\+?(\d[\d-. ]+)?(\([\d-. ]+\))?[\d-. ]+\d$/' invalid-message ="'Invalid phone number'" required-message="'This field is required..'" required>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="form-group">
                              <input class="form-control" placeholder="Zip Code*" type="text" id="zipcode" name="zipcode" ng-model="user.zipcode" maxlength="30" required-message="'This field is required..'" >
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="form-group">
                              <input class="form-control" placeholder="Dental License*" type="text" id="dental_license"  name="dental_license" ng-model="user.dental_license" required-message="'This field is required..'" >
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="form-group">
                              <input class="form-control" placeholder="Dental services offered*" type="text" id="dental_services_offered"  name="dental_services_offered" ng-model="user.dental_services_offered" required-message="'This field is required..'" >
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="form-group">
                               <textarea class="form-control" placeholder="Short Description About Office*" id="short_description"  name="short_description" ng-model="user.short_description" required-message="'This field is required..'" ></textarea>
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="form-group email">
                              <input class="form-control" placeholder="Your Email*" type="email" d="email" name="email"  ng-model="user.email" invalid-message="'Invalid email id..'" validator="checkEmail(user.email) == 1" ng-model-options="{ updateOn: 'blur' }" required-message="'This field is required..'" validate-on="dirty" required>
                           </div>
                            <label class="email-error" ng-show="show_message_email!=''">{{show_message_email}}</label>
                        </div>
                        <div class="col-sm-12">
                           <div class="form-group">
                              <input class="form-control" placeholder="Password*" type="password" id="password" name="password" ng-model="user.password" required-message="'This field is required..'" invalid-message="'Password should have at least 7 characters and at least one uppercase letter. example: Passport34'"  ng-pattern=" /^$|^(?=.*?[A-Z]).{7,}$/" required>
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="form-group">
                              <input class="form-control" placeholder="How did you hear about us?" type="text" id="hear_about_us" name="hear_about_us" ng-model="user.hear_about_us" required-message="'This field is required..'" required>
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="checkbox">
                              <input id="patient_checkbox1" name="patient_checkbox" value="1" ng-model="patient_checkbox" type="checkbox" required-message="'This field is required..'" validate-on="dirty" required><label class="checkbox-stylecustomlater" for="patient_checkbox1"><span></span> </label>
                              I agree <a ui-sref="terms"> terms </a> of use and <a ui-sref="privacypolicy">  privacy policy. </a> 
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="checkbox">
                              <input id="patient_checkbox2" name="patient_checkbox2" value="1" ng-model="patient_checkbox2" type="checkbox"  required-message="'This field is required..'" validate-on="dirty" required><label for="patient_checkbox2" class="checkbox-stylecustomlater"><span></span></label>
                             Read and accept <a ui-sref="hipaa-authorization">Dentalchat HIPAA Authorization</a>
                          </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="form-group">
                              <input value="get started" name="get started" class="btn btn-yellow" type="submit">
                           </div>
                        </div>
                  </div>
                  </form>
                  </div>
               </div>
            </div>
      </section>
     