<div class="inner-page-header-blank"></div>
<!--inner-page-header-blank for every inner page becouse fixed header hight mentant-->

<section class="innerpage">

<div class="signin-section">
 <div class="container">
  <div class="row clearfix">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 signin-left-holder">
   <div class="form-style">
     <div class="col-sm-12 clearfix no-pad">
      <h2 class="inner-head-line"> Sign In Dentist Account </h2>
      <h4>Sign into your Dentalchat account</h4>
      <div ng-show="showErrMsg" class="{{show_class}} iferror_mess">{{show_message}}</div>
     </div>
     <form class="" autocomplete="Off" novalidate angular-validator angular-validator-submit = "dentistLogin(user);"  name="loginForm" id="loginForm" action="" method="POST">
     <div class="row clearfix">
     <div class="col-sm-12 clearfix ">
      <div class="form-group">
         <input class="form-control" placeholder="Your Email" type="email" id="email" name="email" ng-model-options="{ updateOn: 'blur' }" validator ='checkEmail(user.email) == 1' invalid-message="'Invalid email id..'" ng-model="user.email" required-message="'This field is required..'" tabindex="1" validate-on="dirty" required>
        </div>
     </div>
     <div class="col-sm-12 clearfix">
      <div class="form-group">
         <input type="password" class="form-control" placeholder="Password"  id="password" name="password" ng-model="user.password" required-message="'This field is required..'" required  tabindex="2">
        </div>
     </div>
      <div class="col-sm-12 text-center clearfix "><a href="" ng-click="redirectPage('dentist-forgotpassword')" class="forgot-pass">Forgot your password?</a></div>

     <div class="clearfix"></div>
     <div class="col-sm-12 clearfix">
      <div class="form-group">
         <input value="Sign in" name="Sign in" class="btn btn-yellow" type="submit">
        </div>
     </div>

      </div>
     </form>
     </div>
    </div><!--end col-->			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 signin-right-holder">   <div class="form-style">     <div class="col-sm-12 clearfix no-pad">      <h2 class="inner-head-line"> Create Dentist Account </h2>	  	    <div class="col-sm-12 clearfix">        <h3>New to Dentalchat?</h3>				<p>Build patient trust, attract local patients and stay connected - Signup is simple and quick.</p> <p>Try us out FREE for 30 days.</p>      <div class="form-group">         <input value="Create an account" name="Create an account" class="btn btn-blue" type="button"  ng-click="redirectPage('dentist-signup')">        </div>     </div>	       </div>     </div>    </div><!--end col-->	
   </div>
 </div>
</div>
</section> 