<div class="inner-page-header-blank"></div>
<!--inner-page-header-blank for every inner page becouse fixed header hight mentant-->

<section class="innerpage">

<div class="signin-section">
 <div class="container">
  <div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
   <div class="form-style">
      <div class="col-sm-12 Successful-registration">
      <div class="table-row">
        <div class="table-cell">
          <h2 class="inner-head-line"> Successful Registration </h2>
          <h4><p>{{reg_success_msg1}}</p><p>{{reg_success_msg2}}</p></h4>
        </div>
      </div>
      </div> 
    </div>
   </div>
   </div>
   </div>
 </div>

</section>   