<!DOCTYPE html>
<html lang="en" ng-app="doctorchat" ng-cloak>
<head>
<base href="/" />
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   
   
<link rel="icon" href="favicon.ico">
<title ng-if="ngMeta.title" ng-bind="ngMeta.title || 'DentalChat is connecting people with nearby dentists. Ask your dental question on Dental Chat.'"></title>
<meta name="description" content="{{ }}"/>
<meta name="keywords" content="{{ngMeta.keywords}}" />

<meta name="description" content="Dental Chat is a one-stop solution for solving any dental-related query. We connect you with verified local dentists & offer best dental practices. Chat NOW!" ng-if="false"/>
<meta name="keywords" content="Dental chat" ng-if="false"/>
<meta name="author" content="Dental Chat">
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="DentalChat is connecting people with nearby dentists. Ask your dental question on Dental Chat."/>
<meta property="og:description" content="Dental Chat is a one-stop solution for solving any dental-related query. We connect you with verified local dentists & offer best dental practices. Chat NOW!"/>
<meta property="og:url" content="https://dentalchat.com"/>
<meta property="og:site_name" content="Dental Chat"/>
<meta property="og:image" content="https://dentalchat.com/images/logo_590.jpg"/>
<meta property="og:image:width" content="590" />
<meta property="og:image:height" content="590" />
<meta name="google-site-verification" content="DeuFF94iQEPM60jwif3VAhUwAiGUL1mlCNXNcL3zW-4" />
<!-- Bootstrap -->
<link href="css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
<!-- Custom CSS -->

<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="sweetalert/dist/sweetalert.css">

<link rel="stylesheet" type="text/css" href="css/autocomplete.css">
<!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="http://720kb.github.io/csshelper/assets/ext/src/helper.css"> -->
  <link rel="stylesheet" href="css/helper.css">
  <link rel="stylesheet" type="text/css" href="css/angular-datepicker.css">
  <link rel="stylesheet" type="text/css" href="css/angular-moment-picker.min.css">

<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link href="css/jquery.mCustomScrollbar.css" rel="stylesheet">
<script src="js/jquery-1.10.2.min.js"></script>

<script src="bower_components/angular/angular.min.js"></script>
<script src="js/angular-ui-router.min.js"></script>


<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-97204597-1', 'auto');
ga('send', 'pageview');

</script>
</head>
<body ng-controller="indexcontroller" ng-class="{'dashboard_chatbox':is_front_logged!=0}"> 

    <page-top></page-top>   
   
    
    	<ui-view></ui-view>
       
	<page-footer ng-show="promoPage==0"></page-footer>
	<page-footer-promo ng-show="promoPage==1"></page-footer-promo>

<div class="body-overay" ng-show="showLoader">
    <div class="body-loder"></div>
</div>
<!--<div class="sitelock-logo" style="position: fixed; z-index: 1000; width: 164px; height: 98px; bottom: 15px; left: 15px;"><a href="#" onclick="window.open('https://www.sitelock.com/verify.php?site=dentalchat.com','SiteLock','width=600,height=600,left=160,top=170');" ><img class="img-responsive" alt="SiteLock" title="SiteLock" src="//shield.sitelock.com/shield/dentalchat.com" /></a></div>-->
<script>
 $( document ).ready(function() {
        window.CCHAT_CONFIG={
        EMBED_TOKEN:"f0a3dc1f865a4b349a11b78282c2ab0f",
        HOST_URL:"https://ai.dentalchat.com/"
        },
        function(){
            var t=document.createElement("script");
            t.type="text/javascript",
            t.async=!0,
            t.src=window.CCHAT_CONFIG.HOST_URL+"assets/bots/widget-loader.js";
            var e=document.getElementsByTagName("script")[0];
            e.parentNode.insertBefore(t,e)
        }(); 
    });
    </script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/angular-touch/angular-touch.min.js"></script>
<script type="text/javascript" src="WebJs/angularjs-dropdown-multiselect.js"></script>

<script src="bower_components/ng-idle/angular-idle.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<!-- <script type="text/javascript" src="https://rawgit.com/pc035860/angular-highlightjs/master/angular-highlightjs.js"></script> -->
<script type="text/javascript" src="js/angular-highlightjs.js"></script>
<!-- <script type="text/javascript" src="http//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script> -->
<script type="text/javascript" src="js/ui-bootstrap-tpls.js"></script>
<script src="js/ng-map.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/Swiper/dist/js/swiper.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<!--<script src="bower_components/oclazyload/dist/ocLazyLoad.js"></script>-->
<script src="bower_components/odometer/odometer.min.js"></script>
<script src="bower_components/angular-odometer/dist/angular-odometer.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-validation-match/dist/angular-validation-match.min.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/angular-tablesort/js/angular-tablesort.js"></script>
<!--<script src="bower_components/tg-angular-validator/dist/angular-validator.min.js"></script>-->
<script src="bower_components/ngSweetAlert/SweetAlert.min.js"></script>
<!-- <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script> -->
<!-- <script src="bower_components/angularjs-datepicker/src/js/angular-datepicker.js"></script> -->
<!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.0/ui-bootstrap-tpls.js"></script> -->
<script type="text/javascript" src="js/angular-datepicker.js"></script>
<script src="sweetalert/dist/sweetalert.min.js"></script>
 
<!-- endbower -->
<script type="text/javascript" src="js/angular-datepicker.js"></script>
<script src="WebJs/angularconfig.js"></script>
<script src="WebJs/config-service.js"></script>
<script src="WebJs/modernizr.js"></script>
<script src="WebJs/imgLiquid-min.js"></script>
<script src="WebJs/angular-validator.min.js"></script>
<script src="js/angular-moment-picker.min.js"></script>
<script src="WebJs/easyResponsiveTabs.js"></script>
<script src="WebJs/responsivetables.js"></script>
<script src="WebJs/masonry-docs.min.js"></script>
<script type="text/javascript" src="WebJs/ngStorage.min.js"></script>

<!-- start code by covetus 2-9-2017 -->
<script type="text/javascript" src="WebJs/Chart.min.js"></script>
<script type="text/javascript" src="WebJs/angular-chart.min.js"></script>

<!-- end code by covetus 2-9-2017 -->

<!-- <script src="WebJs/init.js "></script> -->
<!-- endbuild -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="js/angularjs-social-login.js"></script>

<script type="text/javascript" src="js/autocomplete.js"></script>

<script type="text/javascript" src="js/angular-re-captcha.js"></script>

<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>

<script src="js/init.js"></script>
<script type="text/javascript" src="js/ngMeta.js"></script>
<script src="scripts/app.js "></script>

<!-- include services -->

<script src="scripts/components/pageTop/pageTopService.js"></script>
<script src="scripts/components/pageFooter/pageFooterService.js"></script>
<script src="scripts/pages/home/homeService.js"></script>
<script src="scripts/pages/register/registerService.js"></script>
<script src="scripts/pages/cms/cmsService.js"></script>
<script src="scripts/pages/profile/profileService.js"></script>
<script src="scripts/pages/patient/patientService.js"></script>
<!-- end services -->

<!-- include modules -->

<script src="scripts/components/components.module.js"></script>
<script src="scripts/pages/pages.module.js"></script>
<script src="scripts/pages/home/home.module.js"></script>
<script src="scripts/pages/register/register.module.js"></script>
<script src="scripts/pages/cms/cms.module.js"></script>
<script src="scripts/pages/profile/profile.module.js"></script>
<script src="scripts/pages/patient/patient.module.js"></script>
<!-- end modules -->

<!-- controllers -->

<script src="scripts/components/pageTop/pageTopCtrl.js"></script>
<script src="scripts/components/pageFooter/pageFooterCtrl.js"></script>
<script src="scripts/pages/home/homePageCtrl.js"></script>
<script src="scripts/pages/register/registerPageCtrl.js"></script>
<script src="scripts/pages/cms/cmsPageCtrl.js"></script>
<script src="scripts/pages/profile/profilePageCtrl.js"></script>
<script src="scripts/pages/patient/patientPageCtrl.js"></script>

<script src="scripts/pages/promo/promo.module.js"></script>
<script src="scripts/pages/promo/promoPageCtrl.js"></script>
<!-- end controllers -->

<!-- directives -->

<script src="scripts/components/pageTop/pageTop.directive.js"></script>
<script src="scripts/components/pageFooter/pageFooter.directive.js"></script>
<script src="scripts/common/directives/directive.js"></script>
 
<!-- end directives -->

<!-- angular datepiker -->
<script type="text/javascript" src="bower_components/moment/moment.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>
<!-- angular datepiker -->


<!---Chat-->
<script src="https://dentalchat.com:8005/socket.io/socket.io.js"></script>
<!-- <script src="https://dentalchat.com:8005/socket.io/socket.io.js"></script> -->
<!-- bower:js -->
<script src="bower_components/angular-socket-io/socket.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->

<!-- <script src="scripts/controllers/socket.js"></script>
<script src="scripts/services/socket.js"></script>
<script src="scripts/services/messageformatter.js"></script>
<script src="scripts/directives/chatbox.js"></script> -->
<!--End-->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCECNx6YKAjaYfP9Eq7FXAMB1QmjUKvMZk&libraries=places,geometry"></script>
<!--  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvYVGD7eojVcaW-ZLRe8XYKF2MLYCSGUk&libraries=places,geometry"></script> -->
</body>
</html>
