@charset "utf-8";
@media (max-width:1680px) {
    .home-banner h2,
    .home-banner h3 {
        font-size: 48px;
        line-height: 54px
    }
    .home-banner h2 {
        margin-bottom: 0
    }
    .home-banner p {
        max-width: 700px
    }
    .uou-block-7f .meta span::after {
        content: "•";
        margin: 0 2px
    }
}

@media (max-width:1400px) {
    .scrollBox_left.mCustomScrollbar {
        max-height: 428px!important
    }
    .height-max.scrollBox {
        max-height: 351px!important;
        height: 170px
    }
    .hide_panel .height-max.scrollBox {
        min-height: 415px !important;
        max-height: 415px !important;
    }
    .mTypeBox {
        width: 91%
    }
    .favoriteBox {
        float: right;
        margin: 0 0 0 4px
    }
    .searchBox input.form-control{
            text-overflow: ellipsis;
            padding-right: 32px;
    }
    .message-right-panel .close-chat{
    	line-height: 33px;
    }
    .statistics_graph > .col-lg-6{
        width: 44%;
    }
}

@media (max-width:1366px) {
    .home-banner h2,
    .home-banner h3 {
        font-size: 40px;
        line-height: 50px
    }
    .home-banner h3 {
        margin: 0 0 10px
    }
    .home-banner p {
        margin-bottom: 20px;
        font-size: 17px;
        line-height: 25px
    }
    .home-banner .banner-inner {
        max-width: 600px;
        bottom: 70px
    }
    .message-left-panel h4 {
        font-size: 14px
    }
    .message-left-panel h3,
    .message-left-panel p {
        font-size: 13px
    }
    .messages-icon .span-time {
        font-size: 14px
    }
    .message_update h6 {
        font-size: 18px
    }
    .message_user .user_profileInfo p {
        font-size: 15px
    }
    .edit-profile-tab ul.nav.nav-tabs {
        margin-top: 0
    }
    .message-left-panel .messages-icon .span-time {
        display: block;
        margin-bottom: 0;
        padding-top: 7px
    }
    .edit-profile-tab .tab-content{
        margin-bottom: 0;
    }
    .slider-right{
        right: 0;
    }
    .banner-sub-heading{
        font-size: 36px;
    }
    .message-right-panel .close-chat,.message-right-panel .favoriteIc{
        width: 40px;
        height: 40px;
        background-size: 62% auto !important;
    }
}


@media (min-width:992px) and (max-width:1199px) {
	.site-header .navbar-nav > li > a.btn {font-size: 14px;}
    .site-header .navbar-brand>img {
        width: 100%;
        display: block
    }
    .nav>li>a {
        padding-left: 6px;
        padding-right: 4px
    }
    .site-header .navbar-nav.navbar-right {
        margin-right: 0
    }
    .message-left-panel ul.nav.nav-tabs li {
        padding: 20px 15px
    }
    .message-left-panel ul.nav.nav-tabs li a {
        font-size: 12px
    }
    .messages-img-div {
        width: 30%
    }
    .message_user .user_profileImg,
    .user_profileImg {
        width: 52px;
        height: 52px
    }
    .message-text-div {
        width: 68%
    }
    .message-left-panel .messages-icon {
        width: 100%
    }
    .message-left-panel .messages-icon .span-time {
        display: inline-block;
        padding-top: 6px;
        margin-right: 20px
    }
    .message_update h6 {
        font-size: 15px
    }
    .mTypeBox {
        width: 85%
    }
    .postUser {
        width: 100%
    }
    .post_rightPt,
    .postedBox {
        width: 400px
    }
    .mCSB_inside>.mCSB_container {
        margin-right: 15px
    }
    .favoriteIc,
    .favoriteIc:hover {
        background-size: 60%
    }
    .message_update .small {
        width: 100%
    }
    .message_update a.moreTxt {
        margin-left: 0
    }
    .searchBox input.form-control {
        width: 96%;
        padding-right: 10px;
        text-overflow: ellipsis
    }
}

@media (max-width:1199px) {
    .site-header .navbar-nav.navbar-left {
        margin-left: 17%
    }
    .getaBtn a,
    .home-banner .getaBtn a {
        line-height: 42px;
        font-size: 17px;
        padding: 0 25px
    }
    .home-banner p {
        font-size: 15px;
        line-height: 20px
    }
    .home-banner h2,
    .home-banner h3 {
        font-size: 26px;
        line-height: 30px
    }
    .home-banner .banner-inner {
        max-width: 530px;
        padding: 0 32px;
    }
    .site-header .navbar-brand {
        /*max-width: 165px*/
    }
    .clients_say p,
    .how-works p {
        margin: 0 auto 50px
    }
    .add-more-btn,
    .manage-profile .imageupload .btn-default {
        padding: 8px 12px;
        font-size: 14px
    }
    .postDetails-btn {
        font-size: 13px;
        padding: 8px;
        height: 38px;
        margin-top: 10px;
    }
    ul.ul-details li .trash-btn {
        width: 38px;
        height: 38px
    }
    ul.ul-details li .trash-btn i {
        line-height: 38px
    }
    .form-style .form-control {
        font-size: 14px
    }
    .site-header .navbar-nav.navbar-right>li.dropdown {
        max-width: 140px
    }
    .aftersignup-header.site-header .navbar-nav.navbar-right li {
        padding-left: 0;
        padding-right: 0
    }
    .promo-left {
        padding-right: 36%
    }
    .promp-footer ul li {
        width: 33%
    }
    .promo-bg #regForm .form-style h4 {
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 15px;
        margin-top: 0;
        text-align: center
    }
    .promo-left p ul li {
        font-size: 14px
    }
    .about-text p span {
        font-size: 16px!important
    }
    .switch{
        height: 39px !important;
    }
    .switch .slider::after, input:checked + .slider::after{
        top: 7px !important;
    }
     .banner-left{
        width:40%;
    }
	.banner-heading { font-size: 40px; line-height: 50px;}
	
    .banner-sub-heading span{
        margin-top: 16px;
    }
    /*10-8-2017*/
    .site-header .navbar-nav.navbar-left {
        margin-left: 13%;
    }
    ul.nav.navbar-nav li > a:after{
        visibility: hidden;
    }
    .site-header .navbar-nav>li.nav-list-business {
        padding-right: 0;
    }
    .blogs-text{
        padding: 30px 39px;
    }
    .main-slider{
        background-size: 100% 100%;
    }
    /**/
    .statistics_graph > .col-lg-6{
        width: 100%;
        margin: 0 0 30px 0;
    }
}

@media (max-width:991px) {
    .site-header .navbar-brand {
        top:0px;
        /*max-width: 145px*/
    }
    .how-works .workbox h4 {
        font-size: 16px
    }
    .content-sec.clients_say {
        padding: 30px 0
    }
    .clients_say .clientsayBox {
        padding: 15px
    }
    .service-help ul li:last-child {
        font-size: 26px
    }
    .service-help ul li:first-child {
        font-size: 22px
    }
    .workbox {
        padding-bottom: 20px
    }
    .home-banner h2,
    .home-banner h3 {
        font-size: 29px;
        line-height: 34px
    }
    .home-banner p {
        margin-bottom: 14px
    }
    .site-header .navbar-nav>li.nav-list-business {
        padding-right: 4px
    }
    .manage-profile .datepicker-ul {
        width: 100%
    }
    .manage-profile .cross-btn {
        float: right
    }
    .postDetails-btn {
        border: 2px solid #2e3192;
        border-radius: 4px;
        color: #2e3192;
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        padding: 8px 6px
    }
    .edit-profile-tab ul.nav.nav-tabs {
        padding-left: 0
    }
    .postDetails-btn-div {
        text-align: left
    }
    .service-help ul li:first-child a {
        font-size: 22px
    }
    .service-help ul li:last-child a {
        font-size: 23px
    }
    .aftersignup-header.site-header .navbar-nav.navbar-right li .dropdown {
        font-size: 14px
    }
    .message-left-panel ul.nav.nav-tabs li {
        padding-left: 15px;
        padding-right: 15px
    }
.banner-heading {font-size: 36px; line-height: 40px;margin-bottom: 0;}
	.banner-sub-heading { font-size: 34px; margin-top: 20px;}
	.dentist-button { margin-top: 10px;}
	.banner-right{padding-top: 20px;}
	.dentist-button a{padding: 10px 20px;border-radius: 4px;font-size: 24px;line-height: 22px;}
	
	.site-header .navbar-nav.navbar-left { margin-left: 14%;}
	.site-header .navbar-brand {width: 64px;height: 64px;padding: 12px 5px;}
	
	.title:before, .title:after{
	    display:none;
	}
	.blogs-image img{
	    left: 0;
        width: 100%;
	}
	.blogs-text:before{
	   right: -24px;
	}
	.footer_top{
	   padding: 28px 40px;
	}
	.footer_mid{
	   padding: 14px 40px;
	}
	.footer_mid ul.link-ft li{
	    width:100%;
	}
	.button.btn-white a{
	    width:50%;
	}
	
}

@media (min-width:768px) and (max-width:991px) {
    .site-header .navbar-nav>li>a,
    .site-header .navbar-nav>li>a.btn {
        font-size: 12px;
        padding: 8px
    }
    .nav>li>a {
        padding-left: 8px;
        padding-right: 8px
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin: 0 auto;
        float: none;
        display: table
    }
    .left-panel,
    .messages-img-div {
        margin-bottom: 0px;
        width: 100%
    }
    .contact-no {
        width: 78%
    }
    .left-panel {
        float: none
    }
    .right-panel {
        float: none;
        width: 100%;
        padding-left: 0
    }
    .message-left-panel ul.nav.nav-tabs li {
        padding: 20px 5px;
        float: left
    }
    .message-left-panel ul.nav.nav-tabs li a {
        font-size: 12px
    }
    .message-left-panel ul.nav.nav-tabs li:first-child {
        padding-right: 5px;
        padding-left: 5px
    }
    .messages-img-div .user_profileImg {
        margin: 0 auto 0;
        display: table;
        float: none
    }
    .message_user .user_profileImg,
    .user_profileImg {
        width: 52px;
        height: 52px
    }
    .message-text-div {
        width: 100%;
        padding-left: 0;
        margin-bottom: 10px;
        text-align: center;
    }
    .message-left-panel .messages-icon {
        width: 100%
    }
    .message-left-panel .messages-icon .span-time {
        display: inline-block;
        padding-top: 6px;
        margin-right: 20px
    }
    .message_update h6 {
        font-size: 15px
    }
    .mTypeBox {
        width: 84%;
        padding: 0;
        margin: 0 0 10px
    }
    .sendBox {
        padding: 0;
        width: 62px
    }
    .attech_icBox {
        width: 26px
    }
    .textareaBox textarea {
        padding-left: 45px
    }
    .postUser {
        width: 100%
    }
    .post_rightPt,
    .postedBox {
        width: 270px
    }
    .mCSB_inside>.mCSB_container {
        margin-right: 15px
    }
    .message_user .user_profileImg {
        margin: 0 auto 10px;
        display: table;
        float: none
    }
    .favoriteBox {
        width: 45px;
        height: 45px;
        margin: 0 0 15px
    }
    .favoriteIc,
    .favoriteIc:hover {
        background-size: 60%
    }
    .message_update .small {
        width: 100%
    }
    .message_update a.moreTxt {
        margin-left: 0
    }
    .searchBox input.form-control {
        padding-right: 20px;
        text-overflow: ellipsis;
        width: 95%
    }
    .site-header .navbar-brand {
        /*width: 145px*/
    }
    #regForm .first-name,
    #regForm .last-name {
        width: 100%;
        margin-right: 0
    }
    .edit-profile-tab ul.nav.nav-tabs {
        margin-top: 0
    }
    .inner-page-header-blank {
        height: 90px;
        margin-bottom: 0;
        position: relative;
        width: 100%
    }
    .message-left-panel ul.nav.nav-tabs li {
        width: 100%
    }
    .message-left-panel ul.nav.nav-tabs li a span.number {
        right: 0
    }
    .message-left-panel h4 {
        font-size: 13px;
        margin-bottom: 10px
    }
    .message-left-panel h4 span {
        margin-top: 15px
    }
    .message-left-panel .tab-content ul li {
        margin-bottom: 22px
    }

    .user_profileImg img {
    max-width: 100%;
    display: inline-block;
    }
    .message-right-panel .user_profileImg{
        float: left !important;
    }
    .postDetails-btn{
        margin-top: 0;
    }

   
    .site-header .navbar-right {
    float: right;
    margin-right: 0;
    padding: 8px 0;
    }
    .innerpage{
        padding-top: 60px;
    }
    h2.inner-head-line{
		font-size: 26px;
        padding-bottom: 15px;
		margin-bottom: 25px;
    }
    .home-banner .banner-inner {
    bottom: 49px;
    }
    .home-banner .banner-inner {
    max-width: 380px;
    padding: 0 32px;
    }
    .getaBtn a, .home-banner .getaBtn a {
    font-size: 12px;
    line-height: 30px;
    padding: 0 25px;
    }
    .home-banner p {
    font-size: 14px;
    line-height: 16px;
    }
    .home-banner h2, .home-banner h3 {
    font-size: 16px;
    line-height: 20px;
}
    .slider-right{
        display: none;
    }
    .banner-left,.banner-right {
    width: 100%;
    }
    .banner-content {
    float: left;
    height: auto;
    padding: 65px 0 15px;
    position: relative;
    width: 100%;
}
.banner-sub-heading span {
    margin-top: 0;
}
.dentist-button{
    margin-top: 30px;
}
.site-header .navbar-nav > li > a, .site-header .navbar-nav > li > a.btn{
     padding: 8px 5px;
}
.footer_bottom .footer_socialBox li a {font-size: 16px;}
.footer-block{width: 48%;float: none;display: inline-block;vertical-align: top;}
.footer-block-cnt {margin-bottom: 20px;}

.banner-right .banner-heading {padding-top: 45px;}

#massagetab .span-appointment{
    float: none;
    margin: 0 0 0 0;
    position: relative;
    top: -10px;
}

header.dashboard #navbar ul.nav.navbar-nav.navbar-left {
    margin-top: 25px !important;
    margin-right: 2px;
}
.dashboard #navbar ul {
    padding: 0;
    margin-top: 18px;
}
.dashboard #navbar ul li a {
    font-size: 15px;
}

}

@media (max-width:767px) {
    .navbar-fixed-bottom,
    .navbar-fixed-top,
    .navbar-toggle {
        position: relative
    }
    .navbar-container.fixed-theme .navbar-brand,
    .site-header .navbar-brand,
    .site-header.inner-page-header .navbar-brand {
        max-width: 100px;
        top: 0
    }
    .site-header.inner-page-header.aftersignup-header .navbar-brand {top: 0px;}

	.site-header .navbar-brand{ max-width: none;}
    .site-header .navbar-nav.navbar-left {
        margin: 0
    }
    header .navbar-header .navbar-toggle:focus,
    header .navbar-header .navbar-toggle:hover {
        outline: 0;
        background-color: #2e3192
    }
    header .navbar-header .navbar-toggle {
        background: 0 0;
        margin-right: 10px;
        margin-top: 17px;
        margin-bottom: 16px;
        background: #fff !important;
    }
    header .navbar-header .navbar-toggle .icon-bar {
        background-color: #2e3192 !important;
        height: 3px
    }
    header .navbar-header .navbar-toggle:focus .icon-bar,
    header .navbar-header .navbar-toggle:hover .icon-bar {
        background-color: #fff011
    }
    .home-banner {
        padding: 0 0 10px
    }
    .navbar-fixed-top .navbar-collapse {
        background: #2e3192;
        position: relative;
        border-top: 1px solid #ccc;
        max-height: inherit
    }
    .navbar-toggle {
        float: right;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px
    }
    .date-pic,
    ul.signin-social {
        display: inline-block
    }
    .site-header .navbar-nav>li>a {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        margin: 0 auto 5px
    }
    .site-header .navbar-nav>li>a:hover {
        background-color: #2e3192!important;
        color: #fff
    }
    .site-header .navbar-nav.navbar-right>li a {
        width: 100%;
        margin: 0 auto 5px;
        margin-right: auto;
        float: left;
    }
    .navbar-right .nav-dbl .btn-sign-secondary a:first-child::before {
    
        display:none;
    }
    .site-header .navbar-nav>li.nav-list-business a.btn:hover {
    background-color: transparent !important;
    color: #00a2e2 !important;
}
    .site-header .navbar-nav>li.nav-list-business {
        padding-right: 0
    }
    .site-header .navbar-nav {
        margin: 0 auto;
        padding: 0
    }
    .clients_say p,
    .how-works p,
    .workbox .work_imgbox {
        margin-bottom: 20px
    }
    .site-header .navbar-nav.navbar-right {
        text-align: center
    }
    .site-header .navbar-nav.navbar-right li {
        width: 100%;
        text-align: left;
    }
    .home-banner .swiper-zoom-container>img {
        width: 100%;
        height: 400px;
        object-fit: cover
    }
    .navbar-container,
    .navbar-container.fixed-theme {
        padding-top: 0;
        padding-bottom: 0
    }
    .workbox {
        padding-top: 20px
    }
    .service-help ul li:first-child {
        line-height: 18px
    }
    .service-help ul li:last-child {
        font-size: 22px
    }
    .inner-page-header-blank {
        height: 0
    }
    .form-style .form-group {
        margin-bottom: 30px;
        display: inline-block;
        width: 100%
    }
    ul.signin-social {
        margin: 0 auto 80px
    }
    .manage-profile-section ul.step li {
        margin: 0 5px
    }
    .manage-profile .datepicker-ul {
        margin-bottom: 50px;
        float: left
    }
    .manage-profile.manage-form-style .row .col-sm-4 .imageupload {
        padding-left: 15px
    }
    .manage-profile .imageupload .btn-default.add-more-btn {
        margin-top: 20px
    }
    .left-btn-row a {
        margin-left: 6px
    }
    .edit-profile-tab .nav-tabs>li,
    .edit-profile-tab .nav-tabs>li:first-child,
    .message_update a.moreTxt {
        margin-left: 0
    }
    .postDetails-btn {
        font-size: 13px;
        padding: 7px 10px
    }
    .right-panel {
        float: left;
        padding-left: 20px;
        width: 74%
    }
    .left-panel {
        float: left;
        width: 26%
    }
    .edit-profile-tab .nav-tabs>li a {
        line-height: 16px
    }
    .favoriteIc,
    .favoriteIc:hover {
        background-size: 60%
    }
    .favoriteBox {
        height: 45px;
        width: 45px
    }
    .date-pic,
    .message_update .small {
        width: 100%
    }
    .service-help ul li:first-child a,
    .service-help ul li:last-child a {
        font-size: 16px
    }
    .first-name,
    .last-name {
        margin-bottom: 0
    }
    .no-pad-r {
        padding-right: 15px
    }
    h2.inner-head-line {
        font-size: 22px;
        margin-bottom: 10px
    }
    .form-style .btn,
    .signin-section h4 {
        font-size: 16px
    }
    .manage-profile .form-group {
        float: none
    }
    .country-coad-no {
        margin-bottom: 30px
    }
    .btn-back,
    .btn-pre,
    .innerpage .btn-next {
        margin: 5px;
        font-size: 16px
    }
    .manage-profile .btn-default.add-more-btn i {
        font-size: 14px
    }
    .aftersignup-header.site-header .navbar-nav.navbar-right li {
        padding: 3px 8px
    }
    .post-list-row .panel-body {
        padding: 10px;
    }
    .site-header .navbar-nav .open .dropdown-menu {        
        border: 1px solid #f1f1f1
    }
    .site-header .navbar-nav.navbar-right>li .message-icon a {
        width: auto
    }
    .promo-left {
        padding-right: 15px
    }
    .promo-bg .form-style-outer {
        bottom: 0;
        float: left;
        margin-bottom: 20px;
        padding: 0 15px;
        position: inherit;
        right: 0;
        width: 100%
    }
    .promo-bg .form-style .btn {
        line-height: 45px
    }
    .promo-bg .form-style .form-group {
        margin-bottom: 20px
    }
    .promo-left p ul li {
        font-size: 15px
    }
    .promo-left p ul {
        margin: 12px 0
    }
    .about_us-section .about-text {
        padding-top: 0
    }
    .edit-profile-tab ul.nav.nav-tabs {
        margin-top: -18px
    }
    .message-text-div h4 {
        margin-top: 4px
    }
    .message-left-panel ul.nav.nav-tabs li {
        padding: 20px 10px;
    }
    .message-left-panel ul.nav.nav-tabs li a span.number {
        right: 0
    }
    .about-text h3 {
        font-size: 18px;
        line-height: 28px
    }
    .mTypeBox {
        float: left;
        padding: 0;
        position: relative;
        width: 88%
    }
    .post_rightPt {
        margin: 0;
        width: 70%
    }
    .postedBox {
        width: 97%
    }
    .otherUser {
        height: auto;
        width: 100%
    }
    .postDetails-btn{
        margin-top: 0;
    }
    .dropup, .dropdown {
    position: relative;
    text-align: left;
    }

    .slider-right {
    display: none;
    right: 0;
    }
    .banner-content{
        height: auto;
        padding: 15px 0;
    }
    .banner-left,.banner-right {
    width: 100%;
    }
    .banner-sub-heading span {
    margin-top: 0;
    }
    .banner-sub-heading span {
    margin-top: 0;
    }
    .home-banner {
    padding: 15px 0 37px;
    }
    .scrollBox_left{
        height: auto !important;
    }

	.footer-block h4{margin-bottom:10px;}
    .footer_top ul {margin: 0 0 10px;}
    .footer-block-cnt {margin-bottom: 10px;}
    .footer-block-cnt .ft-btn{margin-bottom:10px;}
    .footer_bottom .footer_socialBox {float: none;margin-top: 15px;}
    .footer_bottom ul{display: block; text-align: center;}
    .footer_bottom ul li{float: none; display: inline-block;}
    .footer_bottom{padding: 20px 0;}
    .footer-block{width: 48%;float: none;display: inline-block;vertical-align: top;}
    .banner-right .banner-heading {padding-top: 40px;}
    .site-header .navbar-brand {width: 98px;height: 68px;left: 15px;padding: 0px 5px;}
    .signin-right-holder { padding-left: 15px;}
    .signin-left-holder { padding-right: 15px;}
    .site-header.aftersignup-header .navbar-nav.navbar-left {display: block;text-align: center;}
    .message-left-panel{margin-bottom: 15px;}
    
    .site-header .navbar{
        min-height: auto;
    }
    .main-slider{
        margin: 0px 0 50px 0;
    }
    .main-slider{
        background-image: none;
        background: #f9f9f9;
    }
    #pc-img > img {
        width: 50%;
        margin: 0 auto;
    }
    #customeslider {
        padding: 20px 0 0 0;
    }
    
    /*9-Oct-2017*/
    .site-header .navbar-brand {
        width: 90px;
        top: 0;
        height: 62px;
        text-align: center;
        padding: 0px 0 0 5px;
    }
    .newdropdown > .text-right {
        text-align: left;
        font-size: 19px;
        margin-bottom: 4px;
    }
    .button.btn-white a {
        width: 90%;
        font-size: 24px !important;
        font-weight: 300 !important;
    }
    .chatMobile + .tab-content {
        display: none;
    }
    .toggle_area  .whiteBox.hide_div {
        display: none;
    }
    .toggle_area.hide_panel  .whiteBox.hide_div {
        display: block;
    }
    .mTypeBox .textareaBox textarea {
        padding: 5px 60px 9px 20px;
        max-height: 54px;
    }
    .aftersignup-header.site-header .navbar-nav.navbar-right li .dropdown, .aftersignup-header.site-header .navbar-nav.navbar-right li .profile-img {
        vertical-align: top;        
    }
    header.aftersignup-header ul.nav.navbar-nav.navbar-right.ng-scope {
        float: none !important;
    }
    .site-header .navbar-nav .open .dropdown-menu {
        margin: 0px !important;
    }    
    .aftersignup-header.site-header .navbar-nav.navbar-right ul.dropdown-menu li a {
        color: #fff;
    }
    .aftersignup-header.site-header .navbar-nav.navbar-right ul.dropdown-menu li a:hover, .aftersignup-header.site-header .navbar-nav.navbar-right ul.dropdown-menu li a:focus {
        color: #000;
    }
}

@media (max-width:680px) {
    .about_us-section .about-img {
        width: auto
    }
    .about_us-section .about-text {
        width: 100%;
        display: inline-block
    }
    .contact-edit {
        padding-top: 18px
    }
    .inr-hdline {
        color: #3b3b3b;
        font-size: 18px;
        margin-bottom: 12px;
        text-transform: uppercase
    }
    .message-right-panel .close-chat {
        background: #ffe9e9;
        border: 2px solid #e81111;
        border-radius: 100%;
        color: #e81111;
        display: inline-block;
        font-size: 33px;
        height: 40px;
        line-height: 24px;
        text-align: center;
        width: 40px
    }
    .message-right-panel .favoriteIc {
        background: url(../images/favorite_ic.png) center center/23px auto no-repeat #ffe9e9;
        border: 2px solid #e81111;
        border-radius: 50%;
        display: table;
        height: 40px;
        margin-top: 0;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        width: 40px
    }
    .favoriteBox {
        float: right;
        margin: 0
    }
    .post_rightPt {
        margin: 0;
        width: 64%
    }
    .postedBox {
        width: 99%
    }
    .mTypeBox {
        width: 88%
    }
    .site-header .navbar-nav.navbar-right > li .message-icon{
        width: 100%;
        margin: 0;
    }
	.banner-heading{font-size: 40px; margin-bottom: 0;}
    .dentist-button { margin-top: 26px;}
    
	
}

@media (max-width:640px) {
    .mTypeBox {
        width: 83%
    }
    .message_user .user_profileImg,
    .user_profileImg {
        width: 64px;
        height: 64px
    }
    .mCSB_inside>.mCSB_container {
        margin-right: 15px
    }
    .message-text-div {
        width: 80%;
        padding-right: 10px;
        padding-left: 22px
    }
    .message-left-panel .messages-icon {
        padding-right: 0;
        width: 100%
    }
    .edit-profile-tab .form-group label span, .manage-profile label span{
        display: block;
        float: left;
        width: 100%;
    }
}

@media (max-width:600px) {
    .service-help ul {
        display: block
    }
    .service-help ul li {
        display: inline-block;
        width: 100%
    }
    .service-help ul li:first-child {
        padding-bottom: 15px;
        margin-bottom: 5px
    }
    .service-help ul li:first-child::after {
        right: 0;
        left: 0;
        bottom: 0;
        top: auto;
        width: 20px;
        height: 2px;
        margin: auto
    }
    .first-name,
    .last-name {
        float: left;
        width: 100%
    }
    .first-name {
        margin-right: 0;
        margin-bottom: 30px
    }
    ul.signin-social li {
        width: 100%;
        margin: 0 0 5px
    }
    .manage-profile .form-left {
        width: 85%;
        padding-right: 15px
    }
    .manage-profile .form-right {
        width: 13%
    }
    .manage-profile .imageupload .btn-default.add-more-btn i {
        margin-right: 10px
    }
    .postDetails-btn {
        font-size: 11px;
        padding: 9px 6px
    }
    .manage-form6 .multiselect-parent .btn.btn-default {
        padding-right: 20px
    }
	.banner-right .banner-heading { padding-top: 25px;}
	
	/*9-Oct-2017*/
	.teletype, .subtext {
        font-size: 22px;
    }
    .teletype {
        margin: 28px 0 0 0;
    }
    .main-slider .button > a{
        font-size: 15px;
        margin: 12px 0 0 3px;
        max-width: 154px;
    }
	
}

@media (max-width:480px) {
    .home-banner .getaBtn a {
        font-size: 16px;
        line-height: 35px
    }
    .home-banner {
        margin-bottom: 30px
    }
    ,
    .content-sec.clients_say,
    .content-sec.how-works {
        padding: 30px 0
    }
    .site-header .navbar-nav>li.nav-login a,
    .site-header .navbar-nav>li.nav-login a:hover,
    .site-header .navbar-nav>li.nav-signup a,
    .site-header .navbar-nav>li.nav-signup a:hover {
        font-size: 14px
    }
    .manage-profile-section ul.step li {
        margin: 0 3px;
        height: 30px;
        width: 30px;
        line-height: 27px
    }
    .manage-profile .datepicker-ul {
        width: 100%
    }
    .manage-profile.manage-form6 .form-left {
        width: 85%
    }
    .manage-profile.manage-form6 .form-right {
        width: 13%
    }
    .left-panel {
        float: none;
        margin-bottom: 10px;
        width: 100%
    }
    .right-panel {
        float: none;
        width: 100%;
        padding-left: 0
    }
    .mTypeBox {
        width: 78%;
        padding: 0;
        margin: 0 0 10px;
        overflow: hidden;
    }
    .postUser {
        width: 100%
    }
    .post_rightPt,
    .postedBox {
        width: 250px
    }
    .mCSB_inside>.mCSB_container {
        margin-right: 15px
    }
    .message_user .user_profileImg {
        margin: 0 auto 10px;
        display: table;
        float: none
    }
    .service-help {
        padding: 20px 0
    }
    .service-help ul li:first-child a {
        font-size: 17px;
        margin-bottom: 0
    }
    .service-help ul li:last-child a {
        font-size: 18px
    }
    .service-help ul li {
        padding: 0 10px
    }
    .footer_top ul li {
        padding: 0;
    }
    .footer_top ul.link-ft li a {
        font-size: 13px;
		padding: 3px 0;
    }
	.footer_top ul.link-ft li:first-child a {
    padding: 0 0 3px 0;}
	
    .signin-section h2.inner-head-line {
        font-size: 22px
    }
    .contact-no {
        width: 80%
    }
    .edit-profile-tab>ul.nav.nav-tabs>li {
        padding: 0
    }
    .edit-profile-tab .nav-tabs>li,
    .edit-profile-tab .nav-tabs>li:first-child {
        margin-left: 0
    }
    .edit-profile-tab .nav-tabs>li a {
        font-size: 14px
    }
    .message-left-panel ul.nav.nav-tabs li {
        padding: 20px 10px
    }
    .message-left-panel ul.nav.nav-tabs li a {
        font-size: 13px
    }
    .promo-left a {
        display: block;
        text-align: center
    }
    .promp-footer .div-table .div-tbl-cell {
        display: block;
        padding: 5px
    }
    .promp-footer ul li {
        text-align: center;
        width: 33%
    }
    .promo-left p ul li span {
        width: 100%
    }
    .innerpage .next-btn {
        padding: 0 0 20px;
        text-align: center
    }
    .message-text-div {
        padding-right: 10px;
        width: 68%
    }
    .edit-profile-tab .tab-content {
        margin-bottom: 0
    }

    .banner-heading{
        font-size: 30px;
        line-height: 41px;
    }
	.dentist-button a{padding: 10px 20px;font-size: 20px;border: 2px solid #00a2e2;}
	
	.banner-right{padding-top: 20px;}
	.banner-logo-holder { width: 120px; height: 120px;}
	.banner-right .banner-heading {margin-bottom: 0;}
	
    .banner-sub-heading {
    font-size: 24px;
    line-height: 26px;
	margin-top: 0;
    }
    
    .dentist-button {
    float: left;
    margin-top: 22px;
}
.textareaBox textarea{
    padding: 20px 54px 20px 20px;
    font-size: 14px;
}
.postImgBox{
	width: 100% !important;
}
.postImgBox img{
	width: 100% !important;
}
.footer-block{width: 100%;}
}

@media (max-width:360px) {
    .message-left-panel ul.nav.nav-tabs li {
        padding: 20px 10px;
        float: left
    }
    .message-left-panel ul.nav.nav-tabs li:first-child {
        padding-right: 10px;
        padding-left: 10px
    }
    .attech_icBox {
        width: 24px;
        top: 18px;
    	right: 10px;
    }
    .sendBox {
        width: 62px;
        padding-left: 0
    }
    .message_user .col-md-8.col-sm-12.col-xs-7 {
        width: 100%;
        margin-bottom: 15px
    }
    .message_user .col-md-2.col-sm-12.col-xs-2 {
        width: 100%
    }
    .message_user .favoriteBox {
        margin: 0 0 15px
    }
    .searchBox input.form-control {
        width: 95%;
        padding-right: 15px;
        text-overflow: ellipsis
    }
    .contact-no {
        width: 75%
    }
    .div-table .div-tbl-cell h4 {
        font-size: 15px
    }
    .messages-img-div {
        float: left;
        text-align: center;
        width: 30%
    }
    .post_rightPt,
    .postedBox,
    .user_profileImg img {
        width: 100%
    }
    .message-left-panel .messages-icon {
        float: right;
        width: 100%
    }
    .message-left-panel h4 {
        font-size: 14px;
        line-height: 24px
    }
    .message-left-panel ul.nav.nav-tabs li a {
        font-size: 13px
    }
    header .navbar-header .navbar-toggle {
        margin-top: 10px
    }
    .contact-edit h2 {
        text-align: left;
        margin: 0 auto 18px
    }
    .inr-hdline {
        line-height: 28px;
        font-size: 16px
    }
    .favoriteBox {
        float: left;
    }
    .mTypeBox {
        margin: 0 0 10px;
        padding: 0;
        width: 72%;
        overflow: hidden;
        position: relative;
    }
    .edit-profile-tab .tab-content {
        margin-bottom: 0
    }
    .textareaBox textarea {
        padding-left: 14px;
        text-overflow: ellipsis
    }
    .footer_bottom ul li a {
        font-size: 12px
    }
    .footer_bottom ul {
        margin-bottom: 5px
    }
    .site-header .navbar-brand>img {
        height: auto;
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
            }
    .site-header .navbar-brand {
        width: 82px;
        top: 0;
        height: 62px;
        text-align: center;
        padding: 0;
        margin-left: 6px;
    }
    .site-header .navbar-nav.navbar-right>li .message-icon {
        margin-left: 0;
        margin-right: 0;
        width: 100%
    }
    .message-left-panel .messages-icon .span-time {
    display: inline-block;
    margin-bottom: 0;
    padding-top: 7px;
    padding-right: 16px;
    }
    .edit-profile-tab .nav-tabs > li a {
    font-size: 12px;
    }
    .home-banner h2, .home-banner h3 {
    font-size: 22px;
    line-height: 26px;
    }
    .textareaBox textarea{
    padding: 20px 15px 20px 15px;
    font-size: 11px;
}
.banner-right .banner-heading { padding-top: 15px;font-size: 24px; line-height: 30px;}
.banner-logo-holder { width: 90px; height: 90px;}
}