@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
body { font-family: 'Lato', sans-serif; font-size: 16px; color: #8f9196; background: #eef3fa; }

.navbar-container { padding-top: 2px; padding-bottom: 2px;}
.navbar.navbar-fixed-top.fixed-theme { background-color: #fff}
.navbar-container.fixed-theme { padding-top: 0px; padding-bottom: 0px;}
.navbar-brand.fixed-theme, .navbar-container.fixed-theme, .navbar.navbar-fixed-top.fixed-theme, .navbar-brand,.navbar-container{ transition: 0.8s;
  -webkit-transition:  0.8s;}
.site-header.fixed-theme .navbar-brand{max-width: 130px;top: 0px;}
.swiper-container, .swiper-container2 {overflow: hidden;}
.swiper-pagination-bullet { width: 12px; height: 12px; background: #2e3192; opacity: 1;}
.swiper-pagination-bullet-active {background: #fff011;}
.modal-open .navbar-fixed-top{ padding-right: 17px;}
.no-pad{ padding-left: 0px; padding-right: 0px; }
a { transition: all ease-in-out 200ms;}
.border0 { border: 0; }
.site-header.header_addfx .navbar { box-shadow: 0 -1px 4px #2989ce; }
.site-header .navbar{ background: #fff; border: none; margin: 0;}
.site-header .navbar-brand{height: auto; padding-top: 0px; padding-bottom: 0px; max-width: 210px; position: absolute; top: 20px;}
.site-header .navbar-brand > img { max-width: 100%; }
.site-header .navbar-nav.navbar-left{ margin-left: 27%; }
.site-header .navbar-nav { font-size: 15px; font-weight: 700; text-transform: uppercase; padding: 15px 0;}
.site-header .navbar-nav > li > a { background: none  !important; color: #3b3b3b; padding-top: 10px; padding-bottom: 10px; }
.site-header .navbar-nav > li > a:hover,
.site-header .navbar-nav > li.active > a {color: #2e3192; font-weight: 700; }
.site-header .navbar-nav > li > a.btn { font-size: 15px; font-weight: 700; }
.site-header .navbar-nav.navbar-right li{ float:none; display: inline-block; padding: 0 2px;}
.site-header .navbar-nav.navbar-right li a{border: 2px solid; padding: 8px 12px; }
.site-header .navbar-nav > li.nav-login > a.btn.btn-cta-secondary { border-color:#2e3192; background: #2e3192 !important; color: #fff; }
.site-header .navbar-nav > li.nav-login > a.btn.btn-cta-secondary :hover {background: none !important; color: #2e3192;}
.site-header .navbar-nav > li.nav-signup > a.btn.btn-sign-secondary { background: none !important; border-color:#2e3192; color: #2e3192;}
.site-header .navbar-nav > li.nav-signup > a.btn.btn-sign-secondary:hover { background: #2e3192 !important; border-color:#2e3192; color: #fff;}
.site-header .navbar-nav > li.nav-list-business a.btn{ border-color: #d5d8dd;}
.site-header .navbar-nav > li.nav-list-business a.btn:hover{ background-color: transparent; }
.site-header .navbar-nav > li.nav-list-business{ padding-right: 10px; }

/**/
.home-banner {padding: 70px 0 40px; position: relative; }
.home-banner h2 { font-family: 'Open Sans', sans-serif; font-size: 58px; line-height: 54px; color: #fff; text-align: center; font-weight:300; padding: 0;  }
.home-banner h3{font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 58px; line-height: 64px; color: #fff; margin: 0px 0 25px 0;}
.home-banner p { max-width: 814px; font-size: 20px; line-height: 28px; color: #fff; text-align: center; font-weight: 300; padding: 0; margin: 0 auto 35px;}
.home-banner .getaBtn, .getaBtn { margin: 0 auto; display: table; }
.home-banner .getaBtn a, .getaBtn a { background: #fff011; border: 2px solid #fff011; font-size: 20px; line-height: 51px; color: #2e3192; text-align: center; font-weight: 700; padding: 0 29px; margin: 0 auto; display: block; text-decoration: none; text-transform: uppercase; text-shadow: 1px 0 1px #438e1a; cursor: pointer; border-radius: 4px; }
.home-banner .getaBtn a:hover, .getaBtn a:hover { background: none; color: #2e3192; text-shadow: none; color: #fff011;}
.home-banner .swiper-container .swiper-pagination { bottom: 20px; }
.home-banner .swiper-pagination-bullet { width: 12px; height: 12px; }
.home-banner .swiper-pagination-bullet-active {background: #fff011;}
.home-banner .banner-inner{text-align: center; position: absolute; bottom: 90px; z-index: 3; left: 0; right: 0; margin: auto; max-width: 814px; }
.home-banner .swiper-pagination-white .swiper-pagination-bullet{background: #2e3192;}
.home-banner .swiper-button-prev, .home-banner .swiper-button-next{ display: none; }

/**/
.content-sec.how-works, .content-sec.clients_say{ width: 100%; padding: 50px 0; /*background-color: #fff; */overflow: hidden; }
.how-works h2, .about-info h2, .clients_say h2, .sponsor_sec h2 {font-size: 24px; line-height: 34px; color: #3b3b3b; text-align: center; font-weight: 400; padding: 0; margin: 0px 0 20px 0;}
.how-works p, .clients_say p { max-width: 782px; font-size: 16px; line-height: 24px; color: #8f9196; text-align: center; font-weight: 400; padding: 0; margin: 0 auto 100px auto; }
.workbox { width: 100%; position: relative; padding-bottom: 40px; }
.workbox .work_imgbox { width: 170px; height: 160px; background-color: #29308a; border: 10px solid #fff; border-radius: 50%; margin:  0 auto 30px auto; display: table; }
.workbox .work_imgbox .work_imginbox { height: 150px; display: table-cell; vertical-align:  middle; }
.workbox .work_imgbox .work_imginbox img { width: 40%; display:  block; margin: 0 auto;transition: transform .8s ease-in-out; }
.workbox .work_imgbox .work_imginbox:hover img {transform: rotate(360deg); webkit-transform: rotate(360deg); transition: transform .8s ease-in-out;}
.how-works .workbox h4 { font-size: 18px; line-height: 24px; color: #3b3b3b; font-weight: 700; text-align: center; text-transform: uppercase; padding: 0; margin: 0 0 10px 0; }
.how-works .workbox p {font-size: 16px; line-height: 24px; color: #8f9196; font-weight: 400; text-align: center; padding: 0; margin: 0 auto 20px auto;}
.workbox:hover .work_imgbox{ box-shadow: 0 0 2px 2px #eeeff6; border-color: #fff;  }
.workbox:after{content: ""; background: #ccc; height: 100%; width: 1px; position: absolute; right: -15px; top: 0; bottom: auto;}
.workbox-bdr:last-child .workbox:after{ display: none; }
.workbox-bdr{ border-bottom:1px solid #ccc;}

/*clients_say*/
.content-sec.clients_say { padding: 60px 0 50px;}
.clients_say h2 { margin-bottom: 40px; }
.clients_say .clientsayBox { position: relative; border: 1px solid #dedede; padding: 30px; border-radius: 5px; background: #fff; /* overflow: hidden;*/ }
.clients_say .clientsayBox p { height: 96px; font-size: 16px; line-height: 24px; color: #8f9196; text-align:  left; font-weight: 400; margin: 0 0 15px 0; overflow: hidden; }
.clients_say .clientsayBox h5 { font-size: 18px; color: #8f9196; font-weight: 700; margin: 0 0 5px 0; }
.clients_say .clientsayBox p.designation { height: auto; margin: 0; color: #3b3b3b; font-weight: 300; }
.clients_say .swiper-container{ padding-bottom: 60px; }
.clients_say .clientsayBox:hover{border: 1px solid #2e3192;} 
.clients_say .clientsayBox:hover p , .clients_say .clientsayBox:hover h5 , .clients_say .clientsayBox:hover p.designation{ color:#2e3192;}
.clients_say .swiper-container .swiper-pagination { bottom: 0px; }
.clients_say .clientsayBox:after{ content: ""; display: block; background: #fff;; width: 24px; height: 13px; border:1px solid ;  border-color: #fff #dedede #dedede #fff;
position: absolute; bottom: -7px; right: 20%;  transform: skew(0deg,28deg); z-index: 9999; opacity: 1;}
.clients_say .clientsayBox:hover:after{border-color: #fff #2e3192 #2e3192 #fff;}

/*service-help*/
.service-help{ background: url(../images/footer-bg.jpg) no-repeat center; background-size: cover; padding: 40px 0; }
.service-help{ color: #3b3b3b; }
.service-help ul{ text-align: center; display: table; margin: 0 auto; padding: 0px;  }
.service-help ul li{ list-style: none; display:table-cell; padding: 0 20px; text-align: center; position: relative; line-height: 37px;}
.service-help ul li:first-child{ font-size: 29px; }
.service-help ul li:last-child{ font-size: 35px; font-weight: 700; }
.service-help ul li:first-child:after{ content: ""; display: block; background: #3b3b3b; height: 85%; width: 2px; position: absolute; right: 0; top: auto; bottom: 0; }
.service-help ul li a{ color: #3b3b3b; text-decoration: none; }
/*footer*/
.footer_top { width: 100%; height: auto; background-color: #00234b; padding: 28px 0; margin: 0; overflow:  hidden; border-top:#e5e5e5; border-bottom: 1px solid #0f2e53; }
.footer_top h5 { font-size: 15px; line-height: 28px; color: #c0c0c0; text-align: left; font-weight: 900; text-transform: uppercase; padding: 0; margin: 0 0 10px 0; }
.footer_top ul { padding: 0; margin: 0 0 20px 0; display:block; text-align: center; }
.footer_top ul li {padding: 0 20px; margin: 0 0px 0 0; list-style-type: none; display: inline-block; position: relative;}
.footer_top ul.link-ft li a { text-transform: uppercase; font-size: 16px; line-height: 36px; color:rgba(167,174,255,0.4); text-align: left; font-weight: 500; padding: 0; margin: 0; text-decoration: none; }
.footer_top ul.link-ft li a:hover { color: rgba(255,240,17,0.4); }
.footer_top ul.link-ft li:after{content: ""; display: block; background:rgba(167,174,255,0.4); height: 20px; width: 2px; position: absolute; right: 0; top: 0; bottom: 0; margin: auto;}
.footer_top ul.link-ft li:last-child:after{ display: none; }
.footer_top .footer_socialBox { width: auto; padding: 0; margin: 0;}
.footer_top .footer_socialBox ul { padding: 0; margin: 0; text-align: center; display: block;}
.footer_top .footer_socialBox ul li { padding: 0; margin: 0 13px;  display: inline-block; list-style-type: none;}
.footer_top .footer_socialBox ul li:first-child { margin-left: 0; }
.footer_top .footer_socialBox ul li a { font-size: 22px; line-height: 36px; color:rgba(167,174,255,0.4); text-align: left; font-weight: 400; padding: 0; margin: 0; text-decoration: none; }
.footer_top .footer_socialBox ul li:first-child a:hover { color: #3d578f; }
.footer_top .footer_socialBox ul li:nth-child(2) a:hover { color: #22bbf4; }
.footer_top .footer_socialBox ul li:nth-child(3) a:hover { color: #006dc0; }
.footer_top .footer_socialBox ul li:last-child a:hover { color: #d82924; }
.footer_bottom  { width: 100%; height: 88px; background-color: #00234b; padding: 15px 0; margin: 0; overflow: hidden; }
.footer_bottom ul { padding: 0; margin: 0 auto 12px auto; display:  table; }
.footer_bottom ul li {padding: 0; margin: 0 6px; list-style-type: none; float: left;}
.footer_bottom ul li a { font-size: 14px;line-height: 18px; color:rgba(167,174,255,0.4); font-weight: 600; padding: 0; margin: 0; text-decoration: none; }
.footer_bottom ul li a:hover { color: #fff; }
.footer_bottom p { font-size: 14px;line-height: 18px; color:rgba(167,174,255,0.1); text-align: center; font-weight: 600; padding: 0; margin: 0;}
.sponsor_sec .swiper-container .swiper-button-next { background: url(../images/nextbtn.png) right center no-repeat; }
.sponsor_sec .swiper-container .swiper-button-next:hover { background: url(../images/nextbtn_hover.png) right center no-repeat; }
.sponsor_sec .swiper-container .swiper-button-prev { background: url(../images/prevbtn.png) left center no-repeat; }
.sponsor_sec .swiper-container .swiper-button-prev:hover {background: url(../images/prevbtn_hover.png) left center no-repeat;}

/* Innerpage */
.innerpage{ padding-bottom: 40px; }
.inner-page-header-blank{ width: 100%; position: relative; height: 100px; margin-bottom: 60px; }
.site-header.inner-page-header .navbar-brand{ max-width: 120px; top: 10px; }
.site-header .navbar-nav{ padding: 12px 0; }
h2.inner-head-line{ font-size: 34px; font-weight: 700; color: #333333; padding-bottom: 25px; margin-bottom: 35px; }
.form-style .form-group{ margin-bottom: 30px; }
.form-style .form-control{ border:1px solid #cfd9e6; height: 60px; background-color: #fff; font-size: 16px; color: #777777; padding: 6px 20px; border-radius: 2px; text-transform: capitalize;}
.form-style select {background: url(../images/arrow-down.png) no-repeat 95% center; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.form-style .form-control::-moz-placeholder{color: #777777;}
.form-style .form-control::-webkit-input-placeholder{color: #777777 !important;}
.form-style .btn{line-height: 70px; width: 100%; padding: 0px 15px; font-size: 20px; font-weight: bold; text-transform: uppercase; }
.form-style .btn-yellow {  background:#f7f808;  color: #000000;  margin-top: 40px;}
.form-style .btn-blue{background:#2e3192; margin-top: 0px; color: #fff;}
.first-name , .last-name{ float: left; width: 49%; margin-bottom: 30px; }
.first-name{ margin-right: 2%; }
/*signup-details-section*/
.signup-details-section h2.inner-head-line{border-bottom: 1px solid #cfd9e6; }
.signup-details-section .form-style .btn-yellow { margin-top: 60px;}
/*signin-section*/
.signin-section h3{ font-size: 20px; color: #333333; margin-bottom: 20px; margin-top: 0px; padding-top:30px; border-top:1px solid #cfd9e6;}
.signin-section h4{font-size: 20px; color: #333333; margin-bottom: 20px;}
.signin-section a.forgot-pass{ color:#2e3192; font-size: 18px; }
/**/
ul.signin-social{ padding: 0px; margin: 0px auto 150px; text-align: center; width: 100%; }
ul.signin-social li{ width: 32%; float: left; list-style: none; margin-left: 2%; }
ul.signin-social li:first-child{ margin-left: 0%; }
ul.signin-social li a{ font-size: 14px; text-decoration: none; font-weight: 700; color: #fff; width: 100%;  line-height: 22px; height: auto; display: block; border-radius: 2px; padding: 10px 3px; text-align: center; }
ul.signin-social li:first-child a{ background:#3b5999; color: #fff; }
ul.signin-social li:nth-child(2) a{ background:#de4b39; }
ul.signin-social li:nth-child(3) a{ background:#00acee; }
ul.signin-social li a i{ font-size: 18px; margin-right: 6px; font-weight: bold; line-height: 22px; }


/* about us page*/
.about_us-section .about-img{ padding: 12px; background: #fff; width: 32%; float: left; position: relative; margin-right: 50px; margin-bottom: 25px; }
.about_us-section .about-img:after{ content: ""; display: block; width: 1px; height: 1px; border: 15px solid; border-color: #fff transparent  transparent #fff; position: absolute;
    top: 0px; right: -30px;  z-index: 9999; opacity: 1;}
.about_us-section .about-text{ padding-top: 25px; }
.about_us-section .about-text p{ font-size: 18px; line-height: 30px; }
.inr-hdline{ margin-bottom: 30px; font-size: 21px; color: #3b3b3b; text-transform: uppercase; }

.form-style .checkbox {
    margin-top: 30px;
    padding: 0;
    
}
.radio, .checkbox {
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}
input[type="checkbox"]:not(old), input[type="radio"]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 0;
    display: none;
}

input[type="checkbox"]:not(old) + label, input[type="radio"]:not(old) + label {
    display: inline-block;
    margin-left: 0;
    line-height: 20px;
    font-family: 'Aparajita';
    font-weight: bold;
    font-size: 26px;
    color: #fff;
}
.form-style .checkbox input[type="checkbox"]:checked:not(old) + label > span::before {
    line-height: 22px;
}
input[type="checkbox"]:checked:not(old) + label > span::before {
    content: '✓';
    display: block;
    width: 1em;
    color: #e29e7a;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    text-shadow: 0 0 0.0714em rgb(115,153,77);
    font-weight: bold;
}

/* for loader*/

.body-overay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    z-index: 999999;
}
.body-loder{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -64px 0 0 -64px;
    z-index: 999999;
    width: 128px;
    height: 128px;
    background: url(../images/loading.gif) no-repeat 0 0;
}