 <footer>
     <div class="footer_top">
      <div class="container">
        <div class="row clearfix">
          <div class="col-md-3  col-sm-6 col-xs-12  clearfix footer-block">
		  <h4>Dental Chat</h4>
              <ul class="link-ft">
                <li><a ui-sref="home">Home</a></li>
                <li><a ui-sref="about">About us</a></li>
                <li><a ui-sref="contact">Contact</a></li>
                <li><a href="http://dentalchat.com/blog" target="_blank">Blog</a></li>
                <li><a ui-sref="faq">FAQ</a></li>
               </ul>
              <div class="clearfix"></div>

              <div class="clearfix"></div>
			  		
          </div><!--end col-->
		  
		<div class="col-md-3  col-sm-6 col-xs-12  clearfix footer-block">

		<h4>Common Dental Issues</h4>

		<ul class="link-ft">
		
		<li><a ui-sref="tooth-abscess">Tooth  Abscess</a></li>		
		<li><a ui-sref="tooth-pain-decay">Tooth Pain / Decay</a></li>
		<li><a ui-sref="broken-filling">Broken Filling</a></li>
		<li><a ui-sref="broken-bonding">Broken Bonding</a></li>
		<li><a ui-sref="denture-repair">Denture Repair</a></li>
		<li ng-show="showLink1"><a ui-sref="root-canal">Root Canal</a></li>
		<li ng-show="showLink1"><a ui-sref="painful-gums">Painful Gum</a></li>
		<li ng-show="showLink1"><a ui-sref="tooth-ache">Tooth Ache</a></li>
		<li ng-show="showLink1"><a ui-sref="avulsed-teeth">Avulsed Teeth</a></li>
		<li ng-show="showLink1"><a ui-sref="losse-crowns">Loose Crowns</a></li>
        <li ng-show="showLink1"><a ui-sref="dental-implant-failure">Dental Implant Failure</a></li>
		<li ng-show="showLink1"><a ui-sref="wisdom-teeth-pain">Wisdom Teeth Pain</a></li>
		<li ng-show="showLink1"><a ui-sref="teeth-sensitivity">Teeth Sensitivity</a></li>
		<li ng-show="showLink1"><a ui-sref="bad-breath">Bad Breath / Halitosis</a></li>
		<li ng-show="showLink1"><a ui-sref="grinding-teeth">Grinding Teeth / Bruxism</a></li>
		<li ng-show="showLink1"><a ui-sref="dental-dry-socket">Dental Dry Socket Problems</a></li>
		<li class="viewmore"><a ng-click="showHideLinks(1)"><span ng-hide="showLink1">+ More</span><span  ng-show="showLink1">- Less</span></a></li>
		

		</ul>

		</div><!--end col-->
		  
		<div class="col-md-3  col-sm-6 col-xs-12  clearfix footer-block">

		<h4>Dental Specialties</h4>

		<ul class="link-ft">
		<li><a ui-sref="cosmetic-dentistry">Cosmetic Dentistry</a></li>
		<li><a ui-sref="dental-implant">Dental Implants</a></li>
		<li><a ui-sref="dental-public-health">Dental Public Health</a></li>
		<li><a ui-sref="endodontics">Endodontics</a></li>
		<li><a ui-sref="general-dentistry">General Dentistry</a></li>
		<li ng-show="showLink2"><a ui-sref="periodontics">Periodontics</a></li>
		<li ng-show="showLink2"><a ui-sref="pediatrics-dentistry">Pediatric Dentistry</a></li>
		<li ng-show="showLink2"><a ui-sref="prosthodontics">Prosthdontics</a></li>
		<li ng-show="showLink2"><a ui-sref="orthodontics-orthopedics">Orthodontics and Dentofacial Orthopedics</a></li>
		<li ng-show="showLink2"><a ui-sref="oral-surgery">Oral and Maxillofacial Surgery</a></li>
		<li class="viewmore"><a ng-click="showHideLinks(2)"><span ng-hide="showLink2">+ More</span><span  ng-show="showLink2">- Less</span></a></li>
		
		</ul>

		</div><!--end col-->
		
		<div class="col-md-3  col-sm-6 col-xs-12  clearfix footer-block">

        <h4>Are you a top Dentist ?</h4>

		<div class="footer-block-cnt">
		<a ui-sref="dentist-signup" class="ft-btn">Join DentalChat</a>
		</div>

		<h4>Have a Dental Question ?</h4>

		<div class="footer-block-cnt">
        <a ng-if="is_front_logged==2" href="/patient-profile/my-message/" class="ft-btn">Chat with a Dentist</a>
        <a ng-if="is_front_logged==1" href="/dentist-messageboard" class="ft-btn">Chat with a Patient</a>
        <a ng-if="is_front_logged==0 || !is_front_logged" href="/patient-login" class="ft-btn">Chat with a Dentist</a>
		
		</div>
		
		

		</div><!--end col-->
		  
		  
        </div>
      </div>
      </div>
     <div class="promp-footer">
         <div class="footer_up">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">
                     <ul>
                        <li>
                           <div class="div-table">
                              <div class="div-tbl-cell"> <img src="images/icon-6.png" alt=""> </div>
                              <div class="div-tbl-cell">
                                 <h4> Dental Practice </h4>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="div-table">
                              <div class="div-tbl-cell"> <img src="images/icon-6.png" alt=""> </div>
                              <div class="div-tbl-cell">
                                 <h4> Dental Practice </h4>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="div-table">
                              <div class="div-tbl-cell"> <img src="images/icon-6.png" alt=""> </div>
                              <div class="div-tbl-cell">
                                 <h4> Dental Practice </h4>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer_bottom">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <p>© 2017 dentalchat. All Rights Reserved.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>

    
    
</footer>

    <script src="js/jquery.teletype.min.js"></script>