<div class="inner-page-header-blank"></div>
<section class="innerpage">

<div class="manage-profile-section">
 <div class="container">
  <div class="row">
  <div class="col-lg-12">
    <ul class="step">
      <li class="done" ui-sref="dentistProfileStep1"> <i class="fa fa-check" aria-hidden="true"></i> </li>
      <li class="active" ui-sref="dentistProfileStep2"> 2 </li>
      <li ui-sref="dentistProfileStep3" ng-class="{'done':step3 !=1}"> 3 </li>
      <li ui-sref="dentistProfileStep4" ng-class="{'done':step4 !=1}"> 4 </li>
      <li ui-sref="dentistProfileStep5" ng-class="{'done':step5 !=1}"> 5 </li>
      <li ui-sref="dentistProfileStep6" ng-class="{'done':step6 !=1}"> 6 </li>
      <li ui-sref="dentistProfileStep7" ng-class="{'done':step7 !=1}"> 7 </li>   
    </ul>
    <div class="manage-profile manage-form-style">
     <div class="col-sm-12 manage-profile-headline">
      <h3>Business Details</h3>
     </div>

      <form class="" novalidate angular-validator angular-validator-submit = "updateDentistStep2(dentistClient);" name="dentistStep2Form" id="dentistStep2Form" action="" method="POST" enctype="multipart/form-data">       

        <div class="col-sm-5">
          <label>Opening Hrs</label>  

          <div class="datepick-div">
              <h5>sun</h5>
                <ul class="datepicker-ul">
                  <li>
                    <div class="form-group">
                        <div class='input-group date' moment-picker="dentistClient.sun_opening_hours_from" format="hh:mm a">
                            <input type='text' class="form-control" name="sun_opening_hours_from" id="sun_opening_hours_from"  ng-model="dentistClient.sun_opening_hours_from"/>
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="form-group">
                        <div class='input-group date' moment-picker="dentistClient.sun_opening_hours_to" format="hh:mm a">
                            <input type='text' class="form-control" name="sun_opening_hours_to" id="sun_opening_hours_to"  ng-model="dentistClient.sun_opening_hours_to"/>
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                  </li>
              </ul>
            </div>
            <div class="datepick-div">  
               <h5>mon</h5>
                <ul class="datepicker-ul">
                  <li>
                    <div class="form-group">
                        <div class='input-group date' moment-picker="dentistClient.mon_opening_hours_from" format="hh:mm a">
                            <input type='text' class="form-control"  name="mon_opening_hours_from" id="mon_opening_hours_from" ng-model="dentistClient.mon_opening_hours_from"/>
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="form-group">
                        <div class='input-group date' moment-picker="dentistClient.mon_opening_hours_to" format="hh:mm a">
                            <input type='text' class="form-control"  name="mon_opening_hours_to" id="mon_opening_hours_to"  ng-model="dentistClient.mon_opening_hours_to"/>
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                  </li>
              </ul>
            </div>
            <div class="datepick-div">  
               <h5>tue</h5>
                <ul class="datepicker-ul">
                  <li>
                    <div class="form-group">
                        <div class='input-group date' moment-picker="dentistClient.tue_opening_hours_from" format="hh:mm a">
                            <input type='text' class="form-control"  name="tue_opening_hours_from" id="tue_opening_hours_from"  ng-model="dentistClient.tue_opening_hours_from"/>
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                        </div>                        

                    </div>
                    </li>
                    <li>
                    <div class="form-group">
                        <div class='input-group date' moment-picker="dentistClient.tue_opening_hours_to" format="hh:mm a">
                            <input type='text' class="form-control" name="tue_opening_hours_to" id="tue_opening_hours_to"   ng-model="dentistClient.tue_opening_hours_to"/>
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                  </li>
              </ul>
            </div>

            <div class="datepick-div">  
               <h5>wed</h5>
                <ul class="datepicker-ul">
                  <li>
                    <div class="form-group">
                        <div class='input-group date' moment-picker="dentistClient.wed_opening_hours_from" format="hh:mm a">
                            <input type='text' class="form-control" name="wed_opening_hours_from" id="wed_opening_hours_from"  ng-model="dentistClient.wed_opening_hours_from"/>
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="form-group">
                        <div class='input-group date' moment-picker="dentistClient.wed_opening_hours_to" format="hh:mm a">
                            <input type='text' class="form-control" name="wed_opening_hours_to" id="wed_opening_hours_to"  ng-model="dentistClient.wed_opening_hours_to"/>
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                  </li>
              </ul>
            </div>
            <div class="datepick-div">  
               <h5>thu</h5>
                <ul class="datepicker-ul">
                  <li>
                    <div class="form-group">
                        <div class='input-group date' moment-picker="dentistClient.thu_opening_hours_from" format="hh:mm a">
                            <input type='text' class="form-control" name="thu_opening_hours_from" id="thu_opening_hours_from"  ng-model="dentistClient.thu_opening_hours_from"/>
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="form-group">
                        <div class='input-group date' moment-picker="dentistClient.thu_opening_hours_to" format="hh:mm a">
                            <input type='text' class="form-control" name="thu_opening_hours_to" id="thu_opening_hours_to"  ng-model="dentistClient.thu_opening_hours_to"/>
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                  </li>
              </ul>
            </div>    
            <div class="datepick-div">  
               <h5>Fri</h5>
                <ul class="datepicker-ul">
                  <li>
                    <div class="form-group">
                        <div class='input-group date' moment-picker="dentistClient.fri_opening_hours_from" format="hh:mm a">
                            <input type='text' class="form-control" name="fri_opening_hours_from" id="fri_opening_hours_from"  ng-model="dentistClient.fri_opening_hours_from"/>
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="form-group">
                        <div class='input-group date' moment-picker="dentistClient.fri_opening_hours_to" format="hh:mm a">
                            <input type='text' class="form-control" name="fri_opening_hours_to" id="fri_opening_hours_to"  ng-model="dentistClient.fri_opening_hours_to"/>
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                  </li>
              </ul>
            </div>
            <div class="datepick-div">  
               <h5>Sat</h5>
                <ul class="datepicker-ul">
                  <li>
                    <div class="form-group">
                        <div class='input-group date' moment-picker="dentistClient.sat_opening_hours_from" format="hh:mm a">
                            <input type='text' class="form-control" name="sat_opening_hours_from" id="sat_opening_hours_from"  ng-model="dentistClient.sat_opening_hours_from"/>
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="form-group">
                        <div class='input-group date' moment-picker="dentistClient.sat_opening_hours_to" format="hh:mm a">
                            <input type='text' class="form-control" name="sat_opening_hours_to" id="sat_opening_hours_to"  ng-model="dentistClient.sat_opening_hours_to"/>
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                  </li>
              </ul>
            </div>

        </div>

        <div class="col-sm-7 no-pad">
          
            <div class="col-sm-7">
              <div class="form-group">
                  <label>Business  Name</label>
                 <input class="form-control" type="text" placeholder="Business  Name" ng-model="dentistClient.business_name" name="business_name" id="business_name" required-message="'This field is required..'"  required>
              </div>
            </div> 
            <div class="col-sm-12">
              <div class="form-group">
                 <input type="hidden" name="lat" id="place_lat" ng-model="dentistClient.lat">
                 <input type="hidden" name="lang" id="place_lng" ng-model="dentistClient.lang">

                 <input vs-google-autocomplete
                 
                             ng-model="dentistClient.address"
                             vs-latitude="dentistClient.lat" 
                             vs-longitude="dentistClient.lang" 
                             vs-post-code="dentistClient.zip_code" 
                             vs-city="dentistClient.city" 
                             vs-state="dentistClient.state" 
                             vs-country="dentistClient.country"
                             
                             type="text" 
                             name="address"
                             id="address"
                             class="form-control" 
                             placeholder="Enter address"
                             aria-describedby="basic-addon1" 
                             required-message="'This field is required..'">
              </div>
            </div> 
            <div class="col-sm-3">
              <div class="form-group">
                <label>zip code</label>
                <input class="form-control" type="hidden" name="city" id="city" ng-model="dentistClient.city">
               <input class="form-control" type="hidden" name="state" id="state" ng-model="dentistClient.state">
               <input class="form-control" type="hidden" name="country" id="country" ng-model="dentistClient.country">
               <input class="form-control" type="text" placeholder="Zip Code" name="zip_code" id="zip_code" ng-model="dentistClient.zip_code"  required-message="'This field is required..'" required>

               
             </div>
            </div> 
         
          <div class="clearfix"></div>
          <div class="col-sm-12">  
            <div class="imageupload upload-border">
                    <div class="file-tab">
                    <div class="uploadimg-outer">  
                      <div class="uploadimg"><img id="clinic_image"  src="{{base_url}}uploads/clinic_picture/{{dentistClient.clinic_picture}}" alt=""  width="100px"/></div>
                      <button type="button" class="btn delete-button" ng-show="showimgprev" ng-click="delete_image()">
                           <i class="fa fa-trash-o" aria-hidden="true"></i>
                       </button> 
                    </div>
                    <div class="upload-btn">   
                      <h5>Upload Business Pictures</h5>
                      <p>Image should be at least 300px 300px</p>
                          <label class="btn btn-default btn-file">
                              <span>Upload Photo</span>
                              <input name="image-file" type="file">
                               <input name="clinic_picture" type="file" id="clinic_picture"  file-model="dentistClient.clinic_picture"  invalid-message="'Not a valid imamge..'"  validate-on="dirty" >
                          </label>
                    </div>      
                  </div>
            </div>
          </div>
              
        </div>
           
                      
        <div class="col-sm-12 next-btn">
           <div class="form-group">
           <a ui-sref="dentistProfileStep1" class="btn btn-back">Back</a>
            <input value=" Next" name=" Next" class="btn btn-next" type="submit">
           </div>
        </div> 

      </form>
    </div>
  </div>
  </div>
  </div>
 </div>

</section>

<script>
  document.getElementById("clinic_picture").onchange = function () {
    if(this.disabled) return alert('File upload not supported!');
    var F = this.files;
    angular.element('#clinic_picture').scope().imageUploadClinic(this.files); // For Angular File Upload
    var getimage_id = $(this).attr('id'); 
    if(F && F[0]) for(var i=0; i<F.length; i++) readImage( F[i],getimage_id );

   var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("clinic_image").src = e.target.result;        
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
    
  };



</script>
 