<div class="inner-page-header-blank"></div>
<section class="innerpage">
 <div class="doctor-profile-section">
   <div class="container">
     <div class="row clearfix">
      <div class="col-sm-12 col-md-12 clearfix">
      <!-- doctor-profile-header -->
      <div class="doctor-profile-header">
      <div class="col-sm-3 col-lg-2 clearfix">
       <div class="dr-profile-img denPImg"><img src="{{base_url}}uploads/tmp_dentist_profile_image/{{dentist_details.tmp_docs_details.profile_pics}}"  class="img-responsive" /></div>
       </div>
       <div class="col-sm-9 col-lg-10 clearfix">
          <h2>{{dentist_details.tmp_docs_details.first_name+' '+dentist_details.tmp_docs_details.last_name}} {{(degree!='')?', '+degree:''}} </h2>
          <h4>{{jobtitle!=''?jobtitle:'Dentist' | titleCase}}</h4>
          <div class="rating">
            <ul>
              <li><i class="fa" ng-class="dentist_details.doctor_avg_rating >0 ? 'fa-star':'fa-star-o'"  aria-hidden="true"></i></li>
              <li><i class="fa" ng-class="dentist_details.doctor_avg_rating >1 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>
              <li><i class="fa" ng-class="dentist_details.doctor_avg_rating >2 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>
              <li><i class="fa" ng-class="dentist_details.doctor_avg_rating >3 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>
              <li><i class="fa" ng-class="dentist_details.doctor_avg_rating >4 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>          
            </ul>
          </div>
           <a href="#" class="read-patient"> Read patient reviews </a>
       </div>
      <div class="add-fav"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
      </div>

      </div>
     </div>
    </div>
 <!--  <div class="doctor-map" id="map_canvas"></div> -->
  <div class="doctor-map" id="map_canvas" style="height:200px;"></div>

 <div class="doctor-profile">  
   <div class="container">
    <div class="row clearfix">
     <div class="col-sm-8 col-lg-9 clearfix">
       <h3>Qualifications and Experience</h3>
       <div class="border-line educationView clearfix">
         <div class="col-sm-3 clearfix"><h4>Education</h4></div>
         <div class="col-sm-9 clearfix">
         <p ng-repeat="dentist_edu in dentist_details.tmp_docs_education" class="addicon">
        {{dentist_edu.medical_school}}
         </p>
         </div>
       </div>
       <div class="border-line clearfix">
       <div class="col-sm-3 clearfix"><h4>Languages Spoken</h4></div>
       <div class="col-sm-9 clearfix"> <p>{{dentist_details.tmp_docs_language.language_name}}</p>
       </div>
       </div>
       <div class="border-line specialtiesView clearfix">
       <div class="col-sm-3 clearfix"><h4>Specialties</h4></div>
       <div class="col-sm-9 clearfix">
       <p ng-repeat="dentist_skill in dentist_details.tmp_docs_skill" class="addicon">
       {{dentist_skill.skills}}
       </p>
       </div>
      </div> 
      <div class="border-line statementView clearfix">
       <div class="col-sm-3 clearfix"><h4>Professional Statement</h4></div>
       <div class="col-sm-9 clearfix"> 
          <p class="addicon">{{dentist_details.tmp_docs_language.personal_statement}}</p>
       </div>
      </div>
       <div class="border-line boardView clearfix">
       <div class="col-sm-3 clearfix"><h4>Board Certification</h4></div>
       <div class="col-sm-9 clearfix"> 
          <p class="addicon" ng-repeat="dentist_license in dentist_details.tmp_docs_license" >
          {{dentist_license.license_details}}
          </p>
       </div>
      </div> 
       <div class="border-line insuranceView clearfix">
       <div class="col-sm-3 clearfix"><h4>In Network Insurance</h4></div>
       <div class="col-sm-9 clearfix"> 
           <p class="addicon" ng-repeat="dentist_insurance in dentist_details.tmp_docs_insurance">{{dentist_insurance.insurance}}</p>
       </div>
      </div>

  <div class="row clearfix">
    <div class="col-sm-12 clearfix">
      <h3 ng-if="dentist_details.review_rating != ''">Verified Patient Reviews</h3>
      <div class="border-line clearfix" ng-repeat="reviews in ::dentist_details.review_rating">
      <div class="col-sm-4 clearfix">
        <div class="rating">
          <ul>
            <li ><i class="fa" ng-class="reviews.rating > 0 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>
            <li ><i class="fa" ng-class="reviews.rating > 1 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>
            <li ><i class="fa" ng-class="reviews.rating > 2 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>
            <li ><i class="fa" ng-class="reviews.rating > 3 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>
            <li ><i class="fa" ng-class="reviews.rating > 4 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>          
          </ul>
        </div>
       <p> {{reviews.review_date}} </p>
      </div>
      <div class="col-sm-8 clearfix">
        <p>{{reviews.review}} </p>
        <p class="verified-patient">by {{ reviews.get_patient_details.name }} {{ reviews.get_patient_details.last_name }} (Verified Patient) </p>
      </div>
      <div class="col-sm-8 clearfix" ng-if="reviews.is_hide == 0">
        <p><a href="" ng-click="changeStatus(reviews.id,'1')">Hide</a> </p>  
      </div>
      <div class="col-sm-8 clearfix" ng-if="reviews.is_hide == 1">
        <p><a href="" ng-click="changeStatus(reviews.id,'0')">Unhide</a></p>  
      </div>
    </div>
      
    </div>
  </div>


     </div> 
  
<div class="col-sm-4 col-lg-3 clearfix">
    <h3>Opening Hrs</h3>
    <div class="datepick-div" ng-if="(dentist_details.tmp_docs_clinics.sun_opening_hours_from!='' && dentist_details.tmp_docs_clinics.sun_opening_hours_to!='')">
      <h6>sun</h6>
      <h6>{{dentist_details.tmp_docs_clinics.sun_opening_hours_from}} to {{dentist_details.tmp_docs_clinics.sun_opening_hours_to}}</h6>
    </div>
    <div class="datepick-div" ng-if="(dentist_details.tmp_docs_clinics.mon_opening_hours_from!='' && dentist_details.tmp_docs_clinics.mon_opening_hours_to!='')">
      <h6>mon</h6>
      <h6>{{dentist_details.tmp_docs_clinics.mon_opening_hours_from}} to {{dentist_details.tmp_docs_clinics.mon_opening_hours_to}}</h6>
    </div>
    <div class="datepick-div" ng-if="(dentist_details.tmp_docs_clinics.tue_opening_hours_from!='' && dentist_details.tmp_docs_clinics.tue_opening_hours_to!='')">
      <h6>tue</h6>
      <h6>{{dentist_details.tmp_docs_clinics.tue_opening_hours_from}} to {{dentist_details.tmp_docs_clinics.tue_opening_hours_to}}</h6>
    </div>
    <div class="datepick-div" ng-if="(dentist_details.tmp_docs_clinics.wed_opening_hours_from!='' && dentist_details.tmp_docs_clinics.wed_opening_hours_to!='')">
      <h6>wed</h6>
      <h6>{{dentist_details.tmp_docs_clinics.wed_opening_hours_from}} to {{dentist_details.tmp_docs_clinics.wed_opening_hours_to}}</h6>
    </div>
    <div class="datepick-div" ng-if="(dentist_details.tmp_docs_clinics.wed_opening_hours_from!='' && dentist_details.tmp_docs_clinics.wed_opening_hours_to!='')">
      <h6>thur</h6>
      <h6>{{dentist_details.tmp_docs_clinics.thu_opening_hours_from}} to {{dentist_details.tmp_docs_clinics.thu_opening_hours_to}}</h6>
    </div>
    <div class="datepick-div" ng-if="(dentist_details.tmp_docs_clinics.fri_opening_hours_from!='' && dentist_details.tmp_docs_clinics.fri_opening_hours_to!='')">
      <h6>fri</h6>
      <h6>{{dentist_details.tmp_docs_clinics.fri_opening_hours_from}} to {{dentist_details.tmp_docs_clinics.fri_opening_hours_to}}</h6>
    </div>
    <div class="datepick-div" ng-if="(dentist_details.tmp_docs_clinics.sat_opening_hours_from!='' && dentist_details.tmp_docs_clinics.sat_opening_hours_to!='')">
      <h6>sat</h6>
      <h6>{{dentist_details.tmp_docs_clinics.sat_opening_hours_from}} to {{dentist_details.tmp_docs_clinics.sat_opening_hours_to}}</h6>
    </div>
   
   </div>
    </div>   

   </div>
  </div>
  </div>
</section>

<script>
/*$(document).ready(function() {
    $('.doctor-map').click(function () {
        $('.doctor-map').css("pointer-events", "auto");
    });
    
    $( ".doctor-map" ).mouseleave(function() {
      $('.doctor-map').css("pointer-events", "none"); 
    });
 });    */
       
</script>