<div class="inner-page-header-blank"></div>
<!--inner-page-header-blank for every inner page becouse fixed header hight mentant-->

<section class="innerpage settingSection">
<div class="manage-profile-section subscription_box">
 <div class="container-fluid">
  <div class="manage-profile manage-form-style">
    <div class="row">
        <div class="settingTab">
            
            <div class="dropdown visible-md visible-sm visible-xs">
              <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Setting Menu
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu carousel-inde" aria-labelledby="dLabel">
                <li><a  class="active" data-target="#settingPages" data-slide-to="0">Profile</a></li>
                <li ><a data-target="#settingPages" data-slide-to="1">Subscription</a></li>
                <!-- <li ><a data-target="#settingPages" data-slide-to="2">Time Zone</a></li>
                <li ><a data-target="#settingPages" data-slide-to="3">Notifications</a></li>
                <li ><a data-target="#settingPages" data-slide-to="4">Privacy</a></li> -->
              </ul>
            </div>
            
            <ul class="nav hidden-md hidden-sm hidden-xs carousel-inde">
                <li><a class="active" data-target="#settingPages" data-slide-to="0">Profile</a></li>
                <li ><a data-target="#settingPages" id="subscription" data-slide-to="1">Subscription</a></li>
                <!-- <li ><a data-target="#settingPages" data-slide-to="2">Time Zone</a></li>
                <li ><a data-target="#settingPages" data-slide-to="3">Notifications</a></li>
                <li ><a data-target="#settingPages" data-slide-to="4">Privacy</a></li> -->
              </ul>
        </div>
        <div class="settingDetail">
            
            <div id="settingPages" class="carousel slide" data-ride="carousel">            
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="manage-profile-headline clearfix">
                            <h4 class="headline-change text-center">Profile</h4>
                        </div>
                        <ul class="step" role="tablist">
                          <li class="active done"><a role="tab" id="1" data-toggle="tab" data-target="#step1"><span> Basic Info. </span></a></li>
                          <li class="done"><a role="tab" data-toggle="tab" id="2" data-target="#step2"><span> Business Details</span></a></li>
                          <!-- <li ng-class="{'done':step3 !=1,'tab_disabled':step3==1}" ><a role="tab" data-toggle="tab" id="3" data-target="#step3" ><span> Education and Training </span></a></li> -->
                          <li ng-class="{'done':step3 !=1}" ><a role="tab" data-toggle="tab" id="3" data-target="#step3" ><span> Education and Training </span></a></li>
                          <li ng-class="{'done':step4 !=1}"><a role="tab" data-toggle="tab" id="4" data-target="#step4"><span> NPI & State License info</span></a></li>
                          <li ng-class="{'done':step5 !=1}"><a role="tab" data-toggle="tab" id="5" data-target="#step5"><span> Professional Experience </span></a></li>
                          <li ng-class="{'done':step6 !=1}"><a role="tab" data-toggle="tab" id="6" data-target="#step6"><span> Specialties</span></a></li>
                          <li ng-class="{'done':step7 !=1}"><a role="tab" data-toggle="tab" id="7" data-target="#step7"><span> Personal Statement</span></a></li>  
                        </ul>
                        
                        <!-- Profile steps -->
                          <div class="tab-content" id="tab-carousel">
                              <div class="tab-inner">
                            <div role="tabpanel" class="tab-pane active" id="step1">
                                <form class="" novalidate angular-validator angular-validator-submit = "updateDentistStep1(dentist);" name="dentistStep1Form" id="dentistStep1Form" action="" method="POST" enctype="multipart/form-data">
  
                                   <div class="manage-profile manage-form-style">
                                   
                                   
                                   <div class="sectionGroup">
                                       <div class="manage-profile-headline">
                                        <h4>Basic Information</h4>
                                      </div>
                                
                                     <div class="col-sm-6 col-md-4">
                                      <div class="form-group">
                                          <label>First Name</label>
                                         <input class="form-control" type="text" placeholder="Dentist First Name" ng-model="dentist.first_name" name="first_name" id="first_name" validate-on="dirty" ng-pattern="/^([^0-9]*)$/" invalid-message="'Invalid first name.'" required-message="'This field is required..'" required>
                                          
                                       </div>
                                     </div> 
                                
                                     <div class="col-sm-6 col-md-4">
                                       <div class="form-group">
                                          <label>Last Name</label>
                                         <input class="form-control" type="text" placeholder="Dentist Last Name" ng-model="dentist.last_name" name="last_name" id="last_name" validate-on="dirty" ng-pattern="/^([^0-9]*)$/" invalid-message="'Invalid last name.'" required-message="'This field is required..'" required>
                                       </div>
                                     </div>
                                
                                     <div class="col-sm-6 col-md-4">
                                       <div class="form-group">
                                          <label>Date of birth (optional)</label>
                                          <span class="date-pic">
                                          <datepicker date-max-limit="{{currentDate}}" date-format="dd-MMM-yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                                            <input class="form-control" ng-model="dentist.date_of_birth" type="text" placeholder="Date of Birth" />
                                          </datepicker>  
                                          </span>       
                                         
                                       </div>
                                     </div>  
                                     <div class="col-sm-6 col-md-4">
                                       <div class="form-group">
                                          <label>Gender</label>
                                             <select class="form-control" ng-model="dentist.gender">
                                                <option name="" value="0">Please select gender</option>
                                                <option name="male"  ng-selected="dentist.gender==1"  value="1">Male</option>
                                                <option name="female" ng-selected="dentist.gender==2" value="2">Female</option>
                                            </select>
                                       </div>
                                     </div>
                                     <div class="col-sm-6 col-md-4">
                                       <div class="form-group">
                                          <label>Email Address</label>
                                         <input class="form-control" type="email" placeholder="Email"  ng-disabled='true' ng-model="dentist.email" name="email" id="email" validator="checkEmail(user.email) == 1" ng-model-options="{ updateOn: 'blur' }" invalid-message="'Invalid email id..'" required-message="'This field is required..'" validate-on="dirty" required>
                                       </div>
                                     </div>   
                                
                                
                                       <div class="col-sm-6 col-md-4">
                                       <div class="form-group">
                                          <label>Contact Number</label>
                                          <div class="country-coad-no"> 
                                         <div class="country-coad">
                                          <input class="form-control" type="text" placeholder="+123"  ng-model="dentist.conuntry_code" name="conuntry_code" id="conuntry_code" ng-pattern ='/^\+?([\d]+)$/' invalid-message ="'Invalid county code'" required-message="'This field is required..'" required ng-model-options="{ updateOn: 'blur' }" validate-on="dirty">
                                          </div>
                                          <div class="_co-no"> <span> - </span> </div>
                                          <div class="contact-no">     
                                        <input class="form-control" type="text" placeholder="Contact Number"  ng-model="dentist.contact_number" name="contact_number" id="contact_number" ng-pattern ='/^\+?(\d[\d-. ]+)?(\([\d-. ]+\))?[\d-. ]+\d$/' invalid-message ="'Invalid phone number'" required-message="'This field is required..'" required ng-model-options="{ updateOn: 'blur' }" validate-on="dirty">
                                        </div>
                                        </div>
                                     </div>
                                     </div>   
                                             <div class="clearfix"></div>
                                                 <div class="col-sm-12 ">  
                                                  <div class="imageupload">
                                                            <div class="file-tab">
                                                          <div class="uploadimg-outer">  
                                                            <div class="uploadimg" ng-if="dentist.profile_pics"><img id="profile_image" src="{{base_url}}uploads/dentist_profile_image/{{dentist.profile_pics}}" alt=""  width="100px"/></div>
                                                            <div class="uploadimg" ng-if="dentist.profile_pics=="><img id="profile_image" src="{{base_url}}uploads/dentist_profile_image/no_image.jpg" alt=""  width="100px"/></div>
                                                            <button type="button" class="btn delete-button" ng-show="showimgprev" ng-click="delete_image()">
                                                                 <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                             </button> 
                                                          </div>
                                                          <div class="upload-btn">   
                                                            <h5>Upload your photo</h5>
                                                            <p>Image should be at least 300px 300px</p>
                                                            <p> Upload .png, .jpg, .jpeg type files</p>
                                                                <label class="btn btn-default btn-file">
                                                                    <span>Upload Photo</span>
                                                                    <input name="profile_pics" type="file" id="profile_pics"  file-model="dentist.profile_pics"  invalid-message="'Not a valid imamge..'"  validate-on="dirty" >
                                                                </label>
                                                          </div>      
                                                            </div>
                                                            </div>
                                                     </div>
                                
                                </div>
                                     <div class="col-sm-12 next-btn">
                                       <div class="form-group">
                                       <input value=" Next" name=" Next" class="btn btn-next" type="submit">
                                         
                                       </div>
                                     </div> 
                                     
                                     
                                   </div> 
                                   
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="step2">
                                <form class="" novalidate angular-validator angular-validator-submit = "updateDentistStep2(dentistClient);" name="dentistStep2Form" id="dentistStep2Form" action="" method="POST" enctype="multipart/form-data">       
                                    <div class="manage-profile manage-form-style">
                                   <div class="col-sm-12 manage-profile-headline">
                                    <h4>Business Details</h4>
                                    <hr>
                                  </div>
                                    <div class="col-sm-5">
                                        
                                        <div class="sectionGroup">
                                      
                                      <div class="manage-profile-headline">
                                        <h4>Opening Hrs</h4>
                                      </div>
                            
                                      <div class="datepick-div">
                                          <h5>sun</h5>
                                            <ul class="datepicker-ul">
                                              <li>
                                                <div class="form-group">
                                                    <div class='input-group date' moment-picker="dentistClient.sun_opening_hours_from" format="hh:mm a">
                                                        <input type='text' class="form-control" name="sun_opening_hours_from" id="sun_opening_hours_from"  ng-model="dentistClient.sun_opening_hours_from"/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                </li>
                                                <li>
                                                <div class="form-group">
                                                    <div class='input-group date' moment-picker="dentistClient.sun_opening_hours_to" format="hh:mm a">
                                                        <input type='text' class="form-control" name="sun_opening_hours_to" id="sun_opening_hours_to"  ng-model="dentistClient.sun_opening_hours_to"/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                              </li>
                                          </ul>
                                        </div>
                                        <div class="datepick-div">  
                                           <h5>mon</h5>
                                            <ul class="datepicker-ul">
                                              <li>
                                                <div class="form-group">
                                                    <div class='input-group date' moment-picker="dentistClient.mon_opening_hours_from" format="hh:mm a">
                                                        <input type='text' class="form-control"  name="mon_opening_hours_from" id="mon_opening_hours_from" ng-model="dentistClient.mon_opening_hours_from"/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                </li>
                                                <li>
                                                <div class="form-group">
                                                    <div class='input-group date' moment-picker="dentistClient.mon_opening_hours_to" format="hh:mm a">
                                                        <input type='text' class="form-control"  name="mon_opening_hours_to" id="mon_opening_hours_to"  ng-model="dentistClient.mon_opening_hours_to"/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                              </li>
                                          </ul>
                                        </div>
                                        <div class="datepick-div">  
                                           <h5>tue</h5>
                                            <ul class="datepicker-ul">
                                              <li>
                                                <div class="form-group">
                                                    <div class='input-group date' moment-picker="dentistClient.tue_opening_hours_from" format="hh:mm a">
                                                        <input type='text' class="form-control"  name="tue_opening_hours_from" id="tue_opening_hours_from"  ng-model="dentistClient.tue_opening_hours_from"/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        </span>
                                                    </div>                        
                            
                                                </div>
                                                </li>
                                                <li>
                                                <div class="form-group">
                                                    <div class='input-group date' moment-picker="dentistClient.tue_opening_hours_to" format="hh:mm a">
                                                        <input type='text' class="form-control" name="tue_opening_hours_to" id="tue_opening_hours_to"   ng-model="dentistClient.tue_opening_hours_to"/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                              </li>
                                          </ul>
                                        </div>
                            
                                        <div class="datepick-div">  
                                           <h5>wed</h5>
                                            <ul class="datepicker-ul">
                                              <li>
                                                <div class="form-group">
                                                    <div class='input-group date' moment-picker="dentistClient.wed_opening_hours_from" format="hh:mm a">
                                                        <input type='text' class="form-control" name="wed_opening_hours_from" id="wed_opening_hours_from"  ng-model="dentistClient.wed_opening_hours_from"/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                </li>
                                                <li>
                                                <div class="form-group">
                                                    <div class='input-group date' moment-picker="dentistClient.wed_opening_hours_to" format="hh:mm a">
                                                        <input type='text' class="form-control" name="wed_opening_hours_to" id="wed_opening_hours_to"  ng-model="dentistClient.wed_opening_hours_to"/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                              </li>
                                          </ul>
                                        </div>
                                        <div class="datepick-div">  
                                           <h5>thu</h5>
                                            <ul class="datepicker-ul">
                                              <li>
                                                <div class="form-group">
                                                    <div class='input-group date' moment-picker="dentistClient.thu_opening_hours_from" format="hh:mm a">
                                                        <input type='text' class="form-control" name="thu_opening_hours_from" id="thu_opening_hours_from"  ng-model="dentistClient.thu_opening_hours_from"/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                </li>
                                                <li>
                                                <div class="form-group">
                                                    <div class='input-group date' moment-picker="dentistClient.thu_opening_hours_to" format="hh:mm a">
                                                        <input type='text' class="form-control" name="thu_opening_hours_to" id="thu_opening_hours_to"  ng-model="dentistClient.thu_opening_hours_to"/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                              </li>
                                          </ul>
                                        </div>    
                                        <div class="datepick-div">  
                                           <h5>Fri</h5>
                                            <ul class="datepicker-ul">
                                              <li>
                                                <div class="form-group">
                                                    <div class='input-group date' moment-picker="dentistClient.fri_opening_hours_from" format="hh:mm a">
                                                        <input type='text' class="form-control" name="fri_opening_hours_from" id="fri_opening_hours_from"  ng-model="dentistClient.fri_opening_hours_from"/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                </li>
                                                <li>
                                                <div class="form-group">
                                                    <div class='input-group date' moment-picker="dentistClient.fri_opening_hours_to" format="hh:mm a">
                                                        <input type='text' class="form-control" name="fri_opening_hours_to" id="fri_opening_hours_to"  ng-model="dentistClient.fri_opening_hours_to"/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                              </li>
                                          </ul>
                                        </div>
                                        <div class="datepick-div">  
                                           <h5>Sat</h5>
                                            <ul class="datepicker-ul">
                                              <li>
                                                <div class="form-group">
                                                    <div class='input-group date' moment-picker="dentistClient.sat_opening_hours_from" format="hh:mm a">
                                                        <input type='text' class="form-control" name="sat_opening_hours_from" id="sat_opening_hours_from"  ng-model="dentistClient.sat_opening_hours_from"/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                </li>
                                                <li>
                                                <div class="form-group">
                                                    <div class='input-group date' moment-picker="dentistClient.sat_opening_hours_to" format="hh:mm a">
                                                        <input type='text' class="form-control" name="sat_opening_hours_to" id="sat_opening_hours_to"  ng-model="dentistClient.sat_opening_hours_to"/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                              </li>
                                          </ul>
                                        </div>
                            </div>
                                    </div>
                            
                                    <div class="col-sm-7 no-pad">
                                      
                                      <div class="sectionGroup">
                                      <div class="manage-profile-headline">
                                        <h4>Business Info</h4>
                                      </div>
                                      
                                        <div class="col-sm-7">
                                          <div class="form-group">
                                              <label>Business  Name</label>
                                             <input class="form-control" type="text" placeholder="Business  Name" ng-model="dentistClient.business_name" name="business_name" id="business_name" required-message="'This field is required..'"  required>
                                          </div>
                                        </div> 
                                        <div class="col-sm-12">
                                          <div class="form-group">
                                             <input type="hidden" name="lat" id="place_lat" ng-model="dentistClient.lat">
                                             <input type="hidden" name="lang" id="place_lng" ng-model="dentistClient.lang">
                            
                                             <input vs-google-autocomplete
                                             
                                                         ng-model="dentistClient.address"
                                                         vs-latitude="dentistClient.lat" 
                                                         vs-longitude="dentistClient.lang" 
                                                         vs-post-code="dentistClient.zip_code" 
                                                         vs-city="dentistClient.city" 
                                                         vs-state="dentistClient.state" 
                                                         vs-country="dentistClient.country"
                                                         
                                                         type="text" 
                                                         name="address"
                                                         id="address"
                                                         class="form-control" 
                                                         placeholder="Enter address"
                                                         aria-describedby="basic-addon1" 
                                                         required-message="'This field is required..'">
                                          </div>
                                        </div> 
                                        <div class="col-sm-3">
                                          <div class="form-group">
                                            <label>zip code</label>
                                            <input class="form-control" type="hidden" name="city" id="city" ng-model="dentistClient.city">
                                           <input class="form-control" type="hidden" name="state" id="state" ng-model="dentistClient.state">
                                           <input class="form-control" type="hidden" name="country" id="country" ng-model="dentistClient.country">
                                           <input class="form-control" type="text" placeholder="Zip Code" name="zip_code" id="zip_code" ng-model="dentistClient.zip_code"  required-message="'This field is required..'" required>
                            
                                           
                                         </div>
                                        </div>

                                     
                                      <div class="clearfix"></div>
                                      <div class="col-sm-12">  
                                        <div class="imageupload upload-border">
                                                <div class="file-tab">
                                                <div class="uploadimg-outer">  
                                                  <div class="uploadimg"><img id="clinic_image"  src="{{base_url}}uploads/clinic_picture/{{dentistClient.clinic_picture}}" alt=""  width="100px"/></div>
                                                  <button type="button" class="btn delete-button" ng-show="showimgprev" ng-click="delete_image()">
                                                       <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                   </button> 
                                                </div>
                                                <div class="upload-btn">   
                                                  <h5>Upload Business Pictures</h5>
                                                  <p>Image should be at least 300px 300px</p>
                                                      <label class="btn btn-default btn-file">
                                                          <span>Upload Photo</span>
                                                          <input name="image-file" type="file">
                                                           <input name="clinic_picture" type="file" id="clinic_picture"  file-model="dentistClient.clinic_picture"  invalid-message="'Not a valid imamge..'"  validate-on="dirty" >
                                                      </label>
                                                </div>      
                                              </div>
                                        </div>
                                      </div>
                                      
                                      </div>
                                          
                                    </div>
                                       
                                                  
                                    <div class="col-sm-12 next-btn">
                                       <div class="form-group">
                                       <a role="tab" data-toggle="tab" id="tab1" data-target="#step1" class="btn btn-back back">Back</a>
                                        <input value=" Next" name=" Next" class="btn btn-next" type="submit">
                                       </div>
                                    </div> 
                                    </div>
                                  </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="step3">
                                <form class="" novalidate angular-validator angular-validator-submit = "updateDentistStep3();" name="dentistStep3Form" id="dentistStep3Form" action="" method="POST" enctype="multipart/form-data">
                                    <div class="manage-profile manage-form-style">
                                   <div class="col-sm-12 manage-profile-headline">
                                    <h4>Education and Training</h4>
                                    <hr>
                                  </div>
                                  <div class="clearfix"></div>
                                  
                                    <div class="sectionGroup">
                                      
                                      <div class="manage-profile-headline">
                                        <h4>Education</h4>
                                      </div>
                                     <div class="contain-group-div"  data-ng-repeat="education in docsEdu">
                
                                      <div class="col-sm-8 no-pad">
                                           <div class="col-sm-6">
                                              <div class="form-group">
                                                 <label>Degree </label>
                                                 <input class="form-control" type="text" placeholder="Degree"  ng-model="docsEdu[$index].degree">
                                              </div>
                                           </div>
                                           <div class="col-sm-6">
                                              <div class="form-group">
                                                 <label>Year Completed</label>
                                                 <span class="date-pic">           
                                                 <datepicker  date-max-limit="{{currentDate}}" date-set="{{docsEdu[$index].completed_year}}" date-format="yyyy" selector="form-control" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                                                    <input class="form-control" type="text" placeholder="Year completed"  ng-model="docsEdu[$index].completed_year" readonly="readonly">
                                                 </datepicker>
                                                 </span>
                                                 <!-- <datetimepicker ng-model="docsEdu[$index].completed_year"></datetimepicker> -->
                                                 <!-- <datetimepicker data-ng-model="docsEdu[$index].completed_year" data-datetimepicker-config="{ modelType: 'YYYY'}" ></datetimepicker> -->
                                              </div>
                                           </div>
                                           <div class="col-sm-6">
                                              <div class="form-group">
                                                 <label>School Name</label>
                                                 <input class="form-control" type="text" placeholder="School Name"  ng-model="docsEdu[$index].medical_school">
                                              </div>
                                           </div>
                                           <div class="col-sm-6">
                                              <div class="form-group">
                                                 <label>School Location </label>
                                                 <!-- <input class="form-control" type="text" placeholder="School Location"  ng-model="docsEdu[$index].location"> -->
                                                 <input vs-google-autocomplete ng-model="docsEdu[$index].location" class="form-control"  placeholder="School Location" aria-describedby="basic-addon1">
                                              </div>
                                           </div>
                                        </div>
                                        <div class="col-sm-4">
                                           <div class="imageupload">
                                              <div class="file-tab">
                                                 <!-- <div class="uploadimg-outer" ng-if="education.certificate!='' || education.certificate">
                                                    <a href="{{base_url}}uploads/certificate/{{education.certificate}}" class="certificate-btn" target="_blank">
                                                    <div class="uploadimg"><img src="{{base_url}}uploads/certificate/no_image.jpg" /></div> 
                                                    </a>
                                                    <button type="button" class="btn delete-button" ng-click="delectEducationCertificate($index,docsEdu[$index].id)">
                                                       <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                    </button>               
                                                 </div> -->
                                                 <div class="uploadimg-outer" ng-if="education.certificate!='' || education.certificate">
                                                    
                                                    <div class="uploadimg">
                                                      <img src="images/pdf.png" alt="" ng-show="education.ext =='pdf'">
                                                       <img width="120" height="120" ng-show="education.ext !='pdf'" src="{{base_url}}uploads/certificate/{{education.certificate}}" />
                                                     
                                                    </div>
                
                                                    <button type="button" class="btn delete-button" ng-click="delectEducationCertificate($index,docsEdu[$index].id)">
                                                       <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                    </button> 
                                                    <a href="{{base_url}}uploads/certificate/{{education.certificate}}" class="certificate-btn" target="_blank">{{education.org_certificate}}</a>              
                                                 </div>
                                                 <div class="upload-btn">
                                                    <h5>upload scanned copy of education certificate </h5>
                                                    <p> Upload .png, .jpg, .jpeg, .pdf type files</p>
                                                    <label class="btn btn-default btn-file">
                                                    <span>Upload certificate</span>                           
                                                    <input type="file" class="upload" id="doc_edu_{{$index}}" name="doc_edu[{{$index}}]" onChange="angular.element(this).scope().changeTheEdu(this.files,this.id);"/> 
                                                    </label>
                                                 </div>
                                                 <button type="button" class="remove btn btn-danger remove-btn" ng-show="!$first" ng-click="removeEducation($index,docsEdu[$index].id)"><i class="fa fa-trash-o"></i> Delete </button>  
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     </div>
                                     <div class="clearfix"></div>
                                     <div class="col-sm-12">
                                        <button type="button" class="btn btn-default add-more-btn" ng-click="addNewEducation()"><i class="fa fa-plus" aria-hidden="true"></i>Add More</button>
                                     </div>
                                     <div class="clearfix"></div>
                                     <div class="col-sm-12 no-pad">
                                        <div class="mar-pad-bdr"></div>
                                        <div class="col-sm-12 col-md-6">
                                           <div class="contain-group-div">
                                              <div class="form-group" >
                                                 <div class="sectionGroup">
                                      
                                      <div class="manage-profile-headline">
                                        <h4>Awards & Publications</h4>
                                      </div>
                                    
                                                 <div class="form-main" data-ng-repeat="awards in dentist_awards">
                                                    <div class="form-left"> 
                                                       <input class="form-control" type="text" placeholder="Awards"  ng-model="dentist_awards[$index].award"> 
                                                    </div>
                                                    <div class="form-right">
                                                       <button type="button" class="btn btn-default cross-btn" ng-show="!$first" ng-click="removeAward($index,dentist_awards[$index].id)">
                                                       <i class="fa fa-times" aria-hidden="true"></i>
                                                       </button>
                                                    </div>
                                                 </div>
                                                 </div>
                                              </div>
                                              <div class="form-group">
                                                 <div class="form-main">
                                                    <div class="form-left">
                                                       <!--  <input class="form-control" type="text" placeholder="Lorem ipsum dolor sit amet.">  -->
                                                    </div>
                                                    <div class="form-right">
                                                       <button type="button" class="btn btn-default add-more-btn" ng-click="addNewAward()"><i class="fa fa-plus" aria-hidden="true"></i>Add More</button>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                           <div class="contain-group-div">
                                              <div class="form-group">
                                                 
                                                 <div class="sectionGroup">
                                      
                                      <div class="manage-profile-headline">
                                        <h4>In Network Insurance</h4>
                                      </div>
                                                 <div class="form-main"  data-ng-repeat="insurance in dentist_insurance">
                                                    <div class="form-left"> <input class="form-control" type="text" placeholder="Insurance"   ng-model="dentist_insurance[$index].insurance"> </div>
                                                    <div class="form-right">
                                                       <button type="button" class="btn btn-default cross-btn" ng-show="!$first" ng-click="removeInsurance($index,dentist_insurance[$index].id)">
                                                       <i class="fa fa-times" aria-hidden="true"></i>
                                                       </button>
                                                    </div>
                                                 </div>
                                                 </div>
                                              </div>
                                              <div class="form-group">
                                                 <div class="form-main">
                                                    <div class="form-left">
                                                       <!--  <input class="form-control" type="text" placeholder="Lorem ipsum dolor sit amet."> --> 
                                                    </div>
                                                    <div class="form-right">
                                                       <button type="button" class="btn btn-default add-more-btn" ng-click="addNewInsurance()"><i class="fa fa-plus" aria-hidden="true"></i>Add More</button>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="clearfix"></div>
                                     <div class="col-sm-12 next-btn">
                                        <div class="form-group">
                                           <a role="tab" data-toggle="tab" id="tab2" data-target="#step2" class="btn btn-back back">Back</a>
                                           <input value=" Next" name=" Next" class="btn btn-next" type="submit">
                                        </div>
                                     </div>
                                    </div>
                               </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="step4">
                                <form class="" novalidate angular-validator angular-validator-submit = "updateDentistStep4();" name="dentistStep4Form" id="dentistStep4Form" action="" method="POST" enctype="multipart/form-data">  
                                <div class="manage-profile manage-form-style">
                                   <!--<div class="col-sm-12 manage-profile-headline">
                                    <h4>NPI & State License info</h4>
                                    <hr>
                                  </div>-->
                                  <div class="sectionGroup">
                                      
                                      <div class="manage-profile-headline">
                                        <h4>NPI & State License info</h4>
                                      </div>
                                    <div class="contain-group-div"  data-ng-repeat="license in docsMore">
                                
                                                <div class="col-sm-12">
                                                      <div class="form-group">
                                                          <!--<label> License </label>-->
                                                         <input class="form-control" type="text" placeholder="License"  ng-model="docsMore[$index].license">
                                                       </div>
                                                </div>
                                                  <div class="clearfix"></div>
                                                <div class="col-sm-12">  
                                                    <div class="imageupload">
                                                        <div class="file-tab">
                                                            <div class="uploadimg-outer" ng-if="license.license_doc!=''">  
                                                            <div class="uploadimg">
                                                            <img src="images/pdf.png" alt="" ng-show="license.ext =='pdf'">
                                                            <img width="120"  ng-show="license.ext !='pdf'" src="{{base_url}}uploads/license_photo/{{license.license_doc}}" />
                                
                                                            </div>  
                                                            <button type="button" class="btn delete-button"  ng-click="delectLicense($index,docsMore[$index].id)">
                                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                              </button>
                                                                 <a href="{{base_url}}uploads/license_photo/{{license.license_doc}}" class="certificate-btn" target="_blank"> {{license.org_license}} </a>              
                                                            </div>
                                                           <div class="upload-btn">  
                                                                <h5>upload scanned copy of license </h5>
                                                                  <p> Upload .png, .jpg, .jpeg, .pdf type files</p>                      
                                                               <label class="btn btn-default btn-file">
                                                                  <span>Upload certificate</span>
                                                                 
                                                                   <input type="file" class="upload" id="doc_image_{{$index}}" name="doc_image[{{$index}}]" onChange="angular.element(this).scope().changeTheDoc(this.files,this.id);"/> 
                                                                </label>
                                                          </div>   
                                                          <button type="button" class="remove btn btn-danger remove-btn" ng-show="!$first" ng-click="removeLicense($index,docsMore[$index].id)"><i class="fa fa-trash-o"></i> Delete </button>   
                                                           
                                                      </div>
                                                 </div>
                                              </div> 
                                    </div>
                                    </div>
                                      <div class="clearfix"></div>   
                                  <div class="col-sm-12"> 
                                    <button type="button" class="btn btn-default add-more-btn" ng-click="addNewLicense()"><i class="fa fa-plus" aria-hidden="true"></i>Add More</button>
                                 </div>
                                   
                                         <div class="clearfix"></div>         
                                     <div class="col-sm-12 next-btn">
                                       <div class="form-group">
                                       <a role="tab" data-toggle="tab" id="tab3" data-target="#step3" class="btn btn-back back">Back</a>
                                        <input value=" Next" name=" Next" class="btn btn-next" type="submit">
                                       </div>
                                     </div>  
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="step5">
                                <form class="" novalidate angular-validator angular-validator-submit = "updateDentistStep5();" name="dentistStep5Form" id="dentistStep5Form" action="" method="POST" enctype="multipart/form-data"> 
                                    <div class="manage-profile manage-form-style">
                                   <!--<div class="col-sm-12 manage-profile-headline">
                                    <h4>Professional Experience</h4>
                                    <hr>
                                  </div>-->    
                                  <div class="sectionGroup">
                                      
                                      <div class="manage-profile-headline">
                                        <h4>Professional Experience</h4>
                                      </div>
                                      <div class="contain-group-div"  data-ng-repeat="experience in docsExp">
                                      <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Role/ Job Title</label>
                                               <input class="form-control" type="text" placeholder="Dentist"   ng-model="docsExp[$index].prof_exp">
                                             </div>
                                      </div>
                                      <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Employer Name</label>
                                               <input class="form-control" type="text" placeholder=""  ng-model="docsExp[$index].dental_business">
                                             </div>
                                      </div>
                                      <div class="col-sm-4">
                                            <div class="form-group">
                                               <label>Location</label>
                                               <input vs-google-autocomplete ng-model="docsExp[$index].location" class="form-control"  placeholder="" aria-describedby="basic-addon1">
                                
                                             </div>
                                      </div>
                                      <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>From</label>
                                                
                                               <div class='input-group date'>
                                               
                                                  <datepicker date-max-limit="{{currentDate}}" date-set="{{docsExp[$index].exp_from}}" date-format="MM/dd/yyyy"  button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                                                    <input type='text' init-date="{{docsExp[$index].exp_from}}"  class="form-control"  placeholder="Choose Date"  ng-model="docsExp[$index].exp_from" ng-change="checkErr(startDate,endDate)"/>
                                                  </datepicker>
                                
                                                  <span class="input-group-addon">
                                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                                  </span>
                                                </div>
                                             </div>
                                      </div>
                                
                                      <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>To</label>
                                               <div class='input-group date'>
                                                <datepicker  date-max-limit="{{currentDate}}" date-set="{{docsExp[$index].exp_to}}" date-format="MM/dd/yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                                                  <input type='text' class="form-control" placeholder="Choose Date" ng-model="docsExp[$index].exp_to" ng-disabled="docsExp[$index].present" ng-change="checkErr(docsExp[$index].exp_to,docsExp[$index].exp_from)"/>
                                                </datepicker> 
                                                  <span class="input-group-addon">
                                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                                  </span>
                                                      </div>
                                              <span class="has-error" id="date_validation_error">{{errMessage}}</span>
                                             </div>
                                
                                             
                                      </div>
                                      <div class="col-sm-4">
                                            <div class="form-group">
                                           <!--  <div class="check-box">
                                             <div class="squaredFour">
                                                <input type="checkbox" name="present" ng-value-true=1   ng-model="docsExp[$index].present" ng-change="docsExp[$index].exp_to = docsExp[$index].present ? '' : docsExp[$index].exp_to"/>
                                                <label for="squaredFour"></label>
                                              </div>
                                                <span>Present</span>
                                              </div> -->
                                
                                        <div class="check-box">
                                               <input type="checkbox" name="present" ng-value-true=1   ng-model="docsExp[$index].present" ng-change="docsExp[$index].exp_to = docsExp[$index].present ? '' : docsExp[$index].exp_to"  ng-click="DateErroHide()"> <span>Present</span><br>
                                             </div> 
                                
                                            </div> 
                                      </div>
                                       <div class="clearfix"></div>
                                       <div class="col-sm-12">  
                                              <div class="imageupload">
                                                  <div class="file-tab">
                                                  <div class="uploadimg-outer" ng-if="experience.experience_doc!=''">  
                                                  <div class="uploadimg">
                                                  <img src="images/pdf.png" alt="" ng-show="experience.ext =='pdf'">
                                                  <img  ng-show="experience.ext !='pdf'" src="{{base_url}}uploads/exp_document/{{experience.experience_doc}}" />
                                
                                                  </div>  
                                                  <button type="button" class="btn delete-button"  ng-click="delectExprience($index,docsExp[$index].id)">
                                                                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                                    </button>
                                                      <a href="{{base_url}}uploads/exp_document/{{experience.experience_doc}}" class="certificate-btn" target="_blank"> {{experience.org_exp}} </a>            
                                                  </div>
                                                    <div class="upload-btn">  
                                                        <h5>upload scanned copy of experience </h5> 
                                                          <p> Upload .png, .jpg, .jpeg, .pdf type files</p>                      
                                                             <label class="btn btn-default btn-file">
                                                                <span>Upload certificate</span>
                                                                
                                                                <input type="file" class="upload" id="doc_image_{{$index}}" name="doc_image[{{$index}}]" onChange="angular.element(this).scope().changeTheExp(this.files,this.id);"/> 
                                                              </label>
                                
                                                    </div>  
                                                    <button type="button" class="remove btn btn-danger remove-btn" ng-show="!$first" ng-click="removeExperience($index,docsExp[$index].id)"><i class="fa fa-trash-o"></i> Delete </button>     
                                                         
                                                  </div>
                                               </div>
                                       </div>
                                      </div> 
                                      </div>
                                        <div class="clearfix"></div> 
                                       <div class="col-sm-12">
                                        <button type="button" class="btn btn-default add-more-btn" ng-click="addNewExp()"><i class="fa fa-plus" aria-hidden="true"></i>Add More</button>
                                       </div>
                                         
                                                      
                                           <div class="col-sm-12 next-btn">
                                             <div class="form-group">
                                             <a role="tab" data-toggle="tab" id="tab4" data-target="#step4" class="btn btn-back back">Back</a>
                                              <input value=" Next" name=" Next" id="step5Next" class="btn btn-next" type="submit">
                                             </div>
                                           </div>   
                                
                                           <!--</div>-->
                                    </div>
                                    </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="step6">
                                <form class="" novalidate angular-validator angular-validator-submit = "updateDentistStep6();" name="dentistStep6Form" id="dentistStep6Form" action="" method="POST" enctype="multipart/form-data">    
                                <div class="manage-profile manage-form-style">
                                   <!--<div class="col-sm-12 manage-profile-headline">
                                    <h4>Specialties</h4>
                                    <hr>
                                  </div>    -->
                                    <div class="col-sm-12">
                                        <div class="sectionGroup">
                                      
                                      <div class="manage-profile-headline">
                                        <h4>Specialties</h4>
                                      </div>
                                  <!--<label>Skill Highlights / specialties</label>-->              
                                       <div class="form-group">
                                         <div class="form-main"  data-ng-repeat="skill in dentist_skills">
                                           <div class="form-left">
                                            <input class="form-control" type="text" placeholder="Skill Highlights" ng-model="dentist_skills[$index].skills">
                                           </div> 
                                           <div class="form-right">                   
                                               <button type="button" class="btn btn-default cross-btn" ng-show="!$first" ng-click="removeChoice($index,dentist_skills[$index].id)">
                                               <i class="fa fa-times" aria-hidden="true"></i>
                                               </button>
                                           </div>
                                         </div>
                                         </div>
                                         </div>
                                         <div class="form-group">
                                          <button type="button" class="btn btn-default add-more-btn" ng-click="addNewSkill()"><i class="fa fa-plus" aria-hidden="true"></i>Add More</button>
                                       </div>
                                    </div>
                                          <div class="clearfix"></div>
                                 <div class="col-sm-12 next-btn">
                                       <div class="form-group">
                                            <a role="tab" data-toggle="tab" id="tab5" data-target="#step5" class="btn btn-back back">Back</a>
                                            <input value=" Next" name=" Next" class="btn btn-next" type="submit">
                                       </div>
                                 </div>
                                 </div>
                                   </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="step7">
                                <form class="" novalidate angular-validator angular-validator-submit = "updateDentistStep7(dentistLanguage);" name="dentistStep2Form" id="dentistStep2Form" action="" method="POST" enctype="multipart/form-data"> 
                                <div class="manage-profile manage-form-style">
                                   <!--<div class="col-sm-12 manage-profile-headline">
                                    <h4>Personal Statement</h4>
                                    <hr>
                                  </div>-->
                                  <div class="sectionGroup">
                                      
                                      <div class="manage-profile-headline">
                                        <h4>Personal Statement</h4>
                                      </div>
                                  <div class="col-lg-6 col-md-8 col-sm-9">
                                      <div class="form-group manage-form6">
                                          <label>Languages Spoken</label>
                                            <div class="tagsinput-outer">
                                             <div ng-dropdown-multiselect="" options="language_option" selected-model="allLanguage"  class="multi-dp-block" extra-settings="searchSelectAllSettings"></div>
                                                        
                                            </div>
                                       </div>
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="col-lg-12 col-md-12 col-sm-12">
                                      <div class="form-group">
                                          <label>Personal  Statement</label>
                                          <textarea class="form-control" rows="5" name="personal_statement" id="personal_statement" placeholder="Personal  Statement" ng-model="dentistLanguage.personal_statement"></textarea>
                                
                                       </div>
                                  </div> 
                                  </div>
                                    <div class="clearfix"></div>              
                                  <div class="col-sm-12 next-btn">
                                     <div class="form-group">
                                      <a role="tab" data-toggle="tab" data-target="#step6" id="tab6" class="btn btn-back back">Back</a>
                                      <input value=" Preview" name=" Preview" class="btn btn-next" type="button" ng-click="savePreviewShow()">
                                      <input value=" Publish" name=" Next" class="btn btn-next" type="submit">
                                     </div>
                                  </div> 
                                </div>
                                </form>
                            </div>
                            </div>
                          </div>

                        
                    </div>
                    <div class="item">
                        <div class="manage-profile-headline clearfix">
                            <h4 class="headline-change text-center">Subscription</h4>
                        </div>
                        
                        <div class="row">
                  <div class="col-sm-12">
                      
                      <table cellpadding="0" cellspacing="0" width="100%" class="subscriptionTable">
                          <tr>
                              <th>DentalChat Essential</th>
                              <td>Subscription Status</td>
                              <td ng-if="dentist_details.docs_details.plan==99 || dentist_details.docs_details.plan==189"><p>Subscribed <a href="javascript:void(0)" data-toggle="modal" data-target="#cancel_confirm">Cancel</a></p></td>
                              <td ng-if="dentist_details.docs_details.plan==0"><p>Not Subscribed <a href="/dentist-pricing">Subscribe</a></p></td>
                          </tr>
                          <tr ng-if="dentist_details.docs_details.plan!=0">
                              <th></th>
                              <td>Plan detail</td>
                              <td>        
                                      <p ng-if="dentist_details.docs_details.plan==99">
                                             Super Saver <a href="/dentist-pricing">Upgrade</a>
                                     </p>
                                     <p ng-if="dentist_details.docs_details.plan==189">
                                         Monthly Subscription <a href="/dentist-pricing">Upgrade</a>
                                     </p>
                                     
                              </td>
                          </tr>
                          <tr ng-if="dentist_details.docs_details.plan!=0">
                              <th></th>
                              <td>Next charge</td>
                              <td>
                                <p>{{subscribe_date | date: 'dd-MMM-yyyy'}}</p>
                              </td>
                              
                          </tr>
                          <tr ng-if="dentist_details.docs_details.plan!=0">
                              <th></th>
                              <td>Payment Method</td>
                              <td><img src="https://images-na.ssl-images-amazon.com/images/G/01/amazonservices/payments/website/Button_gold_M._V526162779_.png" alt="" title="" class="as-img as-img-theme-icon as-img-theme-image-default img-responsive as-responsive-img"></td>
                          </tr>
                          <tr ng-if="dentist_details.docs_details.plan!=0">
                              <th></th>
                              <td>Past payments</td>
                              <td ng-if="dentist_details.docs_details.payment_status==1"><p><a href="javascript:void(0)">View Payment History</a></p></td>
                              <td ng-if="dentist_details.docs_details.payment_status==0"><p>Got no payment</p></td>
                          </tr>
                          <tr>
                              <td colspan="3"><hr></td>
                          </tr>
                          
                          <tr id="chatbot_tr">
                              <th>ChatBot</th>
                              <!-- <td>Info</td> -->
                              <td>Subscription Status</td>
                              <td id="chatbot_status1" ng-if="dentist_details.docs_clinics.web_address"><p>Subscribed  <a href="javascript:void(0)" data-toggle="modal" data-target="#cancel_chatbot">Cancel</a></p></td>
                              <td id="chatbot_status0" ng-if="!dentist_details.docs_clinics.web_address"><p>Not Subscribed <a href="javascript:void(0)" data-toggle="modal" data-target="#confirm_weburl">Subscribe</a></p></td>
                              <!-- <td><p>Info</p></td> -->
                          </tr>
                          <tr id="hide_weburl" ng-if="dentist_details.docs_clinics.web_address">
                              <th></th>
                              <td>Website URL</td>
                              <td><a id="web_url" target="_blank" href="{{dentist_details.docs_clinics.web_address}}">{{dentist_details.docs_clinics.web_address}}</a></td>
                          </tr>
                          
                      </table>
                      
                     <!-- <div class="form-group subscription_wrapper" ng-if="dentist_details.docs_details.plan!=NULL">
                        <div class="row">
                            <div class="col-md-12 subscription_title"><label>Subscription Details</label></div>
                            <div class="col-md-12 subscription_info">
                                 <div class="form-group">
                                      <label>Subscription Plan:</label>
                                     <div ng-if="dentist_details.docs_details.plan==99">
                                         Super Saver
                                     </div>
                                     <div ng-if="dentist_details.docs_details.plan==189">
                                         Monthly Subscription
                                     </div>
                                  </div>
                                  <div class="form-group" ng-if="dentist_details.docs_details.plan!=NULL">
                                      <label>Payment Status:</label>
                                     <div>
                                         
                                        <p class="dark-text" ng-if="dentist_details.docs_details.payment_status==0">Pending <a href="dentist-checkout">Click here to pay</a></p>
                                        <p class="dark-text" ng-if="dentist_details.docs_details.payment_status==1">Paid</p>
                                     </div>   
                                  </div>
                                  <div class="form-group">
                                      <label>Subscription Date:</label>
                                     <div id="sub_date">
                                         {{dentist_details.docs_details.subscribe_date}}
                                     </div>
                                  </div>
                                  <div class="form-group">
                                      <label>Subscription Renewal Date:</label>
                                     <div id="sub_ren_date">
                                         {{dentist_details.docs_details.subscribe_date}}
                                     </div>
                                  </div>
                            </div>
                        </div> 
                       </div>
                       <div class="form-group subscription_wrapper not_subscription" ng-if="dentist_details.docs_details.plan==NULL">
                           <label class="text-center">You are not subscribe any plan?</label>
                           <div class="form-group">
                            <a href="pricing" class="btn btn-warning btn-post">Click Here to Subscribe Now</a>
                            </div>
                       </div>-->
                  </div>
              </div>
              
                    </div>
                    <div class="item">
                        <div class="manage-profile-headline clearfix">
                            <h4 class="headline-change text-center">TimeZone</h4>
                        </div>    
                    </div>
                    <div class="item">
                        <div class="manage-profile-headline clearfix">
                            <h4 class="headline-change text-center">Notifications</h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="manage-profile-headline clearfix">
                            <h4 class="headline-change text-center">Privacy</h4>
                        </div>    
                    </div>
                    
                </div>
            </div>
       </div>
    </div>
     
     </div>
  
 </div>
</div>
</section>
 
<div id="cancel_confirm" class="modal fade pop_confirm" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">      
      <div class="modal-body postDetailPopup">
        
            <div class="manage-profile manage-form-style">               
                <div ng-if="dentist_details.docs_details.plan==99">
                        <h4><i class="fa fa-close"></i>Cancellation</h4>
                    <p>You are cancelling the Super Saver</p>
                </div>
                <div ng-if="dentist_details.docs_details.plan==189">
                    <h4><i class="fa fa-close"></i>Cancellation</h4>
                    <p>You are cancelling the Monthly Subscription</p>                        
                </div>
             </div>
        
        <div class="popupAction">
                <button class="btn btn-primary" type="button" data-dismiss="modal" ng-click="upgradeplan(0)">Proceed</button>
                <button class="btn btn-default" type="button" data-dismiss="modal">Back</button>            
        </div>
        
    </div>
  </div>

</div>
</div>

<div id="cancel_chatbot" class="modal fade pop_confirm" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">      
      <div class="modal-body postDetailPopup">
        
            <div class="manage-profile manage-form-style">               
                <div>
                    <h4><i class="fa fa-close"></i>Cancellation</h4>
                    <p>You are cancelling the ChatBot subscription</p>
                </div>
            </div>
        
        <div class="popupAction">
                <button class="btn btn-primary" type="button" data-dismiss="modal" ng-click="updateWebsite(0)">Proceed</button>
                <button class="btn btn-default" type="button" data-dismiss="modal">Back</button>            
        </div>
        
    </div>
  </div>

</div>
</div>

<div id="confirm_weburl" class="modal fade pop_confirm" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">      
    <form class="" novalidate angular-validator angular-validator-submit = "updateWebsite(dentistClient);" name="dentistweb" id="dentistweb" action="" method="POST">
      <div class="modal-body postDetailPopup">
        
            <div class="manage-profile manage-form-style">               
                <div>
                        <h4>Confirm Website Address</h4>
                    <!-- <p>You are cancelling the Super Saver</p> -->
                </div>
                
                <!-- <input ng-model="dentistweb.web_address" type="url" name="web_address" id="web_address" class="form-control" placeholder="Enter web address" required-message="'This field is required..'"> -->
                <input class="form-control" type="url" placeholder="https://dentalchat.com" name="web_address" id="web_address" ng-model="dentistClient.web_address" invalid-message = "'Url should be with http:// or https://'" required-message="'This field is required..'" required>
             </div>
        
        <div class="popupAction">
                <!-- <button class="btn btn-primary" type="submit">Confirm</button> -->
                <input value="Confirm" name="confirm" class="btn btn-primary" type="submit">  
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>            
        </div>
        
    </div>
    </form>
  </div>

</div>
</div>


<script>

$(document).ready(function(){
   $('#settingPages').carousel({
      interval: false,
      duration: 100
    }) 
    
    $(".back").on("click", function(){
        var id = $(this).attr('id');
        var id = id.substr(3);
        $('#'+id).tab('show');
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    });
    
    var parentele = $("#tab-carousel");
    var parentWidth = parentele.width();
    var eleSlide = $("#tab-carousel .tab-inner");
    var slideCount = eleSlide.children().length;
    eleSlide.css({
        width:parentWidth*slideCount+'px'
    });
    eleSlide.children().css({
        width:parentWidth+'px'
    });

    $('.step a[data-toggle="tab"]').on('hide.bs.tab', function (e) {            
        var currentUrl = $(e.target).attr('data-target');
        var nextUrl = $(e.relatedTarget).attr('data-target');
        var currIndex = $(currentUrl).index();
        var nextIndex = $(nextUrl).index();

        if(currIndex < nextIndex){
            eleSlide.css({
                transform: 'translateX(-'+ parentWidth*nextIndex +'px)'
            });
        }else {
            eleSlide.css({
                transform: 'translateX(-'+ parentWidth*nextIndex +'px)'
            });
        }
    })
    
    $('#settingPages').on('slid.bs.carousel', function () {
      var cno = $('#settingPages .item.active').index();
      //alert(cno);
      var carIndicatore = $('.carousel-inde a');
      carIndicatore.removeClass('active');
      
      carIndicatore.each(function(){
         var slideToval = $(this).data('slide-to');
         //alert(slideToval);
         if(slideToval == cno){
             $(this).addClass('active');
         }
         
      });
      
      
    })
    
});
$(function() {
    var sub = localStorage.getItem("sub_open");
    if(sub==1){
        if(localStorage.getItem("count")!=1){
          localStorage.setItem('count',1);
          window.location.reload();
        }else{
          localStorage.removeItem('count',1);
          $("#subscription").click();
          localStorage.removeItem('sub_open');
        }
    }

   
});
</script>
<!-- 
$(document).ready(function(){
      if(localStorage.getItem("count")!=1){
        localStorage.setItem('count',1);
        window.location.reload();
      }else{
        localStorage.removeItem('count',1);
      }
      
    }); -->