<style>
    .message-right-panel .toggle_area > .whiteBox {
        overflow: visible;
    }
    ul.dropdown-menu .switch {
        width: 100% !important;
    }
    span.resetSearch {
        position: absolute;
        top: 23px;
        right: 27px;
        width: 15px;
        height: 16px;
        font-size: 15px;
    }
</style>

<!-- <div class="inner-page-header-blank"></div> -->
<!-- inner-page-header-blank for every inner page - header hight mentant -->

<section class="innerpage dashboard-innerpage">
  <div class="signup-details-section">
<div class="container-fluid">
  <div class="row">
   <div class="col-lg-12 no-pad clearfix">
   <div class="form-style">
       <div class="col-sm-12 clearfix">
      <div class="edit-profile-tab mar-btm-30"> 
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" id="dashboard"><a ui-sref="dentistmydashboard({})" data-target="#dashboardtab" role="tab" data-toggle="tab" class="tabTxt">Dashboard </a></li>
            <li role="presentation" class="active"><a data-target="#massagetab" aria-controls="change-password" role="tab" data-toggle="tab" class="tabTxt">Messages </a>
                <span class="mcounter_base"><a href="javascript:void(0)" class="mcounter" ng-show="unattendentPostCount != 0">{{attendentPostCount + unattendentPostCount}} </a></span>
            </li>
          </ul> 

       <div class="tab-content tebstyle01">
        <div id="massagetab" class="tab-pane active" role="tabpanel">
       <div class="col-sm-4 clearfix">
      <div class="message-left-panel">
        <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
                                 
    <li role="presentation" class="active">
        <a data-target="#home" class="active" aria-controls="home" role="tab" data-toggle="tab" ng-click="fetchAllPost()">all</a>
    </li>
    <li role="presentation">
      <a data-target="#attendent" aria-controls="attendent" role="tab" data-toggle="tab" ng-click="fetchAttendedPost()">attended <span class="number" ng-show="attendentPostCount!=0">{{attendentPostCount}}</span></a>
    </li>
    <li role="presentation">
      <a data-target="#messages" aria-controls="messages" role="tab" data-toggle="tab" ng-click="fetchUnAttendedPost()">un attended <span class="number" ng-show="unattendentPostCount!=0">{{unattendentPostCount}}</span></a>
    </li>

  </ul>

  <!-- Tab panes -->
  <a href="#" class="chatMobile visible-xs-block" > <i class="fa fa-angle-down"></i> </a>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        
               <div class="form-group">
       <div class="searchBox">
      <input type="button"  value="" class="searchbtn" ng-click="fetchAllPost()">

       <input type="text" class="form-control" name="searchKeyword" ng-model="searchKeyword" placeholder="Search By Name / Post Title / Message  / Location / Emergency = Yes/No">
       <span ng-click="resetSearch()" class="resetSearch">X</span>
       </div>
       </div> 
      <div class="scrollBox_left" id="messaging">

        <ul class="ul_height" ng-if="postList.length > 0">
          <li ng-class="postId==post.post_id ? 'active':''" ng-repeat="post in postList" ng-click="openChatHead(post,$index,0)">
            <div class="messages-img-div">
              <div class="user_profileImg">
                 <img ng-show="post.get_patient.image && post.get_patient.registration_type!=1" ng-src="{{post.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">

                <img ng-show="post.get_patient.image && post.get_patient.registration_type==1" ng-src="{{apiUrl}}uploads/patient_profile_image/{{post.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">

                <img ng-show="!post.get_patient.image" ng-src="images/upload-img.jpg" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">
              </div>
              <span class="span-appointment" title="Request for appoitment" ng-if="post.appointment" style="font-size: 20px; color: green;"><i class="fa fa-bookmark" aria-hidden="true"></i></span>
            </div>
            <div class="message-text-div">
            <h4>{{post.get_patient.title}} {{post.get_patient.name}} {{post.get_patient.last_name}}, Emergency : <span ng-if="post.emergency==1">yes</span> <span ng-if="post.emergency==0">No</span> </h4>
            <p>{{post.post_title | limitTo:25}} ...</p>
            <h3 ng-if="post.chat_history_arr.patient_content &&  post.chat_history_arr.patient_content!=''">{{post.get_patient.name}}: {{post.chat_history_arr.patient_content | limitTo:20}}...</h3>
             <h3 ng-if="post.chat_history_arr.doctor_content &&  post.chat_history_arr.doctor_content!=''">You: {{post.chat_history_arr.doctor_content | limitTo:20}}...</h3>
             </div>
            <div class="messages-icon">
              <span class="span-noti" ng-show="post.unread_chat_history_count!=0">{{post.unread_chat_history_count}}</span>
              <span class="span-time">{{ post.chat_history_arr.sent_time || post.posted_date }}</span>
            </div> 
          </li>  
        </ul>
      </div>
      <div class="np_button">
          <button ng-disabled="currentPaged == 1" ng-click="fetchAllPostPagi(1)">
              Previous
          </button>
          {{currentPaged}}/{{totalallPage}}
          <button ng-disabled="currentPaged == totalallPage" ng-click="fetchAllPostPagi()">
              Next
          </button>
           <p ng-if="postList.length==0" class="noTopic-text">No Topics to discuss</p>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="attendent">
                      <div class="form-group">
       <div class="searchBox">
      <input type="button"  value="" class="searchbtn" ng-click="fetchAttendedPost()">

       <input type="text" class="form-control" name="searchKeywordattend" ng-model="searchKeywordattend" placeholder="Search By Name / Post Title / Message  / Location / Emergency = Yes/No">
       <span ng-click="resetSearch()" class="resetSearch">X</span>
       </div>
       </div> 
      <div class="scrollBox_left">
       <ul class="ul_height" ng-if="postList.length > 0">
          <li ng-class="postId==post.post_id ? 'active':''"  ng-repeat="post in postListAttended | filter:searchKeyword" ng-click="openChatHead(post,$index,1)">
            <div class="messages-img-div">
            <div class="user_profileImg">
             
                
                <img ng-show="post.get_patient.image && post.get_patient.registration_type!=1" ng-src="{{post.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">

                <img ng-show="post.get_patient.image && post.get_patient.registration_type==1" ng-src="{{apiUrl}}uploads/patient_profile_image/{{post.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">

                <img ng-show="!post.get_patient.image" ng-src="images/upload-img.jpg" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">

              
            </div>
            <span class="span-appointment" title="Request for appoitment" ng-if="post.appointment" style="font-size: 20px; color: green;"><i class="fa fa-bookmark" aria-hidden="true"></i></span>
            </div>
            <div class="message-text-div">
            <h4>{{post.get_patient.title}} {{post.get_patient.name}} {{post.get_patient.last_name}},  Emergency : <span ng-if="post.emergency==1">yes</span> <span ng-if="post.emergency==0">No</span> </h4>
            <p>{{post.post_title | limitTo:25}} ...</p>
            <h3 ng-if="post.chat_history_arr.patient_content &&  post.chat_history_arr.patient_content!=''">{{post.get_patient.name}}: {{post.chat_history_arr.patient_content | limitTo:20}}...</h3>
             <h3 ng-if="post.chat_history_arr.doctor_content &&  post.chat_history_arr.doctor_content!=''">You: {{post.chat_history_arr.doctor_content | limitTo:20}}...</h3>
             </div>
            <div class="messages-icon">
              <span class="span-noti" ng-show="post.unread_chat_history_count!=0">{{post.unread_chat_history_count}}</span>  
              <span class="span-time">{{post.chat_history_arr.sent_time}}</span>
            </div> 
          </li>   
        </ul>
                    
      </div>
      <div class="np_button">
          <button ng-disabled="currentPagedatt == 1" ng-click="fetchAttendedPostpagi(1)">
        Previous
    </button>
    {{currentPagedatt}}/{{totalattndPage}}
    <button ng-disabled="currentPagedatt == totalattndPage" ng-click="fetchAttendedPostpagi()">
        Next
    </button>
        <p ng-if="postList.length==0">No Topics to discuss</p>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="messages">
                    <div class="form-group">
       <div class="searchBox">
      <input type="button"  value="" class="searchbtn" ng-click="fetchUnAttendedPost()">

       <input type="text" class="form-control" name="searchKeywordunattend" ng-model="searchKeywordunattend" placeholder="Search By Name / Post Title / Message  / Location / Emergency = Yes/No">
       <span ng-click="resetSearch()" class="resetSearch">X</span>
       </div>
       </div> 
    
     <div class="scrollBox_left">
          <ul class="ul_height" ng-if="postList.length > 0">
            <li ng-class="postId==post.post_id ? 'active':''"   ng-repeat="post in postListUnattended | filter: searchKeyword" ng-click="openChatHead(post,$index,2)">
              <div class="messages-img-div">
                <div class="user_profileImg">
                   <img ng-show="post.get_patient.image && post.get_patient.registration_type!=1" ng-src="{{post.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">

                  <img ng-show="post.get_patient.image && post.get_patient.registration_type==1" ng-src="{{apiUrl}}uploads/patient_profile_image/{{post.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">

                  <img ng-show="!post.get_patient.image" ng-src="images/upload-img.jpg" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">
                 
                </div>
              </div>
              <div class="message-text-div">
              <h4>{{post.get_patient.title}} {{post.get_patient.name}} {{post.get_patient.last_name}},  Emergency : <span ng-if="post.emergency==1">yes</span> <span ng-if="post.emergency==0">No</span> </h4>
              <p>{{post.post_title | limitTo:25}} ...</p>
              <h3 ng-if="post.chat_history_arr.patient_content &&  post.chat_history_arr.patient_content!=''">{{post.get_patient.name}}: {{post.chat_history_arr.patient_content | limitTo:20}}...</h3>
               <h3 ng-if="post.chat_history_arr.doctor_content &&  post.chat_history_arr.doctor_content!=''">You: {{post.chat_history_arr.doctor_content | limitTo:20}}...</h3>
               </div>
              <div class="messages-icon">
                <span class="span-noti" ng-show="post.unread_chat_history_count!=0">{{post.unread_chat_history_count}}</span>
                <span class="span-time">{{ post.posted_date }}</span>
              </div> 
            </li>   
          </ul>
      </div>
      <div class="np_button">
        <button ng-disabled="currentunPagedatt == 1" ng-click="fetchUnAttendedPostpagi(1)">
          Previous
        </button>
          {{currentunPagedatt}}/{{totalunattndPage}}
        <button ng-disabled="currentunPagedatt == totalunattndPage" ng-click="fetchUnAttendedPostpagi()">
          Next
        </button>
        <p ng-if="postList.length==0" >No Topics to discuss</p>              
      </div>
    </div>
  </div>

      
      </div>

       </div>
       <div class="col-sm-8 clearfix">
          <div class="message-right-panel" ng-show="openChatHeadWindow">
          <div class="whiteBox" style="overflow: visible !important;">
          <div class="col-md-12 col-sm-12 clearfix">
            <div class="message_update">
              <p>{{patientDetails.posted_date}} </p>  <!-- {{patientDetails.change_posted_date}}  -->
              <div class="small"> <h6>{{patientDetails.post_title}} </h6> </div><a ng-click="openPostDetails(patientDetails.post_id)" class="moreTxt" id="more">More... </a>
              </div>
              </div>
          </div>
          <div class="toggle_area">
          <div class="whiteBox hide_div">
            <div class="message_user" style="overflow: visible !important;">
            <div class="col-md-2 col-sm-12 col-xs-3 clearfix">
              <div class="user_profileImg" >
              
              <img ng-show="patientDetails.get_patient.image && patientDetails.get_patient.registration_type!=1" ng-src="{{patientDetails.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">

               <img ng-show="patientDetails.get_patient.image && patientDetails.get_patient.registration_type==1" ng-src="{{apiUrl}}uploads/patient_profile_image/{{patientDetails.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">

              <img ng-show="!patientDetails.get_patient.image" ng-src="images/upload-img.jpg" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">
          </div>
          </div>
              <div class="col-md-10 col-sm-12 col-xs-9 clearfix">
              <div class="user_profileInfo">
                <p>{{patientDetails.get_patient.title}} {{patientDetails.get_patient.name}} {{patientDetails.get_patient.last_name}}, (Emergency:<span ng-if="patientDetails.emergency==1">yes</span> <span ng-if="patientDetails.emergency==0">No</span>, Pain Level:<span>{{patientDetails.pain_level}} </span> )  </p>
                <div class="location"><span class="ic"><img src="images/ic_map.png" /></span> {{patientDetails.current_location}}</div>
              </div>
              </div>
              <!-- <div class="col-md-4 col-sm-12 col-xs-4 clearfix">
                    <div class="appointmentBox" >
                        <div class="appointmentIc active">
                            <div ng-show="patientDetails.is_status==0">
                                <i>Appointment Requested</i>
                                <div class="dropdown dropdown-start-parent">
                                    <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target=".dropdown-start-parent" href="#">Propose Time</a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="proposeDate"
                                                        data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed', modelType: 'YYYY-MM-DD hh:mm A' }" 
                                                        data-on-set-time="setAppointment(1)" data-before-render="startDateBeforeRender($dates)"></datetimepicker>
                                    </ul>
                                </div>
                            </div>
                            <div ng-show="patientDetails.is_status==1">
                                
                                <div class="dropdown dropdown-start-parent" ng-init="proposeDate=patientDetails.appointment_time">
                                    <i>Appointement Proposed for <b>{{patientDetails.appointment_time}}</b><br/> <a title="Do you want to update it. Please click" class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target=".dropdown-start-parent"
                                       href="#"><i class="fa fa-calendar" aria-hidden="true"></i> click to update </a></i>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="proposeDate"
                                                        data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed', modelType: 'YYYY-MM-DD hh:mm A' }"
                                                        data-on-set-time="setAppointment(1)"
                                                        data-before-render="startDateBeforeRender($dates)"></datetimepicker>
                                    </ul>
                                </div>
                            </div>
                            <div ng-if="patientDetails.is_status==2"></div>
                        </div>
                        <div class="appointmentIc active" ng-if="patientDetails.appointment==2 && patientDetails.is_status==1">
                            <i>Appointment Cancelled</i>
                            <button href="javascript:void(0);" class="btn-danger" ng-click="setAppointment(2)">Re-enabled</button>
                        </div>
                        <div class="appointmentBox active" ng-if="patientDetails.appointment==3">
                            <i class="text-center" style="color:green;">Appointment Confirmed</i>
                        </div>
                   </div>
              
              </div> -->
              </div>
          </div>
          <div class="click_hide">
           <button class="close_button hidden-xs">Close</button>
           <button class="close_button visible-xs">Show</button>
         </div>
          <div class="whiteBox marBot0 clearfix">
          
            <div class="mPostBox ">
              <div class="scrollBox height-max">

           
              <div class="col-md-12 col-sm-12 clearfix" ng-repeat="message in messageLogPatient">
                <div ng-class="message.from==dentistId ?  'otherUser':'postUser'">
                  <div class="post_leftPt">
                  <!--  <div class="postUserImgBox">-->

                  <!--    <img  ng-show="message.to==dentistId && patientDetails.get_patient.registration_type==1" width="58" ng-src="{{apiUrl}}uploads/patient_profile_image/{{patientDetails.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">-->

                  <!--    <img  ng-show="message.to==dentistId && patientDetails.get_patient.registration_type!=1" width="58" ng-src="{{patientDetails.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">-->

                  <!--    <img  ng-show="message.from==dentistId" ng-src="{{apiUrl}}uploads/dentist_profile_image/{{dentist_profile_pic}}" width="58" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">-->
                  <!--    </div>-->
                  <!--  <p class="postTime">{{message.createdAt}}</p>-->
                  <!--</div>-->
                  <div class="post_rightPt">
                    <p class="postUserName" ng-show="message.from==dentistId"><a href="javascript:void(0);">{{logged_user_name}}</a></p>
                    <p class="postUserName" ng-show="message.to==dentistId"><a href="javascript:void(0);">{{message.senderName}}</a></p>
                    <div class="postedBox">
                      <p>{{message.message}}</p>

                      <div class="postImgBox clearfix" ng-show="message.chat_file">
                        <a ng-href="{{chatImagePath}}{{message.chat_file}}" target="_blank">
                          <img ng-if="message.file_ext=='image'" ng-src="{{chatImagePath}}{{message.chat_file}}" class="mCS_img_loaded" width="206">
                          <span ng-if="message.file_ext!='image'" class ="file_attach">Download attachment  <img ng-if="message.file_ext!='image'" src="images/attech-ic.png" class="mCS_img_loaded"></span>
                       
                        </a>
                      </div>
                      <div class="attechIcon clearfix "  ng-show="message.file_ext=='image' && message.chat_file"><img src="images/attech-ic.png" class="mCS_img_loaded"></div>

                    </div>
                    <p class="postTime">{{message.createdAt}}</p>
                  </div>
                  </div>
                </div>


              

              </div>  
           </div>
           

          </div>
          <div class="whiteBox resetPad marBot0 clearfix" ng-show="!patientDetails.is_closed_chat || patientDetails.is_closed_chat!=1">
           
           <div class="mTypeBox">
             <div class="attech_icBox"><input accept="image/*,application/*" onchange="angular.element(this).scope().uploadAttachment(this.files)" type="file" name="file" value=""></div>
             <div class="textareaBox">
              <textarea ng-enter="sendMessage();" ng-model="message" placeholder="Enter Your message..."></textarea>
              </div><div><a href="#"></a></div>
           </div>
           <div class="sendBox"><a href="javascript:void(0);" class="go" ng-click="sendMessage();" >Send</a></div>
          </div>

          <div class="whiteBox resetPad marBot0 clearfix" ng-show="patientDetails.is_closed_chat && patientDetails.is_closed_chat==1">
            <p>Chat closed</p>
          </div>
          </div>
          </div>
       </div>
      </div>
    </div>
   </div>
 </div>
 </div>


 <div id="post_details_cont" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Post date time {{pDetails.posted_date}}</h4>
      </div>
      <div class="modal-body postDetailPopup">
        
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h2>{{pDetails.post_title}}</h2>
                <p class="location"><i class="fa fa-map-marker"></i> {{pDetails.current_location}}</p>
                
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group circleWrapp">
                          <div class="circle red" ng-if="pDetails.emergency==1"><label>Yes</label></div>
                          <div class="circle gray" ng-if="pDetails.emergency==0"><label>No</label></div>
                          <label>Emergency</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group circleWrapp">
                            <div ng-if="pDetails.pain_level==0 || pDetails.pain_level==1 || pDetails.pain_level==2 || pDetails.pain_level==3" class="circle lightgray"><label>{{pDetails.pain_level}}</label></div>
                            <div ng-if="pDetails.pain_level==4 || pDetails.pain_level==5 || pDetails.pain_level==6 || pDetails.pain_level==7" class="circle orange"><label>{{pDetails.pain_level}}</label></div>
                            <div ng-if="pDetails.pain_level==8 || pDetails.pain_level==9 || pDetails.pain_level==10" class="circle red"><label>{{pDetails.pain_level}}</label></div>
                            <label>Pain level</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group circleWrapp">
                            <div class="circle red" ng-if="pDetails.appointment==1"><label>Yes</label></div>
                            <div class="circle lightgray" ng-if="pDetails.appointment==0"><label>No</label></div>
                            <label>Appt. Request</label>
                        </div>
                    </div>
                    <div class="col-sm-3" ng-if="pDetails.appointment==1">
                        <div class="form-group circleWrapp">
                            <div class="circle lightgray" ng-if="pDetails.appointment_time==1"><label>{{pDetails.appointment_datetime}} <b>8am - 4pm</b></label></div>
                            <div class="circle lightgray" ng-if="pDetails.appointment_time==2"><label>{{pDetails.appointment_datetime}} <b>4pm - 12am</b></label></div>
                            <div class="circle lightgray" ng-if="pDetails.appointment_time==3"><label>{{pDetails.appointment_datetime}} <b>12am - 8am</b></label></div>
                            <label>Appt. Date & Time</label>
                        </div>
                    </div>
                </div>
                
                <div class="form-group bordered">
                  <label>Description</label>
                  <p class="form-control-static">{{pDetails.description}}</p>
                   <!--textarea class="form-control form-control-yellow" style="height:115px;"  ng-model="pDetails.description" name="description" readonly="true"></textarea-->
                </div> 
                
                <div class="bordered">
                <label>Additinal Information</label>
                <div class="row form-row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Do you have dental insurance ? : <label class="label label-success" ng-if="pDetails.insurance==1">Yes</label><label class="label label-default" ng-if="pDetails.insurance==0">No</label></label>
                      <p ng-if="pDetails.insurance==1" class="form-control-static">{{pDetails.insurance_information}}</p>
                    </div>
                  </div>
              </div>
              <div class="row form-row" ng-if="pDetails.last_cleaning">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>When was the last time you had a Dental prophy / cleaning at a dentist?</label>
                      <p class="form-control-static">{{pDetails.last_cleaning}}</p>
                    </div>
                  </div>
              </div>
              </div>
                
                
            </div>
            
            <div class="col-md-3 col-sm-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Attachment</label>
                    <ul class="attachbox attachbox-modal clearfix row" ng-if=" pDetails.get_attachments.length > 0">
                      <li class="demo-class col-md-12 col-sm-4 col-xs-12"  ng-repeat="items in pDetails.get_attachments">
                       <a class="thumbnail" href="{{postAttachmentPath}}uploads/patient_post_attachments/{{items.file_name}}" target="_blank"><img ng-src="{{postAttachmentPath}}uploads/patient_post_attachments/{{items.file_name}}"></a>
                       <a class="download-button" href="{{postAttachmentPath}}uploads/patient_post_attachments/{{items.file_name}}" target="_blank" download><i class="fa fa-download"></i></a> 
                      </li> 
        
                    </ul>
                    <p ng-if=" pDetails.get_attachments.length == 0">No attachment found</p>
                </div>
            </div>
        </div>
         
       
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
</div>

 </div>
</div>
</div>
</div>
</section>
<div id="first_info" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      
      <div class="modal-body postDetailPopup">
         <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
                <div class="carousel-caption">
                <h1>Welcome to DentalChat</h1>
                <p><b>We've created a small product tour to help you learn about the features and benefits of DentalChat to ensure that you get the best results.</b></p><br>
                <a href="https://play.google.com/store/apps/details?id=com.dental.chat" target="_blank" ><img src="https://dentalchat.com/test/images/wcBanner/mobile-1.png" height="40" alt="Android"></a>
                <a href="https://itunes.apple.com/us/app/dentalchat/id1305037102?mt=8" target="_blank" ><img src="https://dentalchat.com/test/images/wcBanner/mobile-2.png" height="40" alt="IOS"></a>
              </div>
             <img class="img-responsive" src="https://dentalchat.com/images/wcBanner/wc-banner-1.jpg" alt="Welcome to DentalChat">
            </div>
            <div class="item">
                <div class="carousel-caption">
                <h1>Email Verification</h1>
                <!-- <p><b>Check your registered email from DentalChat with below content. Please click the verify Email link or button.</b></p> -->
                <p><b>Please check your email for a verification link from us at DentalChat. Please click the verify Email link or button.</b></p>
              </div>
             <img class="img-responsive" src="https://dentalchat.com/images/wcBanner/wc-banner-2.jpg" alt="Email Verification">
              
            </div>
             <div class="item">
              <div class="carousel-caption">
                <h1>Connect with your clients</h1>
                <p><b>Helps you to connect with clients.</b></p>
                <ul class="list-unstyle">
                    <li><b>Step 1:</b> Click Messaging Menu</li>
                    <li><b>Step 2:</b> Click Messages</li>
                </ul>
                <ul class="list-unstyle">
                    <li><b>ALL</b>  Lists all posts in chronological order </li>
                    <li><b>ATTENDED</b> Lists only attended posts in the chronological order </li>
                    <li><b>UNATTENDED</b> Lists only un-attended posts in the chronological order </li>
                    <li><b>More..</b> To view post details. </li>
                </ul>
              </div>
              <img class="img-responsive" src="https://dentalchat.com/images/wcBanner/wc-banner-3.jpg" alt="Connect with your clients">
            </div>
            
            <div class="item">
              <div class="carousel-caption">
                <h1>Complete your Profile</h1>
                <p><b>Completing your DentalChat profile will boost your presence much more to attract new patients and connect with them instantly.</b></p>
                <ul class="list-unstyle">
                    <li><b>Step 1:</b>  Click Profile on the main menu. </li>
                    <li><b>Step2:</b>  Complete all sections and click NEXT. </li>
                </ul>
              </div>
              <img class="img-responsive" src="https://dentalchat.com/images/wcBanner/wc-banner-4.jpg" alt="Complete your Profile">
            </div>
            
            <div class="item">
              <div class="carousel-caption">
                <h1>Analyze your leads</h1>
                <p><b>Use Dashboard section to view your data at a higher level.</b></p>
                <ul class="list-unstyle">
                    <li><b>Step 1:</b>  Click Messaging on the main menu. </li>
                    <li><b>Step2:</b>  click DASHBOARD</li>
                </ul>
              </div>
              <img class="img-responsive" src="https://dentalchat.com/images/wcBanner/wc-banner-5.jpg" alt="Analyze your leads">
            </div>
            
          </div>
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          </ol>
        </div>
        
        <div class="popupAction">
            <label class="checkbox-inline"><input type="checkbox" ng-model="vm.myChkModel" ng-change="vm.myClick(vm.myChkModel , dentistId)" data-dismiss="modal"></label><label>DON'T SHOW AGAIN &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <a href="#" data-dismiss="modal"> Skip the Tour </a>
        </div>
        
    </div>
  </div>

</div>
</div>
    
<script>

$(function() {
/*$('.message_update a.moreTxt').click(function() {
  $('.message_update .small').toggleClass('big');
  $('.message_update a.moreTxt').toggleClass('big_left');
  e.preventDefault();

});*/
});

var screenWidth = $(window).innerWidth();

$(".click_hide button").on("click",function(){
  var $this = $(this);
    $this.parents(".toggle_area").toggleClass('hide_panel');

    if(screenWidth < 768){
      if ($this.parents(".toggle_area").hasClass('hide_panel')) {
            $this.text('hide');                
      } else {
            $this.text('show');                
      }
    }else {
      if ($this.parents(".toggle_area").hasClass('hide_panel')) {
            $this.text('show');                
      } else {
            $this.text('hide');                
      }
    }
       
   })

function imgError(image) {
    image.onerror = "";
    image.src = "/server/uploads/patient_profile_image/no_image.jpg";
    return true;
}
/*$( window ).load(function() {
    alert();
});*/
$(function() {
    var pop = localStorage.getItem("pop_open");
    
    if(pop==1){
         $('#first_info').modal('toggle');
    }
   //localStorage.removeItem('pop_open');

});

$('a.chatMobile').on('click', function (e) {
  $(this).next(".tab-content").slideToggle();
  $(this).toggleClass("up");
})
if(screenWidth < 768){
  $('.message-left-panel a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    $('a.chatMobile').next(".tab-content").show();  
    $('a.chatMobile').addClass("up");
  })
}

// Instance the tour
/* var tour = new Tour({
   steps: [
   {
     element: "#message",
     title: "Messaging Page",
     content: "Content of Messaging Page",
     backdrop: true
   },
   {
     element: "#profile",
     title: "Profile",
     content: "Content of Profile",
     backdrop: true
   },
   {
     element: "#dashboard",
     title: "Dashboard",
     content: "Content of Dashboard",
     backdrop: true
   },
   {
     element: "#messaging",
     title: "Message",
     content: "How to chat with patient<br>Click on one of this in list",
     backdrop: true
   },
   {
     element: "#more",
     title: "Patient Post",
     content: "Patient Post with good attachment information",
     backdrop: true
   }
 ]});

 // Initialize the tour
 tour.init();

 // Start the tour
 tour.start();*/
 /*jQuery(window).on("load", function () {
  setTimeout(function(){
      // insert code here
    $(".message-left-panel .tab-pane ul li:first-child").click();
    angular.element(".message-left-panel .tab-pane ul li:first-child").triggerHandler('click');
    }, 3000);
    
});*/
</script>
