<div class="inner-page-header-blank"></div>

<section class="innerpage">

<div class="manage-profile-section">
 <div class="container">
  <div class="row">
  <div class="col-lg-12">
  <ul class="step">
    <li class="done" ui-sref="dentistProfileStep1"> <i class="fa fa-check" aria-hidden="true"></i> </li>
    <li ui-sref="dentistProfileStep2" ng-class="{'done':step2 !=1}"> <i class="fa fa-check" aria-hidden="true"></i> </li>
    <li ui-sref="dentistProfileStep3" ng-class="{'done':step3 !=1}"> <i class="fa fa-check" aria-hidden="true"></i> </li>
    <li ui-sref="dentistProfileStep4" ng-class="{'done':step4 !=1}"> <i class="fa fa-check" aria-hidden="true"></i> </li>
    <li ui-sref="dentistProfileStep5" ng-class="{'done':step5 !=1}"> <i class="fa fa-check" aria-hidden="true"></i> </li>
    <li ui-sref="dentistProfileStep6" ng-class="{'done':step6 !=1}"> <i class="fa fa-check" aria-hidden="true"></i> </li>
    <li class="active"> 7 </li> 
  </ul>
   <div class="manage-profile manage-form-style manage-form6">
   <div class="col-sm-12 manage-profile-headline">
    <h3>Preview and Publish</h3>
  </div>

<form class="" novalidate angular-validator angular-validator-submit = "updateDentistStep7(dentistLanguage);" name="dentistStep2Form" id="dentistStep2Form" action="" method="POST" enctype="multipart/form-data"> 

  <div class="col-lg-6 col-md-8 col-sm-9">
      <div class="form-group">
          <label>Languages Spoken</label>
            <div class="tagsinput-outer">
             <div ng-dropdown-multiselect="" options="language_option" selected-model="allLanguage"  class="multi-dp-block" extra-settings="searchSelectAllSettings"></div>
                        
            </div>
       </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="form-group">
          <label>Personal  Statement</label>
          <textarea class="form-control" rows="5" name="personal_statement" id="personal_statement" placeholder="Personal  Statement" ng-model="dentistLanguage.personal_statement"></textarea>

       </div>
  </div>    
    <div class="clearfix"></div>              
  <div class="col-sm-12 next-btn">
     <div class="form-group">
      <a ui-sref="dentistProfileStep6" class="btn btn-back">Back</a>
      <input value=" Preview" name=" Preview" class="btn btn-next" type="button" ng-click="savePreviewShow()">
      <input value=" Publish" name=" Next" class="btn btn-next" type="submit">
     </div>
  </div> 

</form>
     </div>
     </div>
    </div>
   </div>
 </div>

</section>
