<div class="pricing_wrapper">
<div class="container-fluid">
  <div class="page-header">
    <h1>Checkout</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="list-group">
        <div class="list-group-item">
          <div class="list-group-item-heading">          
              <div class="row">
                <div class="col-xs-3">
                  <div class="radio">
                    <label>
                      Dentist Details
                    </label>
                  </div>
                </div>
                <div class="col-xs-9">                      
                  <form role="form" class="">
                    <div class="form-group">
                      <label for="inputname">Name</label>
                      <input type="text" class="form-control form-control-large" id="inputname" placeholder="Enter name" value="{{dentist_details.docs_details.first_name}} {{dentist_details.docs_details.last_name}}" readonly>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress1">Plan</label>
                      <input type="text" class="form-control form-control-large" id="inputAddress1" placeholder="Enter address"value="{{dentist_details.docs_details.plan}}" readonly>
                    </div>
                    <!--<div class="form-group">
                      <label for="inputAddress2">Street address 2</label>
                      <input type="text" class="form-control form-control-large" id="inputAddress2" placeholder="Enter address">
                    </div>
                    <div class="row">
                      <div class="col-xs-3">
                        <div class="form-group">
                          <label for="inputZip">ZIP Code</label>
                          <input type="text" class="form-control form-control-small" id="inputZip" placeholder="Enter zip">
                        </div>
                      </div>
                      <div class="col-xs-9">
                        <div class="form-group">
                          <label for="inputCity">City</label>
                          <input type="text" class="form-control" id="inputCity" placeholder="Enter city">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputState" class="control-label">State</label>
                      <select class="form-control form-control-large">
                        <option>Select state</option>
                      </select>
                    </div>-->
                  </form>
                  
                </div>
              </div>
          </div>
        </div>
      </div>
      <h3>I'll pay with&hellip;</h3>
      <div class="list-group">
        <div class="list-group-item">
          <div class="list-group-item-heading">          
              <div class="row radio">
                <div class="col-xs-3">
                  <label>
                    PayPal
                  </label>
                </div>
                <div class="col-xs-9">                      
                  <div class="media">
                      <img src="https://www.paypalobjects.com/webstatic/mktg/logo-center/PP_Acceptance_Marks_for_LogoCenter_76x48.png" height="25" alt="" />
                    <div class="media-body">
                      When you click "Pay Now", you will be taken to the PayPal website.
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="well">
        <button type="button" class="btn btn-primary btn-lg btn-block">Pay Now</button>
      </div>
    </div>
  </div>
</div>
</div>