extends login_layout

block content
  .row
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-4
        .login-panel.panel.panel-default
          .panel-heading Log In Page
          .panel-body
            if (error && error.length > 0)
              .alert.alert-danger(role="alert") #{error}
            if (success && success.length > 0)
              .alert.alert-success(role="alert") #{success}  
            form#validate(action="/login", method="post", role='form')
              fieldset
                .form-group
                  input.form-control#username(placeholder='Enter Username', name='username', type='text', autofocus='')
                .form-group
                  input.form-control#password(placeholder='Password', name='password', type='password')
                .checkbox
                  label
                    input(name='remember', type='checkbox', value='Remember Me')
                    | Remember Me
                  label
                    a(href='#')
                     | Forgot Password?       
                button.btn.btn-primary(type='submit') Login
                |  &nbsp;
                a(href='/')
                  button.btn.btn-primary(type="button") Cancel