doctype html
html
  block head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery.min.js')		
 body
  header#banner
   h1 #{user}
    a(href='/logout') logout
 block content