doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/datepicker3.css', rel='stylesheet')
    link(href='css/styles.css', rel='stylesheet')
    //if lt IE 9
      script(src='js/html5shiv.js')
      script(src='js/respond.min.js')
  body
    
    block content

    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/chart.min.js')
    script(src='js/chart-data.js')
    script(src='js/easypiechart.js')
    script(src='js/easypiechart-data.js')
    script(src='js/bootstrap-datepicker.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/validation.js')
    script.
      !function ($) {
      $(document).on("click","ul.nav li.parent > a > span.icon", function(){
      $(this).find('em:first').toggleClass("glyphicon-minus");
      });
      $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
      }(window.jQuery);
      $(window).on('resize', function () {
      if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
      })
      $(window).on('resize', function () {
      if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
      })