<div class="inner-page-header-blank"></div>
<section class="innerpage" ng-init="allCms(49)"> <!-- 5 is for about us -->
  <div class="about_us-section">
   <div class="container">
      <div class="row"> 
       <div class="col-lg-12">
        <h3 class="inr-hdline">{{cms_details.page_title}}</h3>  
       
        <div class="about-text">
        <p ng-bind-html="renderHtml(cms_details.description)">             
        </p>
     </div>

        </div>
      </div>
    </div>
  </div>
</section>