<link rel="stylesheet" type="text/css" href="css/css1.css">
 <style>
    .site-header .navbar-nav.navbar-left {
        margin-left: 17%;
    }
    @media only screen and (max-width:1199px) {
        div#navbar ul {
            padding: 0 0 0 0;
            margin-top: 30px;
        }
        .site-header .navbar-nav.navbar-left {
            margin-left: 0;
        }
    } 
    @media only screen and (max-width:992px){
        .site-header .navbar-nav.navbar-right li.nav-dbl a{
            font-size: 11px;
        }
    }
 </style>

 <section class="promo-bg subscribe_wrapper">
            <div class="container">
                <div class="row">
                   <div class="col-lg-12 logo"><a ui-sref="home"><img src="images/logo.png" alt="" ></a></div>
               </div>
               <div class="row">
                  <div class="col-lg-8 promo-left" ng-init="allCms(56)">
                     <p ng-bind-html="cms_details.description | renderhtml"></p>
                  </div>

                   <div class="form-style-outer">
                   <form  novalidate angular-validator angular-validator-submit = "registerDentist(user);" name="regForm" id="regForm" action="" method="POST" autocomplete="Off" ng-init="user.src_sys='pro'">
                     <div class="form-style">
                        <div class="col-sm-12">
                           <!-- <h4> This is a <span>special offer for 3 months</span> to <span>sign up free</span> with us at Dentalchat</h4> -->
                           <h4> 2 months free <span>only the next 100 </span> sign ups <span> get this free listing</span></h4>
                        </div>
                        <input type="hidden" value="pro" ng-model="user.src_sys" name="user.src_sys" />
                        <div class="col-sm-12">
                           <div class="form-group">
                              <div class="first-name">
                                 <input class="form-control" id="first_name" name="first_name" ng-model="user.first_name" maxlength="30" required-message="'This field is required..'" required placeholder="Dentist First Name*" type="text">
                              </div>
                              <div class="last-name">
                                 <input class="form-control" placeholder="Dentist Last Name*" type="text" id="last_name" name="last_name"  ng-model="user.last_name" maxlength="30" required-message="'This field is required..'" required>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="form-group">
                              <input class="form-control" placeholder="Business Name*" type="text" id="business_name"  name="business_name" ng-model="user.business_name" maxlength="30" required-message="'This field is required..'" required>
                           </div>
                        </div>

                        <div class="col-sm-12">
                           <div class="form-group">
                             
                              <div class="first-name">
                                  <input class="form-control" placeholder="+1" type="text" id="country_code" ng-init="user.country_code=''" name="country_code" ng-model="user.country_code" maxlength='4' ng-pattern ='/^\+?([\d]+)$/' invalid-message ="'Invalid counry code'" required-message="'This field is required..'" required>
                              </div>
                              <div class="last-name">
                                 <input class="form-control" placeholder="Your Direct Phone Number*" type="text" id="contact_number" name="contact_number" ng-model="user.contact_number" ng-pattern ='/^\+?(\d[\d-. ]+)?(\([\d-. ]+\))?[\d-. ]+\d$/' invalid-message ="'Invalid phone number'" required-message="'This field is required..'" required>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="form-group">
                              <input class="form-control" placeholder="Zip Code*" type="text" id="zipcode" name="zipcode" ng-model="user.zipcode" maxlength="30" required-message="'This field is required..'" required>
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="form-group email">
                              <input class="form-control" placeholder="Your Email*" type="email" d="email" name="email"  ng-model="user.email" invalid-message="'Invalid email id..'" validator="checkEmail(user.email) == 1" ng-model-options="{ updateOn: 'blur' }" required-message="'This field is required..'" validate-on="dirty" required>
                           </div>
                            <label class="email-error" ng-show="show_message_email!=''">{{show_message_email}}</label>
                        </div>
                        <div class="col-sm-12">
                           <div class="form-group">
                              <input class="form-control" placeholder="Password*" type="password" id="password" name="password" ng-model="user.password" required-message="'This field is required..'" invalid-message="'Password should have at least 7 characters and at least one uppercase letter. example: Passport34'"  ng-pattern=" /^$|^(?=.*?[A-Z]).{7,}$/" required>
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="form-group">
                              <input value="get started" name="get started" class="btn btn-yellow" type="submit">
                           </div>
                        </div>
                  </div>
                  </form>
                  </div>
               </div>
            </div>
      </section>
     