body{ line-height: inherit; }

.admin-header .admin-logo{ width: 80px; padding:5px 10px; }
.border-line{ width: 100%; border-bottom: 1px solid #dedede; display: inline-block; padding: 5px 0; }
.module-left{ width: 25%; float: left; word-wrap: break-word;}
.module-right{ width: 75%; float: left; word-wrap: break-word;}
.module-right p{ background: url(images/bullet.png) no-repeat left 6px; background-size:6px; padding-left: 15px; }
.admin-profile-img img{ border:3px solid #dedede; width: 150px; height: 150px; overflow: hidden; object-fit:cover;  }
.admin-profile-img{ margin-top: 30px; }
.module-cur-pre .control-group{ width: 48%; float:left; }
.module-cur-pre .control-group:first-child{ margin-right: 4%; }
.module-cur-pre .control-group .module-right{width:63%; white-space: normal;}
.module-cur-pre .control-group .module-left{width: 35%; margin-right: 2%;} 
.a-hdline{border-bottom: 1px solid #dedede; width: 100%; font-size: 18px; padding-bottom: 10px; display: inline-block; font-weight: 600;  }
.action-btns a{ width: 45%; float: left; text-align: center; height: 20px; display: inline-block; }
#DataTables_Table_0 .sorting_disabled{ width: 70px !important; }
.module.maincontent .control-group .controls .btn{ border:0px; font-size: 16px; padding: 8px 25px; }

.pre-cur{ text-transform: capitalize; color:#4d4d4b;}

@media (max-width:1199px) {
	.action-btns a{ width: 100%; }
}
