 <section class="service-help clearfix footer_{{is_front_logged}}">
   <div class="container">
     <div class="row clearfix">
        <div class="col-sm-12 col-md-12 clearfix">
          <ul>
           <li> <a href="mailto:Service@dentalchat.com" target="_top"> Need Help? </a>  </li> <li> <a href="mailto:Service@dentalchat.com" target="_top"> Service@dentalchat.com </a> </li>
          </ul>   
         </div>
      </div>
   </div>
 </section>
  
 <footer>
    <div class="footer_top">
      <div class="container">
        <div class="row clearfix">
          <div class="col-md-3  col-sm-6 col-xs-12  clearfix footer-block">
		  <h4>Dental Chat</h4>
              <ul class="link-ft">
                <li><a ui-sref="home">Home</a></li>
                <li><a ui-sref="about">About us</a></li>
                <li><a ui-sref="contact">Contact</a></li>
                <li><a href="http://dentalchat.com/blog" target="_blank">Blog</a></li>
                <li><a ui-sref="faq">FAQ</a></li>
               </ul>
              <div class="clearfix"></div>

              <div class="clearfix"></div>
			  		
          </div><!--end col-->
		  
		<div class="col-md-3  col-sm-6 col-xs-12  clearfix footer-block">

		<h4>Common Dental Issues</h4>

		<ul class="link-ft">
		
		<li><a ui-sref="tooth-abscess">Tooth  Abscess</a></li>		
		<li><a ui-sref="tooth-pain-decay">Tooth Pain / Decay</a></li>
		<li><a ui-sref="broken-filling">Broken Filling</a></li>
		<li><a ui-sref="broken-bonding">Broken Bonding</a></li>
		<li><a ui-sref="denture-repair">Denture Repair</a></li>
		<li ng-show="showLink1"><a ui-sref="root-canal">Root Canal</a></li>
		<li ng-show="showLink1"><a ui-sref="painful-gums">Painful Gum</a></li>
		<li ng-show="showLink1"><a ui-sref="tooth-ache">Tooth Ache</a></li>
		<li ng-show="showLink1"><a ui-sref="avulsed-teeth">Avulsed Teeth</a></li>
		<li ng-show="showLink1"><a ui-sref="losse-crowns">Loose Crowns</a></li>
        <li ng-show="showLink1"><a ui-sref="dental-implant-failure">Dental Implant Failure</a></li>
		<li ng-show="showLink1"><a ui-sref="wisdom-teeth-pain">Wisdom Teeth Pain</a></li>
		<li ng-show="showLink1"><a ui-sref="teeth-sensitivity">Teeth Sensitivity</a></li>
		<li ng-show="showLink1"><a ui-sref="bad-breath">Bad Breath / Halitosis</a></li>
		<li ng-show="showLink1"><a ui-sref="grinding-teeth">Grinding Teeth / Bruxism</a></li>
		<li ng-show="showLink1"><a ui-sref="dental-dry-socket">Dental Dry Socket Problems</a></li>
		<li class="viewmore"><a ng-click="showHideLinks(1)"><span ng-hide="showLink1">+ More</span><span  ng-show="showLink1">- Less</span></a></li>
		

		</ul>

		</div><!--end col-->
		  
		<div class="col-md-3  col-sm-6 col-xs-12  clearfix footer-block">

		<h4>Dental Specialties</h4>

		<ul class="link-ft">
		<li><a ui-sref="cosmetic-dentistry">Cosmetic Dentistry</a></li>
		<li><a ui-sref="dental-implant">Dental Implants</a></li>
		<li><a ui-sref="dental-public-health">Dental Public Health</a></li>
		<li><a ui-sref="endodontics">Endodontics</a></li>
		<li><a ui-sref="general-dentistry">General Dentistry</a></li>
		<li ng-show="showLink2"><a ui-sref="periodontics">Periodontics</a></li>
		<li ng-show="showLink2"><a ui-sref="pediatrics-dentistry">Pediatric Dentistry</a></li>
		<li ng-show="showLink2"><a ui-sref="prosthodontics">Prosthdontics</a></li>
		<li ng-show="showLink2"><a ui-sref="orthodontics-orthopedics">Orthodontics and Dentofacial Orthopedics</a></li>
		<li ng-show="showLink2"><a ui-sref="oral-surgery">Oral and Maxillofacial Surgery</a></li>
		<li class="viewmore"><a ng-click="showHideLinks(2)"><span ng-hide="showLink2">+ More</span><span  ng-show="showLink2">- Less</span></a></li>
		
		</ul>

		</div><!--end col-->
		
		<div class="col-md-3  col-sm-6 col-xs-12  clearfix footer-block">

        <h4>Are you a top Dentist ?</h4>

		<div class="footer-block-cnt">
		<a ui-sref="dentist-signup" class="ft-btn">Join DentalChat</a>
		</div>

		<h4>Have a Dental Question ?</h4>

		<div class="footer-block-cnt">
        <a ng-if="is_front_logged==2" href="/patient-profile/my-message/all/recent" class="ft-btn">Chat with a Dentist</a>
        <a ng-if="is_front_logged==1" href="/dentist-messageboard" class="ft-btn">Chat with a Patient</a>
        <a ng-if="is_front_logged==0 || !is_front_logged" href="/patient-login" class="ft-btn">Chat with a Dentist</a>
		
		</div>
		
		

		</div><!--end col-->
		  
		  
        </div>
      </div>
      </div>
      <div class="footer_mid">
        <div class="container">  
            <h4>Other</h4>
            <div class="row">
            <div class="col-md-12 col-sm-12">
                <ul class="link-ft">
                 <li><a ui-sref="cosmetic-dentistry">Cosmetic Dentistry Procedures</a></li>
                 <li><a ui-sref="oral-pathology">Common Oral Diseases / Oral Pathology Problems</a></li>
                 <li><a ui-sref="sansitivity">Dental Pain from Teeth Sensitivity</a></li>
                 <li><a ui-sref="emergency-dentist-question">Emergency Dentist Questions</a></li>
                 <li><a ui-sref="emergency-dental-care-question">Emergency Dental Care Question / Ask a Local Dentist</a></li>
                 <li><a ui-sref="getting-braces-orthodontist-treatment-info">Getting Braces – Orthodontist Treatment Info</a></li>
                 <li><a ui-sref="local-dentists-communication">Local Dentists Communications</a></li>
                 <li><a ui-sref="local-emergency-dental-questions-online">Local Emergency Dental Questions Online</a></li>
                 <li><a ui-sref="online-emergency-dentist-question">Online Emergency Dentist Question</a></li>
                 <li><a ui-sref="local-emergency">Local Emergency Dentist Chat</a></li>
                 <li><a ui-sref="local-dental-chatting-online">Local Dental Implants / Dental Implant Failures</a></li>
                 <li><a ui-sref="local-root-canal-chat">Local root Canal Chat</a></li>
                 <li><a ui-sref="online-dental-communication">Online Dental Communication</a></li>
                 <li><a ui-sref="online-dentists-chat-blog">Online Dentists Chat Blog</a></li>
                 <li><a ui-sref="online-dentists-marketing">Online Dentists Marketing</a></li>
                 <li><a ui-sref="painful-gums">Periodontal Gum Problems</a></li>
                <li><a ui-sref="dental-implant-questions">Dental Implant Questions</a></li>
		         <li ><a ui-sref="common-dental-question">Common Dental Question/Emergency Dentists Questionings</a></li>
	  	         <li ><a ui-sref="dental-question-blogging">Dental Question Blogging & Local Emergency Dentist Questions Online</a></li>
		         <li ><a ui-sref="urgent-dental-care-chat">Urgent Dental Care Chat, Emergency Dentistry Questions Chatting
                 </a></li>
                 <li><div class="sitelock-logo"><a href="#" onclick="window.open('https://www.sitelock.com/verify.php?site=dentalchat.com','SiteLock','width=600,height=600,left=160,top=170');" ><img class="img-responsive" alt="SiteLock" title="SiteLock" src="//shield.sitelock.com/shield/dentalchat.com" /></a></div></li>
               <!--  
	          	<li><a ui-sref="online-dental-chat-marketing">Online Dental Chat Marketing</a></li> -->
                
               </ul>
            </div>  
            </div>
        </div>       
      </div>
    
    <div class="footer_bottom">
      <div class="container">
        <div class="row clearfix">
          <div class="col-md-7 col-sm-9 col-xs-12 clearfix">
            <ul>
            <li><a ui-sref="privacypolicy">Privacy Policy </a></li>    
            <li><a ui-sref="terms">Terms and conditions</a></li>
			<li><p>© Copyright 2018 DentalChat. All rights reserved.</p></li>
<!-- <li><a target="_blank" ui-sref="promopage">Promotion</a></li> 
<li><a target="_blank" ui-sref="specialpromo">specialpromo</a></li>  -->
            </ul>
          </div>
		  
          <div class="col-md-5 col-sm-3 col-xs-12 clearfix">
				<div class="footer_socialBox">
				<ul ng-init="socailLink('8,9,10,11,12')">
				<li><a href="{{social_link[0].value}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li ><a href="{{social_link[1].value}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="{{social_link[2].value}}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a href="{{social_link[3].value}}" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
				<li><a href="{{social_link[4].value}}" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				</ul>
				</div>
          </div>
          </div>
      </div>
    </div>
</footer>

    <script src="js/jquery.teletype.min.js"></script>
  

