<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li> <a href="#/" ng-class="{'active-color' : acc_type == 'Dashboard'}"><span class="icon-menu-icon1"></span> Dashboard</a> </li>
        <li ng-if="is_partner == 2"> <a href="#/accomodation/Hotels" ng-class="{'active-color' : acc_type == 'Hotels'}" ><span class="icon-menu-icon1"></span> Hotels</a> </li>
        <li ng-if="is_partner == 2"> <a href="#/accomodation/Resorts" ng-class="{'active-color' : acc_type == 'Resorts'}"><span class="icon-menu-icon2"></span>resorts</a> </li>
        <li ng-if="is_partner == 2"> <a href="#/accomodation/Villas" ng-class="{'active-color' : acc_type == 'Villas'}"><span class="icon-menu-icon3"></span>villas</a> </li>
        <li ng-if="is_partner == 2"> <a href="#/sub-user" ng-class="{'active-color' : acc_type == 'SubUSer'}"><span class="icon-menu-icon5"></span>Partners</a> </li>
    </ul>
    <div class="bottom_logo">
        <a href="#"><img src="images/dashboard-logo-bottom.png" width="85" height="31" alt="" /></a>
    </div>
</nav>
