<header class="site-header" ng-class="{'inner-page-header':is_front_logged==0 && curr_state!='home','dashboard':curr_state=='my-message','inner-page-header aftersignup-header': is_front_logged==1 && curr_state!='home', 'aftersignup-header':is_front_logged==1 && curr_state=='home'}"> 

        <nav id="header" class="navbar navbar-fixed-top">
          <div class="container navbar-container" id="header-container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" ui-sref="home">
                  <img src="images/logo.png" alt="">
              </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-left">
                <li ng-class="{'active':curr_state=='home'}"><a ui-sref="home">Home</a></li>
                <li ng-class="{'active':curr_state=='about'}"><a ui-sref="about">About us</a></li>
                <li ng-class="{'active':curr_state=='blog'}"><a href="">Blog</a></li>
                <li ng-class="{'active':curr_state=='contact'}"><a ui-sref="contact">Contact</a></li>
                <li ng-if ="is_front_logged==0"  ng-class="{'active':curr_state=='dentistsignin'}"><a ui-sref="dentist-signin">Dentist</a></li>
                <li  ng-if ="is_front_logged==1"  ng-class="{'active':activename=='step'}"><a ui-sref="dentistProfileStep1">Profile</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right" ng-if="is_front_logged==0">
                <li class="nav-list-business"><a ui-sref="dentist-signup" class="btn">List your  Business</a></li>
                <li   class="nav-login"><a ui-sref="patient-login" class="btn btn-cta-secondary">Login </a></li>
                <li class="nav-signup"><a  ui-sref="patient-registration" class="btn btn-sign-secondary"> sign up</a></li>
              </ul> 
            <ul class="nav navbar-nav navbar-right" ng-if="is_front_logged==1">
                <li><a href="javascript:void(0)" ui-sref="dentistmessageboard({})" class="btn"><img src="images/icon-4.png"></a></li>
                <!-- class="" -->
                <li><div class="profile-img"> <a ui-sref="dentistprofile({params: make_profile_url})"><img src="{{base_url}}uploads/tmp_dentist_profile_image/{{(user_temp_pics!='')?user_profile_pics:'no_image.jpg'}}"/></a></div> 
                <div class="dropdown">
                <span>Welcome </span> <a class="dropdown-toggle" data-toggle="dropdown">{{logged_user_name}}
                <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                  <li><a ui-sref="changepassword">Change Password</a></li>
                  <li><a ui-sref="logout">Log out</a></li>
                </ul>
                </div>
                </li>
            </ul>  
            </div>
          </div>
        </nav>
    </header>
