html {
height: 100%;
}
body {
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
margin: 0px;
padding: 0px;
height: -moz-calc(100% - 20px);
height: -webkit-calc(100% - 20px);
height: calc(100% - 20px);
}
section#chatroom {
height: -moz-calc(100% - 80px);
height: -webkit-calc(100% - 80px);
height: calc(100% - 80px);
background-color: #EFFFEC;
}
div#messages {
height: -moz-calc(100% - 35px);
height: -webkit-calc(100% - 35px);
height: calc(100% - 35px);
padding: 10px;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}
input#message {
width: -moz-calc(100% - 80px);
width: -webkit-calc(100% - 80px);
width: calc(100% - 80px);
}
input#send {
width: 74px;
}
header{
background-color:#4192C1;
text-align: right;
margin-top: 15px;
}
header h1{
padding: 5px;
padding-right: 15px;
color: #FFFFFF;
margin: 0px;
}
footer{
padding: 6px;
background-color:#4192C1;
color: #FFFFFF;
bottom: 0;
position: absolute;
width: 100%;
margin: 0px;
margin-bottom: 10px;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}
a {
color: red;
}

.modal{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-moz-box-sizing: border-box;
height: -moz-calc(100% - 102px);
height: -webkit-calc(100% - 102px);
height: calc(100% - 102px);
left: 0;
position: absolute;
top: 62px;
width: 100%;
z-index: 1000;
}
.backdrop{
width: 100%;
height:100%;
background-color: #777777;
}
.popup {
position: absolute;
height: 100px;
width: 300px;
left: -moz-calc(50% - 150px);
left: -webkit-calc(50% - 150px);
left: calc(50% - 150px);
top: -moz-calc(50% - 50px);
top: -webkit-calc(50% - 50px);
top: calc(50% - 50px);
background: #FFFFFF;
}
.pophead {
background-color: #4192C1;
color: #FFFFFF;
font-weight: bold;
padding: 8px 3px;
vertical-align: middle;
}
.popbody {
padding: 10px 5px;
}
.btn {
background-color: #5BB75B;
background-image: linear-gradient(to bottom, #62C462, #51A351);
background-repeat: repeat-x;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0,
0.25);
color: #FFFFFF;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
border-image: none;
border-radius: 4px 4px 4px 4px;
border-style: solid;
border-width: 1px;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset,
0 1px 2px rgba(0, 0, 0, 0.05);
cursor: pointer;
display: inline-block;
font-size: 14px;
line-height: 20px;
margin-bottom: 0;
padding: 4px 12px;
text-align: center;
vertical-align: middle;
position: absolute;

text-decoration: none;
}
