/*
Theme Name: Medical Directory
Theme URI: http://themeforest.net/user/uouapps
Description: Hospital & Doctor Listing  Theme
Tags: responsive-layout,theme-options
Author: UOU apps
Text Domain: medicaldirectory
Author URI: http://themeforest.net/user/uouapps
License: GNU General Public License
License URI: license.txt
Version: 1.0.8
@package medicaldirectory
@since medicaldirectory 1.0
*/
/************************html layout v.1**********************/

/*************************************************************/
/****************************GLOBAL***************************/
/*************************************************************/
/*.wp-caption {}
.wp-caption-text {}
.sticky {}
.gallery-caption{}
.bypostauthor{}
.alignright{float: right;}
.alignleft{float: left;}
img.aligncenter, .aligncenter, div.aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}*/



/* =WordPress Core
-------------------------------------------------------------- *//* =custom--css-------------------------------------------------------------- */
.medicaldirectory-home-banner .overlay{background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;}

}

@media screen and (min-width: 689px)
{
#searchformhd .input-field .form-group {float: left;
    padding-right: 10px;
    position: relative;
    width: 29.5% !important;}
}

.alignnone {margin: 5px 20px 20px 0;}

.contact-info.has-bg-image.contain li {font-size: 16px !important;}

.aligncenter,div.aligncenter {display: block;
    margin: 5px auto 5px auto;}

.alignright {float:right;
    margin: 5px 0 20px 20px;}

.alignleft {float: left;
    margin: 5px 20px 20px 0;}

.aligncenter {display: block;
    margin: 5px auto 5px auto;}

a img.alignright {float: right;
    margin: 5px 0 20px 20px;}

a img.alignnone {margin: 5px 20px 20px 0;}

a img.alignleft {float: left;
    margin: 5px 20px 20px 0;}

a img.aligncenter {display: block;
    margin-left: auto;
    margin-right: auto}

.wp-caption {background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;}

.wp-caption.alignnone {margin: 5px 20px 20px 0;}

.wp-caption.alignleft {margin: 5px 20px 20px 0;}

.wp-caption.alignright {margin: 5px 0 20px 20px;}

.wp-caption img {border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;}

.wp-caption p.wp-caption-text {font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;}

.size-auto, .size-full,.size-large,.size-medium,.size-thumbnail {max-width: 100%;
    height: auto;}

/* Text meant only for screen readers. */
.screen-reader-text {clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */}

/*SIDEBAR <UL> STYLE*/
.sidebox.widget ul { padding-left: 0; }

.sidebox.widget ul > .children { padding-left: 30px; }
.dir_type {
    display: none !important ;
}.text-center.pt20 {	    display: none !important  ;}


/*14-july*/
.post_my_story {
    position: relative;
}
.post_my_story a {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
