<section class="notfound" style=""> 
<img src="images/404.png" title="error">
<p>Oops! The page you requested was not found!</p>

<a class="navbar-brand" ui-sref="home" href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
</section>