<div class="inner-page-header-blank"></div>
<!--inner-page-header-blank for every inner page  header hight mentant-->
<section class="innerpage">
  <div class="signup-details-section" ng-class="postList==1 ? 'mypost-listing-section':''">
    <div class="container-fluid">
      <div class="row">
       <div class="col-lg-12">
         <div class="">
           <div class="edit-profile-tab mar-btm-30" ng-class="postList==1 ? 'edit-profile-tab-listing':''">
            <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="createposttab">
                <div class="tab-headingBase">
                  <h2 class="tab-heading text-center">Post Your Dental Problem</h2>
                </div>
                <div class="container">
                <!--<form name="createPost" ng-submit="savePost(postDetails)" novalidate="true" class="pCreateForm">-->
                <form name="createPost" ng-submit="" novalidate="true" class="pCreateForm">
                  <div class="col-lg-10 col-md-12 col-sm-12 col-lg-offset-1">  
                    
<!-- start code by covetus 3-aug-2017 --> 
                    <div class="formSections">
                        <h2>Problem Detail</h2>
                    <div class="row form-row">
                      <div class="col-md-6">
                       <div class="form-group">
                        <label>Emergency</label>
                        <div class="select_radioBox clearfix">
                          <div class="" ng-init="postDetails.emergency=0">
                            <div class="custom-radio"><input id="checkbox1" name="emergency" type="radio" ng-value="1" ng-model="postDetails.emergency"  /><label for="checkbox1">Yes</label></div>
                            <div class="custom-radio"><input id="checkbox2" nname="emergency" type="radio" ng-value="0" ng-model="postDetails.emergency"   /><label for="checkbox2">No</label></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Pain level<em>(10=>High,1=>Low)</em><span class="red">*</span></label>
                        <select class="form-control" name="painLevel" ng-model="postDetails.pain_level" required="true">
                          <option value="">Please select</option>
                          <option value="0">(No Pain)</option>
                          <option value="1">1(Low)</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5(Medium)</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10(High)</option>
                        </select>
                        <label class="control-label has-error validationMessage" ng-show="createPost.painLevel.$dirty && createPost.painLevel.$error.required">Choose pain level</label>
                      </div>
                    </div>
                  </div>
                  <div class="row form-row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Post title<span>(Example: Teeth pain, broken tooth or gum problem)<span class="red">*</span></span></label>
                        <!-- new code string - ng-init="postDetails.post_title= post_title"  -->
                        <input type="text" class="form-control form-control-yellow" ng-model="postDetails.post_title"  ng-init="" name="postTitle" required>
                        <label class="control-label has-error validationMessage" ng-show="createPost.postTitle.$dirty && createPost.postTitle.$error.required" >Please type title</label>
                      </div>
                    </div>
                  </div> 

                  <div class="row form-row">
                    <div class="col-sm-12">
                      <div class="form-group">
                          
                        <label>Description<span>(Example: I broke my tooth yesterday or my wisdom tooth hurts)<span class="red">*</span></span></label>  
                        <!-- new code string - ng-init="postDetails.description = post_description"  -->
                        <textarea style="min-height:134px;" class="form-control form-control-yellow" ng-model="postDetails.description"  name="description" required></textarea>
                        <label class="control-label has-error validationMessage" ng-show="createPost.description.$dirty && createPost.description.$error.required">Please type description</label>
                      </div>
                    </div>   
                  </div>
                  </div>
                  
                  <div class="formSections">
                        <h2>Location</h2>
                  <div class="row form-row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label>Your current location<span>(Example: Atlanta, GA, USA or Irvine, CA 92606, USA)<span class="red">*</span></span></label>
                          <input g-places-autocomplete vs-google-autocomplete 
                            vs-autocomplete-validator

                             ng-model="postDetails.address"
                             vs-latitude="postDetails.lat" 
                             vs-longitude="postDetails.lang" 

                            type="text" 
                            name="address"
                            class="form-control"  
                            aria-describedby="basic-addon1"
                            required="true" 
                            autocomplete="off">
 
                          <label class="control-label has-error validationMessage" ng-show="createPost.currentLocation.$dirty && createPost.currentLocation.$error.required">Type your address</label>
                          
                         <input type="hidden" name="lat" id="place_lat" ng-model="postDetails.lat">
                         <input type="hidden" name="lang" id="place_lng" ng-model="postDetails.lang">
                          
                        </div>
                      </div>
                    </div>
                    </div>

                <div class="formSections">
                        <h2>Appointment</h2>
                  <div class="row form-row">
                      <div class="col-md-6">
                       <div class="form-group">
                        <label>Are you looking for ‘Same day or walk-in appointment’?</label>
                        <div class="select_radioBox clearfix">
                          <div class="" ng-init="postDetails.appointment=0">
                            <div class="custom-radio"><input id="checkbox3" name="appointment" class="check_hide_show" type="radio" ng-value="1" ng-model="postDetails.appointment"  /><label for="checkbox3">Yes</label></div>
                            <div class="custom-radio"><input id="checkbox4" name="appointment" class="check_hide_show" type="radio" ng-value="0" ng-model="postDetails.appointment"   /><label for="checkbox4">No</label></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="row form-row">
                    <div class="col-md-6 hide_show" style="display:none;">
                      <div class="form-group" ng-init="postDetails.appointment_datetime={{minDate}}">
                        <label>Preferred date<span class="red">*</span></label>
                        <!--<input class="form-control" ng-model="ctrl.input" ng-model-options="{ updateOn: 'blur' }" placeholder="Select a Date and Time..." datetime-picker="ctrl.input">-->
                        <!--<input ng-model="date4" datetime-picker /> -->
                        <!--<input type="text" id="exampleInput" placeholder="yyyy-MM-ddTHH:mm:ss" ng-model="postDetails.appointment_datetime"  ng-init="" name="appointment_datetime" required="true">-->
                        <datepicker date-min-limit="{{minDate}}" date-set="{{ minDate | date:'yyyy-MM-dd' }}" date-format="yyyy-MM-dd">
                          <input id="testdate" class="time" ng-model="postDetails.appointment_datetime" ng-init="" name="appointment_datetime" type="text" readonly ng-required="false"/>
                          <label class="input-group-addon btn" for="testdate">
                           <span class="fa fa-calendar"></span>
                        </label>   
                        </datepicker>
                      </div>
                      </div>
                      <div class="col-md-6 hide_show" style="display:none;">
                      <div class="form-group">
                        <label>Preferred time<span class="red">*</span></label>
                        <div class="select_radioBox clearfix">
                          <div class="" ng-init="postDetails.appointment_time=1">
                            <div class="custom-radio"><input id="checkbox7" class="time" name="appointment_time" type="radio" ng-value="1" ng-model="postDetails.appointment_time" ng-required="false"/><label for="checkbox7">9am - 12pm</label></div>
                            <div class="custom-radio"><input id="checkbox8" class="time" name="appointment_time" type="radio" ng-value="2" ng-model="postDetails.appointment_time" ng-required="false"/><label for="checkbox8">12pm - 4pm</label></div>
                            <div class="custom-radio"><input id="checkbox9" class="time" name="appointment_time" type="radio" ng-value="3" ng-model="postDetails.appointment_time" ng-required="false"/><label for="checkbox9">4pm - 8pm</label></div>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                  
                  <div class="formSections">
                        <h2>Additional information</h2>
                <div class="row form-row">
                      <div class="col-md-6">
                       <div class="form-group">
                        <label>Do you have dental insurance ?</label>
                        <div class="select_radioBox clearfix">
                          <div class="" ng-init="postDetails.insurance=0">
                            <div class="custom-radio"><input id="checkbox5" class="check_show_hide" name="insurance" type="radio" ng-value="1" ng-model="postDetails.insurance"  /><label for="checkbox5">Yes</label></div>
                            <div class="custom-radio"><input id="checkbox6" class="check_show_hide" name="insurance" type="radio" ng-value="0" ng-model="postDetails.insurance"   /><label for="checkbox6">No</label></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 show_hide" style="display:none;">
                      <div class="form-group">
                        <label>If yes <span>(Type your insurance inforamtion)<!--<span class="red">*</span>--></span></label>
                        <!-- new code string - ng-init="postDetails.post_title= post_title"  -->
                        <input type="text" class="form-control form-control-yellow" ng-model="postDetails.insurance_inforamtion"  ng-init="" name="insurance_inforamtion">
                        <label class="control-label has-error validationMessage" ng-show="createPost.insurance_inforamtion.$dirty " >Please type title</label>
                      </div>
                    </div>
               </div>
                 <div class="row form-row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>When was the last time you had a Dental prophy / cleaning at a dentist?</label>
                        <!-- new code string - ng-init="postDetails.post_title= post_title"  -->
                        <input type="text" class="form-control form-control-yellow" ng-model="postDetails.last_cleaning"  ng-init="" name="last_cleaning">
                            <input type="hidden" class="form-control form-control-yellow" ng-model="postDetails.src_syst"  ng-init="dentalchat.com" name="src_syst" >
                        <label class="control-label has-error validationMessage" ng-show="createPost.last_cleaning.$dirty && createPost.last_cleaning.$error.required" >Please type Detail</label>
                      </div>
                    </div>
                  </div> 
<!-- end code by covetus 3-aug-2017 -->
                  <div class="row form-row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Attachment <span class="attOption">(only .jpg or .png)</span></label>

                        <div class="attachbox" ng-repeat="items in postDetails.attachments">
                          <div class="browse_Box">

                            <input type="file" class="post_attachment" id="attachement_{{$index}}" ng-model="items" value="Browse" name="atachment_{{$index}}" accept="image/*" onchange="angular.element(this).scope().uploadAttachment(this.files,this.id)" >
                            <span><img src="images/upload_icon.png"></span><span>Browse</span></div>

                            
                            <div class="attached_Box"><span><img src="images/attech_img.png"></span><span id="uploaded_file_{{$index}}">{{items.name}}</span>
                              <span  class="close"><a href="javascript:void(0)" ng-click='removeAttachment($index)' ><i class="fa fa-times" aria-hidden="true"></i></a></span></div>
                            </div>

                          </div>
                          <div class="form-group">
                           <div class="addMore"><a href="javascript:void(0);" ng-click="addNewAttachment()"><i class="fa fa-plus" aria-hidden="true"></i> Add More </a></div>

                         </div>
                       </div>


                     </div>
                     </div>
                     <div class="save-button">
                      <input type="submit" id="submit_req" ng-disabled="createPost.$invalid" value="Submit Request" name="post" class="btn btn-success">
                    </div>
                  </div>
                </form>
                </div>

              </div>
        </div>

      </div>



    </div>
  </div>
</div>
</div>



<div id="saveRatingModal" data-backdrop="static" data-keyboard="false" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Feedback</h4>
      </div>
      <div class="modal-body">
        <form role="form" name="saveRatingForm" ng-submit="saveRating(rating)" novalidate="true">
         <div class="form-group">
          <label for="exampleInputEmail1">Rating*</label>

          <star-rating ng-init="rating.rate=5" ng-model="rating.rate" max="5" on-rating-select="rate()"></star-rating>
        </div> 
        
        <div class="form-group">
          <label for="exampleInputEmail1">Review</label>
          <textarea name="review" ng-model="rating.review" ></textarea>
        </div>
        
        <button type="submit" ng-disabled="saveRatingForm.$invalid" class="btn btn-primary">Submit</button>
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
</div>
</section>
<script src="/bower_components/angular-google-places-autocomplete/src/autocomplete.js"></script>
<script type="text/javascript">

  function readURL(input,id){
    if (input.files && input.files[0]){
      var reader = new FileReader();
      reader.onload = function (e){
        $('#'+id).attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>

<script>

  $(function() {
    $('.message_update a.moreTxt').click(function() {
      $('.message_update .small').toggleClass('big');
      $('.message_update a.moreTxt').toggleClass('big_left');
      e.preventDefault();

    });
    $('.check_show_hide').change(function() {
        $('.show_hide').toggle();
    });
    $('.check_hide_show').change(function() {
       var submit_req = $('#submit_req').val();
       console.log('submit_req');
       if(submit_req=='Submit Request'){
           $('#submit_req').val('Request Appointment');
       }else{
           $('#submit_req').val('Submit Request');
       }
       $('.hide_show').toggle();
      
    });
  });
</script>
