<div class="inner-page-header-blank"></div>
<!--inner-page-header-blank for every inner page becouse fixed header hight mentant-->

<section class="innerpage">

<div class="signin-section">
 <div class="container">
  <div class="row clearfix">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
   <div class="form-style">
     <div class="col-sm-12 clearfix no-pad">
       <h2 class="inner-head-line">Unsubscribe For Email</h2> 
      
      <!--<div ng-show="showErrMsg" class="{{show_class}} iferror_mess">{{show_message}}</div>-->

       <h4>You have unsubscribe for email notification.</h4>
        <div class="col-sm-12 clearfix">
      <div class="form-group">
         
         <a ui-sref="dentist-signin" class="btn btn-yellow">Sign in</a>
        </div>
     </div>
     </div>
      
     </div>
    </div>
   </div>
 </div>
</div>
</section> 