<style>
    .error_div{
        border-bottom: red 1px solid !important;
    }
</style>
<section ng-init="homesetting(1)">
    <!-- start code by covetus 10-aug-2017  -->    
      <div class="col-md-12 main-slider">
      <div class="container">
        <div class="row">
        <div class="col-md-7">
            <div class="type-text"></div>
            <div class="subtext">Chat With a Dentist </div>
            <div class="button"><a ui-sref="create-post" class="btn btn-defult">Start Here</a></div>
        </div>    
         <div id="pc-img" class="col-md-5">
           <img id="img1" class="img-responsive" style="" src="../images/chat.png">
           <img id="img2" class="img-responsive" style="display: none;" src="../images/chat-1.png">
           <img id="img3" class="img-responsive" style="display: none;" src="../images/chat-2.png">
         </div>
         
        </div>
        </div>
    
      </div>
      <!-- end code by covetus 10-aug-2017  -->
       
      <!--<div class="container">
        <div class="banner-content">
          <div class="banner-left">
            <div class="banner-left-cell">
                <h4 class="banner-heading">HAVE A DENTAL QUESTION?</h4>
                <h5 class="banner-sub-heading">Chat With a Dentist</h5>
				
				
                <div class="dentist-button">
				       
                  <a ng-if="is_front_logged==2" href="/patient-profile/my-message/all/recent">Start Here</a>
                  <a ng-if="is_front_logged==1" href="/dentist-messageboard">Start Here</a>
                  <a ng-if="is_front_logged==0 || !is_front_logged" href="/patient-login">Start Here</a>
				  
                </div>
				
            </div>
						
          </div>
		  
		   <div class="banner-right">
            <div class="banner-right-cell">
			
			<div class="banner-logo-holder"><img src="images/banner-text-icon.png" alt=""></div>
			
                <h4 class="banner-heading">Need to see a dentist</h4>	
				
            </div>
						
          </div>
 
        </div> 
      </div>
	             <div class="slider-right">
             <img src="{{base_url}}uploads/banner_image/big/{{home_details.banner}}" alt="">
           </div> -->
	  
    </section>
    
    <!-- start code by covetus 3-aug-2017 -->
    <!-- Section for Get started form -->
    <section ng-hide="is_front_logged==1"  class="content-sec get_started row">
        <div class="container">
            <div class="row">
                <div class="title text-center">Start Here</div>
            </div>
           <div class="row">
                <form name="createGetPost" ng-submit="get_started_fun(getPost)" novalidate="true" class="pGetCreateForm">
                <div class="col-sm-12 col-md-6 col-md-push-3 col-sm-push-0">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="row newdropdown">
                              <div class="col-md-6 text-right">I'm looking for an</div>
                              <div class="col-md-6">
                                <select  ng-model="getPost.post_title" ng-init="getPost.post_title = 'Answer'" class="form-control" id="sel1">
                                  <option ng-selected="true" selected="selected" value="Answer">Answer</option>
                                  <option value="Appointment">Appointment</option>
                                </select>
                              </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row newdropdown">
                              <div class="col-md-2 text-right">for</div>
                              <div class="col-md-10">
                                <input type="text"  ng-model="getPost.post_desc"  placeholder="I started having cold sensitive pain in a tooth." class="form-control">
                              </div>
                            </div>
                        </div>
                        <div class="button">
                            <input type="submit" ng-disabled="createGetPost.$invalid" value="Get Started" name="getStarted" class="btn btn-success">
                        </div>
                    </div>
                </div>
                </form>
           </div>
        </div>
    </section>
    <!-- end code by covetus 3-aug-2017 -->
    
    <!-- start code by covetus 10-aug-2017 -->    
    <section class="content-sec how-works">
        <div class="container">
            <div class="title text-center">{{home_details.how_work_title}}</div>
            <p>{{home_details.how_it_work_text}}</p>
           <div class="row">
               <div class="col-sm-4 workbox-bdr">
               <div class="workbox">
                 <div class="work_imgbox">
                    <div class="work_imginbox"><a ng-if="is_front_logged==0" ui-sref="patient-registration"><img src="images/login.png" alt=""></a><a ng-if="is_front_logged==2" ui-sref="patientProfile"><img src="images/login.png" alt=""></a></div>
                 </div>
                 <h4>{{home_details.how_work_1_title}}</h4>
                 <p>{{home_details.how_work_1_text}}</p>
                </div>
               </div>
               <div class="col-sm-4 workbox-bdr">
               <div class="workbox">
                 <div class="work_imgbox">
                    <div class="work_imginbox"><a ng-if="is_front_logged==0" ui-sref="patient-registration"><img src="images/problem.png" alt=""></a><a ng-if="is_front_logged==2" ui-sref="create-post"><img src="images/problem.png" alt=""></a></div>
                 </div>
                 <h4>{{home_details.how_work_2_title}}</h4>
                 <p>{{home_details.how_work_2_text}}</p>
                </div>
               </div>
               <div class="col-sm-4 workbox-bdr">
                <div class="workbox">
                 <div class="work_imgbox">
                    <div class="work_imginbox"><a ng-if="is_front_logged==0" ui-sref="patient-registration"><img src="images/response.png" alt=""></a><a ng-if="is_front_logged==2" ui-sref="patientProfile"><img src="images/response.png" alt=""></a></div>
                 </div>
                 <h4>{{home_details.how_work_3_title}}</h4>
                 <p>{{home_details.how_work_3_text}}</p>
                </div>
               </div>
           </div>
        </div>
    </section>
    <!-- end code by covetus 10-aug-2017  -->    

    <section class="content-sec clients_say clearfix">
        <div class="container">
            <div class="title text-center">{{home_details.testimonial_title}}</div>
           <div class="row clearfix">
               <div class="col-sm-12 col-md-12 clearfix">
                     <!-- Swiper -->
          <div class="swiper-container" ng-init="testimonialDetails()">
              <div class="swiper-wrapper">
                  <div class="swiper-slide" ng-repeat="single in testimonial_details">
                      <div class="clientsayBox">
                          <p>{{single.feedback}}</p>
                          <h5>{{single.occupation}}</h5>
                          <p class="designation">{{single.reviewer_name}}</p>
                      </div>
                  </div>
                  <!-- <div class="swiper-slide">
                      <div class="clientsayBox">
                          <p>Pellentecvxc xcv sque euismod sem ut risus sagittis cursus. Aliquam vel nunc ultricies, tincidunt risus sed, tempus orci. Nam ut imperdiet augue, ut pellentesque tortor. </p>
                          <h5>Jennifer Winget</h5>
                          <p class="designation">Model</p>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="clientsayBox">
                          <p>Pellentesque euismod sem ut risus sagittis cursus. Aliquam vel nunc ultricies, tincidunt risus sed, tempus orci. Nam ut imperdiet augue, ut pellentesque tortor. </p>
                          <h5>Jennifer Winget</h5>
                          <p class="designation">Television Personality</p>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="clientsayBox">
                          <p>Pellentesque euismod sem ut risus sagittis cursus. Aliquam vel nunc ultricies, tincidunt risus sed, tempus orci. Nam ut imperdiet augue, ut pellentesque tortor. </p>
                          <h5>Juila Parker</h5>
                          <p class="designation">Actress</p>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="clientsayBox">
                          <p>Pellentesque euismod sem ut risus sagittis cursus. Aliquam vel nunc ultricies, tincidunt risus sed, tempus orci. Nam ut imperdiet augue, ut pellentesque tortor. </p>
                          <h5>Jennifer Winget</h5>
                          <p class="designation">Model</p>
                      </div>
                  </div> -->  
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
          </div>
               </div>
           </div>
        </div>
    </section>

    <!-- start code by covetus 3-aug-2017 -->
    <!-- Section for Get started form -->
    <section class="content-sec dentist_section row">
        <div class="container">
           <div class="row">
               <div class="col-md-12 text-center">
                <h3>Are you a Dentist?  Sign up your Dental Practice.</h3>
                  <div class="button btn-white"><a ng-if="is_front_logged==1"  ui-sref="dentistProfileStep1" class="btn btn-defult">Learn More</a><a ng-if="is_front_logged==0 || !is_front_logged"  ui-sref="dentist-signup" class="btn btn-defult">Learn More</a></div>
                </div>  
           </div>
        </div>
    </section>
    <!-- end code by covetus 3-aug-2017 -->
    
    <!-- Section for Blog -->
    <section class="content-sec blog_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="title">My Story </div>
                </div>
                <div class="col-md-12">
                    <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
            
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                      <div class="item " ng-class="{'active': $index == 0}" ng-repeat='post in wp_blogs'>
                         <div class="col-md-12">
                          <div class="blogs">
                            <div class="col-md-6 col-sm-12 blogs-text">
                              <h3>{{post.post_title}}</h3>
                              <p>{{post.post_content}}</p>
                              <a href="{{post.permalink}}" target="_self" class="btn btn-defult">Read More</a>
                            </div>
                            <div class="col-md-6 col-sm-12 blogs-image">
                              <img src="{{post.img_url}}" class="img-resposnive">
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
        
                    <!-- Indicators -->
                    <ol class="carousel-indicators custom-indicators">
                      <li data-target="#carousel-example-generic1" ng-class="{'active': $index == 0}" ng-repeat='post in wp_blogs' data-slide-to="{{$index}}" class=""></li>
                    </ol>
                  </div>
                  <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Section for Blog -->
    
     <script>
     $( function() {
		$( '.type-text' ).teletype( {
			text: [ 'HAVE A DENTAL QUESTION?', 'NEED TO SEE A DENTIST?', 'NEED A DENTIST APPOINTMENT? ' ],
			typeDelay: 10,
            backDelay: 20,
            //cursor: '▋',
            cursor: '|',
            delay: 3000,
            preserve: false,
            loop: 0,
            callbackNext: function(current, teletype ){
                var cu = $("#img"+parseInt(current.index+1));
                cu.parent().find('img').hide(00);
                cu.show(00);
            }
		} );
	} );
    /*$( function() {
        var div = document.getElementById("customeslider");
       var nodelist = div.getElementsByTagName("P");  
       for(i=1; i<= nodelist.length; i++)
       {        
         doloop(i,nodelist);
       }
     
    } );
    function doloop(i,nodelist)
    {
     setTimeout(function () {
        var pnode = document.getElementById('p'+i);
        var pid = 'p'+i;  
        var imgid = 'img'+i;       
       for(j=1;j<= nodelist.length; j++)
       {
      
        var pjnode = document.getElementById('p'+j);
        var pjid = 'p'+j;  
        var imgjid = 'img'+j;     
        document.getElementById(pjid).style.display = "none";
        document.getElementById(imgjid).style.display = "none";
       }
        document.getElementById(pid).style.display = "block";
         document.getElementById(imgid).style.display = "block";
         var items = $('#'+pid ).attr( 'title' ) + ';' + $('#'+pid ).text();
       
        $('#'+pid ).empty().attr( 'title', '' ).teletype( {
          text: $.map( items.split( ';' ), $.trim ),
          typeDelay: 10,
          backDelay: 20,
          //cursor: '▋',
          cursor: '|',
          delay: 3000,
          preserve: false,
          prefix: 'HAVE A DENTAL ',
          loop: 0,
          callbackType: function( letter, current, teletype ){
              
          }
        } );
        }, 2000*i);
   }*/
    </script>
    

    
    
 