/*
Edming Admin Template
EGrappler.com
All Rights Reserved.
*/
body {
    font-size: 14px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 30px;
    background: #fff;
    color: #333
}
#caption {
    padding-left: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    margin-top: 0
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-size: 11px;
    margin: 0 0 0 5px
}

h1 {
    font-size: 28px
}

h2 {
    font-size: 24px
}

h3 {
    font-size: 20px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 13px
}

h6 {
    font-size: 11px
}

strong,
b {
    color: #555
}

a:hover,
a:focus {
    outline: 0
}

small,
.small {
    font-size: 11px
}

pre,
code {
    padding: 1px 2px;
    font-weight: bold;
    font-size: 12px
}

blockquote {
    border-left: 3px solid #dcdddf
}

blockquote p {
    font-size: 14px
}

blockquote small::before {
    content: "# "
}

.lead {
    font-size: 16px;
    line-height: 22px
}

.text-muted {
    color: #999;
}
.primary{background: rgba(210, 220, 228, 0.5);
}
.wrapper {
    background: url(../images/bg.png) #eee;
    border-bottom: 1px solid #bbb;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 30px 0
}

.footer {
    color: #999;
    padding: 30px 0 60px
}

.footer .nav li {
    float: left
}

.footer .nav li+li {
    margin-left: 30px
}

.footer .nav li a {
    color: inherit
}

.footer .nav li a:hover {
    color: #555
}

form {
    margin: 0
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
label,
input,
button,
select,
textarea {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 13px;
    font-family: 'Open Sans', Tahoma, Arial, sans-serif
}

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0
}

.input-append input,
.input-append select,
.input-append .uneditable-input,
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px
}

.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn,
.input-append .btn-group>.dropdown-toggle,
.input-prepend .btn-group>.dropdown-toggle {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child>.dropdown-toggle {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0
}

.input-transparent {
    border: 0!important;
    background: none!important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important
}

.radio.inline,
.checkbox.inline {
    white-space: nowrap
}

body [class^="icon-"],
body [class*=" icon-"] {
    font-size: 14px;
    line-height: 20px;
    height: 20px
}
.speciality_val.error{    position: relative;
    top:0px;
}




.question_val{    position: relative;
    top: 0px;
}




.speciality_val{    position: relative;
    top:0px;
}




.question_val.error{    position: relative;
    top: 0px;
}





.shaded {
    color: rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 1px #eee, 0 0 0 #000, 0 0 1px #fff
}

.module {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-right: 0px solid #ccc;
    border-left: 0px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px
}

.align-center {
    text-align: center
}

.align-right {
    text-align: right!important
}

.clear {
    clear: both
}

.none {
    display: none
}

.nav>li>a:hover {
    background: 0
}
#DataTables_Table_0_filter{float:right;}
.form-horizontal .control-group,
.form-vertical .control-group {
    margin-bottom: 0
}

.form-horizontal .control-group+.control-group,
.form-vertical .control-group+.control-group {
    margin-top: 13px;
    padding-top: 13px;
    border-top: 1px solid #f5f5f5
}

.module-login {
    margin-bottom: 80px;
    margin-top: 80px
}

.module-login .form-vertical input {
    margin-bottom: 0!important
}

.navbar {
    position: static!important;
    margin: 0!important
}

.navbar .navbar-inner {
    background: #fff;
    border-bottom: 1px solid #bbb;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15)
}

.navbar .brand {
    color: #333;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    padding: 15px 20px;
}
.admin-logo{
     max-width: 120px;
}

.navbar .nav>li>a {
    padding: 36px 15px;
    font-weight: bold;
    color: #777
}

.navbar .nav>li.active,
.navbar .nav>li.active,
.navbar .nav>li.active,
.navbar .nav>li:hover {
    background: #f9f9f9;
}

.navbar .nav>li.dropdown.open>.dropdown-toggle,
.navbar .nav>li.dropdown.active>.dropdown-toggle,
.navbar .nav>li.dropdown.open.active>.dropdown-toggle {
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-left: 14px;
    padding-right: 14px;
    position: relative;
    z-index: 9999
}

.navbar .nav>li>.dropdown-menu {
    border: 1px solid #ccc;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    left: -1px;
    min-width: 200px;
    margin: -1px 0 0;
    z-index: 9991
}

.navbar .nav>li>.dropdown-menu::before,
.navbar .nav>li>.dropdown-menu::after {
    display: none
}

.navbar .nav>li>.dropdown-menu li>a {
    padding: 10px 20px
}

.navbar .nav>li>.dropdown-menu li>a:hover {
    background: #0088cc;
    color: #fff;
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar .nav.nav-icons>li>a {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #777;
    font-weight: bold;
    padding: 5px;
    margin: 15px 5px
}

.navbar .pull-right>li>.dropdown-menu,
.navbar .nav>li>.dropdown-menu.pull-right {
    right: 0;
    left: auto
}

.navbar .divider-vertical {
    background: #eee;
    border-left: 0;
    border-right: 0;
    height: 30px;
    margin: 25px 15px;
    width: 1px
}

.navbar-search {
    margin: 15px 0 0 0
}

.nav-user>a {
    height: 20px
}

.nav-avatar {
    width: 34px;
    height: 34px;
    margin: -7px 5px 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.dropdown-menu {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.alert {
    background: #fffaef;
    border-color: #ecdcb6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    color: #b68b53
}

.alert strong,
.alert b {
    color: inherit
}

.alert-danger,
.alert-error {
    background: #f7e7e4;
    border-color: #ecbeb6;
    color: #b55351
}

.alert-success {
    background: #eaf4e2;
    border-color: #c1dea9;
    color: #61a06f
}

.btn,
.btn-box {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.btn:hover,
.btn-box:hover {
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15)
}

.btn:focus,
.btn-box:focus {
    outline: 0
}

.btn [class^="icon-"],
.btn-box [class^="icon-"],
.btn [class*=" icon-"],
.btn-box [class*=" icon-"] {
    min-width: 16px;
    text-align: center;
    display: inline-block!important
}

.btn {
    font-size: 13px;
    font-weight: 600
}

.btn.btn-mini,
.btn.btn-small {
    font-size: 11px
}

.btn.btn-large {
    font-size: 16px
}

.btn-box {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    text-align: center;
    text-decoration: none!important;
    padding: 25px 0;
    margin: 0 0 30px
}

.btn-box i,
.btn-box b {
    display: block
}

.btn-box b {
    color: #444;
    font-size: 20px;
    font-weight: normal;
    margin-top: 5px;
    text-shadow: 0 1px 0 #fff
}

.btn-box i {
    font-size: 36px;
    line-height: 36px;
    height: 36px;
    color: #29b7d3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btn-box.big b {
    margin-top: 10px
}

.btn-box.big i {
    font-size: 48px;
    line-height: 48px;
    height: 48px
}

.btn-box.small b {
    font-size: 11px
}

.btn-box.small i {
    font-size: 24px;
    line-height: 24px;
    height: 24px
}

.btn-box:hover i {
    color: rgba(0, 0, 0, 0.4);
}

.btn-group>.btn:first-child {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px
}

.btn-group>.btn:last-child {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px
}

.btn-group.shaded-icon>.btn>i {
    color: rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 1px #eee, 0 0 0 #000, 0 0 1px #fff
}

.btn-group.shaded-icon>.btn:hover>i {
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 1px #ccc, 0 0 0 #000, 0 0 1px #fff
}

.btn-group>.btn,
.btn-group>.dropdown-menu,
.btn-group>.popover {
    font-size: 13px
}


/* Buttons */

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 4px 10px;
    font-size: 13px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0088cc !important;
    border-color: #0088cc !important;
    color: #fff;
    text-shadow: none;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:focus,
.btn:hover {
    color: #fff;
    text-decoration: none
}

.btn.active,
.btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-default {
    color: #767676;
    background-color: #fafafa;
    border-color: #ededed
}

.btn-default.active,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open>.btn-default.dropdown-toggle {
    color: #767676;
    background-color: #e1e1e1;
    border-color: #cfcfcf
}

.btn-default.active,
.btn-default:active,
.open>.btn-default.dropdown-toggle {
    background-image: none
}

.btn-default.disabled,
.btn-default.disabled.active,
.btn-default.disabled:active,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled],
.btn-default[disabled].active,
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default.active,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
    background-color: #fafafa;
    border-color: #ededed
}

.btn-default .badge {
    color: #fafafa;
    background-color: #767676
}

.btn-primary {
    color: #fff;
    background-color: #03b2b4;
    border-color: ##028b8d
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1b6985;
    border-color: #155167
}

.btn-primary.active,
.btn-primary:active,
.open>.btn-primary.dropdown-toggle {
    background-image: none
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: #248aaf;
    border-color: #20799a
}

.btn-primary .badge {
    color: #248aaf;
    background-color: #fff
}

.btn-success {
    color: #fff;
    background-color: #3cbc8d;
    border-color: #36a97f
}

.btn-success.active,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #309570;
    border-color: #277a5c
}

.btn-success.active,
.btn-success:active,
.open>.btn-success.dropdown-toggle {
    background-image: none
}

.btn-success.disabled,
.btn-success.disabled.active,
.btn-success.disabled:active,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled],
.btn-success[disabled].active,
.btn-success[disabled]:active,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success.active,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
    background-color: #3cbc8d;
    border-color: #36a97f
}

.btn-success .badge {
    color: #3cbc8d;
    background-color: #fff
}

.btn-info {
    color: #fff;
    background-color: #29b7d3;
    border-color: #25a4be
}

.btn-info.active,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #2192a8;
    border-color: #1b788a
}

.btn-info.active,
.btn-info:active,
.open>.btn-info.dropdown-toggle {
    background-image: none
}

.btn-info.disabled,
.btn-info.disabled.active,
.btn-info.disabled:active,
.btn-info.disabled:focus,
.btn-info.disabled:hover,
.btn-info[disabled],
.btn-info[disabled].active,
.btn-info[disabled]:active,
.btn-info[disabled]:focus,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info.active,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:hover {
    background-color: #29b7d3;
    border-color: #25a4be
}

.btn-info .badge {
    color: #29b7d3;
    background-color: #fff
}

.btn-warning {
    color: #fff;
    background-color: #fac552;
    border-color: #f9bd39
}

.btn-warning.active,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open>.btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #f9b420;
    border-color: #eea507
}

.btn-warning.active,
.btn-warning:active,
.open>.btn-warning.dropdown-toggle {
    background-image: none
}

.btn-warning.disabled,
.btn-warning.disabled.active,
.btn-warning.disabled:active,
.btn-warning.disabled:focus,
.btn-warning.disabled:hover,
.btn-warning[disabled],
.btn-warning[disabled].active,
.btn-warning[disabled]:active,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning.active,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:hover {
    background-color: #fac552;
    border-color: #f9bd39
}

.btn-warning .badge {
    color: #fac552;
    background-color: #fff
}

.btn-danger {
    color: #fff;
    background-color: #e9422e;
    border-color: #e52e18
}

.btn-danger.active,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #ce2916;
    border-color: #ae2312
}

.btn-danger.active,
.btn-danger:active,
.open>.btn-danger.dropdown-toggle {
    background-image: none
}

.btn-danger.disabled,
.btn-danger.disabled.active,
.btn-danger.disabled:active,
.btn-danger.disabled:focus,
.btn-danger.disabled:hover,
.btn-danger[disabled],
.btn-danger[disabled].active,
.btn-danger[disabled]:active,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger.active,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:hover {
    background-color: #e9422e;
    border-color: #e52e18
}

.btn-danger .badge {
    color: #e9422e;
    background-color: #fff
}

.btn-link {
    color: #333;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0
}

.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-link,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
    border-color: transparent
}

.btn-link:focus,
.btn-link:hover {
    color: #0d0d0d;
    text-decoration: underline;
    background-color: transparent
}

.btn-link[disabled]:focus,
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link:hover {
    color: #999;
    text-decoration: none
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px
}

.btn-group-sm>.btn,
.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px
}

.btn-group-xs>.btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px
}

.btn-block {
    display: block;
    width: 100%
}

.btn-block+.btn-block {
    margin-top: 5px
}

input[type=button].btn-block,
input[type=reset].btn-block,
input[type=submit].btn-block {
    width: 100%
}

.modal {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
}

.modal .modal-header .close {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    margin: 0;
    text-shadow: 1px 1px 2px #ddd, 0 0 0 #000, 0 0 1px #fff
}

.modal-backdrop,
.modal-backdrop.fade.in {
    background: #fff;
    opacity: .9
}

.accordion-group {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: 5px
}

.accordion-heading {
    background: #fafafa;
    background: -moz-linear-gradient(top, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(50%, #fff), color-stop(51%, #fafafa), color-stop(100%, #fafafa));
    background: -webkit-linear-gradient(top, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
    background: -o-linear-gradient(top, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
    background: -ms-linear-gradient(top, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
    background: linear-gradient(to bottom, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='@topColor', endColorstr='@bottomColor', GradientType=0)
}

.accordion-heading .accordion-toggle {
    color: #555;
    font-weight: bold;
    line-height: 20px;
    padding: 10px 15px;
    text-decoration: none!important
}

.media .media-avatar {
    border: 1px solid rgba(204, 204, 204, 0.5);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    margin-right: 20px
}

.media .media-avatar img {
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    height: 90px;
    width: 90px;
    margin: 5px
}

.media .media-avatar.medium {
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    height: 70px;
    width: 70px
}

.media .media-avatar.medium img {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    margin: 5px
}

.media .media-avatar.small {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    height: 60px;
    width: 60px
}

.media .media-avatar.small img {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    margin: 5px
}

.media .media-title {
    font-size: 14px;
    line-height: 16px;
    margin: 15px 0 0
}

.media.user {
    padding: 15px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border: 1px solid transparent;
}

.media.user:hover {
    background: #E8F6E4;
    border: 1px solid #E8F6E4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 14px
}

.media.user:hover .media-avatar {
    background: #fff;
    border-color: #bbb;
}

.progress {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #f6f6f6;
}

.progress .bar {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #428bca;
}

.progress.tight {
    height: 10px
}

.progress.stacked .bar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.progress.stacked .bar+.bar {
    margin-left: -1px
}

.progress.stacked .bar:first-child {
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px
}

.progress.stacked .bar:last-child {
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0
}

.progress .bar-success,
.progress-success .bar {
    border-color: #438e43
}

.progress .bar-warning,
.progress-warning .bar {
    border-color: #c97600
}

.progress .bar-danger,
.progress-danger .bar {
    border-color: #a62821
}

.table {
    margin-bottom: 0
}

.table th,
.table td {
    border-color: #d5d5d5!important
}

.table.valign-middle td,
.table.valign-middle th {
    vertical-align: middle
}

.table-bordered thead:first-child tr:first-child>th:first-child,
.table-bordered tbody:first-child tr:first-child>td:first-child {
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px
}

.table-bordered thead:first-child tr:first-child>th:last-child,
.table-bordered tbody:first-child tr:first-child>td:last-child {
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px
}

.table-bordered thead:last-child tr:last-child>th:first-child,
.table-bordered tbody:last-child tr:last-child>td:first-child,
.table-bordered tfoot:last-child tr:last-child>td:first-child {
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 2px
}

.table-bordered thead:last-child tr:last-child>th:last-child,
.table-bordered tbody:last-child tr:last-child>td:last-child,
.table-bordered tfoot:last-child tr:last-child>td:last-child {
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 2px
}

.sidebar-user .user-avatar {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #ccc;
    height: 70px;
    width: 70px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    margin-right: 15px
}

.sidebar-user .user-avatar img {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    margin: 5px
}

.sidebar-user .user-content {
    overflow: hidden;
    margin-top: 15px
}

.sidebar-user .user-content h3 {
    font-size: 14px;
    line-height: 16px;
    height: 16px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.widget .progress {
    margin-bottom: 0
}

.widget-menu {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden
}

.widget-menu a {
    color: #555;
    display: block;
    line-height: 20px;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none!important
}

.widget-menu .menu-icon {
    margin-right: 10px;
    color: #588cff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.widget-menu .menu-icon.fa {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

.widget-menu .label {
    background: #888;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4) inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 20px;
    padding: 0 5px
}

.widget-menu .label.green {
    background: #78ba00
}

.widget-menu .label.orange {
    background: #d74f2a
}

.widget-menu>li+li {
    border-top: 1px solid #555
}

.widget-menu>li>a {
    background-color: #1b2433;
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.widget-menu>li>a .icon-chevron-up {
    display: block
}

.widget-menu>li>a .icon-chevron-down {
    display: none
}

.widget-menu>li>a.collapsed .icon-chevron-up {
    display: none
}

.widget-menu>li>a.collapsed .icon-chevron-down {
    display: block
}

.widget-menu>li>a:hover {
    background-color: #28262c;
    color: #fafafa;
}

.widget-menu>li>a:hover .menu-icon {
    color: #fff;
}

.widget-menu>li ul li {
    background: #eee;
    border-top: 1px solid #ccc
}

.widget-menu>li ul li+li {
    border-top: 0
}

.widget-menu>li ul li.active a {
    background: #f0f0f0
}

.widget-menu>li ul li a {
    padding: 10px 15px 10px 30px
}

.widget-menu>li ul li a:hover {
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 0 #fafafa inset;
    -moz-box-shadow: 0 1px 0 #fafafa inset;
    box-shadow: 0 1px 0 #fafafa inset;
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    padding: 9px 15px 9px 30px
}

.widget-usage {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    text-decoration: none!important;
}

.widget-usage p {
    margin-bottom: 10px;
    line-height: 1.2
}

.widget-usage li {
    padding: 15px
}

.widget-usage li+li {
    border-top: 1px solid #ddd
}

.module {
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    border-color: #e9e9e9;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.module-head {
    color: #fff;
    background-color: #2163f6;
    border-color: #2163f6;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.module-head h3 {
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    color: #fff;
    font-weight: 400;
    margin: 0
}

.module-option {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 0;
    margin: 0 15px
}

.module-body {
    padding: 15px
}

.module-body.table {
    padding: 15px 0
}

.module-body.table .table th,
.module-body.table .table td {
    padding-left: 15px;
    padding-right: 15px
}

.module-foot {
    background: #f9f9f9;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    padding: 15px
}

.login .user-accounts li {
    padding: 30px;
    overflow: hidden
}

.login .user-accounts li+li {
    border-top: 1px solid #ddd
}

.login .user-avatar {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #ccc;
    height: 100px;
    width: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-right: 15px
}

.login .user-avatar img {
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    width: 90px;
    height: 90px;
    margin: 5px
}

.login .user-content {
    margin: 5px 0 0 125px
}

.login .user-content h3 {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 15px
}

.login .user-content h3 small {
    font-size: 11px;
    margin-left: 10px
}

.login .user-content p {
    margin-bottom: 15px
}

.stream-list {
    border-top: 1px solid #e5e5e5;
    margin: 20px -15px -15px
}

.stream {
    padding: 20px 15px
}

.stream+.stream {
    border-top: 1px solid #e5e5e5;
    margin-top: 0
}

.stream.new-update,
.stream.load-more {
    padding: 0
}

.stream.new-update a,
.stream.load-more a {
    background: #background: #f7f7f7;
    ;
    color: #555;
    font-weight: 600;
    font-size: 14px;
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none!important
}

.stream.new-update a i,
.stream.load-more a i {
    font-size: 18px;
    margin-right: 10px
}

.stream.load-more {
    margin-top: 10px
}

.stream.load-more a {
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    background: #f5f5f5;
}

.stream-author {
    font-size: 14px;
    margin: 0 0 5px
}

.stream-headline {
    margin: 5px 0 10px
}

.stream-options a [class^="icon-"],
.stream-options a [class*=" icon-"] {
    font-size: 11px!important
}

.stream-attachment {
    border: 1px solid #eee;
    clear: both;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 10px 0 0;
    width: 80%;
    padding: 10px
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0
}

.responsive-video object,
.responsive-video embed,
.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.stream-respond {
    margin-top: 10px
}

.stream-respond .stream {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 15px 15px 15px 0;
    width: 80%
}

.stream-respond .stream+.stream {
    border-top: 1px dotted #eee
}

.stream-respond .stream .stream-headline {
    margin-bottom: 0
}

.profile-head {
    background: #f9f9f9;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    margin: -15px -15px 0!important;
    padding: 15px 15px 0
}

.profile-head .media-avatar {
    background: #fff
}

.profile-brief {
    border-left: 3px solid #eee;
    padding-left: 15px
}

.profile-tab {
    background: #f9f9f9;
    margin: 0 -15px 25px;
    padding: 30px 15px 0;
    font-weight: 600
}

.profile-tab>li>a {
    color: #888;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0
}

.profile-tab>li>a:hover {
    color: #666
}

.profile-tab>li.active>a {
    color: #444
}

.profile-tab>li+li {
    margin-left: 5px
}

.profile-tab-content {
    overflow: visible
}

.profile-tab-content .stream-list {
    border-top: 0;
    margin-top: 0
}

.profile-tab-content .stream-list .media:first-child {
    margin-top: -20px
}

.message .module-option {
    border-bottom: 0
}

.message .module-body {
    padding: 0
}

.message .table-message thead tr.heading td,
.message .table-message tbody tr.heading td {
    background: #29b7d3!important;
    font-weight: bold;
    border: 0;
}

.message .table-message tbody td {}

.message .table-message tbody td.cell-check {
    width: 20px;
    text-align: center
}

.message .table-message tbody td.cell-check input[type="checkbox"] {
    margin: 0
}

.message .table-message tbody td.cell-icon {
    text-align: center;
    padding-left: 0!important;
    padding-right: 0!important
}

.message .table-message tbody td.cell-author {
    width: 150px
}

.message .table-message tbody td.cell-time {
    width: 70px
}

.message .table-message tbody td.cell-status {
    width: 100px;
    text-align: center
}

.message .table-message tbody td.cell-status b {
    background: #d74f2a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 1px 5px;
    font-size: 11px;
    text-transform: uppercase
}

.message .table-message tbody [class^="icon-"],
.message .table-message tbody [class*=" icon-"] {
    font-size: 13px;
    color: #999
}

.message .table-message tbody .icon-star {
    color: #ddd
}

.message .table-message tbody .icon-checker {
    width: 5px;
    height: 5px;
    border: 3px solid #d74f2a;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 0 15px
}

.message tr.heading {
    color: #fff;
}

.message .table-message tbody tr.unread {
    font-weight: bold;
    color: #666
}

.message .table-message tbody tr.unread td {
    background: #fff
}

.message .table-message tbody tr.starred .icon-star {
    color: #fd7b12!important
}

.message .table-message tbody tr.starred .icon-star:hover {
    opacity: .6;
    filter: alpha(opacity=60)
}

.message .table-message tbody tr:hover td {
    background: #E8F6E4;
    cursor: pointer
}

.message .table-message tbody tr:hover .icon-star {
    color: #d9d9a9
}

.message .table-message tbody tr:hover .icon-star:hover {
    color: #adad88;
    cursor: pointer
}

.message .table-message tbody tr.task td {
    background: #fff;
    font-weight: bold
}

.message .table-message tbody tr.task.resolved td {
    background: #f5f5f5;
    color: #999;
    font-weight: normal
}

.message .table-message tbody tr.task.resolved .icon-checker {
    border-color: #ddd
}

.dataTables_wrapper {
    overflow: hidden
}

.dataTables_wrapper select,
.dataTables_wrapper input,
.dataTables_wrapper label {
    margin: 0
}

.dataTables_wrapper select,
.dataTables_wrapper input {
    margin: 0 0 0 5px
}

.dataTables_wrapper>div {
    float: left;
    margin: 0 0 15px 0px
}

.dataTables_wrapper>div+div {
    float: right;
    margin: 0 15px 15px 0
}

.dataTables_wrapper table+div,
.dataTables_wrapper table+div+div {
    margin-top: 15px;
    margin-bottom: 0
}

.dataTables_wrapper table th {
    background: #f5f5f5;
    cursor: pointer
}

.dataTables_wrapper table th:focus {
    outline: 0
}

.dataTables_wrapper table th.sorting_asc,
.dataTables_wrapper table th.sorting_desc {
    background: #f0f0f0;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset
}

.dataTables_wrapper table tr:hover th {
    background: #f1f1f1;
    background: -moz-linear-gradient(top, #fafafa 0, #fafafa 50%, #f1f1f1 51%, #f1f1f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(50%, #fafafa), color-stop(51%, #f1f1f1), color-stop(100%, #f1f1f1));
    background: -webkit-linear-gradient(top, #fafafa 0, #fafafa 50%, #f1f1f1 51%, #f1f1f1 100%);
    background: -o-linear-gradient(top, #fafafa 0, #fafafa 50%, #f1f1f1 51%, #f1f1f1 100%);
    background: -ms-linear-gradient(top, #fafafa 0, #fafafa 50%, #f1f1f1 51%, #f1f1f1 100%);
    background: linear-gradient(to bottom, #fafafa 0, #fafafa 50%, #f1f1f1 51%, #f1f1f1 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='@topColor', endColorstr='@bottomColor', GradientType=0)
}

.dataTables_wrapper table tr:hover th.sorting_asc,
.dataTables_wrapper table tr:hover th.sorting_desc {
    background: #f0f0f0
}

.dataTables_wrapper .table-bordered {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-left: 0;
    border-right: 0
}

.dataTables_wrapper .table-bordered thead tr>th:first-child,
.dataTables_wrapper .table-bordered tbody tr>td:first-child,
.dataTables_wrapper .table-bordered tfoot tr>td:first-child,
.dataTables_wrapper .table-bordered tfoot tr>th:first-child {
    border-left: 0
}

.dataTables_wrapper .table-bordered thead:first-child tr:first-child>th:first-child,
.dataTables_wrapper .table-bordered tbody:first-child tr:first-child>td:first-child {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0
}

.dataTables_wrapper .table-bordered thead:first-child tr:first-child>th:last-child,
.dataTables_wrapper .table-bordered tbody:first-child tr:first-child>td:last-child {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0
}

.dataTables_wrapper .table-bordered thead:last-child tr:last-child>th:first-child,
.dataTables_wrapper .table-bordered tbody:last-child tr:last-child>td:first-child,
.dataTables_wrapper .table-bordered tfoot:last-child tr:last-child>td:first-child {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0
}

.dataTables_wrapper .table-bordered thead:last-child tr:last-child>th:last-child,
.dataTables_wrapper .table-bordered tbody:last-child tr:last-child>td:last-child,
.dataTables_wrapper .table-bordered tfoot:last-child tr:last-child>td:last-child {
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0
}

.dataTables_info {
    float: left;
    padding-top: 5px
}

.datatable-pagination {
    float: right
}

.datatable-pagination>a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    height: 20px;
    background-color: #f5f5f5;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none!important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle
}

.datatable-pagination>a+a {
    margin-left: -1px
}

.datatable-pagination>a:first-child {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px
}

.datatable-pagination>a:last-child {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px
}

.datatable-pagination>a:hover {
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #f5f5f5, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #e6e6e6);
    background-image: -o-linear-gradient(top, #f5f5f5, #e6e6e6);
    background-image: linear-gradient(to bottom, #f5f5f5, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe6e6e6', GradientType=0)
}

.datatable-pagination>a.paginate_disabled_previous,
.datatable-pagination>a.paginate_disabled_next {
    cursor: default
}

.datatable-pagination>a.paginate_disabled_previous i,
.datatable-pagination>a.paginate_disabled_next i {
    opacity: .5;
    filter: alpha(opacity=50)
}

.datatable-pagination>a span {
    display: none
}

.chart .legend table {
    color: inherit!important;
    font-size: 11px!important
}

.chart .legend table td {
    padding: 3px 0
}

.chart .legend table .legendColorBox {
    padding-right: 10px
}

.chart .legend table .legendColorBox>div {
    border: 0!important;
    padding: 0
}

.chart .legend table .legendColorBox>div div {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 4px!important;
    height: 4px!important;
    border-width: 2px!important
}

.chart.inline-legend .legend table tr {
    display: inline-block
}

.chart.inline-legend .legend table tr+tr {
    padding-left: 25px
}

.chart.inline-legend.grid .legend>div {
    display: none
}

.chart.inline-legend.grid .legend table {
    top: 0!important;
    margin-bottom: 15px
}

.chart.inline-legend.grid .legend table td {
    padding: 0 0 15px
}

.chart.inline-legend.grid .legend table .legendColorBox {
    padding-right: 10px
}

.chart .tickLabel {
    color: #888
}

.graph {
    width: 100%;
    height: 300px
}

.pie {
    position: relative
}

.pie #hover {
    width: 100%;
    height: 34px;
    margin-top: -17px;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 0
}

.pie #hover span {
    background: #444;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font: 11px/34px Consolas, Monaco, Menlo, monospace;
    height: 34px;
    padding: 0 15px
}

#gridtip {
    background: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    padding: 3px 10px
}

.ui-slider {
    position: relative;
    text-align: left
}

.ui-slider .ui-slider-handle {
    background: url(../images/jquery-ui/picker.png);
    position: absolute;
    z-index: 2;
    width: 17px;
    height: 16px;
    cursor: pointer
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    background-position: 0 0
}

.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit
}

.ui-slider-horizontal {
    background: #f5f5f5;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
    height: 6px
}

.ui-slider-horizontal .ui-slider-handle {
    top: -5px;
    margin-left: -8.5px
}

.ui-slider-horizontal .ui-slider-range {
    border: 1px solid #0070a8;
    background-color: #0e90d2;
    top: -1px;
    height: 100%
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0
}

.ui-slider-vertical {
    width: .8em;
    height: 100px
}

.ui-slider-vertical .ui-slider-handle {
    left: -0.3em;
    margin-left: 0;
    margin-bottom: -0.6em
}

.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%
}

.ui-slider-vertical .ui-slider-range-min {
    bottom: 0
}

.ui-slider-vertical .ui-slider-range-max {
    top: 0
}

.docs+.docs {
    margin-top: 30px
}

.docs>h2 {
    font-size: 22px
}

.docs>h3 {
    font-size: 18px;
    color: #888
}

.docs-example {
    position: relative;
    margin: 20px 0 0;
    padding: 39px 19px 14px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden
}

.docs-example .pre {
    background: #f9f9f9;
    border: 0;
    border-top: 1px solid #e5e5e5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: normal;
    margin: 0 -19px -14px;
    padding: 19px
}

.docs-example .pre .tag,
.docs-example .pre .atn,
.docs-example .pre .pun,
.docs-example .pre .atv {
    color: #4f619e;
    font-weight: bold
}

.docs-example .pre .pun {
    font-weight: normal;
    color: #888
}

.docs-example .pre .atn {
    color: teal
}

.docs-example .pre .atv {
    color: #d14
}

.docs-example:after {
    content: "Sample";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 15px;
    font-size: 11px;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    color: #9da0a4;
    -webkit-border-radius: 0 0 3px 0;
    -moz-border-radius: 0 0 3px 0;
    border-radius: 0 0 3px 0
}


/*............added by ayan.............*/

.dataTables_info,
.dataTables_paginate {
    /*display: none;*/
}
.paging_full_numbers a{
    margin-right: 5px;

}
.module-body.table {
    padding: 0;
}

.pagination {
    margin-top: 0;
    float: right;
}

.module,
.module-body {
    overflow: hidden;
}

.btn-success {
    background-color: #66afe9;
    border-color: #66afe9;
    color: #fff;
}

hr {
    width: 100%;
    float: left;
    margin: 15px 0;
}

.wrapper {
    min-height: 73%;
    background: #eaf1f6;
}

.footer {
    padding: 30px 0;
}

body,
html {
    height: 100%;
}

.module-body>.module {
    width: 100%;
}

@media(max-width:767px) {
    body {
        padding: 0!important
    }
    .wrapper {
        padding: 20px 15px
    }
}

.dataTables_wrapper>div.dataTables_length,
.dataTables_wrapper>div.dataTables_filter {
    /*display: none;*/
}


/**********added on 6th oct***********/

.btn-success.spec_btn span,
.remove_btn span {
    margin-right: 8px;
}

.input_fields_wrap {
    padding: 15px 0;
    border-top: 1px solid #ccc;
    margin-bottom: 15px;
}

.tot_wrap {
    padding: 15px 0;
    border-top: 1px solid #ccc;
    margin-top: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.tot_wrap .input_fields_wrap:first-child {
    border-top: none;
    padding-top: 0;
}

a.btn.btn-danger.remove_vitamin,
a.btn.btn-success.add_vitamin {
    margin-left: 3px;
}

a.btn.btn-success.add_vitamin {
    margin-left: 1px;
}


/*.module .DataTables_Table_0_wrapper table tr.gradeX td input[type="submit"].btn-danger{ margin:0;}*/

.marge {
    margin-bottom: 10px;
}

.ui-widget-content.ui-autocomplete {
    border: none;
    color: #fff;
    border-radius: 2px;
    background: transparent;
    padding-left: 0;
    padding-top: 9px;
    border-radius: 2px !important;
}

.ui-menu.ui-autocomplete .ui-menu-item {
    position: relative;
    margin: 0;
    padding: 3px 1em 3px .4em;
    cursor: pointer;
    min-height: 0;
    border-bottom: 1px solid #d8f0fb;
    /*color: #3399cc;*/
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 8px 15px;
    text-align: left;
    background: #66AFE9;
}

.ui-menu.ui-autocomplete .ui-menu-item:hover {
    background: #36a97f;
}

ul.ui-autocomplete:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #66AFE9;
    border-top: none;
    left: 50%;
    top: 2px;
}

ul.ui-autocomplete .ui-state-hover,
ul.ui-autocomplete .ui-widget-content .ui-state-hover,
ul.ui-autocomplete .ui-widget-header .ui-state-hover,
ul.ui-autocomplete .ui-state-focus,
ul.ui-autocomplete .ui-widget-content .ui-state-focus,
ul.ui-autocomplete .ui-widget-header .ui-state-focus {
    border: none;
    background: transparent;
    font-weight: normal;
    color: #fff;
}

.error_red,
.error {
    border-color: red !important;
}

label.appended_error,
label.error,
label.appended_error_p,
label.appended_error_comp,
label.appended_error_val {
    color: red;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.0;
    }
}

.module-head {
    position: relative;
}

.module-head .appended_error {
    position: absolute;
    top: 10px;
    right: 15px;
}

.widget-menu>li.active>a {
    color: #fff;
    background: #141b27;
}

.widget-menu>li.active>a i {
    color: #fff;
}

.tot_wrap>.control-group {
    padding-bottom: 12px;
}

.up_img {
    margin-top: 15px;
    margin-bottom: 30px;
}

.up_img .nav-avatar {
    width: 160px;
    height: auto;
    margin: 7px 5px 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
}


/*-----------------------------------------------SUMIT 10.10.2015---------------------------------------------------------*/


/*-----------------------------------------------SUMIT 10.10.2015---------------------------------------------------------*/


/*-----------------------------------------------SUMIT 10.10.2015---------------------------------------------------------*/

form#ingredient_frm .control-group .controls input[type="radio"],
input[type="checkbox"] {
    margin: 4px 10px 0px 0;
    line-height: normal;
    float: left;
}

form#ingredient_frm .control-group label.error {
    color: #F00;
    position: absolute;
    bottom: -15px;
}

form#ingredient_frm .control-group {
    position: relative;
    padding-bottom: 10px;
}

.form-horizontal .new_panel_section .control-group {
    margin-top: 13px;
    padding-top: 13px;
    border-top: 1px solid #F5F5F5;
}

.new_field {
    border: 0 !important;
    padding: 0 !important;
}

a.btn.btn-success.add_vitamin,
a.btn.btn-danger.remove_vitamin {
    margin-left: 1px;
    margin-bottom: 0;
    position: absolute;
    top: 40px;
    right: 180px;
}


/*-----------------------------------------------SUMIT 10.10.2015---------------------------------------------------------*/


/*-----------------------------------------------SUMIT 10.10.2015---------------------------------------------------------*/


/*-----------------------------------------------SUMIT 10.10.2015---------------------------------------------------------*/


/*-----------------------------------------------ayan 10.10.2015---------------------------------------------------------*/

.new_avatar img.nav-avatar {
    width: 150px;
    height: auto;
    border-radius: 0;
    padding: 10px;
    border: 1px solid #ccc;
    clear: both;
    float: left;
    margin-top: 15px
}

.form-horizontal .new_panel_section .control-group {
    position: relative;
}

a.btn.btn-success.add_vitamin.normal_vitamin,
a.btn.btn-danger.remove_vitamin.normal_vitamin {
    position: relative;
    margin: 0;
    top: auto;
    left: auto;
    right: auto;
}

.mu10 {
    margin-top: 15px;
}


/*-----------------------------------------------ayan 10.10.2015---------------------------------------------------------*/

.spec_navavatar {
    width: 90px;
    height: auto;
    border-radius: 0;
    padding: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0;
}

@media (min-width: 768px) {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
        box-sizing: border-box;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-pull-12 {
        right: 100%;
    }
    .col-sm-pull-11 {
        right: 91.66666667%;
    }
    .col-sm-pull-10 {
        right: 83.33333333%;
    }
    .col-sm-pull-9 {
        right: 75%;
    }
    .col-sm-pull-8 {
        right: 66.66666667%;
    }
    .col-sm-pull-7 {
        right: 58.33333333%;
    }
    .col-sm-pull-6 {
        right: 50%;
    }
    .col-sm-pull-5 {
        right: 41.66666667%;
    }
    .col-sm-pull-4 {
        right: 33.33333333%;
    }
    .col-sm-pull-3 {
        right: 25%;
    }
    .col-sm-pull-2 {
        right: 16.66666667%;
    }
    .col-sm-pull-1 {
        right: 8.33333333%;
    }
    .col-sm-pull-0 {
        right: auto;
    }
    .col-sm-push-12 {
        left: 100%;
    }
    .col-sm-push-11 {
        left: 91.66666667%;
    }
    .col-sm-push-10 {
        left: 83.33333333%;
    }
    .col-sm-push-9 {
        left: 75%;
    }
    .col-sm-push-8 {
        left: 66.66666667%;
    }
    .col-sm-push-7 {
        left: 58.33333333%;
    }
    .col-sm-push-6 {
        left: 50%;
    }
    .col-sm-push-5 {
        left: 41.66666667%;
    }
    .col-sm-push-4 {
        left: 33.33333333%;
    }
    .col-sm-push-3 {
        left: 25%;
    }
    .col-sm-push-2 {
        left: 16.66666667%;
    }
    .col-sm-push-1 {
        left: 8.33333333%;
    }
    .col-sm-push-0 {
        left: auto;
    }
    .col-sm-offset-12 {
        margin-left: 100%;
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 992px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-pull-12 {
        right: 100%;
    }
    .col-md-pull-11 {
        right: 91.66666667%;
    }
    .col-md-pull-10 {
        right: 83.33333333%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-8 {
        right: 66.66666667%;
    }
    .col-md-pull-7 {
        right: 58.33333333%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-5 {
        right: 41.66666667%;
    }
    .col-md-pull-4 {
        right: 33.33333333%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-2 {
        right: 16.66666667%;
    }
    .col-md-pull-1 {
        right: 8.33333333%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-12 {
        left: 100%;
    }
    .col-md-push-11 {
        left: 91.66666667%;
    }
    .col-md-push-10 {
        left: 83.33333333%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-8 {
        left: 66.66666667%;
    }
    .col-md-push-7 {
        left: 58.33333333%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-5 {
        left: 41.66666667%;
    }
    .col-md-push-4 {
        left: 33.33333333%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-2 {
        left: 16.66666667%;
    }
    .col-md-push-1 {
        left: 8.33333333%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-pull-12 {
        right: 100%;
    }
    .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-push-12 {
        left: 100%;
    }
    .col-lg-push-11 {
        left: 91.66666667%;
    }
    .col-lg-push-10 {
        left: 83.33333333%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-8 {
        left: 66.66666667%;
    }
    .col-lg-push-7 {
        left: 58.33333333%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-5 {
        left: 41.66666667%;
    }
    .col-lg-push-4 {
        left: 33.33333333%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-2 {
        left: 16.66666667%;
    }
    .col-lg-push-1 {
        left: 8.33333333%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-offset-12 {
        margin-left: 100%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
        margin-left: 0;
    }
}

.add_product_panel {
    padding: 10px 0;
}

.add_product_panel h2 {
    font-size: 30px;
    color: #5f5f5f;
    padding: 0;
    margin: 0 20px 20px;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
}

.add_product_panel .product_name {
    display: block;
    clear: both;
    margin: 0 0 15px;
    overflow: hidden;
    margin-top: 15px;
}

.add_product_panel .product_name label {
    font-size: 19px;
    color: #6dc4d3;
    text-align: right;
    line-height: 40px;
}

.add_product_panel .product_name label span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    color: #fff;
    background-color: #afc149;
    margin: 10px 0 0;
    display: inline-block;
}

.add_product_panel input[type="text"],
.add_product_panel textarea,
.add_product_panel select,
.add_product_panel input[type="text"].form-control,
.add_product_panel textarea.form-control,
.add_product_panel select.form-control {
    display: block;
    width: 100%;
    border: 1px solid #d5d5d5;
    border-radius: 0;
    height: 43px;
    background-color: transparent;
    font-size: 14px;
    line-height: 40px;
    color: #777777;
    padding: 0 10px;
    box-shadow: none !important;
    box-sizing: border-box;
}

.add_product_panel textarea {
    min-height: 120px;
}

.add_product_panel select {
    background: url(../images/select-arrow3.png) no-repeat 95% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.add_product_panel .submit_panel,
.add_product_panel .form_factore_panel,
.add_product_panel .form_ingredient_panel,
.add_product_panel .form_ingredient_price_panel,
.add_product_panel .form_ingredient_panel {
    width: auto;
    display: block;
    overflow: hidden;
    clear: both;
}

.add_product_panel .submit_panel .container,
.add_product_panel .form_factore_panel .container {
    border-top: 1px solid #d5d5d5;
    padding: 30px 0;
    margin-top: 30px;
}

.add_product_panel .submit_panel a.backbtn {
    width: auto;
    display: block;
    float: left;
    margin-right: 10px;
    border: 1px solid #afc149;
    height: 41px;
    padding: 0 13px;
    font-size: 17px;
    line-height: 39px;
    color: #afc149;
}

.add_product_panel .submit_panel a.backbtn i {
    float: left;
    margin-right: 10px;
    line-height: 39px;
}

.add_product_panel .submit_panel a.backbtn:hover {
    background-color: #afc149;
    color: #fff;
}

.add_product_panel .submit_panel a.backbtn:hover i {
    color: #fff;
}

.add_product_panel .submit_panel .btn {
    width: auto;
    display: block;
    float: left;
    margin-right: 10px;
    border: 0;
    height: 41px;
    padding: 0 15px;
    font-size: 20px;
    line-height: 41px;
    color: #fff;
    background-color: #afc149;
    text-transform: uppercase;
    border-radius: 0;
}

.add_product_panel .submit_panel .btn:hover {
    color: #fff;
    background-color: #71d2e3;
}

a.click_more,
a.remove_row,
a.add_row,
a.add_ingre,
a.add_ingre,
a.add_form,
a.collapsing_btn,
a.del_btn,
a.remove_row_formfactortable {
    color: #777777;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    background: transparent;
    padding: 0;
    text-align: center;
}

a.click_more i,
a.remove_row i,
a.add_row i,
a.add_ingre i,
a.add_form i,
a.collapsing_btn i,
a.remove_row_formfactortable i {
    font-size: 18px;
    color: #afc149 !important;
    margin-right: 8px;
}

a.del_btn i {
    color: red !important;
}

a.click_more:hover,
a.remove_row:hover,
a.add_row:hover,
a.add_ingre:hover,
a.add_form:hover,
a.collapsing_btn:hover,
a.del_btn:hover,
a.remove_row_formfactortable:hover {
    color: #000;
}

a.click_more:hover i,
a.remove_row:hover i,
a.add_row:hover i,
a.add_ingre:hover i,
a.add_form:hover i,
a.collapsing_btn:hover i,
a.del_btn:hover i,
a.remove_row_formfactortable:hover i {
    color: #afc149;
}

.add_product_panel .container {
    padding-left: 0;
    padding-right: 0;
}

.add_product_panel .form_factore_panel label {
    font-size: 12px;
    line-height: 30px;
    color: #777777;
    font-weight: 400;
    font-weight: 700;
}

.add_product_panel .form_factore_panel .form-control {
    max-width: 90%;
}

.add_product_panel .form_factore_panel table td {
    padding: 0 0 20px;
}

.add_product_panel .form_factore_panel table .form_factore_info td {
    padding: 0 0 27px;
}

.add_product_panel .form_ingredient_price_panel .total_price {
    border-top: 1px solid #d5d5d5;
    padding: 10px 0;
    margin-top: 20px;
    float: left;
    width: 100%;
    margin-bottom: 2px;
}

.total_price p {
    font-size: 20px;
    line-height: 30px;
    color: #777777;
    padding: 0;
    margin: 0 0 0 15px;
    float: right;
    font-weight: 400;
}

.total_price p span {
    font-size: 16px;
    line-height: 30px;
    color: #71d2e3;
}

.total_price p span strong {
    font-size: 30px;
    font-weight: bold;
    color: #71d2e3;
}

.right_border {
    border-right: none;
    min-height: 0;
}

.upload_image_panel {
    width: auto;
    display: block;
    clear: both;
    padding: 0;
}

.upload_image_panel p.upload_image {
    position: relative;
    min-height: 91px;
    float: left;
    margin: 0 10px 10px 0;
    min-width: 120px;
}

.upload_image_panel p.upload_image img {
    position: absolute;
    left: 0;
    z-index: 9;
    width: 120px;
    height: 91px;
}

.upload_image_panel p.upload_image input[type="file"] {
    font-size: 0;
    line-height: 0;
    width: 120px;
    height: 91px;
    position: absolute;
    left: 0;
    z-index: 999;
    display: block;
    opacity: 0;
    cursor: pointer;
}

.button_panel {
    width: auto;
    display: block;
    clear: both;
}

.ingredient_form_panel {
    padding: 0px 0 25px;
    clear: both;
}

.ingredient_form .form-control,
.ingredient_new_form .form-control {
    max-width: 90%;
}

.form_ingredient_group_panel {
    width: auto;
    display: block;
    clear: both;
    overflow: hidden;
}

.form_ingredient_group_panel .form_ingredient_group {
    border: 1px solid #d6d6d6;
}

.form_ingredient_group .top_panel {
    border-bottom: 1px solid #d5d5d5;
    padding: 12px 0;
}

.form_ingredient_group .top_panel label,
.ingredient_new_form label {
    font-size: 15px;
    line-height: 30px;
    padding: 0 10px 0 0;
}

.form-control.back_bg {
    background-color: #f1f1f1 !important;
}

.form_ingredient_group .bottom_panel {
    padding: 15px;
    background-color: #f1f1f1;
    overflow: hidden;
}

.form_ingredient_group .bottom_panel td {
    padding: 0px 0px 15px;
}

.upload_image_panel {
    width: auto;
    display: block;
    clear: both;
    padding: 0;
}

.upload_image_panel p.upload_image {
    position: absolute;
    min-height: 91px;
    float: left;
    margin: 0 10px 10px 0;
    min-width: 120px;
}

.upload_image_panel p.upload_image img {
    position: absolute;
    left: 0;
    z-index: 9;
    width: 120px;
    height: 91px;
}

.upload_image_panel p.upload_image input[type="file"] {
    font-size: 0;
    line-height: 0;
    width: 120px;
    height: 91px;
    position: absolute;
    left: 0;
    z-index: 999;
    display: block;
    opacity: 0;
    cursor: pointer;
}

.upload_image_panel .image_upload_panel {
    width: auto;
    display: block;
    clear: both;
    overflow: hidden;
    border: 1px solid #d5d5d5;
    margin-bottom: 15px;
    position: relative;
}

.upload_image_panel .image_upload_panel .upload_button_panel {
    width: 120px;
    height: 91px;
    position: absolute;
    float: left;
}

.upload_image_panel .image_upload_panel textarea {
    width: 100%;
    max-width: 100%;
    height: 91px;
    padding: 15px;
    min-height: 89px;
    border: 0;
    font-size: 14px;
    line-height: 20px;
    padding-left: 135px;
    box-sizing: border-box;
    margin: 0;
}

.selectedFiles span.image_up {
    width: 120px;
    height: 91px;
    max-width: 120px;
    max-height: 91px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
}

.selectedFiles span.image_up img {
    width: 120px;
    height: 91px;
    max-width: 120px;
    max-height: 91px;
}

.selectedFiles span.image_up input.edit_icon {
    position: absolute;
    right: 5px;
    top: 5px;
    display: block;
    color: #FFF;
    cursor: pointer;
    width: 29px;
    height: 29px;
    z-index: 99999;
    border: 0;
    background: url(../images/edit-icon.png) no-repeat 0 0;
    text-indent: -5000px;
    opacity: 1;
    left: auto;
}

.form_check_table .table>thead>tr>th.all_selec {
    background: #afc149;
    color: #fff;
}

.form_check_table .table>thead>tr>th.red_selc {
    background: #CE3434;
    color: #fff;
}

.upload_image_panel .selectedFiles,
.upload_image_panel .selectedFiles img {
    height: 100%;
}

.ingredient_form th {
    text-align: left;
    font-size: 15px;
    padding: 10px 0 10px;
}

.form_check_table td span.weight_range {
    display: block;
    font-size: 14px;
    font-weight: 600;
}

.form_check_table .table>thead>tr>th {
    vertical-align: middle;
}

.img_modify {
    position: relative;
}

.form_check_table .table>thead>tr>th.red_selc {
    background: #CE3434;
    color: #fff;
}

.form_check_table .table>thead>tr>td {
    border-bottom: none;
    font-weight: 600;
    font-size: 16px;
}

.acct_box_inn_inn a span {
    display: block;
    line-height: 20px;
    font-size: 14px;
}

.selectedFiles {
    position: absolute;
}

.img_modify {
    width: 122px;
    height: 93px;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.ingredient_form tr td {
    padding-bottom: 10px;
}

.tt35 {
    margin-bottom: 25px;
}

.form_check_table .table>thead>tr>th,
.form_check_table .table>tbody>tr>th,
.form_check_table .table>tfoot>tr>th,
.form_check_table .table>thead>tr>td,
.form_check_table .table>tbody>tr>td,
.form_check_table .table>tfoot>tr>td {
    padding: 15px 10px;
    text-align: center;
}

.form_check_table .table>tbody>tr>td.all_selec {
    background: #EEF3D5;
}

.form_check_table .fa-check {
    color: #afc149;
}

.form_check_table .fa-times {
    color: red;
}

.top_panel table td {
    text-align: center;
}

.right_border .button_panel {
    width: auto;
    display: block;
    clear: both;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

table#formfactortable {
    margin-top: 20px;
}

span.weight_span {
    display: block;
    font-weight: 400;
    line-height: 22px;
    margin-top: 4px;
    position: relative;
    margin-left: 0;
    text-align: center;
    width: 100%;
}

.toll_tipfor_red {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    color: #fff;
    background-color: #afc149;
    margin: 10px 0 0;
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: 26px;
    display: none;
}

.form_check_table .table>thead>tr>th.red_selc .toll_tipfor_red {
    display: block;
    text-decoration: none;
    color: #fff;
}

.form_check_table .tooltip.bottom {
    margin-top: 3px;
    width: 200px;
    left: auto !important;
    right: -10px;
}

.form_check_table .tooltip.bottom .tooltip-arrow {
    right: 14px;
    left: auto;
}

.bottom_img_define .upload_image {
    position: absolute;
    min-height: 91px;
    float: left;
    margin: 0 10px 10px 0;
    min-width: 120px;
}

.bottom_img_define .files_label {
    font-size: 0;
    line-height: 0;
    width: 120px;
    height: 91px;
    position: absolute;
    left: 0;
    z-index: 999;
    display: block;
    opacity: 0;
    cursor: pointer;
}

.bottom_img_define.img_modify {
    width: 120px;
    height: 91px;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.label_siteadmin input[type="radio"] {
    position: relative;
    margin-right: 10px;
    top: -3px;
}

.label_siteadmin.pull-left {
    margin-right: 20px;
}

.label_siteadmin label {
    line-height: 28px;
}

.form_check_table .table>thead>tr>th:not(.all_selec) .toll_tipfor_red {
    display: block;
}

.input_fields_wrap input[type="radio"] {
    margin: 0 10px 0 0;
}

.dataTables_wrapper {
    overflow-x: auto;
}

#member_admin {
    table-layout: fixed;
    width: 100%;
}

#member_admin td {
    word-break: break-all;
}

.tot_vit_weight {
    z-index: 99;
}

.form-horizontal .controls {
    line-height: 29px;
}

.check_box_tab {
    position: relative;
}

.check_box_tab input[type="checkbox"],
.check_box_tab input[type="radio"] {
    position: absolute;
    left: -99em;
}

.check_box_tab input[type="checkbox"]+label,
.check_box_tab input[type="radio"]+label {
    padding-left: 27px;
    font-size: 16px;
    color: #777777;
    line-height: 44px;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: normal;
}

.check_box_tab input[type="radio"]+label:before {
    content: '';
    width: 17px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 13px;
    font-size: 18px;
    color: #a11518;
    background: url(../images/newdashimages/brandaccount/radio_brand.png) no-repeat 0 0;
}

.check_box_tab.green_color input[type="radio"]+label:before {
    background: url(../images/radio_brand_green.png) no-repeat 0 0;
}

.check_box_tab.green_color input[type="radio"]:checked+label:before {
    background: url(../images/radio_brand_checked_green.png) no-repeat 0 0;
}

.marg_left {
    margin-left: 30px;
}

.mar_top_bot {
    margin: 20px 0;
}

.product_name.edit_prod {
    margin: 0;
    clear: none;
}

.right_border select.selectclass.red_border,
.weightclass.red_border {
    border-color: red !important;
}

.error_p {
    color: red;
    clear: left;
    font-size: 16px;
}

.dataTables_wrapper {
    clear: both;
}

.filt_css.pull-left {
    margin-left: 10px;
}

.filt_css {
    margin-top: 10px;
}

.filt_css span {
    display: block;
    float: left;
    line-height: 29px;
    margin-right: 10px;
}

.search_top {
    float: right;
    margin-right: 10px;
}

.search_top input[type="submit"].btn {
    line-height: 20px;
}

.choosebrand_lab label {
    text-align: left;
    font-size: 19px;
    line-height: 39px;
    margin: 0;
    color: #6DC7DF;
}

.special_padleft {
    padding-left: 7px;
}

.tags_div label.col-sm-2 {
    line-height: 39px;
}

.submit_panel {
    margin-top: 20px;
}

.remove_row_formfactortable {
    margin-left: 5px;
    position: relative;
    top: 13px;
}

.del_btn,
.collapsing_btn {
    border: none;
}

.table th,
.table td {
    vertical-align: middle;
}

.edit_table_btn,
.rating_table_btn {
    display: block;
    margin-bottom: 4px;
}

#pro_type {
    margin-right: 5px;
}

.add_memeber_btn {
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: 11px;
}

#searchstring {
    margin-right: 5px;
}

.label_for_newup {
    font-size: 17px;
    line-height: 34px;
}

.image_upload_panel label.error {
    position: absolute;
    bottom: -3px;
    left: 9px;
    font-size: 12px;
}

.add_product_panel .product_name label.error {
    font-size: 13px;
    color: red;
    line-height: 15px;
}

.upload_image_panel .image_upload_panel label.error {
    bottom: -1px;
    color: #ab0000;
    font-size: 13px;
    font-weight: 600;
    left: 125px;
    padding-left: 11px;
    position: absolute;
}

.upload_image_panel p.upload_image label.error {
    bottom: -4px;
    left: -4px;
    text-align: center;
    width: 100%;
    z-index: 99;
}

.custom_input input {
    position: relative;
    top: -2px;
    margin-right: 3px;
}

.custom_input {
    width: 100%;
    float: left;
    margin-bottom: 5px !important;
}

.filt_css.pull-right {
    margin-right: 10px;
}

.custom-styles {
    font-size: 16px;
    line-height: 24px;
}

.image-div {
    display: none;
}

.modal {
    display: none;
}


/******...............added later..............********/

.form-horizontal .info-feature .control-label {
    min-height: 42px !important;
    line-height: 33px;
    font-size: 12px;
}

.form-horizontal .info-feature input[type="text"],
.form-horizontal .info-feature select {
    display: block;
    margin: 0;
    width: 100%;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    transition: border 0.3s;
    height: auto;
}


/*.form-horizontal .info-feature select{
    -webkit-appearance:none;
    appearence:none;
    -moz-appearence:none;   
}*/

.custom_checkbox {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.custom_checkbox input[type="checkbox"] {
    position: absolute;
    left: -999px;
}

.custom_checkbox input[type="checkbox"]+label:before {
    content: '\f10c';
    font-size: 16px;
    color: #aeaeae;
    font-family: FontAwesome;
    margin-right: 6px;
    padding-left: 1px;
    position: relative;
    top: 1px;
    font-size: 18px;
}

.custom_checkbox input[type="checkbox"]:checked+label:before {
    content: '\f192';
}

.custom-margin {
    margin: 0 0 0 10px;
}

.bottom_row .span6 {
    margin-left: 0;
}

.toggle-infopanel {}

.bigcheckbox {
    position: relative;
    overflow: hidden;
}

.bigcheckbox input[type="checkbox"] {
    position: absolute;
    left: -999px;
}

.bigcheckbox input[type="checkbox"]+label {
    color: #838c83;
    padding-left: 45px;
}

.bigcheckbox input[type="checkbox"]+label span {
    display: block;
}

.bigcheckbox input[type="checkbox"]+label .main_name {
    font-weight: 700;
    color: #8d8c8c;
    font-size: 15px;
}

.bigcheckbox input[type="checkbox"]+label .normal {}

.bigcheckbox input[type="checkbox"]+label:before {
    content: '\f096';
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    font-size: 41px;
    top: 13px;
    color: #66afe9;
}

.bigcheckbox input[type="checkbox"]:checked+label:before {
    content: '\f046';
}

.total-heading {
    background: rgb(102, 175, 233);
    color: #fff;
}

.total-heading .custom_checkbox {
    margin: 14px 15px 10px;
}

.total-infopanel-checked {
    padding: 10px 15px;
    border: 1px solid rgba(204, 204, 204, 0.41);
    border-top: none;
}

.total-listingpanel {
    clear: both;
    margin-top: 20px;
    float: left;
    width: 100%;
}

.total-listingpanel .custom_checkbox input[type="checkbox"]+label:before {
    color: #fff;
    content: '\f0c8';
}

.total-listingpanel .custom_checkbox input[type="checkbox"]:checked+label:before {
    content: '\f14a';
}

.total-selected.pull-right {
    margin-right: 10px;
    color: #fff;
    font-weight: 700;
    margin-top: 15px;
}

.right-heading.pull-right {
    margin-top: 0;
    color: #393737;
}

.toggle-infopanel:after {
    content: '\f105';
    font-family: FontAwesome;
    color: #fff;
    margin-left: 5px;
}

.toggle-infopanel.active:after {
    content: '\f00d';
}

.toggle-infopanel.pull-right {
    padding: 15px;
    background: #4a86b6;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

.total-infopanel-checked .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 20px;
    float: right;
    margin-top: 19px;
}

.rating span.star {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}

.rating span.star:before {
    content: "\f006";
    padding-right: 5px;
    color: #777;
}

.rating span.star:hover:before,
.rating span.star:hover~span.star:before,
.rating span.star.active:before {
    content: "\f005";
    color: #e3cf7a;
}

.total-infopanel-checked-cont {
    display: none;
}

.no-touch {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.search-panel .form-control {
    min-height: 31px;
    padding: 0px 15px;
}

.search-panel {
    width: 100%;
    float: left;
    padding: 8px 0 3px;
    background: rgba(204, 204, 204, 0.49);
    margin-bottom: 10px;
}

.form-horizontal .info-feature .search-panel .control-label {
    min-height: 32px !important;
    line-height: 22px;
}

.form-horizontal .info-feature .search-panel input[type="text"] {
    width: auto;
    float: left;
    padding: 5px;
}

.form-horizontal .info-feature .search-panel .btn {
    margin-top: 2px;
    margin-left: 5px;
}


/******...............added later..............********/

.style_modify .control-label {
    width: 100% !important;
    text-align: left;
}

.search_criteria {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.second_row {
    float: left;
    width: 100%;
    margin-top: 15px;
}

.style_modify select {
    width: 100% !important;
    max-width: 100% !important;
}

.single_select {
    float: left;
    width: 100%;
}

.total-infopanel-checked-cont .search-panel .control-label {
    width: 120px!important;
    text-align: right!important;
}
/* New Style */

.line-row{
    border-bottom: 1px solid #e5e5e5;
}
.line-row .row{
    padding: 10px 15px;
}
.item_list .line-row .line-heading{
    min-width:36px;
}

.line-row .line-heading{
    display: inline-block;
    min-width: 100px;
    padding-right: 10px;
    position: relative;
}
.line-row .line-heading:after{
    content: ":";
    float: right;
}
.text-right{
    text-align: right;
}
.log-history h5{
    padding: 15px;
    margin: 0;
}
.log-history ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.log-history ul li{
    padding: 10px 15px;
    margin-bottom: 4px;
}
.log-history ul li:last-child{
    margin-bottom: 0;
}
.log-history ul li:nth-child(odd){
    background: #eef7ff;
}
.log-history ul li:nth-child(even){
/* background: #f6f6f6;*/
}
.video-blocks{
    padding: 5px 5px 0;
}
.video-blocks ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.video-blocks ul li{
    width: 25%;
    float: left;
}
.video-blocks .video-thumb{
    margin: 5px;
}
.video-blocks .video-thumb img{
    max-width: 100%;
}
.action-btns{
    font-size: 18px;
}
label.error{
    display: inline-block;
    margin-left: 5px;
}
.table > thead > tr, 
.table > thead > tr > th{
    background: #141b27 !important;
    color: #fff !important;
}
.table td{
    white-space: normal;
}

.comment-box{
    padding: 5px 20px;
}
.comment-box ul{
    padding: 0;
    margin: 0 0 10px;
    list-style: none;
    max-height: 370px;
    overflow-x: hidden;
    overflow-y: auto;
}
.comment-box ul li{
    margin-bottom: 10px;
}
.comment-box ul li:last-child{
    margin-bottom: 0;
}
.comment-box .comment-list{
    background: #eaeef3;
    padding: 15px;
    color: #000;
    position: relative;
}
.comment-box .comment-list:after{
    font-family: 'FontAwesome';
    content: "\f10e";
    color: #cfdded;
    position: absolute;
    right: 15px;
    top: 30px;
    font-size: 60px;
}
.comment-box .comment-list .cmt-header{
    margin-bottom: 3px;
    color: #565656;
}
.comment-box .comment-list .cmt-date{
    margin-bottom: 15px;
    font-size: 13px;
    color: #565656;
}
.comment-box .comment-list .cmt-date .fa{
    color: #03b2b4;
    margin-right: 3px;
}
.comment-box .comment-list strong{
    color: #000;
}
.reply-box{
    padding: 0 20px 20px;
}
.reply-box .form-group{
    margin-bottom: 10px;
}
.reply-box .form-control{
    width: 100%;
    box-sizing: border-box;
}
.form-horizontal.video-add-form .control-labels{
    min-width: 80px;
}
.form-horizontal.video-add-form .option2{
    width:36%;
}
.form-horizontal.video-add-form #total_amount{
    margin-top: 0;
    padding-left: 0;
}
.cust-ctrl .price_field{
    position: relative;
    max-width: 180px;
}
.cust-ctrl .remove-btn{
    position: absolute;
    top: 0;
    margin-left: 100px;
}


.note-box ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.note-box ul li{
    margin-bottom: 10px;
}
.note-box .note-list{
    background: #eaeef3;
    padding: 5px 15px;
    color: #000;
    position: relative;
}
.note-box .note-list:after{
    font-family: 'FontAwesome';
    content: "\f0f6";
    color: #cfdded;
    position: absolute;
    right: 15px;
    top: 48px;
    font-size: 60px;
}
.note-box .note-list .note-header{
    margin-bottom: 3px;
    color: #565656;
}
.note-box .note-list .note-date{
    margin-bottom: 15px;
    font-size: 13px;
    color: #8D8D8D;
}
.note-box .note-list .note-date .fa{
    color: #03b2b4;
    margin-right: 3px;
}

/*............added on 1st dec............*/

span.iconic-repres {
    width: 60px;
    height: 60px;
    border: 1px solid #45a1e1;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
}
.btn-box.big span.iconic-repres i {
    font-size: 30px;
    line-height: 59px;
    height: 48px;
}
.table-prop{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}
.table-cell{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}
.btn-box.big.span4 {
    min-height: 85px;
    border: 1px solid rgba(69, 161, 225, 0.55);
    border-radius: 3px;
    position: relative;
    margin-bottom: 0;
    margin-top: 25px;
    background: #fff;
}
.btn-box.big.span4 .table-prop{
    height: 155px;
}
.btn-box.big.span4 .text-muted {
    min-height: 40px;
    margin-top: 10px;
}
.btn-box.big.span4 .text-muted span{
    display: block;
    text-align: center;
    line-height: 18px;
}
.view-customer {
    padding: 5px 10px;
    border: 1px solid #45a1e1;
    border-radius: 2px;
}
.view-customer:hover{
    background: #6eb0de;
    text-decoration: none;
    color: #fff;
}
.country {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 8px;
}
/*form .country #search_key,form .country #speciality{
    width: 96%;
    margin: 0 2%;
}*/
form .country #add_ques{
    margin-top: 7px;
}
.display_inlineblock{
    display: inline-block;
}
.text-center{
    text-align: center;
}
.video-blocks .video-thumb {
    margin: 0;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.video-blocks .video-thumb iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-blocks ul li {
    width: 23%;
    float: left;
    padding: 8px;
}
.country tr#add_new_question td {
    vertical-align: top;
}
.norap{
    white-space: nowrap;
}
.line-row .norap .line-heading:after{
    float: none;
}


/*============================*/
.tricket-body{
    border:1px solid #d2d2d2;
    padding: 15px;
}
.tricket-block-first{
    border: 1px solid #cccccc;
    overflow: auto;
    padding: 10px;
}
.tricket-block-first-inner{
    border: 1px solid #c3c3c3;
    overflow: hidden;
    padding: 10px;
    border-radius: 6px;
}
.first-block-content{
    padding: 50px 30px;
}
.tricket-block-first p{
    font-size: 12px;
    color: #000;
    font-weight: normal;
    line-height: 16px;
    margin: 0 0 15px 0;
    padding: 0;
}
.tricket-block-first p strong{
    font-weight: bold;
}

.textarea-controls.first-content-block {
    margin: 0 0 0 84px;
    padding-right: 39px;
}
@media only screen and (min-width:1024px) and (max-width:1200px)
{

.textarea-controls.first-content-block {
    margin: 0 0 0 84px;
    padding-right: 16px;
}
}


@media only screen and (min-width:768px) and (max-width:1023px)
{

.textarea-controls.first-content-block {
    margin: 0 0 0 84px;
    padding-right: 0;
}
}

@media only screen and (max-width:767px) 
{

.textarea-controls.first-content-block {
    margin: 0 0 0 84px;
    padding-right: 0;
}
.admin-logo{
     max-width: 120px;
    padding: 5px 20px 15px !important;
}
}


/*.........added on 19th dec......*/

.makeleftcollapse.pull-left {
    font-size: 24px;
    padding: 29px 10px;
}
.customleft_bar.hideleft{
    display: none;
}
.custom_rightbar.mainright{
    width: 100%;
    margin: 0;
}
.paging_full_numbers a {
    margin-right: 5px;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}
.dataTables_paginate.paging_full_numbers{
    margin-bottom: 15px;
    margin-left: 1px;
}
.paging_full_numbers .paginate_button.paginate_button_disabled{
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.paging_full_numbers .paginate_button.disabled{
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.paging_full_numbers a.paginate_active {
    background: #45a1e1;
    color: #fff;
}
.paging_full_numbers a.current {
    background: #45a1e1;
    color: #fff;
}
.dataTables_processing {
      position: fixed !important;
      z-index: 999 !important;
      height: 2em !important;
      width: 2em !important;
      overflow: show !important;
      left: 50%;
      top: 50%;
      margin-left: -32px; /* -1 * image width / 2 */
      margin-top: -32px;
      border-top: 16px solid blue;
      border-right: 16px solid green;
      border-bottom: 16px solid red;
      border-left: 16px solid pink;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.to_field{
	float: left; 
	margin-left: 7px;
}
.present{
	position: relative;
	top: 4px;
}
.importantleftpull{
  float:left !important;
}

.custom_rightbar .controls img{
    float: left;
}

.file-upload{
    float: left;
    position: relative;
    padding: 8px 0 0 0;
}
.upload {
    background: #2e3192;
    border-color: #2e3192;
    color: #fff;
    border-radius: 20px;
    width: 82px;
    text-align: center;
}

.file-upload input[type="file"]{
    position: absolute;
    left: 0;
    top: 7px;
    opacity: 0;
    width: 82px;
}
.upload-btn{
    padding: 0 !important;
}


