<div class="inner-page-header-blank"></div>
<!--inner-page-header-blank for every inner page --- header hight mentant-->

<section class="innerpage">
  <div class="signup-details-section" ng-class="postList==1 ? 'mypost-listing-section':''">
    <div class="container-fluid">
      <div class="row">
       <div class="col-lg-12">
         <div class="">
           <div class="edit-profile-tab mar-btm-30" ng-class="postList==1 ? 'edit-profile-tab-listing':''">
            <!-- edit profile Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" >
                <a ui-sref="create-post({})">Create post</a>
              </li>
              <li role="presentation" class="active">
                <a data-target="#myposttab" aria-controls="change-password" role="tab" data-toggle="tab" ng-click="fetchMyPost();postList=1">My Posts</a>
              </li>
              <li role="presentation">
                <a ui-sref="my-message({postId:'all',act:'recent'})" class="tabTxt">Messages </a><span class="mcounter_base" ng-if="unreadpostCount &&  unreadpostCount!=0"><a href="javascriptLvoid(0);" class="mcounter">{{unreadChatCounter}} </a></span>
              </li>
            </ul>
            <!-- edit profile Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane" id="createposttab">
                <div class="tab-headingBase">
                  <h2 class="tab-heading text-center">Post Your Dental Problem</h2>
                </div>

                <form name="createPost" ng-submit="savePost(postDetails)" novalidate="true">
                  <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1 ">  
                    <div class="row form-row">

                      <div class="col-sm-12">
                        <div class="form-group">
                          <label>CURRENT LOCATION</label>
                          <input type="text" class="form-control" placeholder="e.g: 465 Andover Court Gurnee, IL 60031" name="currentLocation" g-places-autocomplete ng-model="postDetails.current_location" required="true" autocomplete="off">

                          <label class="control-label has-error validationMessage" ng-show="createPost.currentLocation.$dirty && createPost.currentLocation.$error.required">Type your address</label>
                        </div>
                      </div>
                    </div>

                    <div class="row form-row">
                      <div class="col-sm-6">
                       <div class="form-group">
                        <label>Emergency</label>
                        <div class="select_radioBox clearfix">
                          <div class="" ng-init="postDetails.emergency=0">
                            <div class="custom-radio"><input id="checkbox1" name="emergency" type="radio" ng-value="1" ng-model="postDetails.emergency"  /><label for="checkbox1">Yes</label></div>
                            <div class="custom-radio"><input id="checkbox2" nname="emergency" type="radio" ng-value="0" ng-model="postDetails.emergency"   /><label for="checkbox2">No</label></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Pain Level <em>(10=>High,1=>Low)</em></label>
                        <select class="form-control" name="painLevel" ng-model="postDetails.pain_level" required="true">
                          <option value="">Please select</option>
                          <option value="1">1(Low)</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5(Medium)</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10(High)</option>
                        </select>
                        <label class="control-label has-error validationMessage" ng-show="createPost.painLevel.$dirty && createPost.painLevel.$error.required">Choose pain level</label>
                      </div>
                    </div>
                  </div>

                  <div class="row form-row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Post Title</label>
                        <input type="text" class="form-control form-control-yellow" ng-model="postDetails.post_title" name="postTitle" placeholder="e.g: Teeth Pain" required>
                        <label class="control-label has-error validationMessage" ng-show="createPost.postTitle.$dirty && createPost.postTitle.$error.required">Please type title</label>
                      </div>
                    </div>
                  </div>   
                  <div class="row form-row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Description</label>  
                        <textarea style="min-height:134px;" class="form-control form-control-yellow" placeholder="e.g: I have pain in my teeth and bleeding from past 2 days" ng-model="postDetails.description" name="description" required></textarea>
                        <label class="control-label has-error validationMessage" ng-show="createPost.description.$dirty && createPost.description.$error.required">Please type description</label>
                      </div>
                    </div>   
                  </div>

                  <div class="row form-row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Attachment <span class="attOption">(only .jpg or .png)</span></label>

                        <div class="attachbox" ng-repeat="items in postDetails.attachments">
                          <div class="browse_Box">

                            <input type="file" class="post_attachment" id="attachement_{{$index}}" ng-model="items" value="Browse" name="atachment_{{$index}}" accept="image/*" onchange="angular.element(this).scope().uploadAttachment(this.files,this.id)" >
                            <span><img src="images/upload_icon.png"></span><span>Browse</span></div>
                            <div class="attached_Box"><span><img src="images/attech_img.png"></span><span id="uploaded_file_{{$index}}">{{items.name}}</span>
                              <span  class="close"><a href="javascript:void(0)" ng-click='removeAttachment($index)' ><i class="fa fa-times" aria-hidden="true"></i></a></span></div>
                            </div>

                          </div>
                          <div class="form-group">
                           <div class="addMore"><a href="javascript:void(0);" ng-click="addNewAttachment()"><i class="fa fa-plus" aria-hidden="true"></i> Add More </a></div>

                         </div>
                       </div>


                     </div>
                     <div class="save-button">
                      <input type="submit" ng-disabled="createPost.$invalid" value="Chat with Dentist" name="post" class="btn btn-success">
                    </div>
                  </div>
                </form>

              </div>
              <div role="tabpanel" class="tab-pane active" id="myposttab">

                <div class="mypost-listing-block">

                  <div class="head-row">
                    <div class="row">
                      <div class="col-sm-6">
                        <h2 class="heading-text">My Posts</h2>
                      </div>
                      <div class="col-sm-6 select-box">
                        <!-- <label>Filters</label>
                        <select class="form-select">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select> -->
                      </div>
                    </div>  
                  </div>

                  <div class="row post-list-row">

                    <div class="col-sm-6" ng-repeat="post in postList">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-5 left-btn-row">
                              <ul class="recent-unread">
                                <li> <a href="patient-profile/my-message/{{post.id}}/recent">recent</a> </li>
                                <li> <a href="patient-profile/my-message/{{post.id}}/unread">unread </a> <span class="number" ng-if="post.chat_details.length &&  post.chat_details.length!=0"><a href="javscript:void(0)">{{post.chat_details.length}} </a></span> </li>
                              </ul>
                            </div>

                            <div class="col-md-7 postDetails-btn-div">
                             <ul class="ul-details">
                              <li>
                                <!-- <div id="flipswitch"><input type="checkbox" id="flipswitch-checkbox" /></div> -->
                                <label class="switch">
                                  <input type="checkbox" ng-click="activeInactive(post.is_active,post.id)" ng-true-value="1" ng-false-value="0" ng-model="post.is_active" checked="">
                                  <div class="slider  round"></div>
                                </label>
                              </li>
                              <li> <a href="javascript:void(0)" ng-click="deletePost(post.id,$index)" class="trash-btn"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                              <li> <a class="postDetails-btn" ui-sref="post-details({'postId':post.id})">post details</a> </li>
                            </ul>
                          </div>
                        </div>

                        <section class="info-content-row">
                          <div class="panel-custome">
                            <div class="clearfix">
                              <div class="left-panel">
                                <p>Post Title </p>
                              </div> 
                              <div class="right-panel">
                                <p class="dark-text">{{post.post_title}}</p>
                              </div>  
                            </div>
                          </div>

                          <div class="panel-custome">
                            <div class="clearfix">
                              <div class="left-panel">
                                <p>description</p>
                              </div> 
                              <div class="right-panel">
                                <p class="dark-text">{{post.description}}</p>
                              </div>  
                            </div>
                          </div>

                          <div class="panel-custome">
                            <div class="clearfix">
                              <div class="left-panel">
                                <p>emergency</p>
                              </div> 
                              <div class="right-panel">
                                <p class="dark-text" ng-if="post.emergency==0">No</p>
                                <p class="dark-text" ng-if="post.emergency==1">Yes</p>
                              </div>  
                            </div>
                          </div>

                          <div class="panel-custome">
                            <div class="clearfix">
                              <div class="left-panel">
                                <p>Pain Level </p>
                              </div> 
                              <div class="right-panel">
                                <p class="dark-text">{{post.pain_level}}</p>
                              </div>  
                            </div>
                          </div>

                          <div class="panel-custome blue-bg" ng-if="post.get_attachments.length != 0">
                            <div class="clearfix">
                              <div class="left-panel">
                                <p class="attach-text">Attachment </p>
                                <img class="text-center clip-img" src="images/clip-icon.png" alt=""/>
                              </div> 
                              <div class="right-panel">
                                <div class="white-bg-img" ng-if="post.get_attachments.length > 0">
                                  <img ng-src="{{postAttachmentPath}}uploads/patient_post_attachments/{{post.get_attachments[0].file_name}}" width="262" alt="" />
                                </div>
                                <div class="white-bg-img" ng-if="post.get_attachments.length == 0">
                                   No attachment
                              </div>
                              </div>  
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>

                </div>

                <nav aria-label="Page navigation">
                 <!--  <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul> -->
                         <!--  <ul class="pagination">
                            <li>
                              <a href="#" aria-label="Previous">
                                <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                              </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                              <a href="#" aria-label="Next">
                                <span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                              </a>
                            </li>
                          </ul> -->
                        </nav>

                      </div>


                    </div>
                    <div role="tabpanel" class="tab-pane" id="massagetab">

                      <div class="row">
                        <div class="col-sm-4 clearfix">
                          <div class="message-left-panel">
                           <div class="form-group">
                             <div class="searchBox">
                               <input type="button" value="" class="searchbtn">
                               <input type="text" class="form-control" name="searchKeyword" ng-model="searchKeyword" placeholder="Search By Name / Problem / Message / Favorite = Yes ">
                             </div>
                           </div> 

                           <!-- Nav tabs -->
                           <ul class="nav nav-tabs" role="tablist">

                            <li role="presentation"  class="active"><a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab" ng-click="fetchAllRecentPost();">recent</a></li>
                            <li role="presentation"><a data-target="#messages" aria-controls="messages" role="tab" data-toggle="tab" ng-click="fetchUnreadPost();"> unread <span class="number">{{unreadpostCount}}</span></a></li>

                          </ul>

                          <!-- Tab panes -->
                          <div class="tab-content">

                            <div role="tabpanel" class="tab-pane  active" id="profile">
                              <div class="scrollBox_left">
                                <ul class="ul_height" ng-show="recentpostList.length >0">
                                  <li ng-class="postId == post.post_id && postDetail.chat_history_arr.get_doctor.doctor_id==post.chat_history_arr.get_doctor.doctor_id ? 'active':''"  ng-repeat="post in recentpostList | filter: searchKeyword" ng-click="openChatHead(post,$index)">
                                    <div class="messages-img-div">
                                      <div class="user_profileImg">

                                        <a href="javascript:void(0);"><img ng-show="post.chat_history_arr.get_doctor.profile_pics" ng-src="{{apiUrl}}uploads/dentist_profile_image/{{post.chat_history_arr.get_doctor.profile_pics}}">
                                          <img ng-show="!post.chat_history_arr.get_doctor.profile_pics" ng-src="images/upload-img.jpg">
                                        </a>
                                      </div>
                                    </div>
                                    <div class="message-text-div">
                                      <h4>Dr. {{post.chat_history_arr.get_doctor.first_name}} {{post.chat_history_arr.get_doctor.last_name}}</h4>
                                      <p>{{post.post_title | limitTo:120}} ...</p>
                                      <h3 ng-if="post.chat_history_arr.patient_content &&  post.chat_history_arr.patient_content!=''">You : {{post.chat_history_arr.patient_content | limitTo:150}}</h3>
                                      <h3 ng-if="post.chat_history_arr.doctor_content &&  post.chat_history_arr.doctor_content!=''">{{post.chat_history_arr.get_doctor.first_name}} : {{post.chat_history_arr.doctor_content | limitTo:150}}</h3>
                                    </div>
                                    <div class="messages-icon">
                                      <span class="span-time">{{post.chat_history_arr.sent_time}}</span>
                                      <span class="span-noti">{{post.chat_history_count}}</span>
                                    </div> 
                                  </li>

                                </ul>
                                <p ng-if="recentpostList.length==0">No Topics to discuss</p>
                              </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="messages">
                              <div class="scrollBox_left">
                                <ul class="ul_height" ng-show="unreadpostList.length >0">
                                  <li ng-class="postId == post.post_id && postDetail.chat_history_arr.get_doctor.doctor_id==post.chat_history_arr.get_doctor.doctor_id ? 'active':''"  ng-repeat="post in unreadpostList | filter: searchKeyword" ng-click="openChatHead(post,$index)">
                                    <div class="messages-img-div">
                                      <div class="user_profileImg">     
                                        <a href="javascript:void(0);"><img ng-show="post.chat_history_arr.get_doctor.profile_pics!=''" ng-src="{{apiUrl}}uploads/dentist_profile_image/{{post.chat_history_arr.get_doctor.profile_pics}}">
                                          <img ng-show="!post.chat_history_arr.get_doctor.profile_pics"  ng-src="images/upload-img.jpg">
                                        </a>
                                      </div>
                                    </div>
                                    <div class="message-text-div">
                                      <h4>Dr. {{post.chat_history_arr.get_doctor.first_name}} {{post.chat_history_arr.get_doctor.last_name}}</h4>
                                      <p>{{post.post_title | limitTo:120}} ...</p>
                                      <h3 ng-if="post.chat_history_arr.patient_content &&  post.chat_history_arr.patient_content!=''">{{post.chat_history_arr.get_doctor.first_name}} : {{post.chat_history_arr.patient_content | limitTo:150}}</h3>
                                      <h3 ng-if="post.chat_history_arr.doctor_content &&  post.chat_history_arr.doctor_content!=''">You: {{post.chat_history_arr.doctor_content | limitTo:150}}</h3>
                                    </div>
                                    <div class="messages-icon">
                                      <span class="span-time">{{post.chat_history_arr.sent_time}}</span>
                                      <span class="span-noti">{{post.chat_history_count}}</span>
                                    </div> 
                                  </li>

                                </ul>
                                <p ng-if="unreadpostList.length==0">No Topics to discuss</p>
                              </div>



                            </div>
                          </div>  
                        </div>
                      </div>



                      <div class="col-sm-8 clearfix">
                        <div class="message-right-panel" ng-show="openChatHeadWindow">
                          <div class="whiteBox">
                            <div class="col-md-12 col-sm-12 clearfix">
                              <div class="message_update">
                                <p>Today  {{currentTime}} </p>
                                <div class="small" style="height: auto;"><h6>{{postDetail.post_title}} </h6></div>
                              </div>
                            </div>
                          </div>
                          <div class="whiteBox">
                            <div class="message_user">
                              <div class="col-md-2 col-sm-12 col-xs-3 clearfix">
                                <div class="user_profileImg"><a href="javascript:void(0);"><img ng-src="{{apiUrl}}uploads/dentist_profile_image/{{postDetail.chat_history_arr.get_doctor.profile_pics}}"></a></div>
                              </div>
                              <div class="col-md-8 col-sm-12 col-xs-7 clearfix">
                                <div class="user_profileInfo">
                                  <p><a ui-sref="viewdoctorprofile({'doctorId':postDetail.chat_history_arr.get_doctor.doctor_id})">Dr. {{postDetail.chat_history_arr.get_doctor.first_name}} {{postDetail.chat_history_arr.get_doctor.last_name}} </a></p>
                                  <div class="ratebaseBox">
                                    <div class="starrateBox rating">
                                     <ul>
                                      <li><i class="fa" ng-class="postDetail.doctor_avg_rating >0 ? 'fa-star':'fa-star-o'"  aria-hidden="true"></i></li>
                                      <li><i class="fa" ng-class="postDetail.doctor_avg_rating >1 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>
                                      <li><i class="fa" ng-class="postDetail.doctor_avg_rating >2 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>
                                      <li><i class="fa" ng-class="postDetail.doctor_avg_rating >3 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>
                                      <li><i class="fa" ng-class="postDetail.doctor_avg_rating >4 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>          
                                    </ul>

                                  </div>
                                  <div class="rating_reviews"><a ui-sref="viewdoctorprofile({'doctorId':postDetail.chat_history_arr.get_doctor.doctor_id})">{{postDetail.tot_review_for_doctor}} Rating </a> | <a ui-sref="viewdoctorprofile({'doctorId':postDetail.chat_history_arr.get_doctor.doctor_id})">{{postDetail.tot_rating_for_doctor}} Reviews </a></div>
                                  <div></div>
                                </div>
                                <div class="certificate" ng-if="postDetail.chat_history_arr.doctor_education"><span class="ic"><img src="images/certificate_ic.png" /></span> {{postDetail.chat_history_arr.doctor_education}} </div>
                                <div class="location" ng-if="postDetail.chat_history_arr.doctor_clinic"><span class="ic"><img src="images/ic_map.png" /></span> {{postDetail.chat_history_arr.doctor_clinic.address ? postDetail.chat_history_arr.doctor_clinic.address:'' | limitTo:30}}  </div>
                              </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-2 clearfix">

                              <div class="favoriteBox" ng-hide="postDetail.is_closed_chat && postDetail.is_closed_chat==1">

                                <a  href="javascript:void(0);" ng-click="closeChat()" class="close-chat">
                                 <i class="fa fa-times" aria-hidden="true"></i>
                               </a>

                             </div>


                             <div class="favoriteBox">

                              <a href="javascript:void(0);" ng-show="fav==1" ng-click="markFavourite(0)">
                                <div class="favoriteIc"></div>
                              </a>
                              <a href="javascript:void(0);" ng-show="fav==0" ng-click="markFavourite(1)">
                                <div class="favoriteIc"></div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="todayBox clearfix"><p> </p></div> -->
                      <div class="whiteBox marBot0 clearfix">

                        <div class="mPostBox ">
                          <div class="scrollBox height-max">
                            <div class="col-md-12 col-sm-12 clearfix" ng-repeat="message in messageLog">
                              <div ng-class="message.from==patientId ?  'otherUser':'postUser'">
                                <div class="post_leftPt">
                                  <div class="postUserImgBox">                          
                                   <img  ng-show="message.from==patientId && loginType==1" width="58" ng-src="{{apiUrl}}uploads/patient_profile_image/{{patientImage}}">

                                   <img  ng-show="message.from==patientId && loginType!=1" width="58" ng-src="{{patientImage}}">
                                   <img  ng-show="message.from==doctorId" ng-src="{{apiUrl}}uploads/dentist_profile_image/{{postDetail.chat_history_arr.get_doctor.profile_pics}}" width="58">
                                 </div>
                                 <p class="postTime">{{message.createdAt}}</p>
                               </div>
                               <div class="post_rightPt">
                                <p class="postUserName" ng-show="message.from==doctorId"><a href="javascript:void(0);">{{message.senderName}}</a></p>
                                <p class="postUserName" ng-show="message.from==patientId"><a href="javascript:void(0);">{{message.senderName}}</a></p>
                                <div class="postedBox">
                                  <p>{{message.message}}</p>
                                  <div class="postImgBox clearfix" ng-show="message.chat_file">
                                    <a ng-href="{{chatImagePath}}{{message.chat_file}}" target="_blank">
                                      <img ng-if="message.file_ext=='image'" ng-src="{{chatImagePath}}{{message.chat_file}}" class="mCS_img_loaded" width="206">
                                      <!-- <img ng-if="message.file_ext!='image'" ng-src="images/download.png" class="mCS_img_loaded" > -->
                                      <span ng-if="message.file_ext!='image'" class ="file_attach">Download attachment  <img ng-if="message.file_ext!='image'" src="images/attech-ic.png" class="mCS_img_loaded"></span>

                                    </a>
                                  </div>
                                  <div ng-if="message.file_ext=='image'"  class="attechIcon clearfix " ng-show="message.chat_file"><img src="images/attech-ic.png" class="mCS_img_loaded"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>  
                      </div>          
                    </div>
                    <div class="whiteBox resetPad marBot0 clearfix" ng-show="!postDetail.is_closed_chat || postDetail.is_closed_chat!=1">

                     <div class="mTypeBox">
                       <div class="attech_icBox"><input accept="image/*,application/*" onchange="angular.element(this).scope().uploadAttachmentChat(this.files)" type="file" name="file" value=""></div>
                       <div class="textareaBox">
                        <textarea ng-enter="sendMessage();" ng-model="message" placeholder="Enter your message..."></textarea>
                      </div><div><a href="#"></a></div>
                    </div>
                    <div class="sendBox"><a href="javascript:void(0);" class="go" ng-click="sendMessage();" >Send</a></div>
                  </div>
                  <div class="whiteBox resetPad marBot0 clearfix" ng-show="postDetail.is_closed_chat && postDetail.is_closed_chat==1">
                    <p>Chat closed</p>
                  </div>


                </div>
              </div>

            </div>




          </div>
        </div>
      </div>

    </div>



  </div>
</div>
</div>
</div>



<div id="saveRatingModal" data-backdrop="static" data-keyboard="false" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Feedback</h4>
      </div>
      <div class="modal-body">
        <form role="form" name="saveRatingForm" ng-submit="saveRating(rating)" novalidate="true">
         <div class="form-group">
          <label for="exampleInputEmail1">Rating*</label>

          <star-rating ng-init="rating.rate=5" ng-model="rating.rate" max="5" on-rating-select="rate()"></star-rating>
        </div> 
        
        <div class="form-group">
          <label for="exampleInputEmail1">Review</label>
          <textarea name="review" ng-model="rating.review" ></textarea>
        </div>
        
        <button type="submit" ng-disabled="saveRatingForm.$invalid" class="btn btn-primary">Submit</button>
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
</div>


</section>
<script type="text/javascript">




  function readURL(input,id){
    if (input.files && input.files[0]){
      var reader = new FileReader();
      reader.onload = function (e){
        $('#'+id).attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>

<script>

  $(function() {
    $('.message_update a.moreTxt').click(function() {
      $('.message_update .small').toggleClass('big');
      $('.message_update a.moreTxt').toggleClass('big_left');
      e.preventDefault();

    });
  });
</script>
