<div class="inner-page-header-blank"></div>
<section class="innerpage">

<div class="signin-section">
 <div class="container">
  <div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 signin-left-holder">
   <div class="form-style">
    <form class="" autocomplete="Off" novalidate angular-validator angular-validator-submit ="patientLogin(patient);"  name="patient_form" id="patient_form" action="" method="POST">
	    <div class="col-sm-12 no-pad">
	      <h2 class="inner-head-line"> Sign in Patient Account </h2>
	      <h4>Sign into your Dentalchat account</h4>
	      <div ng-show="showErrMsg" class="{{show_class}} iferror_mess">{{show_message}}</div>
	      <div ng-show="showErrMsgVar" class="{{show_class}} iferror_mess">{{show_messagevar}}</div>
	    </div> 
	    <div class="col-sm-12 no-pad">
	      <div class="form-group">
	         <input class="form-control" placeholder="Your Email" type="email" id="email" name="email" ng-model-options="{ updateOn: 'blur' }" invalid-message="'Invalid email id..'" ng-model="patient.email" required-message="'This field is required..'" tabindex="1" validate-on="dirty" required>
	        </div>
        </div>
	    <div class="col-sm-12 no-pad">
	      <div class="form-group">
	            <input type="password" class="form-control" placeholder="Password"  id="password" name="password" ng-model="patient.password" required-message="'This field is required..'" required  tabindex="2">
	        </div>
	    </div>
	    <div class="col-sm-12 no-pad text-center"><a href="javascript:void(0);" ng-click="redirectPage('patient-forgotpassword')" class="forgot-pass">Forgot your password?</a></div>

	    <div class="clearfix"></div>
	    <div class="col-sm-12 no-pad">
	        <div class="form-group">
	           <input value="Sign in" name="Sign in" class="btn btn-yellow" type="submit">
	        </div>
	    </div>
	</form>
	    <div class="col-sm-12 no-pad">
		    <ul class="signin-social">
		        <li>
		        	<a fb-login ><i class="fa fa-facebook" aria-hidden="true"></i> Signin with Facebook </a> 
		        </li>
		        <li>
		        	<a g-login><i class="fa fa-google-plus" aria-hidden="true"></i> Signin with Google </a>
		        </li>
		        <!-- <li>
		        	<a> <i class="fa fa-twitter" aria-hidden="true"></i> Signin with Twitter </a>
		        </li>-->
		    </ul>

		  <!--   <button g-login type="button">Google Login</button>
<button linked-in type="button">LinkedIn Login</button>
<button fb-login type="button">facebook Login</button> -->
	    </div>


	
     </div>
     </div><!--end col-->
	 
	
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 signin-right-holder">
   <div class="form-style">

     <div class="col-sm-12 clearfix no-pad">

      <h2 class="inner-head-line"> Create Patient Account</h2>
	  
	

	    <div class="col-sm-12 no-pad">
	        <h3>New to Dentalchat?</h3>
			
			<p>Start discussing your dental problem. Connect with dentists in your community for Free Consultation and Second Opinion. It's secure, real-time and private messaging.</p>
			
	        <div class="form-group">
	             <input value="Create an account" name="Create an account" class="btn btn-blue" type="button"  ng-click="redirectPage('patient-registration')">
	        </div>
	    </div>
		
		
		</div>
	
     </div>
     </div>	
	 
	 
	 
    </div>
   </div>
</div>

</section>