<div class="inner-page-header-blank"></div>
<!--inner-page-header-blank for every inner page becouse fixed header hight mentant-->

<section class="innerpage">
 <div class="doctor-profile-section">
   <div class="container">
     <div class="row">
      <div class="col-sm-12 col-md-12">
      <!-- doctor-profile-header -->
      <div class="doctor-profile-header">
      <div class="col-sm-3 col-lg-2">
       <div class="dr-profile-img">
         
         <img ng-src="{{apiUrl}}uploads/dentist_profile_image/{{dentistDetails.doctor_details[0].profile_pics}}" style="width:100%;height:100%">
       </div>
       </div>
       <div class="col-sm-9 col-lg-10">
          <h2>Dr. {{dentistDetails.doctor_details[0].first_name}} {{dentistDetails.doctor_details[0].last_name}}  <span ng-repeat="education in dentistDetails.doctor_educations">{{education.degree}}{{$last ? '' : ', '}}</span> </h2>
          <h4>Pediatric Dentist</h4>
          <div class="rating">

            <ul>
              <li><i class="fa" ng-class="dentistDetails.doctor_avg_rating >0 ? 'fa-star':'fa-star-o'"  aria-hidden="true"></i></li>
              <li><i class="fa" ng-class="dentistDetails.doctor_avg_rating >1 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>
              <li><i class="fa" ng-class="dentistDetails.doctor_avg_rating >2 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>
              <li><i class="fa" ng-class="dentistDetails.doctor_avg_rating >3 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>
              <li><i class="fa" ng-class="dentistDetails.doctor_avg_rating >4 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>          
            </ul>
          </div>
           <a href="javascript:void(0)" ng-click="scrollTo('rating_sec')" class="read-patient"> Read patient reviews </a>
      </div>
      <div class="add-fav"><i ng-show="isFavourite==0" class="fa fa-heart-o" aria-hidden="true"></i><i ng-show="isFavourite==1" class="fa fa-heart" aria-hidden="true"></i></div>
      </div>

      </div>
     </div>
    </div>
  <div class="doctor-map">
     <ng-map center="{{dentistDetails.doctor_clinics[0].lat}},{{dentistDetails.doctor_clinics[0].lang}}" zoom="12" style="height: 200px" default-style="false">
        <marker position="{{dentistDetails.doctor_clinics[0].lat}},{{dentistDetails.doctor_clinics[0].lang}}"></marker>
     </ng-map>
  </div>
 <div class="doctor-profile">  
   <div class="container">
    <div class="row">
     <div class="col-sm-8 col-lg-9">
       <h3>Qualifications and Experience</h3>
       <div class="border-line clearfix">
         <div class="col-sm-3"><h4>Education</h4></div>
         <div class="col-sm-9">
         <p ng-show="dentistDetails.doctor_educations != ''" ng-repeat="specialties in dentistDetails.doctor_educations">{{specialties.degree}}{{$last ? '' : ''}} from {{specialties.medical_school}}{{$last ? '' : ''}}
         
         </p>

         </div>
       </div>
       <div class="border-line clearfix">
       <div class="col-sm-3"><h4>Languages Spoken</h4></div>
       <div class="col-sm-9"> <p style="word-break:break-all">{{dentistDetails.doctor_languages[0].language_name}}</p>
       </div>
       </div>
       <div class="border-line clearfix">
       <div class="col-sm-3"><h4>Specialties</h4></div>
       <div class="col-sm-9"><p><span ng-repeat="specialties in dentistDetails.doctor_skill">{{specialties.skills}}{{$last ? '' : ', '}}</span></p>
       </div>
      </div> 
       <div class="border-line clearfix">
       <div class="col-sm-3"><h4>Professional Statement</h4></div>
       <div class="col-sm-9"> 
          <p  ng-repeat="professional in dentistDetails.doctor_languages">{{professional.personal_statement}}</p>
          
       </div>
      </div> 
       <!-- <div class="border-line clearfix">
       <div class="col-sm-3"><h4>Board Certification</h4></div>
       <div class="col-sm-9"> 
          <p></p>
       </div>
      </div> -->
       <div class="border-line clearfix">
       <div class="col-sm-3"><h4>In Network Insurance</h4></div>
       <div class="col-sm-9"> 
           <p ng-repeat="insurance in dentistDetails.doctor_insurances">{{insurance.insurance}}</p>
          
       </div>
      </div>
      <div class="row">
     </div>
         <div class="row" id="rating_sec">
     <div class="col-sm-12">
      <h3 ng-if="dentistDetails.doctor_review_ratings != ''">Verified Patient Reviews</h3>

      <div class="border-line clearfix" ng-repeat="reviews in ::dentistDetails.doctor_review_ratings">
       <div class="col-sm-4">
         <p class="verified-patient">
              <div class="rating">
              <ul>
                <li ><i class="fa" ng-class="reviews.rating > 0 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>
                <li ><i class="fa" ng-class="reviews.rating > 1 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>
                <li ><i class="fa" ng-class="reviews.rating > 2 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>
                <li ><i class="fa" ng-class="reviews.rating > 3 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>
                <li ><i class="fa" ng-class="reviews.rating > 4 ? 'fa-star':'fa-star-o'" aria-hidden="true"></i></li>          
              </ul>
            </div>{{reviews.review_date}} </p>
        </div>
       <div class="col-sm-8">{{reviews.review}}
       <p class="verified-patient">by {{reviews.get_patient_details.name}} {{reviews.get_patient_details.last_name}} (Verified Patient) </p>
       </div>
      </div>


      


     </div>
    </div>


     </div> 

<div class="col-sm-4 col-lg-3">
    <h3 ng-if="dentistDetails.doctor_clinics[0].sun_opening_hours_from!='' || dentistDetails.doctor_clinics[0].mon_opening_hours_from!='' ||  dentistDetails.doctor_clinics[0].tue_opening_hours_from!='' || dentistDetails.doctor_clinics[0].wed_opening_hours_from!='' || dentistDetails.doctor_clinics[0].thu_opening_hours_from!='' || dentistDetails.doctor_clinics[0].fri_opening_hours_from!='' || dentistDetails.doctor_clinics[0].sat_opening_hours_from!=''">Opening Hrs</h3>
   
    <div class="datepick-div" ng-if="dentistDetails.doctor_clinics[0].sun_opening_hours_from!=''">
      <h6>sun</h6>
      <h6>{{dentistDetails.doctor_clinics[0].sun_opening_hours_from}} to {{dentistDetails.doctor_clinics[0].sun_opening_hours_to}}</h6>
    </div>

    <div class="datepick-div" ng-if="dentistDetails.doctor_clinics[0].mon_opening_hours_from!=''">
      <h6>mon</h6>
      <h6>{{dentistDetails.doctor_clinics[0].mon_opening_hours_from}} to {{dentistDetails.doctor_clinics[0].mon_opening_hours_to}}</h6>
    </div>

     <div class="datepick-div" ng-if="dentistDetails.doctor_clinics[0].tue_opening_hours_from!=''">
      <h6>tue</h6>
      <h6>{{dentistDetails.doctor_clinics[0].tue_opening_hours_from}} to {{dentistDetails.doctor_clinics[0].tue_opening_hours_to}}</h6>
    </div>

    <div class="datepick-div" ng-if="dentistDetails.doctor_clinics[0].wed_opening_hours_from!=''">
      <h6>wed</h6>
      <h6>{{dentistDetails.doctor_clinics[0].wed_opening_hours_from}} to {{dentistDetails.doctor_clinics[0].wed_opening_hours_to}}</h6>
    </div>

    <div class="datepick-div" ng-if="dentistDetails.doctor_clinics[0].thu_opening_hours_from!=''">
      <h6>thu</h6>
      <h6>{{dentistDetails.doctor_clinics[0].thu_opening_hours_from}} to {{dentistDetails.doctor_clinics[0].thu_opening_hours_to}}</h6>
    </div>

    <div class="datepick-div" ng-if="dentistDetails.doctor_clinics[0].fri_opening_hours_from!=''">
      <h6>fri</h6>
      <h6>{{dentistDetails.doctor_clinics[0].fri_opening_hours_from}} to {{dentistDetails.doctor_clinics[0].fri_opening_hours_to}}</h6>
    </div>
    <div class="datepick-div" ng-if="dentistDetails.doctor_clinics[0].sat_opening_hours_from!=''">
      <h6>sat</h6>
      <h6>{{dentistDetails.doctor_clinics[0].sat_opening_hours_from}} to {{dentistDetails.doctor_clinics[0].sat_opening_hours_to}}</h6>
    </div>


   
   </div>
    </div>   

   </div>
  </div>
  </div>
</section>