<div class="inner-page-header-blank"></div>

<section class="innerpage">
<div class="manage-profile-section">
 <div class="container">
  <div class="row">
  <div class="col-lg-12">
  <ul class="step">
  <li class="active" ui-sref="dentistProfileStep1"> 1 </li>
  <li ui-sref="dentistProfileStep2" ng-class="{'done':step2 !=1}"> 2 </li>
  <li ui-sref="dentistProfileStep3" ng-class="{'done':step3 !=1}"> 3 </li>
  <li ui-sref="dentistProfileStep4" ng-class="{'done':step4 !=1}"> 4 </li>
  <li ui-sref="dentistProfileStep5" ng-class="{'done':step5 !=1}"> 5 </li>
  <li ui-sref="dentistProfileStep6" ng-class="{'done':step6 !=1}"> 6 </li>
  <li ui-sref="dentistProfileStep7" ng-class="{'done':step7 !=1}"> 7 </li>  
  </ul>
  
  <form class="" novalidate angular-validator angular-validator-submit = "updateDentistStep1(dentist);" name="dentistStep1Form" id="dentistStep1Form" action="" method="POST" enctype="multipart/form-data">
  
   <div class="manage-profile manage-form-style">
   <div class="col-sm-12 manage-profile-headline">
    <h4>manage profile</h4>
    <p>Your profile is the information you’d like to be shown along with your name when you Communicate on DentalChat.com</p>
    <h3>Basic Profile</h3>
  </div>

     <div class="col-sm-6 col-md-4">
      <div class="form-group">
          <label>First Name</label>
         <input class="form-control" type="text" placeholder="Dentist First Name" ng-model="dentist.first_name" name="first_name" id="first_name" validate-on="dirty" ng-pattern="/^([^0-9]*)$/" invalid-message="'Invalid first name.'" required-message="'This field is required..'" required>
          
       </div>
     </div> 

     <div class="col-sm-6 col-md-4">
       <div class="form-group">
          <label>Last Name</label>
         <input class="form-control" type="text" placeholder="Dentist Last Name" ng-model="dentist.last_name" name="last_name" id="last_name" validate-on="dirty" ng-pattern="/^([^0-9]*)$/" invalid-message="'Invalid last name.'" required-message="'This field is required..'" required>
       </div>
     </div>

     <div class="col-sm-6 col-md-4">
       <div class="form-group">
          <label>Date of birth (optional)</label>
          <span class="date-pic">
          <datepicker date-max-limit="{{currentDate}}" date-set="{{dentist.date_of_birth}}"  date-format="dd-MMM-yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
            <input class="form-control" ng-model="dentist.date_of_birth" type="text" placeholder="Date of Birth" />
          </datepicker>  
          </span>       
         
       </div>
     </div>  
     <div class="col-sm-6 col-md-4">
       <div class="form-group">
          <label>Gender</label>
             <select class="form-control" ng-model="dentist.gender">
                <option name="" value="0">Please select gender</option>
                <option name="male"  ng-selected="dentist.gender==1"  value="1">Male</option>
                <option name="female" ng-selected="dentist.gender==2" value="2">Female</option>
            </select>
       </div>
     </div>
     <div class="col-sm-6 col-md-4">
       <div class="form-group">
          <label>Email Address</label>
         <input class="form-control" type="email" placeholder="Email"  ng-disabled='true' ng-model="dentist.email" name="email" id="email" validator="checkEmail(user.email) == 1" ng-model-options="{ updateOn: 'blur' }" invalid-message="'Invalid email id..'" required-message="'This field is required..'" validate-on="dirty" required>
       </div>
     </div>   


       <div class="col-sm-6 col-md-4">
       <div class="form-group">
          <label>Contact Number</label>
          <div class="country-coad-no"> 
         <div class="country-coad">
          <input class="form-control" type="text" placeholder="+123"  ng-model="dentist.conuntry_code" name="conuntry_code" id="conuntry_code" ng-pattern ='/^\+?([\d]+)$/' invalid-message ="'Invalid county code'" required-message="'This field is required..'" required ng-model-options="{ updateOn: 'blur' }" validate-on="dirty">
          </div>
          <div class="_co-no"> <span> - </span> </div>
          <div class="contact-no">     
        <input class="form-control" type="text" placeholder="Contact Number"  ng-model="dentist.contact_number" name="contact_number" id="contact_number" ng-pattern ='/^\+?(\d[\d-. ]+)?(\([\d-. ]+\))?[\d-. ]+\d$/' invalid-message ="'Invalid phone number'" required-message="'This field is required..'" required ng-model-options="{ updateOn: 'blur' }" validate-on="dirty">
        </div>
        </div>
     </div>
     </div>   
             <div class="clearfix"></div>
                 <div class="col-sm-12 ">  
                  <div class="imageupload">
                            <div class="file-tab">
                          <div class="uploadimg-outer">  
                            <div class="uploadimg" ng-if="dentist.profile_pics"><img id="profile_image" src="{{base_url}}uploads/dentist_profile_image/{{dentist.profile_pics}}" alt=""  width="100px"/></div>
                            <div class="uploadimg" ng-if="dentist.profile_pics=="><img id="profile_image" src="{{base_url}}uploads/dentist_profile_image/no_image.jpg" alt=""  width="100px"/></div>
                            <button type="button" class="btn delete-button" ng-show="showimgprev" ng-click="delete_image()">
                                 <i class="fa fa-trash-o" aria-hidden="true"></i>
                             </button> 
                          </div>
                          <div class="upload-btn">   
                            <h5>Upload your photo</h5>
                            <p>Image should be at least 300px 300px</p>
                            <p> Upload .png, .jpg, .jpeg type files</p>
                                <label class="btn btn-default btn-file">
                                    <span>Upload Photo</span>
                                    <input name="profile_pics" type="file" id="profile_pics"  file-model="dentist.profile_pics"  invalid-message="'Not a valid imamge..'"  validate-on="dirty" >
                                </label>
                          </div>      
                            </div>
                            </div>
                     </div>


     <div class="col-sm-12 next-btn">
       <div class="form-group">
       <input value=" Next" name=" Next" class="btn btn-next" type="submit">
         
       </div>
     </div> 
   </div>  
</form>
     
     </div>
    </div>
   </div>
 </div>

</section>
<script>
  document.getElementById("profile_pics").onchange = function () {
    if(this.disabled) return alert('File upload not supported!');
    var F = this.files;
    angular.element('#profile_pics').scope().imageUploadMy(this.files); // For Angular File Upload
    var getimage_id = $(this).attr('id'); 
    if(F && F[0]) for(var i=0; i<F.length; i++) readImage( F[i],getimage_id );

     var reader = new FileReader();

    /*reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("profile_image").src = e.target.result;        
    };*/

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
    
  };
</script>