<div class="inner-page-header-blank"></div>
<section class="innerpage">
   <div class="manage-profile-section">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <ul class="step">
                  <li class="done" ui-sref="dentistProfileStep1"> <i class="fa fa-check" aria-hidden="true"></i> </li>
                  <li class="done" ui-sref="dentistProfileStep2"> <i class="fa fa-check" aria-hidden="true"></i> </li>
                  <li class="active" ui-sref="dentistProfileStep3"> 3 </li>
                  <li ui-sref="dentistProfileStep4" ng-class="{'done':step4 !=1}"> 4 </li>
                  <li ui-sref="dentistProfileStep5" ng-class="{'done':step5 !=1}"> 5 </li>
                  <li ui-sref="dentistProfileStep6" ng-class="{'done':step6 !=1}"> 6 </li>
                  <li ui-sref="dentistProfileStep7" ng-class="{'done':step7 !=1}"> 7 </li>
               </ul>
               <div class="manage-profile manage-form-style">
                  <div class="col-sm-12 manage-profile-headline">
                     <h3>Education and Training</h3>
                  </div>
                  <div class="clearfix"></div>
                  <form class="" novalidate angular-validator angular-validator-submit = "updateDentistStep3();" name="dentistStep3Form" id="dentistStep3Form" action="" method="POST" enctype="multipart/form-data">
                     <div class="contain-group-div"  data-ng-repeat="education in docsEdu">

                      <div class="col-sm-8 no-pad">
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <label>Degree </label>
                                 <input class="form-control" type="text" placeholder="Degree"  ng-model="docsEdu[$index].degree">
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <label>Year Completed</label>
                                 <span class="date-pic">           
                                 <datepicker  date-max-limit="{{currentDate}}" date-set="{{docsEdu[$index].completed_year}}" date-format="yyyy" selector="form-control" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                                    <input class="form-control" type="text" placeholder="Year completed"  ng-model="docsEdu[$index].completed_year" readonly="readonly">
                                 </datepicker>
                                 </span>
                                 <!-- <datetimepicker ng-model="docsEdu[$index].completed_year"></datetimepicker> -->
                                 <!-- <datetimepicker data-ng-model="docsEdu[$index].completed_year" data-datetimepicker-config="{ modelType: 'YYYY'}" ></datetimepicker> -->
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <label>School Name</label>
                                 <input class="form-control" type="text" placeholder="School Name"  ng-model="docsEdu[$index].medical_school">
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <label>School Location </label>
                                 <!-- <input class="form-control" type="text" placeholder="School Location"  ng-model="docsEdu[$index].location"> -->
                                 <input vs-google-autocomplete ng-model="docsEdu[$index].location" class="form-control"  placeholder="School Location" aria-describedby="basic-addon1">
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="imageupload">
                              <div class="file-tab">
                                 <!-- <div class="uploadimg-outer" ng-if="education.certificate!='' || education.certificate">
                                    <a href="{{base_url}}uploads/certificate/{{education.certificate}}" class="certificate-btn" target="_blank">
                                    <div class="uploadimg"><img src="{{base_url}}uploads/certificate/no_image.jpg" /></div> 
                                    </a>
                                    <button type="button" class="btn delete-button" ng-click="delectEducationCertificate($index,docsEdu[$index].id)">
                                       <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>               
                                 </div> -->
                                 <div class="uploadimg-outer" ng-if="education.certificate!='' || education.certificate">
                                    
                                    <div class="uploadimg">
                                      <img src="images/pdf.png" alt="" ng-show="education.ext =='pdf'">
                                       <img width="120" height="120" ng-show="education.ext !='pdf'" src="{{base_url}}uploads/certificate/{{education.certificate}}" />
                                     
                                    </div>

                                    <button type="button" class="btn delete-button" ng-click="delectEducationCertificate($index,docsEdu[$index].id)">
                                       <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button> 
                                    <a href="{{base_url}}uploads/certificate/{{education.certificate}}" class="certificate-btn" target="_blank">{{education.org_certificate}}</a>              
                                 </div>
                                 <div class="upload-btn">
                                    <h5>upload scanned copy of education certificate </h5>
                                    <p> Upload .png, .jpg, .jpeg, .pdf type files</p>
                                    <label class="btn btn-default btn-file">
                                    <span>Upload certificate</span>                           
                                    <input type="file" class="upload" id="doc_edu_{{$index}}" name="doc_edu[{{$index}}]" onChange="angular.element(this).scope().changeTheEdu(this.files,this.id);"/> 
                                    </label>
                                 </div>
                                 <button type="button" class="remove btn btn-danger remove-btn" ng-show="!$first" ng-click="removeEducation($index,docsEdu[$index].id)"><i class="fa fa-trash-o"></i> Delete </button>  
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                     <div class="col-sm-12">
                        <button type="button" class="btn btn-default add-more-btn" ng-click="addNewEducation()"><i class="fa fa-plus" aria-hidden="true"></i>Add More</button>
                     </div>
                     <div class="clearfix"></div>
                     <div class="col-sm-12 no-pad">
                        <div class="mar-pad-bdr"></div>
                        <div class="col-sm-12 col-md-6">
                           <div class="contain-group-div">
                              <div class="form-group" >
                                 <label>Awards & Publications</label>
                                 <div class="form-main" data-ng-repeat="awards in dentist_awards">
                                    <div class="form-left"> 
                                       <input class="form-control" type="text" placeholder="Awards"  ng-model="dentist_awards[$index].award"> 
                                    </div>
                                    <div class="form-right">
                                       <button type="button" class="btn btn-default cross-btn" ng-show="!$first" ng-click="removeAward($index,dentist_awards[$index].id)">
                                       <i class="fa fa-times" aria-hidden="true"></i>
                                       </button>
                                    </div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <div class="form-main">
                                    <div class="form-left">
                                       <!--  <input class="form-control" type="text" placeholder="Lorem ipsum dolor sit amet.">  -->
                                    </div>
                                    <div class="form-right">
                                       <button type="button" class="btn btn-default add-more-btn" ng-click="addNewAward()"><i class="fa fa-plus" aria-hidden="true"></i>Add More</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                           <div class="contain-group-div">
                              <div class="form-group">
                                 <label>In Network Insurance</label>
                                 <div class="form-main"  data-ng-repeat="insurance in dentist_insurance">
                                    <div class="form-left"> <input class="form-control" type="text" placeholder="Insurance"   ng-model="dentist_insurance[$index].insurance"> </div>
                                    <div class="form-right">
                                       <button type="button" class="btn btn-default cross-btn" ng-show="!$first" ng-click="removeInsurance($index,dentist_insurance[$index].id)">
                                       <i class="fa fa-times" aria-hidden="true"></i>
                                       </button>
                                    </div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <div class="form-main">
                                    <div class="form-left">
                                       <!--  <input class="form-control" type="text" placeholder="Lorem ipsum dolor sit amet."> --> 
                                    </div>
                                    <div class="form-right">
                                       <button type="button" class="btn btn-default add-more-btn" ng-click="addNewInsurance()"><i class="fa fa-plus" aria-hidden="true"></i>Add More</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                     <div class="col-sm-12 next-btn">
                        <div class="form-group">
                           <a ui-sref="dentistProfileStep2" class="btn btn-back">Back</a>
                           <input value=" Next" name=" Next" class="btn btn-next" type="submit">
                        </div>
                     </div>
               
               </form>   
            </div>
         </div>
      </div>
   </div>
  </div> 
</section>

