<div class="inner-page-header-blank"></div>

<section class="innerpage">

<div class="manage-profile-section">
 <div class="container">
  <div class="row">
  <div class="col-lg-12">
  <ul class="step">
    <li class="done" ui-sref="dentistProfileStep1"> <i class="fa fa-check" aria-hidden="true"></i> </li>
    <li ui-sref="dentistProfileStep2" ng-class="{'done':step2 !=1}"> <i class="fa fa-check" aria-hidden="true"></i> </li>
    <li ui-sref="dentistProfileStep3" ng-class="{'done':step3 !=1}"> <i class="fa fa-check" aria-hidden="true"></i> </li>
    <li ui-sref="dentistProfileStep4" ng-class="{'done':step4 !=1}"> <i class="fa fa-check" aria-hidden="true"></i> </li>
    <li ui-sref="dentistProfileStep5" ng-class="{'done':step5 !=1}"> <i class="fa fa-check" aria-hidden="true"></i> </li>
    <li class="active"> 6 </li>
    <li ui-sref="dentistProfileStep7" ng-class="{'done':step7 !=1}"> 7 </li>  
  </ul>
   <div class="manage-profile manage-form-style manage-form6">
       <div class="col-sm-12 manage-profile-headline">
        <h3>Skill Highlights / Specialties</h3>
       </div>
   
      <form class="" novalidate angular-validator angular-validator-submit = "updateDentistStep6();" name="dentistStep6Form" id="dentistStep6Form" action="" method="POST" enctype="multipart/form-data">    
      
            <div class="col-sm-12">
          <label>Skill Highlights / specialties</label>              
               <div class="form-group">
                 <div class="form-main"  data-ng-repeat="skill in dentist_skills">
                   <div class="form-left">
                  	<input class="form-control" type="text" placeholder="Skill Highlights" ng-model="dentist_skills[$index].skills">
                   </div> 
                   <div class="form-right">                   
                       <button type="button" class="btn btn-default cross-btn" ng-show="!$first" ng-click="removeChoice($index,dentist_skills[$index].id)">
                       <i class="fa fa-times" aria-hidden="true"></i>
                       </button>
                   </div>
                 </div>
                 </div>
                 <div class="form-group">
                  <button type="button" class="btn btn-default add-more-btn" ng-click="addNewSkill()"><i class="fa fa-plus" aria-hidden="true"></i>Add More</button>
               </div>
            </div>
                  <div class="clearfix"></div>
     		 <div class="col-sm-12 next-btn">
               <div class="form-group">
                    <a ui-sref="dentistProfileStep5" class="btn btn-back">Back</a>
                    <input value=" Next" name=" Next" class="btn btn-next" type="submit">
               </div>
    		 </div>
           </form>   

    </div>
    
   	</div>
 	</div>
 	</div>
 </div>

</section>