<div class="inner-page-header-blank"></div>

<section class="innerpage">

<div class="manage-profile-section">
 <div class="container">
  <div class="row">
  <div class="col-lg-12">
  <ul class="step">
    <li class="done" ui-sref="dentistProfileStep1"> <i class="fa fa-check" aria-hidden="true"></i> </li>
    <li ui-sref="dentistProfileStep2" ng-class="{'done':step2 !=1}"> <i class="fa fa-check" aria-hidden="true"></i> </li>
    <li ui-sref="dentistProfileStep3" ng-class="{'done':step3 !=1}"> <i class="fa fa-check" aria-hidden="true"></i> </li>
    <li class="active" ui-sref="dentistProfileStep4"> 4 </li>
    <li ui-sref="dentistProfileStep5" ng-class="{'done':step5 !=1}"> 5 </li>
    <li ui-sref="dentistProfileStep6" ng-class="{'done':step6 !=1}"> 6 </li>
    <li ui-sref="dentistProfileStep7" ng-class="{'done':step7 !=1}"> 7 </li> 
  </ul>
   <div class="manage-profile manage-form-style">
   <div class="col-sm-12 manage-profile-headline">
    <h3>Licenses</h3>
  </div>
  <form class="" novalidate angular-validator angular-validator-submit = "updateDentistStep4();" name="dentistStep4Form" id="dentistStep4Form" action="" method="POST" enctype="multipart/form-data">  
    <div class="contain-group-div"  data-ng-repeat="license in docsMore">

                <div class="col-sm-12">
                      <div class="form-group">
                          <label> License </label>
                         <input class="form-control" type="text" placeholder="License"  ng-model="docsMore[$index].license">
                       </div>
                </div>
                  <div class="clearfix"></div>
                <div class="col-sm-12">  
                    <div class="imageupload">
                        <div class="file-tab">
                            <div class="uploadimg-outer" ng-if="license.license_doc!=''">  
                            <div class="uploadimg">
                            <img src="images/pdf.png" alt="" ng-show="license.ext =='pdf'">
                            <img width="120"  ng-show="license.ext !='pdf'" src="{{base_url}}uploads/license_photo/{{license.license_doc}}" />

                            </div>  
                            <button type="button" class="btn delete-button"  ng-click="delectLicense($index,docsMore[$index].id)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                              </button>
                                 <a href="{{base_url}}uploads/license_photo/{{license.license_doc}}" class="certificate-btn" target="_blank"> {{license.org_license}} </a>              
                            </div>
                           <div class="upload-btn">  
                                <h5>upload scanned copy of license </h5>
                                  <p> Upload .png, .jpg, .jpeg, .pdf type files</p>                      
                               <label class="btn btn-default btn-file">
                                  <span>Upload certificate</span>
                                 
                                   <input type="file" class="upload" id="doc_image_{{$index}}" name="doc_image[{{$index}}]" onChange="angular.element(this).scope().changeTheDoc(this.files,this.id);"/> 
                                </label>
                          </div>   
                          <button type="button" class="remove btn btn-danger remove-btn" ng-show="!$first" ng-click="removeLicense($index,docsMore[$index].id)"><i class="fa fa-trash-o"></i> Delete </button>   
                           
                      </div>
                 </div>
              </div> 
    </div>  
      <div class="clearfix"></div>   
  <div class="col-sm-12"> 
    <button type="button" class="btn btn-default add-more-btn" ng-click="addNewLicense()"><i class="fa fa-plus" aria-hidden="true"></i>Add More</button>
 </div>
   
         <div class="clearfix"></div>         
     <div class="col-sm-12 next-btn">
       <div class="form-group">
       <a ui-sref="dentistProfileStep3" class="btn btn-back">Back</a>
        <input value=" Next" name=" Next" class="btn btn-next" type="submit">
       </div>
     </div>  
     
</form> 

     </div>
     </div>
    </div>
   </div>
 </div>

</section>