<div class="inner-page-header-blank"></div>
<!-- inner-page-header-blank for every inner page - header hight mentant -->

<section class="innerpage">
    <div class="signup-details-section">
        <div class="container-fluid">
          <div class="row">
               <div class="col-lg-12 no-pad clearfix">
                   <div class="form-style">
                       <div class="col-sm-12 clearfix">
                            <div class="edit-profile-tab mar-btm-30"> 
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a data-target="#dashboardtab" role="tab" data-toggle="tab" class="tabTxt">Dashboard </a></li>
                                    <li role="presentation"><a ui-sref="dentistmessageboard({})" data-target="#massagetab" aria-controls="change-password" role="tab" data-toggle="tab" class="tabTxt">Messages </a>
                                        <span class="mcounter_base"><a href="javascript:void(0)" class="mcounter" ng-show="unattendentPostCount != 0">{{attendentPostCount + unattendentPostCount}} </a></span>
                                    </li>
                                </ul> 
                                <div class="tab-content tebstyle01">
                                   <div id="dashboardtab" class="tab-pane active" role="tabpanel">
                                       <div class="col-lg-12 months_dropdown">
                                           <div class="col-lg-4 col-md-push-4">
                                                <div class="form-group">
                                                    <select class="form-control" ng-model="chartsItem" ng-change="changePeriodcharts()">
                                                        <option value="">This Month</option>
                                                        <option value="1">Last 30 Days</option>
                                                        <option value="2">This Month</option>
                                                        <option value="3">This Quarter</option>
                                                        <option value="4">This Year</option>
                                                        <option value="5">Last Month</option>
                                                        <option value="6">Last Quarter</option>
                                                        <option value="7">Last Year</option>
                                                    </select>
                                                </div>
                                            </div>
                                       </div>
                                       <div class="clearfix"></div>
                                       <div class="col-lg-12 statistics_graph">
                                            <div class="col-lg-6 col-sm-12">
                                                <div class="col-lg-12 dashboard_title"><h3>Posts Received</h3></div>
                                                <div class="col-lg-12">
                                                    <div class="col-lg-3 text-center">
                                                        <i>{{emergency_total}}</i>
                                                        <p>Emergency</p>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <div class="total_view text-right">{{emergency_unattended_total}} <span>To Review</span></div>
                                                        <div class="progress">
                                                            <div title="Attended {{emergency_attended_total}}" class="progress-bar" style="background-image:url('images/box-blue.png'); width:{{emergency_attended_per}}%;background-color: #FFFFFF;background-size: contain;background-repeat: repeat-x;" role="progressbar">
                                                            Attended {{emergency_attended_total}}
                                                            </div>
                                                            <div title="Unattended {{emergency_unattended_total}}" class="progress-bar" role="progressbar" style="background-image:url('images/line-blue.png'); width:{{emergency_unattended_per}}%;background-color: #FFFFFF;background-repeat: repeat-x;background-size: contain;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="col-lg-3 text-center">
                                                        <i>{{nonemergency_total}}</i>
                                                        <p>Non Emergency</p>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <div class="total_view text-right">{{nonemergency_unattended_total}} <span>To Review</span></div>
                                                        <div class="progress">
                                                            <div title="Attended {{nonemergency_attended_total}}" class="progress-bar" style="background-image:url('images/box-green.png'); width:{{nonemergency_attended_per}}%;background-color: #FFFFFF;background-size: contain;background-repeat: repeat-x;" role="progressbar">
                                                            Attended {{nonemergency_attended_total}}
                                                            </div>
                                                            <div title="Unattended {{nonemergency_unattended_total}}" class="progress-bar" role="progressbar" style="background-image:url('images/line-green.png'); width:{{nonemergency_unattended_per}}%;background-color: #FFFFFF;background-size: contain;background-repeat: repeat-x;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-12">
                                                <div class="col-lg-12 dashboard_title"><h3>Symptoms Chart</h3></div>
                                                <div class="col-lg-12">
                                                    <canvas id="doughnut" options="options" class="chart chart-doughnut" legend="true" chart-data="piechartsdata" chart-labels="piechartslabels"></canvas>
                                                </div>
                                            </div>
                                       </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

$(function() {
/*$('.message_update a.moreTxt').click(function() {
  $('.message_update .small').toggleClass('big');
  $('.message_update a.moreTxt').toggleClass('big_left');
  e.preventDefault();

});*/
});
$(document).on("click",".click_hide button",function(){
  var $this = $(this);
    $this.parents(".toggle_area").toggleClass('hide_panel');
    if ($this.parents(".toggle_area").hasClass('hide_panel')) {
             $this.text('show');                
        } else {
             $this.text('hide');                
        }   
   })

function imgError(image) {
    image.onerror = "";
    image.src = "/server/uploads/patient_profile_image/no_image.jpg";
    return true;
}
</script>
<!-- <canvas id="line-chart" width="800" height="450"></canvas>
<script>
  new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
    datasets: [{ 
        data: [86,114,106,106,107,111,133,221,783,2478],
        label: "Africa",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: [282,350,411,502,635,809,947,1402,3700,5267],
        label: "Asia",
        borderColor: "#8e5ea2",
        fill: false
      }, { 
        data: [168,170,178,190,203,276,408,547,675,734],
        label: "Europe",
        borderColor: "#3cba9f",
        fill: false
      }, { 
        data: [40,20,10,16,24,38,74,167,508,784],
        label: "Latin America",
        borderColor: "#e8c3b9",
        fill: false
      }, { 
        data: [6,3,2,2,7,26,82,172,312,433],
        label: "North America",
        borderColor: "#c45850",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'World population per region (in millions)'
    }
  }
});
</script> -->