<div class="inner-page-header-blank"></div>

<section class="innerpage">

<div class="manage-profile-section">
 <div class="container">
  <div class="row">
  <div class="col-lg-12">
  <ul class="step">
    <li class="done" ui-sref="dentistProfileStep1"> <i class="fa fa-check" aria-hidden="true"></i> </li>
    <li ui-sref="dentistProfileStep2" ng-class="{'done':step2 !=1}"> <i class="fa fa-check" aria-hidden="true"></i> </li>
    <li ui-sref="dentistProfileStep3" ng-class="{'done':step3 !=1}"> <i class="fa fa-check" aria-hidden="true"></i> </li>
    <li ui-sref="dentistProfileStep4" ng-class="{'done':step4 !=1}"> <i class="fa fa-check" aria-hidden="true"></i> </li>
    <li class="active" ui-sref="dentistProfileStep5"> 5 </li>
    <li ui-sref="dentistProfileStep6" ng-class="{'done':step6 !=1}"> 6 </li>
    <li ui-sref="dentistProfileStep7" ng-class="{'done':step7 !=1}"> 7 </li> 
  </ul>
   <div class="manage-profile manage-form-style">
   <div class="col-sm-12 manage-profile-headline">
    <h3>Professional Experience</h3>
  </div>

  <form class="" novalidate angular-validator angular-validator-submit = "updateDentistStep5();" name="dentistStep5Form" id="dentistStep5Form" action="" method="POST" enctype="multipart/form-data"> 

      <div class="contain-group-div"  data-ng-repeat="experience in docsExp">
      <div class="col-sm-4">
            <div class="form-group">
                <label>ROLE/JOB TITLE</label>
               <input class="form-control" type="text" placeholder="Dentist"   ng-model="docsExp[$index].prof_exp">
             </div>
      </div>
      <div class="col-sm-4">
            <div class="form-group">
                <label>Dental business name</label>
               <input class="form-control" type="text" placeholder=""  ng-model="docsExp[$index].dental_business">
             </div>
      </div>
      <div class="col-sm-4">
            <div class="form-group">
               <label>Location</label>
               <input vs-google-autocomplete ng-model="docsExp[$index].location" class="form-control"  placeholder="" aria-describedby="basic-addon1">

             </div>
      </div>
      <div class="col-sm-4">
            <div class="form-group">
                <label>From</label>
                
               <div class='input-group date'>
               
                  <datepicker date-max-limit="{{currentDate}}" date-set="{{docsExp[$index].exp_from}}" date-format="MM/dd/yyyy"  button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                    <input type='text' init-date="{{docsExp[$index].exp_from}}"  class="form-control"  placeholder="Choose Date"  ng-model="docsExp[$index].exp_from" ng-change="checkErr(startDate,endDate)"/>
                  </datepicker>

                  <span class="input-group-addon">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                  </span>
                </div>
             </div>
      </div>

      <div class="col-sm-4">
            <div class="form-group">
                <label>To</label>
               <div class='input-group date'>
                <datepicker  date-max-limit="{{currentDate}}" date-set="{{docsExp[$index].exp_to}}" date-format="MM/dd/yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                  <input type='text' class="form-control" placeholder="Choose Date" ng-model="docsExp[$index].exp_to" ng-disabled="docsExp[$index].present" ng-change="checkErr(docsExp[$index].exp_to,docsExp[$index].exp_from)"/>
                </datepicker> 
                  <span class="input-group-addon">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                  </span>
                      </div>
              <span class="has-error" id="date_validation_error">{{errMessage}}</span>
             </div>

             
      </div>
      <div class="col-sm-4">
            <div class="form-group">
           <!--  <div class="check-box">
             <div class="squaredFour">
                <input type="checkbox" name="present" ng-value-true=1   ng-model="docsExp[$index].present" ng-change="docsExp[$index].exp_to = docsExp[$index].present ? '' : docsExp[$index].exp_to"/>
                <label for="squaredFour"></label>
              </div>
                <span>Present</span>
              </div> -->

        <div class="check-box">
               <input type="checkbox" name="present" ng-value-true=1   ng-model="docsExp[$index].present" ng-change="docsExp[$index].exp_to = docsExp[$index].present ? '' : docsExp[$index].exp_to"  ng-click="DateErroHide()"> <span>Present</span><br>
             </div> 

            </div> 
      </div>
       <div class="clearfix"></div>
       <div class="col-sm-12">  
              <div class="imageupload">
                  <div class="file-tab">
                  <div class="uploadimg-outer" ng-if="experience.experience_doc!=''">  
                  <div class="uploadimg">
                  <img src="images/pdf.png" alt="" ng-show="experience.ext =='pdf'">
                  <img  ng-show="experience.ext !='pdf'" src="{{base_url}}uploads/exp_document/{{experience.experience_doc}}" />

                  </div>  
                  <button type="button" class="btn delete-button"  ng-click="delectExprience($index,docsExp[$index].id)">
                                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                      <a href="{{base_url}}uploads/exp_document/{{experience.experience_doc}}" class="certificate-btn" target="_blank"> {{experience.org_exp}} </a>            
                  </div>
                    <div class="upload-btn">  
                        <h5>upload scanned copy of experience </h5> 
                          <p> Upload .png, .jpg, .jpeg, .pdf type files</p>                      
                             <label class="btn btn-default btn-file">
                                <span>Upload certificate</span>
                                
                                <input type="file" class="upload" id="doc_image_{{$index}}" name="doc_image[{{$index}}]" onChange="angular.element(this).scope().changeTheExp(this.files,this.id);"/> 
                              </label>

                    </div>  
                    <button type="button" class="remove btn btn-danger remove-btn" ng-show="!$first" ng-click="removeExperience($index,docsExp[$index].id)"><i class="fa fa-trash-o"></i> Delete </button>     
                         
                  </div>
               </div>
       </div>
      </div> 
        <div class="clearfix"></div> 
       <div class="col-sm-12">
        <button type="button" class="btn btn-default add-more-btn" ng-click="addNewExp()"><i class="fa fa-plus" aria-hidden="true"></i>Add More</button>
       </div>
         
                      
           <div class="col-sm-12 next-btn">
             <div class="form-group">
             <a ui-sref="dentistProfileStep4" class="btn btn-back">Back</a>
              <input value=" Next" name=" Next" id="step5Next" class="btn btn-next" type="submit">
             </div>
           </div>   

           </div>
    
    </form>
     </div>
    </div>
   </div>
 </div>

</section>
