<div class="inner-page-header-blank"></div>

<section class="innerpage">

<div class="manage-profile-section">
 <div class="container">
  <div class="row">
  <div class="col-lg-12">
   <div class="manage-profile manage-form-style manage-form-previous mar-btm-30">
     <div class="col-sm-12 manage-profile-headline">
      <h3>Basic Profile</h3>
     </div>
     <div class="col-sm-4 mar-btm-30">
          <label>First Name</label>
          <p class="p-previous">{{dentist_details.docs_details.first_name}}</p>
      </div>

     <div class="col-sm-4 mar-btm-30">
          <label>Last Name</label>
         <p class="p-previous">{{dentist_details.docs_details.last_name}}</p>
     </div>

     <div class="col-sm-4 mar-btm-30">
          <label>Date of birth</label>
         <p class="p-previous"><span>{{(dentist_details.docs_details.date_of_birth=='0000-00-00')?'NA':dentist_details.docs_details.date_of_birth}}</span></p>
     </div>
     <div class="col-sm-4 mar-btm-30" ng-if="dentist_details.docs_details.gender>0">
          <label>Gender</label>
          <p class="p-previous">{{(dentist_details.docs_details.gender==1)?'Male':'Female'}}</p>
      </div>

     <div class="col-sm-4 mar-btm-30">
          <label>Email Address</label>
         <p class="p-previous">{{dentist_details.docs_details.email}}</p>
     </div>

     <div class="col-sm-4 mar-btm-30">
          <label>Contact Number</label>
         <p class="p-previous">{{dentist_details.docs_details.contact_number}}</p>
     </div>
     <div class="col-sm-12" ng-if="dentist_details.docs_details.profile_pics!=''">  
        <div class="imageupload upload-border mar-btm-30">
            <div class="file-tab">
              <div class="uploadimg-outer">  
                 <div class="uploadimg" style="background-image: url({{base_url}}uploads/dentist_profile_image/{{dentist_details.docs_details.profile_pics}})";> 
                 </div>  
              </div>  
            </div>
          </div>
     </div>       
  </div>
   <div class="manage-profile manage-form-style manage-form-previous mar-btm-30">
     <div class="col-sm-12 manage-profile-headline">
      <h3>Business Details</h3>
     </div>
     <div class="col-sm-4 mar-btm-30">
          <label>business Name</label>
          <p class="p-previous">{{dentist_details.docs_clinics.business_name}}</p>
      </div>

     <div class="col-sm-4 mar-btm-30">
          <label>business Address</label>
         <p class="p-previous">{{dentist_details.docs_clinics.address}}</p>
     </div>

     <div class="col-sm-4 mar-btm-30">
          <label>zip code</label>
         <p class="p-previous">{{dentist_details.docs_clinics.zip_code}}</p>
     </div>
     <div class="col-sm-4 mar-btm-30" ng-if="dentist_details.docs_clinics.sun_opening_hours_from!='' && dentist_details.docs_clinics.sun_opening_hours_to">
          <label>Sun</label>
          <p class="p-previous">{{dentist_details.docs_clinics.sun_opening_hours_from+' - '+dentist_details.docs_clinics.sun_opening_hours_to}}</p>
      </div>

     <div class="col-sm-4 mar-btm-30" ng-if="dentist_details.docs_clinics.mon_opening_hours_from!='' && dentist_details.docs_clinics.mon_opening_hours_to">
          <label>Mon</label>
          <p class="p-previous">{{dentist_details.docs_clinics.mon_opening_hours_from+' - '+dentist_details.docs_clinics.mon_opening_hours_to}}</p>
      </div>

     <div class="col-sm-4 mar-btm-30" ng-if="dentist_details.docs_clinics.tue_opening_hours_from!='' && dentist_details.docs_clinics.tue_opening_hours_to">
          <label>Tue</label>
          <p class="p-previous">{{dentist_details.docs_clinics.tue_opening_hours_from+' - '+dentist_details.docs_clinics.tue_opening_hours_to}}</p>
      </div>

      <div class="col-sm-4 mar-btm-30" ng-if="dentist_details.docs_clinics.wed_opening_hours_from!='' && dentist_details.docs_clinics.wed_opening_hours_to">
          <label>Tue</label>
          <p class="p-previous">{{dentist_details.docs_clinics.wed_opening_hours_from+' - '+dentist_details.docs_clinics.wed_opening_hours_to}}</p>
      </div>

      <div class="col-sm-4 mar-btm-30" ng-if="dentist_details.docs_clinics.thu_opening_hours_from!='' && dentist_details.docs_clinics.thu_opening_hours_to">
          <label>Tue</label>
          <p class="p-previous">{{dentist_details.docs_clinics.thu_opening_hours_from+' - '+dentist_details.docs_clinics.thu_opening_hours_to}}</p>
      </div>

      <div class="col-sm-4 mar-btm-30" ng-if="dentist_details.docs_clinics.fri_opening_hours_from!='' && dentist_details.docs_clinics.fri_opening_hours_to">
          <label>Tue</label>
          <p class="p-previous">{{dentist_details.docs_clinics.fri_opening_hours_from+' - '+dentist_details.docs_clinics.fri_opening_hours_to}}</p>
      </div>

      <div class="col-sm-4 mar-btm-30" ng-if="dentist_details.docs_clinics.sat_opening_hours_from!='' && dentist_details.docs_clinics.sat_opening_hours_to">
          <label>Tue</label>
          <p class="p-previous">{{dentist_details.docs_clinics.sat_opening_hours_from+' - '+dentist_details.docs_clinics.sat_opening_hours_to}}</p>
      </div>
     <div class="col-sm-12"  ng-if="dentist_details.docs_details.clinic_picture!=''">  
        <div class="imageupload upload-border">
           <div class="file-tab">
              <div class="uploadimg-outer">  
                 <div class="uploadimg"  style="background-image: url({{base_url}}uploads/clinic_picture/{{dentist_details.docs_clinics.clinic_picture}})";></div> 
                  </div>      
            </div>
        </div>
     </div>       
  </div>
  <div class="manage-profile manage-form-style manage-form-previous mar-btm-30">
     <div class="col-sm-12 manage-profile-headline">
      <h3>Education and Training</h3>
     </div>
     <div ng-repeat="education in dentist_details.docs_education">
         <div class="contain-group-div">
           <div class="col-sm-6 mar-btm-30">
                <label>Degree</label>
                <p class="p-previous">{{education.degree}}</p>
            </div>

           <div class="col-sm-6 mar-btm-30">
                <label>Year Completed</label>
               <p class="p-previous">{{education.completed_year}}</p>
           </div>

           <div class="col-sm-6 mar-btm-30">
                <label>School name</label>
               <p class="p-previous">{{education.medical_school}}</p>
           </div>
           <div class="col-sm-6 mar-btm-30">
                <label>School Location </label>
                <p class="p-previous">{{education.location}}</p>
            </div>
           <div class="col-sm-12">  
             <!--  <div class="imageupload">
                 <div class="file-tab">
                    <div class="uploadimg-outer">  
                       <div class="uploadimg"></div>
                        </div>    
                  </div>
              </div> -->
              <a href="{{base_url}}uploads/certificate/{{education.certificate}}" class="btn btn-primary left-icon"><i class="fa fa-certificate" aria-hidden="true"></i>View Certificate</a>
           </div> 
       </div>  
        <div class="clearfix"></div>
    </div>
      

     <div class="col-sm-6 mar-btm-30">
          <label>Awards & Publications </label>
          <p class="p-previous"   ng-repeat="award in dentist_details.docs_award">{{award.award}}</p>
      </div>
      <div class="col-sm-6 mar-btm-30">
          <label>In Network Insurance</label>
          <p class="p-previous"  ng-repeat="insurance in dentist_details.docs_insurance">{{insurance.insurance}}</p>
      </div>
  </div>
   <div class="manage-profile manage-form-style manage-form-previous mar-btm-30">
     <div class="col-sm-12 manage-profile-headline">
      <h3>Licenses</h3>
     </div>
    <div  ng-repeat="license in dentist_details.docs_license"  class="contain-group-div">
       <div class="col-sm-6 mar-btm-30">
            <label>License </label>
            <p class="p-previous">{{license.license_details}}</p>
        </div>
       <div class="col-sm-12">
         <div ng-if="license.license_photo != ''">
            <a href="{{base_url}}uploads/license_photo/{{license.license_photo}}" target="_blank" class="btn btn-primary left-icon"><i class="fa fa-certificate" aria-hidden="true"></i>View License</a>
          </div>
          <!-- <div class="imageupload">
             <div class="file-tab">
                <div class="uploadimg-outer">  
                   <div class="uploadimg"></div>
                    </div>     
              </div>
          </div> -->
       </div>
       <div class="clearfix"></div> 
    </div>
  </div>
   <div class="manage-profile manage-form-style manage-form-previous mar-btm-30">
     <div class="col-sm-12 manage-profile-headline">
      <h3>Professional Experience</h3>
     </div>
        <div ng-repeat="exp in dentist_details.docs_experiece" class="contain-group-div">
         <div class="col-sm-6 mar-btm-30">
              <label>Professional Experience </label>
              <p class="p-previous">{{exp.prof_exp}}</p>
          </div>
         <div class="col-sm-6 mar-btm-30">
              <label>Dental business name</label>
              <p class="p-previous">{{exp.dental_business}}</p>
          </div>
         <div class="col-sm-6 mar-btm-30">
              <label>Location</label>
              <p class="p-previous">{{exp.location}}</p>
          </div>
         <div class="col-sm-6 mar-btm-30">
              <label>experience duration</label>
              <p class="p-previous" ng-if="exp_to!=''">{{exp.exp_from+' to '+exp.exp_to}}</p>
              <p class="p-previous" ng-if="exp_to==''">{{exp.exp_from+' to Till Date}}</p>
          </div>             
         <div class="col-sm-12"> 
          <a href="{{base_url}}uploads/exp_document/{{exp.exp_photo}}" target="_blank" class="btn btn-primary left-icon"><i class="fa fa-certificate" aria-hidden="true"></i>View Experience Certificate</a> 
            <!-- <div class="imageupload">
               <div class="file-tab">
                  <div class="uploadimg-outer">  
                     <div class="uploadimg"></div> 
                  </div>     
                </div>
            </div> -->

         </div>
         <div class="clearfix"></div> 
      </div>
  </div>
   <div class="manage-profile manage-form-style manage-form-previous mar-btm-30">
     <div class="col-sm-12 manage-profile-headline">
      <h3>Skill Highlights / Specialties</h3>
     </div>
     <div class="col-sm-6 mar-btm-30">
          <label>Skill Highlights / specialties</label>
          <p class="p-previous" ng-repeat="skill in dentist_details.docs_skill">{{skill.skills}}</p>
      </div>
  </div>
   <div class="manage-profile manage-form-style manage-form-previous mar-btm-30">
     <div class="col-sm-12 manage-profile-headline">
      <h3>Language Spoken / Personal Statement</h3>
     </div>
     <div class="col-sm-6 mar-btm-30">
          <label>Languages Spoken</label>
          <p class="p-previous">{{dentist_details.docs_language.language_name}}</p>
      </div>
     <div class="col-sm-12 mar-btm-30">
          <label>Personal Statement</label>
          <p class="p-previous">{{dentist_details.docs_language.personal_statement}}</p>
      </div>
  </div> 


      <div class="col-sm-12 next-btn">
       <div class="form-group">
       <!-- <a ui-sref="dentistsettings" class="btn btn-next">Done</a> -->
         <button name="done" class="btn btn-next" type="button" ng-click="approvedPublish()">done</button>
       </div>
     </div> 
     </div>
    </div>
   </div>
  </div>
</section>
