<style>
    .message-right-panel .toggle_area > .whiteBox {
        overflow: visible;
    }
    ul.dropdown-menu .switch {
        width: 100% !important;
    }
    span.resetSearch {
        position: absolute;
        top: 23px;
        right: 27px;
        width: 15px;
        height: 16px;
        font-size: 15px;
    }
</style>

<div class="inner-page-header-blank"></div>
<!-- inner-page-header-blank for every inner page - header hight mentant -->

<section class="innerpage">
  <div class="signup-details-section">
<div class="container-fluid">
  <div class="row">
   <div class="col-lg-12 no-pad clearfix">
   <div class="form-style">
       <div class="col-sm-12 clearfix">
      <div class="edit-profile-tab mar-btm-30"> 
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a ui-sref="dentistmydashboard({})" data-target="#dashboardtab" role="tab" data-toggle="tab" class="tabTxt">Dashboard </a></li>
            <li role="presentation" class="active"><a data-target="#massagetab" aria-controls="change-password" role="tab" data-toggle="tab" class="tabTxt">Messages </a>
                <span class="mcounter_base"><a href="javascript:void(0)" class="mcounter" ng-show="unattendentPostCount != 0">{{attendentPostCount + unattendentPostCount}} </a></span>
            </li>
          </ul> 

       <div class="tab-content tebstyle01">
        <div id="massagetab" class="tab-pane active" role="tabpanel">
       <div class="col-sm-4 clearfix">
      <div class="message-left-panel">
       <div class="form-group">
       <div class="searchBox">
       <input type="button" value="" class="searchbtn">
       <input type="text" class="form-control" name="searchKeyword" ng-model="searchKeyword" placeholder="Search By Name / Post Title / Message  / Location / Emergency = Yes/No">
       <span ng-click="resetSearch()" class="resetSearch">X</span>
       </div>
       </div> 

        <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
                                 
    <li role="presentation" class="active">
        <a data-target="#home" class="active" aria-controls="home" role="tab" data-toggle="tab" ng-click="fetchAllPost()">all</a>
    </li>
    <li role="presentation"  >
      <!-- <a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab" ng-click="fetchAttendedPost()">attended <span class="number" ng-show="attendentPostCount!=0">{{attendCount}}</span></a> -->
      <a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab" ng-click="fetchAttendedPost()">attended <span class="number" ng-show="attendentPostCount!=0">{{attendentPostCount}}</span></a>
    </li>
    <li role="presentation">
      <a data-target="#messages" aria-controls="messages" role="tab" data-toggle="tab" ng-click="fetchUnAttendedPost()">un attended <span class="number" ng-show="unattendentPostCount!=0">{{unattendentPostCount}}</span></a>
    </li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <div class="scrollBox_left">

        <ul class="ul_height" ng-if="postList.length > 0">
          <li ng-class="postId==post.post_id ? 'active':''" ng-repeat="post in postList | filter:searchKeyword" ng-click="openChatHead(post,$index,0)">
            <div class="messages-img-div">
              <div class="user_profileImg">
                 <img ng-show="post.get_patient.image && post.get_patient.registration_type!=1" ng-src="{{post.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">

                <img ng-show="post.get_patient.image && post.get_patient.registration_type==1" ng-src="{{apiUrl}}uploads/patient_profile_image/{{post.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">

                <img ng-show="!post.get_patient.image" ng-src="images/upload-img.jpg" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">
              </div>
              <span class="span-appointment" title="Request for appoitment" ng-if="post.appointment" style="font-size: 20px; color: green;"><i class="fa fa-bookmark" aria-hidden="true"></i></span>
            </div>
            <div class="message-text-div">
            <h4>{{post.get_patient.title}} {{post.get_patient.name}} {{post.get_patient.last_name}}, Emergency : <span ng-if="post.emergency==1">yes</span> <span ng-if="post.emergency==0">No</span> </h4>
            <p>{{post.post_title | limitTo:25}} ...</p>
            <h3 ng-if="post.chat_history_arr.patient_content &&  post.chat_history_arr.patient_content!=''">{{post.get_patient.name}}: {{post.chat_history_arr.patient_content | limitTo:20}}...</h3>
             <h3 ng-if="post.chat_history_arr.doctor_content &&  post.chat_history_arr.doctor_content!=''">You: {{post.chat_history_arr.doctor_content | limitTo:20}}...</h3>
             </div>
            <div class="messages-icon">
              <span class="span-noti" ng-show="post.unread_chat_history_count!=0">{{post.unread_chat_history_count}}</span>
              <span class="span-time">{{ post.chat_history_arr.sent_time || post.posted_date }}</span>
            </div> 
          </li>  
        </ul>
              <button ng-disabled="currentPaged == 1" ng-click="fetchAllPostPagi(1)">
        Previous
    </button>
    {{currentPaged}}/{{totalallPage+1}}
    <button ng-disabled="currentPaged == totalallPage+1" ng-click="fetchAllPostPagi()">
        Next
    </button>
        <p ng-if="postList.length==0" class="noTopic-text">No Topics to discuss</p>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="profile">
      <div class="scrollBox_left">
       <ul class="ul_height" ng-if="postList.length > 0">
          <li ng-class="postId==post.post_id ? 'active':''"  ng-repeat="post in postListAttended | filter:searchKeyword" ng-click="openChatHead(post,$index,1)">
            <div class="messages-img-div">
            <div class="user_profileImg">
             
                
                <img ng-show="post.get_patient.image && post.get_patient.registration_type!=1" ng-src="{{post.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">

                <img ng-show="post.get_patient.image && post.get_patient.registration_type==1" ng-src="{{apiUrl}}uploads/patient_profile_image/{{post.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">

                <img ng-show="!post.get_patient.image" ng-src="images/upload-img.jpg" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">

              
            </div>
            <span class="span-appointment" title="Request for appoitment" ng-if="post.appointment" style="font-size: 20px; color: green;"><i class="fa fa-bookmark" aria-hidden="true"></i></span>
            </div>
            <div class="message-text-div">
            <h4>{{post.get_patient.title}} {{post.get_patient.name}} {{post.get_patient.last_name}},  Emergency : <span ng-if="post.emergency==1">yes</span> <span ng-if="post.emergency==0">No</span> </h4>
            <p>{{post.post_title | limitTo:25}} ...</p>
            <h3 ng-if="post.chat_history_arr.patient_content &&  post.chat_history_arr.patient_content!=''">{{post.get_patient.name}}: {{post.chat_history_arr.patient_content | limitTo:20}}...</h3>
             <h3 ng-if="post.chat_history_arr.doctor_content &&  post.chat_history_arr.doctor_content!=''">You: {{post.chat_history_arr.doctor_content | limitTo:20}}...</h3>
             </div>
            <div class="messages-icon">
              <span class="span-noti" ng-show="post.unread_chat_history_count!=0">{{post.unread_chat_history_count}}</span>  
              <span class="span-time">{{post.chat_history_arr.sent_time}}</span>
            </div> 
          </li>   
        </ul>
                      <button ng-disabled="currentPagedatt == 1" ng-click="fetchAttendedPostpagi(1)">
        Previous
    </button>
    {{currentPagedatt}}/{{totalattndPage}}
    <button ng-disabled="currentPagedatt == totalattndPage+1" ng-click="fetchAttendedPostpagi()">
        Next
    </button>
        <p ng-if="postList.length==0">No Topics to discuss</p>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="messages">
     <div class="scrollBox_left">
          <ul class="ul_height" ng-if="postList.length > 0">
            <li ng-class="postId==post.post_id ? 'active':''"   ng-repeat="post in postListUnattended | filter: searchKeyword" ng-click="openChatHead(post,$index,2)">
              <div class="messages-img-div">
                <div class="user_profileImg">
                   <img ng-show="post.get_patient.image && post.get_patient.registration_type!=1" ng-src="{{post.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">

                  <img ng-show="post.get_patient.image && post.get_patient.registration_type==1" ng-src="{{apiUrl}}uploads/patient_profile_image/{{post.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">

                  <img ng-show="!post.get_patient.image" ng-src="images/upload-img.jpg" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">
                 
                </div>
              </div>
              <div class="message-text-div">
              <h4>{{post.get_patient.title}} {{post.get_patient.name}} {{post.get_patient.last_name}},  Emergency : <span ng-if="post.emergency==1">yes</span> <span ng-if="post.emergency==0">No</span> </h4>
              <p>{{post.post_title | limitTo:25}} ...</p>
              <h3 ng-if="post.chat_history_arr.patient_content &&  post.chat_history_arr.patient_content!=''">{{post.get_patient.name}}: {{post.chat_history_arr.patient_content | limitTo:20}}...</h3>
               <h3 ng-if="post.chat_history_arr.doctor_content &&  post.chat_history_arr.doctor_content!=''">You: {{post.chat_history_arr.doctor_content | limitTo:20}}...</h3>
               </div>
              <div class="messages-icon">
                <span class="span-noti" ng-show="post.unread_chat_history_count!=0">{{post.unread_chat_history_count}}</span>
                <span class="span-time">{{ post.posted_date }}</span>
              </div> 
            </li>   
          </ul>
                <button ng-disabled="currentunPagedatt == 1" ng-click="fetchUnAttendedPostpagi(1)">
        Previous
    </button>
    {{currentunPagedatt}}/{{totalunattndPage}}
    <button ng-disabled="currentunPagedatt == totalunattndPage+1" ng-click="fetchUnAttendedPostpagi()">
        Next
    </button>
          <p ng-if="postList.length==0" >No Topics to discuss</p>
      </div>
    </div>
  </div>

      
      </div>

       </div>
       <div class="col-sm-8 clearfix">
          <div class="message-right-panel" ng-show="openChatHeadWindow">
          <div class="whiteBox" style="overflow: visible !important;">
          <div class="col-md-12 col-sm-12 clearfix">
            <div class="message_update">
              <p>{{patientDetails.posted_date}} </p>  <!-- {{patientDetails.change_posted_date}}  -->
              <div class="small"> <h6>{{patientDetails.post_title}} </h6> </div><a ng-click="openPostDetails(patientDetails.post_id)" class="moreTxt">More... </a>
              </div>
              </div>
          </div>
          <div class="toggle_area">
          <div class="whiteBox hide_div">
            <div class="message_user" style="overflow: visible !important;">
            <div class="col-md-2 col-sm-12 col-xs-3 clearfix">
              <div class="user_profileImg" >
              
              <img ng-show="patientDetails.get_patient.image && patientDetails.get_patient.registration_type!=1" ng-src="{{patientDetails.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">

               <img ng-show="patientDetails.get_patient.image && patientDetails.get_patient.registration_type==1" ng-src="{{apiUrl}}uploads/patient_profile_image/{{patientDetails.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">

              <img ng-show="!patientDetails.get_patient.image" ng-src="images/upload-img.jpg" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">
          </div>
          </div>
              <div class="col-md-6 col-sm-12 col-xs-6 clearfix">
              <div class="user_profileInfo">
                <p>{{patientDetails.get_patient.title}} {{patientDetails.get_patient.name}} {{patientDetails.get_patient.last_name}}, (Emergency:<span ng-if="patientDetails.emergency==1">yes</span> <span ng-if="patientDetails.emergency==0">No</span>, Pain Level:<span>{{patientDetails.pain_level}} </span> )  </p>
                <div class="location"><span class="ic"><img src="images/ic_map.png" /></span> {{patientDetails.current_location}}</div>
              </div>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-4 clearfix">
                    <div class="appointmentBox" >
                        <div class="appointmentIc active" ng-show="patientDetails.appointment==1">
                            <div ng-show="patientDetails.is_status==0">
                                <i>Appointment Requested</i>
                                <div class="dropdown dropdown-start-parent">
                                    <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target=".dropdown-start-parent" href="#">Propose Time</a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="proposeDate"
                                                        data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed', modelType: 'YYYY-MM-DD hh:mm A' }" 
                                                        data-on-set-time="setAppointment(1)" data-before-render="startDateBeforeRender($dates)"></datetimepicker>
                                    </ul>
                                </div>
                            </div>
                            <div ng-show="patientDetails.is_status==1">
                                
                                <div class="dropdown dropdown-start-parent" ng-init="proposeDate=patientDetails.appointment_time">
                                    <i>Appointement Proposed for <b>{{patientDetails.appointment_time}}</b><br/> <a title="Do you want to update it. Please click" class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target=".dropdown-start-parent"
                                       href="#"><i class="fa fa-calendar" aria-hidden="true"></i> click to update </a></i>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="proposeDate"
                                                        data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed', modelType: 'YYYY-MM-DD hh:mm A' }"
                                                        data-on-set-time="setAppointment(1)"
                                                        data-before-render="startDateBeforeRender($dates)"></datetimepicker>
                                    </ul>
                                </div>
                            </div>
                            <div ng-if="patientDetails.is_status==2"></div>
                        </div>
                        <div class="appointmentIc active" ng-if="patientDetails.appointment==2 && patientDetails.is_status==1">
                            <i>Appointment Cancelled</i>
                            <button href="javascript:void(0);" class="btn-danger" ng-click="setAppointment(2)">Re-enabled</button>
                        </div>
                        <div class="appointmentBox active" ng-if="patientDetails.appointment==3">
                            <i class="text-center" style="color:green;">Appointment Confirmed</i>
                        </div>
                   </div>
              <!-- <div class="favoriteBox"><a href="#"><img src="images/favorite.png"></a></div> -->
              
              </div>
              </div>
          </div>
          <div class="click_hide">
           <button class="close_button">Close</button>
         </div>
          <div class="whiteBox marBot0 clearfix">
          
            <div class="mPostBox ">
              <div class="scrollBox height-max">

           
              <div class="col-md-12 col-sm-12 clearfix" ng-repeat="message in messageLogPatient">
                <div ng-class="message.from==dentistId ?  'otherUser':'postUser'">
                  <div class="post_leftPt">
                  <!--  <div class="postUserImgBox">-->

                  <!--    <img  ng-show="message.to==dentistId && patientDetails.get_patient.registration_type==1" width="58" ng-src="{{apiUrl}}uploads/patient_profile_image/{{patientDetails.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">-->

                  <!--    <img  ng-show="message.to==dentistId && patientDetails.get_patient.registration_type!=1" width="58" ng-src="{{patientDetails.get_patient.image}}" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">-->

                  <!--    <img  ng-show="message.from==dentistId" ng-src="{{apiUrl}}uploads/dentist_profile_image/{{dentist_profile_pic}}" width="58" on-error="{{apiUrl}}uploads/patient_profile_image/no_image.jpg">-->
                  <!--    </div>-->
                  <!--  <p class="postTime">{{message.createdAt}}</p>-->
                  <!--</div>-->
                  <div class="post_rightPt">
                    <p class="postUserName" ng-show="message.from==dentistId"><a href="javascript:void(0);">{{logged_user_name}}</a></p>
                    <p class="postUserName" ng-show="message.to==dentistId"><a href="javascript:void(0);">{{message.senderName}}</a></p>
                    <div class="postedBox">
                      <p>{{message.message}}</p>

                      <div class="postImgBox clearfix" ng-show="message.chat_file">
                        <a ng-href="{{chatImagePath}}{{message.chat_file}}" target="_blank">
                          <img ng-if="message.file_ext=='image'" ng-src="{{chatImagePath}}{{message.chat_file}}" class="mCS_img_loaded" width="206">
                          <span ng-if="message.file_ext!='image'" class ="file_attach">Download attachment  <img ng-if="message.file_ext!='image'" src="images/attech-ic.png" class="mCS_img_loaded"></span>
                       
                        </a>
                      </div>
                      <div class="attechIcon clearfix "  ng-show="message.file_ext=='image' && message.chat_file"><img src="images/attech-ic.png" class="mCS_img_loaded"></div>

                    </div>
                    <p class="postTime">{{message.createdAt}}</p>
                  </div>
                  </div>
                </div>


              

              </div>  
           </div>
           

          </div>
          <div class="whiteBox resetPad marBot0 clearfix" ng-show="!patientDetails.is_closed_chat || patientDetails.is_closed_chat!=1">
           
           <div class="mTypeBox">
             <div class="attech_icBox"><input accept="image/*,application/*" onchange="angular.element(this).scope().uploadAttachment(this.files)" type="file" name="file" value=""></div>
             <div class="textareaBox">
              <textarea ng-enter="sendMessage();" ng-model="message" placeholder="Enter Your message..."></textarea>
              </div><div><a href="#"></a></div>
           </div>
           <div class="sendBox"><a href="javascript:void(0);" class="go" ng-click="sendMessage();" >Send</a></div>
          </div>

          <div class="whiteBox resetPad marBot0 clearfix" ng-show="patientDetails.is_closed_chat && patientDetails.is_closed_chat==1">
            <p>Chat closed</p>
          </div>
          </div>
          </div>
       </div>
      </div>
    </div>
   </div>
 </div>
 </div>


 <div id="post_details_cont" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Post Details</h4>
      </div>
      <div class="modal-body">
        
         <div class="form-group">
          <label for="exampleInputEmail1">Post Date</label>
          {{pDetails.posted_date}}
        </div> 

         <div class="form-group">
          <label for="exampleInputEmail1">CURRENT LOCATION</label>
          <input type="text" class="form-control"  placeholder="465 Andover Court Gurnee, IL 60031" name="currentLocation" ng-model="pDetails.current_location" readonly="true">
        </div> 
        
        <div class="form-group">
          <label for="exampleInputEmail1">Emergency</label>
           <div class="select_radioBox clearfix">
              <div class="" >
                <label for="checkbox1" ng-if="pDetails.emergency==1">Yes</label>
                <label for="checkbox2" ng-if="pDetails.emergency==0">No</label>
              </div>
            </div>
        </div>


        <div class="form-group">
          <label for="exampleInputEmail1">Pain Level <span>{{pDetails.pain_level}}</span>
            <span ng-if="pDetails.pain_level==1">(Low)</span>
            <span ng-if="pDetails.pain_level==5">(Medium)</span>
            <span ng-if="pDetails.pain_level==10">(High)</span>
          </label>
        </div> 

          <div class="form-group">
          <label for="exampleInputEmail1">Post Title</label>
           <input type="text" class="form-control form-control-yellow" ng-model="pDetails.post_title" name="postTitle" placeholder="Teeth Pain" readonly="true">
        </div> 
          <div class="form-group">
          <label for="exampleInputEmail1">Description</label>
           <textarea class="form-control form-control-yellow" style="height:115px;"  ng-model="pDetails.description" name="description" readonly="true"></textarea>
        </div> 
        
         <div class="form-group">
          <label for="exampleInputEmail1">Attachment</label>
            <ul class="attachbox attachbox-modal clearfix" ng-if=" pDetails.get_attachments.length > 0">
              <li class="col-xs-4 demo-class"  ng-repeat="items in pDetails.get_attachments">
               <a href="{{postAttachmentPath}}uploads/patient_post_attachments/{{items.file_name}}" target="_blank"><img width="200" ng-src="{{postAttachmentPath}}uploads/patient_post_attachments/{{items.file_name}}"></a>
               <a class="btn btn-primary download-button" href="{{postAttachmentPath}}uploads/patient_post_attachments/{{items.file_name}}" target="_blank" download>Download</a> 
              </li> 

            </ul>
            <p ng-if=" pDetails.get_attachments.length == 0">No attachment found</p>
        </div> 
       
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
</div>
</div>
</div>
</div>
</div>
</section>
    
<script>

$(function() {
/*$('.message_update a.moreTxt').click(function() {
  $('.message_update .small').toggleClass('big');
  $('.message_update a.moreTxt').toggleClass('big_left');
  e.preventDefault();

});*/
});
$(document).on("click",".click_hide button",function(){
  var $this = $(this);
    $this.parents(".toggle_area").toggleClass('hide_panel');
    if ($this.parents(".toggle_area").hasClass('hide_panel')) {
             $this.text('show');                
        } else {
             $this.text('hide');                
        }   
   })

function imgError(image) {
    image.onerror = "";
    image.src = "/server/uploads/patient_profile_image/no_image.jpg";
    return true;
}
</script>
