<div class="inner-page-header-blank"></div>
<!--inner-page-header-blank for every inner page header hight mentant-->
<section class="innerpage">
        <div class="container">
        <div class="contact-edit">
              <div class="col-md-12">
                     <h2 class="title text-center">get in touch with us</h2>
             <!-- <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p> -->
             </div>
             <!-- <div class="map-contaner">

  <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14735.637624548875!2d88.4342643!3d22.5824914!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1486730789160" height="300" width="100%"  frameborder="0" style="border:0" allowfullscreen></iframe>
</div> -->

           <div class="contact-us">
             <!-- <div class="col-md-4">
               <h3>Address</h3>
               <p>Lorem Ipsum is simply dummy text</p>
               <h3>Phone</h3>
               <p>8596548452</p>
               <h3>Email</h3>
               <p>as@gmail.com</p>
             </div> -->
             <div class="col-md-12">

             <div class="form-group massage-box" ng-if="showalert==0">
                <div class="alert alert-success">{{showquestionmsg}}</div>                        
             </div>

             <form class="" novalidate angular-validator angular-validator-submit ="submitContact(user);" name="contactForm123" id="contactForm" action="" method="POST" autocomplete="Off">
                <div class="row form-row">
                   <div class="col-sm-6">
                      <div class="form-group">
                        <input type="text" class="form-control textfield" placeholder="What's your name?" aria-describedby="basic-addon1" id="firstname" name="firstname" ng-model="user.firstname" maxlength="30" ng-pattern="/^[a-zA-Z&. ]+$/" invalid-message="'Invalid name..'" required-message="'This field is required..'" required>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="email" class="form-control textfield" placeholder="Where can we email you back?" aria-describedby="basic-addon2" id="email" name="email"  ng-model="user.email" invalid-message="'Invalid email id..'" validator="checkEmail(user.email) == 1" required-message="'This field is required..'" validate-on="dirty" ng-model-options="{ updateOn: 'blur' }" required>
                      </div>
                    </div>
                </div>
                <!--<div class="row form-row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Subject</label>
                        <input type="text" class="form-control textfield" placeholder="Enter Subject" aria-describedby="basic-addon1" id="firstname" name="subject" ng-model="user.subject" ng-pattern="^[a-zA-Z0-9_.-]*$" invalid-message="'Invalid subject..'" required-message="'This field is required..'" required>
                      </div>
                    </div>
                </div>-->
                <div class="row form-row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <textarea class="form-control textfield" placeholder="What's on your mind?" aria-describedby="basic-addon1" id="firstname" name="message" ng-model="user.message" required-message="'This field is required..'" required></textarea>
                      </div>
                    </div>
                </div>
     <div class="row form-row">
       <div class="col-sm-12">
        <div class="form-group">
        <!-- 192.168.1.87 --> 
           <div vc-recaptcha key="user.key" name="captcha" ng-model="user.myRecaptchaResponse" ng-init="user.key='6LehIR8UAAAAAB2hZ70XwebOQz8ovMq56QvBPU88'" required="true"></div> 
         
       <!--   <div vc-recaptcha key="user.key" name="captcha" ng-model="user.myRecaptchaResponse" ng-init="user.key='6LehIR8UAAAAAB2hZ70XwebOQz8ovMq56QvBPU88'" required="true"></div>  -->
         

            <div class="captcha-error" data-ng-show="contactForm123.captcha.$invalid && capuser.captchavar==1">This field is required.</div> 
        </div>
       </div> 
       </div>
                <div class="button">
                  <input type="submit" value="Send it" name="Save" class="btn btn-success" ng-click="helloW()">
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
</section>
