<div class="inner-page-header-blank"></div>
<section class="innerpage" ng-init="allCms(58)"> <!-- 58 is for Dental Question Blogging -->
  <div class="about_us-section">
   <div class="container">
      <div class="row"> 
       <div class="col-lg-12">
        <h3 class="inr-hdline">{{cms_details.page_title}}</h3>  
      <!--  <div class="about-img">
        <img src="images/about-img.jpg" class="img-responsive" alt="about-img">
        </div>-->
        <div class="about-text">
        <p ng-bind-html="renderHtml(cms_details.description)">             
        </p>
     </div>

        </div>
      </div>
    </div>
  </div>
</section>