<div class="pricing_wrapper">
	<div class="pricing_banner">
		<div class="container1">
			<h1>Try Free For 30 Days</h1>
			<p>No credit card required. Cancel anytime.</p>
			<div class="plain_trial">
				<a href="https://dentalchat.com/dentist-signup" class="btn">Start A Free  Trial</a>
			</div>
		</div>
	</div>
	<div class="container">
	<section>
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="plan_box text-center">
					<h2>Monthly Subscription</h2>
					<div class="amount">
						<p><span>$</span>189<span>/month</span></p>
					</div>
					<p>Regular price $249/ month</p>
					<div class="button pricing_button">
					    <a href="https://dentalchat.com/dentist-signup" class="button pricing_button">Subscribe</a>
						<!--<input type="submit" class="btn btn-defult" value="Subscribe">-->
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 pull-right">
				<div class="plan_box text-center">
					<div class="most-popular">Most Popular</div>
					<h2>Super Saver</h2>
					<div class="amount">
						<p><span>$</span>99<span>/month</span></p>
					</div>
					<p>Paid annually $1188</p>
					<div class="button pricing_button">
						<a href="https://dentalchat.com/dentist-signup" class="button pricing_button">Subscribe</a>
						<!--<input type="submit" class="btn btn-defult" value="Subscribe">-->
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="both_plan">
		<div class="container">
			<div class="col-md-12 text-center">
				<h1><strong>Both Plans Include</strong></h1>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li>Access to Dashboards</li>
						<li>Access to smart leads</li>
						<li>Access to Messaging</li>
						<li>Book Appointments</li>
						<li>Free CHAT BOT Plugin*</li>
					</ul>
					<hr>
					<div class="SpecialBonus">*Special Bonus  - Free Chatbot plugin connecting to your website ($99/month value) for the next 150 sign ups.</div>
				</div>
			</div>
		</div>
	</section>
		
	</div>
</div> 
<script>
    window.onbeforeunload = function () {
        window.scrollTo(0,0);
</script>
