<header class="site-header" ng-class="{'inner-page-header':curr_state!='home','dashboard':is_front_logged !=0 || curr_state=='my-message','aftersignup-header':is_front_logged !=0}"> 

        <nav id="header" class="navbar navbar-fixed-top">
          <div class="container navbar-container" id="header-container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" ui-sref="home">
                  <img src="images/logo.png" alt="">
              </a>
            </div>


            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-left">
                <li ng-class="{'active':curr_state=='home'}"><a ui-sref="home">Home</a></li>
                 <li><a href="https://test.dentalchat.com/blog/my-story/" target="_self" >My Story</a></li>
               <!-- <li ng-class="{'active':curr_state=='about'}"><a ui-sref="about">About us</a></li> -->
                <li ng-class="{'active':curr_state=='blog'}"><a href="https://test.dentalchat.com/blog/blog/" target="_self">Blog</a></li>
                
                <!-- <li ng-class="{'active':curr_state=='contact'}"><a ui-sref="contact">Contact</a></li> -->
                 <!-- <li ng-if ="is_front_logged==0"  ng-class="{'active':curr_state=='dentistsignin'}"><a ui-sref="dentist-signin" class="btn">Dentist Login</a></li> -->
                <!--<li  ng-if ="is_front_logged==1"  ng-class="{'active':activename=='step'}">-->
                <li  ng-if="is_front_logged==1" id="profile">
                    <a ui-sref="dentistsettings">Profile</a></li>
                <!-- for patient -->
                <!--<li  ng-if ="is_front_logged==2" ng-class="{'active':curr_state=='patient-profile'}">-->
                <li  ng-if ="is_front_logged==2">
                    <a ui-sref="patientProfile">Profile</a></li>

              </ul>
              <ul class="nav navbar-nav navbar-right" ng-if="is_front_logged==0">
                <li class="nav-list-business"><a ui-sref="dentist-signup" class="btn">List your  Practice</a></li>
                <li class="nav-list-business" ng-class="{'active':curr_state=='dentistsignin'}"><a ui-sref="dentist-signin" class="btn">Dentist Sign In</a></li>

               <li class="nav-dbl">
               <span class="btn btn-sign-secondary">
               <a ui-sref="patient-registration">Patient Registration</a>
               <a ui-sref="patient-login">Patient Log In </a>
               </span>
               </li>
<!-- 
                <li class="nav-signup"><a ui-sref="patient-registration" class="btn btn-sign-secondary">Patient Registration</a></li>
                <li class="nav-login"><a ui-sref="patient-login" class="btn btn-cta-secondary">Patient Log In </a></li> -->
                
              </ul> 
              
              <!-- For patient section  -->
               <ul class="nav navbar-nav navbar-right" ng-if="is_front_logged==2">
                <li>
                <div class="message-icon">
                      <a href="javascript:void(0)" ui-sref="my-message({postId:'all',act:'recent'})" class="btn navMsg-icon">Message</a>
                      <!--<a href="javascript:void(0)" ui-sref="my-message({postId:'all',act:'recent'})" class="btn navMsg-icon"><img src="images/icon-4.png"></a>-->
                </div>
                </li>
                <li>
                <div class="profile-img"> 
                  <a ui-sref="patientProfile">
                    <img ng-show="loginType==1" width="50" src="{{base_url}}uploads/patient_profile_image/{{(user_profile_pics && user_profile_pics!='')?user_profile_pics:'no_image.jpg'}}"/>
                    <img ng-show="loginType!=1" width="50" src="{{user_profile_pics}}"/>
                  </a>
                </div>
                <div class="dropdown">
                <span>Welcome </span> <a href="javascript:void(0);" class="dropdown-toggle hdrname" data-toggle="dropdown">{{ logged_user_name | limitTo:15 }}
                <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                 <li><a ui-sref="patient-change-password">Change Password</a></li>
                   <!-- <li><a ui-sref="changepassword">My Profile</a></li> -->
                  <li><a ng-click="patientLogout()">Log out</a></li>
                </ul>
                </div>
                </li>
                <li><a href="javascript:void(0)" ui-sref="create-post({})" class="btn btn-warning btn-post">Create Post</a></li>
              </ul> 
              <!-- End patient section --> 

              <!-- For doctor --> 
              <ul class="nav navbar-nav navbar-right" ng-if="is_front_logged==1">
                <li id="message"><a href="javascript:void(0)" ui-sref="dentistmessageboard({})" class="btn">Message</a></li>
                <li><div class="profile-img"> <a ui-sref="dentistProfileStep1"><img width="50" ng-src="{{base_url}}uploads/dentist_profile_image/{{(user_profile_pics!='')?user_profile_pics:'no_image.jpg'}}"/></a></div>
                <div class="dropdown">
                <span>Welcome </span> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">{{logged_user_name | limitTo:15}}
                <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                  <li><a ui-sref="changepassword">Change Password</a></li>
                  <li><a ui-sref="dentistsettings">Settings</a></li>
                  <li><a ui-sref="logout">Log out</a></li>
                </ul>
                </div>
                </li>
              </ul>
              <!-- EoF For doctor -->
            </div>
          </div>
        </nav>
    </header>
